@mixin textfield-base {
  all: unset;
  border-radius: 4px 4px 0 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;
  height: 100%;
  color: var(--sdds-textfield-color);
  background-color: var(--sdds-textfield-background);

  &::placeholder {
    opacity: 1;
    color: var(--sdds-textfield-placeholder);
  }

  &:focus::placeholder {
    color: var(--sdds-textfield-placeholder-focus-color);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--sdds-textfield-background-disabled);
    color: var(--sdds-textfield-color-disabled);

    &::placeholder {
      color: var(--sdds-textfield-placeholder-disabled);
    }

    ~ .textfield-label-inside {
      color: var(--sdds-textfield-label-disabled);
    }
  }
}

//Sizes
.textfield-input-lg {
  @include textfield-base;

  font: var(--sdds-detail-02);
  letter-spacing: var(--sdds-detail-02-ls);
  padding: var(--sdds-spacing-element-20) var(--sdds-spacing-element-16);
}

.textfield-input-md {
  @include textfield-base;

  font: var(--sdds-detail-02);
  letter-spacing: var(--sdds-detail-02-ls);
  padding: var(--sdds-spacing-element-16);
}

.textfield-input-sm {
  @include textfield-base;

  font: var(--sdds-detail-02);
  letter-spacing: var(--sdds-detail-02-ls);
  padding: var(--sdds-spacing-element-16);
}

//Container for input field and prefix/suffix
.textfield-container {
  border-radius: 4px 4px 0 0;
  display: flex;
  position: relative;
  height: 56px;
  box-sizing: border-box;
  background-color: var(--sdds-textfield-background);
  border-bottom: 1px solid var(--sdds-textfield-border-bottom);
  transition: border-bottom-color 200ms ease;

  &:hover {
    border-bottom-color: var(--sdds-textfield-border-bottom-hover);
  }

  .form-textfield-md & {
    height: 48px;
  }

  .form-textfield-sm & {
    height: 40px;
  }
}

.textfield-input-container {
  position: relative;
  width: 100%;
}

//Textfield label

.textfield-label-outside > * {
  font: var(--sdds-detail-05);
  letter-spacing: var(--sdds-detail-05-ls);
  display: block;
  margin-bottom: var(--sdds-spacing-element-8);
  color: var(--sdds-textfield-label-color);
}

.textfield-label-inside {
  font: var(--sdds-detail-02);
  letter-spacing: var(--sdds-detail-02-ls);
  position: absolute;
  pointer-events: none;
  color: var(--sdds-textfield-label-inside-color);
  left: 16px;
}

@mixin placeholder-label {
  &::placeholder {
    color: transparent;
  }

  ::placeholder {
    color: transparent;
  }

  //Input field in focus
  &:focus::placeholder {
    transition: color 0.35s ease;
    color: var(--sdds-textfield-placeholder-focus-color);
  }
}

@mixin label-inside-transition {
  transition: 0.1s ease all;
}

//Form control
.form-textfield {
  display: block;
  min-width: 208px;

  &-nomin {
    min-width: auto;
  }
}

//Textfield container with label inside
//Handling position, focus and transition for label inside
.form-textfield.textfield-container-label-inside {
  .textfield-input-lg {
    padding-top: var(--sdds-spacing-element-24);
    padding-bottom: 15px;

    ~ .textfield-label-inside {
      top: 20px;
    }

    @include placeholder-label;
  }

  .textfield-input-md {
    padding-top: var(--sdds-spacing-element-20);
    padding-bottom: 11px;

    ~ .textfield-label-inside {
      top: 16px;
    }

    @include placeholder-label;
  }

  .textfield-input-sm {
    padding-top: var(--sdds-spacing-element-20);
    padding-bottom: 11px;

    ~ .textfield-label-inside {
      top: 16px;
    }

    @include placeholder-label;
  }

  &.textfield-focus,
  &.textfield-data {
    .textfield-input-sm ~ .textfield-label-inside {
      font: var(--sdds-detail-07);
      letter-spacing: var(--sdds-detail-07-ls);

      @include label-inside-transition;

      top: 8px;
    }

    .textfield-input-md ~ .textfield-label-inside {
      font: var(--sdds-detail-07);
      letter-spacing: var(--sdds-detail-07-ls);

      @include label-inside-transition;

      top: 8px;
    }

    .textfield-input-lg ~ .textfield-label-inside {
      font: var(--sdds-detail-07);
      letter-spacing: var(--sdds-detail-07-ls);

      @include label-inside-transition;

      top: 12px;
    }
  }
}

//Textfield bottom bar when in focus
.textfield-bar {
  position: absolute;
  width: 100%;

  &::before,
  &::after {
    content: '';
    height: 2px;
    top: 54px;
    width: 0;
    position: absolute;
    background: var(--sdds-textfield-bar);
    transition: 0.35s ease all;

    .form-textfield-md & {
      top: 46px;
    }

    .form-textfield-sm & {
      top: 40px;
    }
  }

  &::before {
    left: 50%;
  }

  &::after {
    right: 50%;
  }

  .textfield-focus &::before,
  .textfield-focus &::after {
    width: 50%;
  }
}

//Helper text
.textfield-helper {
  font: var(--sdds-detail-05);
  letter-spacing: var(--sdds-detail-05-ls);
  display: flex;
  gap: 8px;
  justify-content: space-between;

  & .textfield-textcounter {
    margin-left: auto;
  }

  flex-basis: 100%;
  padding-top: var(--sdds-spacing-element-4);
  color: var(--sdds-textfield-helper);
}

//Disabled state
.form-textfield-disabled {
  .textfield-container {
    border-bottom-color: transparent;
  }

  .textfield-slot-wrap-prefix,
  .textfield-slot-wrap-suffix {
    > * {
      color: var(--sdds-textfield-ps-color-disabled);
    }
  }

  .textfield-label-outside {
    > * {
      color: var(--sdds-textfield-label-disabled);
    }
  }
}

//Read only state

.textfield-icon__readonly {
  display: none;
  position: absolute;
  right: 18px;
  top: 18px;
  color: var(--sdds-textfield-icon-read-only-label-color);

  &-label {
    display: none;
    position: absolute;
    right: 18px;
    top: 48px;
    font: var(--sdds-detail-05);
    letter-spacing: var(--sdds-detail-05-ls);
    padding: 8px;
    white-space: nowrap;
    border-radius: 4px 0 4px 4px;
    background-color: var(--sdds-textfield-icon-read-only-label-background);
  }
}

.form-textfield-readonly {
  pointer-events: none;

  .textfield-icon__readonly {
    display: block;

    &:hover {
      ~ .textfield-icon__readonly-label {
        display: block;
      }
    }
  }

  .textfield-input {
    padding-right: 54px;
    background-color: transparent;
  }
}

//Success state
.form-textfield-success {
  .textfield-container {
    border-bottom-color: var(--sdds-textfield-border-bottom-success);
  }
}

//Error State
.form-textfield-error {
  .textfield-helper {
    color: var(--sdds-textfield-helper-error);
  }

  .textfield-container {
    border-bottom-color: var(--sdds-textfield-border-bottom-error);
  }

  .textfield-bar {
    &::before,
    &::after {
      background: var(--sdds-textfield-bar-error);
    }
  }
}

// .textfield-textcounter {
.textfield-helper-error-state {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
}

.textfield-textcounter {
  font: var(--sdds-detail-05);
  letter-spacing: var(--sdds-detail-05-ls);
  color: var(--sdds-textfield-textcounter);
  float: right;

  & .textfield-textcounter-divider {
    // @include type-style('detail-05');
    color: var(--sdds-textfield-textcounter-divider);
  }
}

.textfield-slot-wrap-prefix,
.textfield-slot-wrap-suffix {
  align-self: center;
  font: var(--sdds-detail-02);
  letter-spacing: var(--sdds-detail-02-ls);
  margin: 0 0 0 14px;
  color: var(--sdds-textfield-ps-color);

  &::slotted(:not(sdds-icon)) {
    margin: 0 0 0 2px;
  }

  &.textfield-error {
    color: var(--sdds-textfield-ps-color-error);
  }
}

.textfield-slot-wrap-suffix {
  margin: 0 14px 0 0;

  &::slotted(:not(sdds-icon)) {
    margin: 0 2px 0 0;
  }
}
