:host {
  li {
    width: 100%;
    border-bottom: 1px solid var(--sdds-grey-300);

    .sdds-launcher-item-category {
      font: var(--sdds-detail-04);
      letter-spacing: var(--sdds-detail-04-ls);
      color: var(--sdds-grey-500);
      padding: 12px 16px;
    }

    a,
    button {
      cursor: pointer;
      height: 64px;
      width: 100%;
      font: var(--sdds-detail-02);
      letter-spacing: var(--sdds-detail-02-ls);
      color: var(--sdds-grey-700);
      padding: 0 16px;
      display: flex;
      align-items: center;
      text-align: start;
      background-color: transparent;
      border: none;
      text-decoration: none;

      &:hover {
        background-color: var(--sdds-grey-100);
      }
    }
  }
}
