@import "./modal-core";
@import "../../helpers/components-shared";

:host {
  @include modal-host;

  .sdds-modal-btn {
    border: none;
    background-color: transparent;

    &:focus {
      @include sdds-focus-state;
    }
  }
}

:host(.show) {
  display: flex;
}

:host(.hide) {
  display: none;
}

slot[name="sdds-modal-headline"]::slotted(*) {
  @include modal-headline;
}

slot[name="sdds-modal-body"]::slotted(*) {
  @include modal-body;
}

slot[name="sdds-modal-actions"]::slotted(*) {
  @include modal-actions;
}
