@import '../../../mixins/box-sizing';

:host,
sdds-table-body {
  @include sdds-box-sizing;

  display: table-row-group;

  .sdds-table__info-message {
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    display: table-cell;
    box-sizing: border-box;
    color: var(--sdds-data-table-color);
    padding: var(--sdds-spacing-element-16);
    min-width: 192px;
    vertical-align: top;
    background-color: transparent;
    transition: background-color 200ms ease;
  }
}
