@import '../../helpers/style-helpers.scss';
@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';

$btn-default-height: 14rem;
$btn-md-height: 12rem;
$btn-sm-height: 10rem;

$types: (
  primary, secondary, ghost, danger
);

@mixin button-base{
  @include type-style('detail-02');
  display: inline-block;
  border-radius: 1rem;
  border: none;
  box-shadow: none;
  position: relative;
  cursor: pointer;
}

#{$prefix}-btn {
  @include button-base;
  height: $btn-default-height;
  padding: var(--sdds-spacing-element-20);

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }

  #{$prefix}-btn-icon{
    margin-left: var(--sdds-spacing-element-32);
    fill: currentColor;
    color: inherit;
    width: 16px;
    height: 16px;
    font-size: 4rem; //16px
  }

  &#{$prefix}-btn-sm{
    padding: var(--sdds-spacing-element-12);
    height: $btn-sm-height;

    #{$prefix}-btn-icon{
      margin-left: var(--sdds-spacing-element-24);
    }
  }

  &#{$prefix}-btn-md{
    padding: var(--sdds-spacing-element-16);
    height: $btn-md-height;
    #{$prefix}-btn-icon{
      margin-left: var(--sdds-spacing-element-24);
    }
  }

  &#{$prefix}-btn-fullbleed{
    width: inherit;
    text-align: center;
  }

  @each $type in $types {
    &#{$prefix}-btn-#{$type}{
      background-color: var(--sdds-btn-#{$type}-background);
      color: var(--sdds-btn-#{$type}-text);
      border: var(--sdds-btn-#{$type}-border);

      &:hover,
      &:focus,
      &:active, &.active,
      &:disabled, &.disabled {
        color: inherit; // if var is not defined, color inherit from default value
      }
  
      &:hover {
        background-color: var(--sdds-btn-#{$type}-background-hover);
        border: var(--sdds-btn-#{$type}-border-hover);
        color: var(--sdds-btn-#{$type}-text-hover);
      }
      &:focus {
        background-color: var(--sdds-btn-#{$type}-background-focus);
        border: var(--sdds-btn-#{$type}-border-focus);
      }
      &:active,
      &.active{
        background-color: var(--sdds-btn-#{$type}-background-active);
        border: var(--sdds-btn-#{$type}-border-active);
        color: var(--sdds-btn-#{$type}-text-active);
      }
      &.disabled,
      &:disabled{
        background-color: var(--sdds-btn-#{$type}-background-disabled);
        color: var(--sdds-btn-#{$type}-text-disabled);
        border: var(--sdds-btn-#{$type}-border-disabled);
      }
    }
  }
  
}