@import '../../../mixins/focus-state';

[role='listitem'] {
  display: flex;
  align-items: center;
  color: var(--sdds-breadcrumb-color);

  a {
    color: var(--sdds-breadcrumb-color);
    text-decoration: none;
  }

  &:hover {
    a {
      color: var(--sdds-breadcrumb-color-hover);
      text-decoration: underline;
    }

    cursor: pointer;
  }

  &.disabled {
    pointer-events: none;
  }

  &.disabled,
  &.current,
  [aria-current='page'] {
    a {
      cursor: default;
      color: var(--sdds-breadcrumb-color-disabled);
    }

    &:hover {
      a {
        color: var(--sdds-breadcrumb-color-disabled);
        text-decoration: none;
      }
    }
  }

  ::slotted(*)::after {
    content: '\203A';
    color: var(--sdds-breadcrumb-separator-color);
    margin-right: 4px;
    margin-left: 4px;
    display: inline-block;
    width: 4px;
    height: 8px;
  }
}

:host(.last) {
  ::slotted(*)::after {
    display: none;
  }
}
