// Components
@import '../accordion/accordion.scss';
@import '../banner/banner.scss';
@import '../breadcrumb/breadcrumb.scss';
@import '../button/button.scss';
@import '../card/card.scss';
@import '../checkbox/checkbox.scss';
@import '../divider/divider.scss';
@import '../link/link.scss';
@import '../radio-button/radio-button.scss';
@import '../textfield/textfield.scss';
@import '../toast/toast.scss';
@import '../toggle/toggle.scss';
@import '../dropdown/dropdown-select.scss';
@import '../modal/modal-native.scss';

// Patterns
@import '../../patterns/header/header.scss';
@import '../../patterns/side-menu/side-menu.scss';
@import '../../patterns/footer/footer.scss';

html.#{$prefix},
body.#{$prefix},
.#{$prefix}-body {
  height: 100%;
  padding:0;

  .#{$prefix}-push {
    padding-top: var(--sdds-header-height);
    align-items: stretch;
    height: 100%;
    overflow:hidden;
  }
  .#{$prefix}-sidebar.expanded {
    display: block;
    position: fixed;
    height:100%;
    z-index: 100;
  }
  .#{$prefix}-navbar-menu-popover {
    display:none;
  }
  .#{$prefix}-footer {
    margin-top: var(--sdds-spacing-around-footer);    
    overflow-x: hidden;
  }
  .#{$prefix}-content {
    padding-left: 0;
    padding-right: 0;
    padding-top:var(--sdds-spacing-element-16);
    overflow-y:auto;
  }

  @media all and (min-width: 992px) {
    .#{$prefix}-sidebar.expanded {
      position: relative;
    }
    .#{$prefix}-navbar-menu-popover {
      display:block;
    }
  }
}

// data environment
body[data-env]:before {
  background-color: #ddd;
  border: 2px solid #fafafa;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 52px 50px 2px;
  content: attr(data-env);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1170;
  -ms-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  text-transform: uppercase;
}

body[data-env=""]:before,
body[data-env=prod]:before,
body[data-env=production]:before,
body[data-env=hidden]:before {
  display: none;
}

body[data-env=development]:before {
  content: "dev";
}