html,
:root {
  --sdds-message-type-informative-color: var(--sdds-grey-958);
  --sdds-message-type-informative-bg: var(--sdds-grey-50);
  --sdds-message-type-informative-bg-ongrey: var(--sdds-white);
  --sdds-message-type-error-color: var(--sdds-grey-958);
  --sdds-message-type-error-bg: var(--sdds-red-50);
  --sdds-message-type-warning-color: var(--sdds-grey-958);
  --sdds-message-type-warning-bg: var(--sdds-grey-50);
  --sdds-message-type-warning-bg-ongrey: var(--sdds-white);
  --sdds-message-type-success-color: var(--sdds-grey-958);
  --sdds-message-type-success-bg: var(--sdds-grey-50);
  --sdds-message-type-success-bg-ongrey: var(--sdds-white);

  .sdds-theme-light {
    --sdds-message-type-informative-color: var(--sdds-grey-958);
    --sdds-message-type-informative-bg: var(--sdds-grey-50);
    --sdds-message-type-informative-bg-ongrey: var(--sdds-white);
    --sdds-message-type-error-color: var(--sdds-grey-958);
    --sdds-message-type-error-bg: var(--sdds-red-50);
    --sdds-message-type-warning-color: var(--sdds-grey-958);
    --sdds-message-type-warning-bg: var(--sdds-grey-50);
    --sdds-message-type-warning-bg-ongrey: var(--sdds-white);
    --sdds-message-type-success-color: var(--sdds-grey-958);
    --sdds-message-type-success-bg: var(--sdds-grey-50);
    --sdds-message-type-success-bg-ongrey: var(--sdds-white);
  }

  .sdds-theme-dark {
    --sdds-message-type-informative-color: var(--sdds-red-958);
    --sdds-message-type-informative-bg: var(--sdds-red-50);
    --sdds-message-type-informative-bg-ongrey: var(--sdds-red-50);
    --sdds-message-type-error-color: var(--sdds-blue-400);
    --sdds-message-type-error-bg: var(--sdds-blue-500);
    --sdds-message-type-warning-color: var(--sdds-red-958);
    --sdds-message-type-warning-bg: var(--sdds-red-50);
    --sdds-message-type-warning-bg-ongrey: var(--sdds-red);
    --sdds-message-type-success-color: var(--sdds-red-958);
    --sdds-message-type-success-bg: var(--sdds-red-50);
    --sdds-message-type-success-bg-ongrey: var(--sdds-red);
  }
}
