:host {
  display: block;

  $grid-xs: 0;
  $grid-sm: 608px;
  $grid-md: 800px;
  $grid-lg: 992px;
  $grid-xlg: 1184px;
  $grid-xxlg: 1376px;
  $grid-max: 1584px;

  .footer-top {
    background-color: var(--sdds-footer-top-background);
    padding: 40px;

    ::slotted(*) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 40px;
      width: 100%;
    }
  }

  .footer-main {
    background-color: var(--sdds-footer-main-background);
    padding: 0 40px;
  }

  .footer-main-top {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
  }

  .footer-bottom-right,
  .footer-bottom-left {
    ::slotted(*) {
      display: flex;
      column-gap: 24px;
    }
  }

  .footer-main-bottom {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--sdds-footer-main-divider);

    p.copyright {
      margin: 0;
      font: var(--sdds-detail-02);
      letter-spacing: var(--sdds-detail-02-ls);
      color: var(--sdds-footer-main-copyright);
    }

    .brand {
      background-image: var(--sdds-background-image-scania-wordmark-white-svg);
      background-repeat: no-repeat;
      background-size: 117px;
      background-position: right;
      width: 117px;
      height: 20px;

      p {
        color: transparent;
        padding: 0;
        margin: 0;
        height: 100%;
        visibility: hidden;
      }
    }
  }

  @media all and (max-width: $grid-lg) {
    .footer-top {
      padding: 0;

      ::slotted(*) {
        display: block;
        width: 100%;
      }
    }

    .footer-main-top {
      flex-direction: column;
      row-gap: 48px;
    }

    .footer-bottom-left {
      ::slotted(*) {
        flex-direction: column;
        gap: 8px;
      }
    }

    .footer-main-bottom {
      flex-direction: column;

      p.copyright {
        padding-bottom: 96px;
      }

      .brand {
        width: 100%;
      }
    }
  }
}
