@import '../../../mixins/box-sizing';

:host {
  @include sdds-box-sizing;

  display: table-header-group;

  .sdds-table__header-cell--checkbox {
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    display: table-cell;
    text-align: left;
    color: var(--sdds-data-table-color);
    background-color: var(--sdds-data-table-header-background);
    border-bottom: 1px solid var(--sdds-data-table-divider);
    height: 48px;
    box-sizing: border-box;

    // To fix issues with border-radius propagating up from button
    overflow: hidden;
    transition: background-color 200ms ease;
    min-width: unset;
    width: 48px;
    padding: 0;
    border-top-left-radius: 4px;
  }

  // Extra rule for label use in data-data-table
  .sdds-form-label--data-table {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .sdds-table__expand-control-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    cursor: pointer;

    .sdds-table__expand-input {
      display: none;
    }

    .sdds-expandable-row-icon {
      height: 20px;
      width: 20px;
      transition: transform 200ms ease;
      transform: rotate(0);
    }

    .sdds-expandable-row-icon--opened {
      transform: rotate(180deg);
    }
  }

  ::slotted(sdds-header-cell:hover) {
    background-color: var(--sdds-data-table-header-background-hover);
  }
}

:host(.sdds-table--compact) {
  .sdds-table__header-cell--checkbox {
    height: 32px;
  }

  // Extra rule for label use in data-data-table
  .sdds-form-label--data-table {
    height: 32px;
  }
}

:host(.sdds-table--divider) {
  .sdds-table__header-cell--checkbox {
    border-right: 1px solid var(--sdds-data-table-divider);
  }
}

:host(.sdds-table--toolbar-available) {
  .sdds-table__header-cell--checkbox {
    border-top-left-radius: 0;
  }
}
