@import "@scania/typography/dist/scss/mixins";
@import "@scania/typography/dist/scss/tokens";

:host(.sdds-table__header-cell) {
  @include type-style("headline-07");

  display: table-cell;
  text-align: left;
  color: var(--sdds-grey-958);
  background-color: var(--sdds-grey-300);
  border-bottom: 1px solid var(--sdds-grey-400);
  padding: 0;
  height: 48px;
  min-width: 192px;
  box-sizing: border-box;
  vertical-align: middle;
  overflow: hidden;
  transition: background-color 200ms ease;

  .sdds-table__header-text {
    padding: 0 16px;
    margin: 0;
  }
}

:host(.sdds-table__header-cell--sortable) {
  .sdds-table__header-button {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 200ms ease;

    &:focus {
      outline: 2px solid var(--sdds-blue-400);
      outline-offset: -2px;

      .sdds-table__header-button-icon {
        opacity: 1;
      }
    }

    .sdds-table__header-button-text {
      @include type-style("headline-07");

      text-align: left;
      color: var(--sdds-grey-958);
    }

    .sdds-table__header-button-icon {
      /* not to shrink on lot of text */
      flex: 0 0 16px;
      height: 16px;
      opacity: 0;
      transform-origin: center;
      transition: opacity 200ms ease-in, transform 200ms ease;
    }

    &:hover {
      .sdds-table__header-button-icon {
        opacity: 1;
      }
    }
  }
}

:host(.sdds-table__header-cell--right-align) {
  .sdds-table__header-button {
    text-align: right;
    justify-content: end;
    flex-direction: row-reverse;
  }
}

:host(.sdds-table__header-cell--is-sorted) {
  .sdds-table__header-button {
    background-color: var(--sdds-grey-500);

    &:hover {
      background-color: var(--sdds-grey-400);
    }

    .sdds-table__header-button-icon {
      opacity: 1;
    }

    .sdds-table__header-button-icon--rotate {
      transform: rotate(180deg);
    }
  }
}

:host(.sdds-table--compact) {
  height: 32px;
}

:host(.sdds-table--divider) {
  border-right: 1px solid var(--sdds-grey-400);
}

:host(.sdds-table--divider:last-of-type) {
  border-right: none;
}

:host(.sdds-table--no-min-width) {
  min-width: unset;
}
