@import "@scania/typography/dist/scss/mixins";
@import "@scania/typography/dist/scss/tokens";

/* As checkbox is not a web component, we have to import them here in order to have styles available - shadow DOM is a reason */
@import "../../checkbox/checkbox";

:host {
  display: table-row;

  .sdds-table__header-cell--checkbox {
    @include type-style("headline-07");

    display: table-cell;
    text-align: left;
    color: var(--sdds-grey-958);
    background-color: var(--sdds-grey-300);
    border-bottom: 1px solid var(--sdds-grey-400);
    height: 48px;
    box-sizing: border-box;

    // To fix issues with border-radius propagating up from button
    overflow: hidden;
    transition: background-color 200ms ease;
    min-width: unset;
    width: 48px;
    padding: 0;
  }

  // Extra rule for label use in data-table
  .sdds-form-label--data-table {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  ::slotted(sdds-header-cell:hover) {
    background-color: var(--sdds-grey-400);
  }
}

:host(.sdds-table--compact) {
  .sdds-table__header-cell--checkbox {
    height: 32px;
  }

  // Extra rule for label use in data-table
  .sdds-form-label--data-table {
    height: 32px;
  }
}

:host(.sdds-table--compact) {
  .sdds-table__header-cell--checkbox {
    border-right: 1px solid var(--sdds-grey-400);
  }
}
