/* https://medium.com/swlh/full-text-styling-with-a-single-line-of-css-838e8c666f4d */

// CHEATSHEET --> font: style variant weight size/line-height family
// Letter spacing is in another variable as it can not be part of font variable

:root {
  /* FUNCTIONAL TYPOGRAPHY */

  //HEADLINE
  --sdds-headline-01: normal normal bold 2.5rem/1 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-headline-01-ls: 0;
  --sdds-headline-02: normal normal bold 2rem/1 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-headline-02-ls: -0.04em;
  --sdds-headline-03: normal normal bold 1.5rem/1 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-headline-03-ls: -0.03em;
  --sdds-headline-04: normal normal bold 1.25rem/1.2 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-headline-04-ls: -0.02em;
  --sdds-headline-05: normal normal bold 0.875rem/1.5 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-headline-05-ls: -0.02em;
  --sdds-headline-06: normal normal bold 0.875rem/1.14 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-headline-06-ls: -0.02em;
  --sdds-headline-07: normal normal bold 0.875rem/1.14 'Scania Sans Semi Condensed', arial,
    helvetica, sans-serif;
  --sdds-headline-07-ls: -0.01em;

  //PARAGRAPH
  --sdds-paragraph-01: normal normal normal 1.5rem/1.33 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-paragraph-01-ls: -0.03em;
  --sdds-paragraph-02: normal normal normal 1.25rem/1.2 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-paragraph-02-ls: -0.01em;

  //BODY
  --sdds-body-01: normal normal normal 1rem/1.5 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-body-01-ls: -0.02em;
  --sdds-body-02: normal normal normal 0.875rem/1.43 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-body-02-ls: -0.02em;

  //DETAIL
  --sdds-detail-01: normal normal normal 1rem/1.5 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --sdds-detail-01-ls: -0.01em;
  --sdds-detail-02: normal normal normal 0.875rem/1.14 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --sdds-detail-02-ls: -0.01em;
  --sdds-detail-03: normal normal normal 0.875rem/1.43 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --sdds-detail-03-ls: -0.01em;
  --sdds-detail-04: normal normal bold 0.75rem/1.33 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-detail-04-ls: 0.08em;
  --sdds-detail-04-tt: uppercase;
  --sdds-detail-05: normal normal normal 0.75rem/1.33 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --sdds-detail-05-ls: 0;
  --sdds-detail-06: normal normal bold 0.625rem/1.6 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-detail-06-ls: 0.08em;
  --sdds-detail-06-tt: uppercase;
  --sdds-detail-07: normal normal normal 0.625rem/0.8 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --sdds-detail-07-ls: 0;

  /* EXPRESSIVE TYPOGRAPHY */

  //HEADLINE

  --sdds-expressive-headline-01: normal normal bold 5rem/1 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --sdds-expressive-headline-01-ls: 0;
  --sdds-expressive-headline-02: normal normal bold 3.5rem/1 'Scania Sans Headline', arial,
    helvetica, sans-serif;
  --sdds-expressive-headline-02-ls: 0;
  --sdds-headline-ex-01: normal normal bold 2.5rem/1 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --sdds-headline-ex-01-ls: 0;
  --sdds-headline-ex-02: normal normal bold 2rem/1 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --sdds-headline-ex-02-ls: -0.04em;
  --sdds-headline-ex-03: normal normal bold 1.5rem/1 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --sdds-headline-ex-03-ls: -0.03em;
  --sdds-headline-ex-04: normal normal bold 1.25rem/1.2 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --sdds-headline-ex-04-ls: -0.01em;
  --sdds-headline-ex-05: normal normal bold 1rem/1.5 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --sdds-headline-ex-05-ls: -0.02em;
  --sdds-headline-ex-06: normal normal bold 0.875rem/1.14 'Scania Sans Headline', arial, helvetica,
    sans-serif;
  --sdds-headline-ex-06-ls: -0.02em;
  --sdds-headline-ex-07: normal normal bold 0.875rem/1.14 'Scania Sans Semi Condensed', arial,
    helvetica, sans-serif;
  --sdds-headline-ex-07-ls: -0.01em;

  //PARAGRAPH
  --sdds-paragraph-ex-01: normal normal normal 1.5rem/1.33 'Scania Sans', arial, helvetica,
    sans-serif;
  --sdds-paragraph-ex-01-ls: -0.03em;
  --sdds-paragraph-ex-02: normal normal normal 1.25rem/1.2 'Scania Sans', arial, helvetica,
    sans-serif;
  --sdds-paragraph-ex-02-ls: -0.01em;

  //BODY
  --sdds-body-ex-01: normal normal normal 1rem/1.5 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-body-ex-01-ls: -0.02em;
  --sdds-body-ex-02: normal normal normal 0.875rem/1.43 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-body-ex-02-ls: -0.01em;

  //DETAIL
  --sdds-detail-ex-01: normal normal normal 1rem/1.5 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --sdds-detail-ex-01-ls: -0.01em;
  --sdds-detail-ex-02: normal normal normal 0.875rem/1.14 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --sdds-detail-ex-02-ls: -0.01em;
  --sdds-detail-ex-03: normal normal normal 0.875rem/1.43 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --sdds-detail-ex-03-ls: -0.01em;
  --sdds-detail-ex-04: normal normal bold 0.75rem/1.33 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-detail-ex-04-ls: 0.08em;
  --sdds-detail-ex-04-tt: uppercase;
  --sdds-detail-ex-05: normal normal normal 0.75rem/1.33 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --sdds-detail-ex-05-ls: 0;
  --sdds-detail-ex-06: normal normal bold 0.625rem/1.6 'Scania Sans', arial, helvetica, sans-serif;
  --sdds-detail-ex-06-ls: 0.08em;
  --sdds-detail-ex-06-tt: uppercase;
  --sdds-detail-ex-07: normal normal normal 0.625rem/0.8 'Scania Sans Semi Condensed',
    'Scania Sans Condensed', arial, helvetica, sans-serif;
  --sdds-detail-ex-07-ls: 0;
}
