<div class="sdds-container-fluid content-wrapper">
  <div class="sdds-row">
    <div class="sdds-col-xlg-16 sdds-col-md-12 sdds-col-sm-12">
      <p class="lead-head sdds-paragraph-01">
        This is a simple example how to implement the SDDS components in Angular
        13.
      </p>
      <p class="sub-lead">
        Check the
        <a
          href="https://tegel.scania.com/development/getting-started-development/installation#angular"
          target="_blank"
          >full documentation here</a
        >.
      </p>
    </div>

    <div class="section-wrapper sdds-col-xlg-8 sdds-col-md-8 sdds-col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
