// Styles toolbar menu (right side of header)

// Change this to official icon when we have it
.#{$prefix}-icon-applauncher {
  @include background-svg-reset;
  color: var(--#{$prefix}-header-text-colour);
  // TODO: remove this and add icon from html when we have it
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.33333 2.66667C2.06971 2.66667 2.66667 2.06971 2.66667 1.33333C2.66667 0.596954 2.06971 0 1.33333 0C0.596954 0 0 0.596954 0 1.33333C0 2.06971 0.596954 2.66667 1.33333 2.66667ZM9.33307 1.33333C9.33307 2.06971 8.73612 2.66667 7.99974 2.66667C7.26336 2.66667 6.66641 2.06971 6.66641 1.33333C6.66641 0.596954 7.26336 0 7.99974 0C8.73612 0 9.33307 0.596954 9.33307 1.33333ZM16.0003 1.33333C16.0003 2.06971 15.4033 2.66667 14.6669 2.66667C13.9305 2.66667 13.3336 2.06971 13.3336 1.33333C13.3336 0.596954 13.9305 0 14.6669 0C15.4033 0 16.0003 0.596954 16.0003 1.33333ZM16.0003 8C16.0003 8.73638 15.4033 9.33333 14.6669 9.33333C13.9305 9.33333 13.3336 8.73638 13.3336 8C13.3336 7.26362 13.9305 6.66667 14.6669 6.66667C15.4033 6.66667 16.0003 7.26362 16.0003 8ZM14.6669 16C15.4033 16 16.0003 15.403 16.0003 14.6667C16.0003 13.9303 15.4033 13.3333 14.6669 13.3333C13.9305 13.3333 13.3336 13.9303 13.3336 14.6667C13.3336 15.403 13.9305 16 14.6669 16ZM7.99974 9.33333C8.73612 9.33333 9.33307 8.73638 9.33307 8C9.33307 7.26362 8.73612 6.66667 7.99974 6.66667C7.26336 6.66667 6.66641 7.26362 6.66641 8C6.66641 8.73638 7.26336 9.33333 7.99974 9.33333ZM9.33307 14.6667C9.33307 15.403 8.73612 16 7.99974 16C7.26336 16 6.66641 15.403 6.66641 14.6667C6.66641 13.9303 7.26336 13.3333 7.99974 13.3333C8.73612 13.3333 9.33307 13.9303 9.33307 14.6667ZM2.66667 8C2.66667 8.73638 2.06971 9.33333 1.33333 9.33333C0.596954 9.33333 0 8.73638 0 8C0 7.26362 0.596954 6.66667 1.33333 6.66667C2.06971 6.66667 2.66667 7.26362 2.66667 8ZM1.33333 16C2.06971 16 2.66667 15.403 2.66667 14.6667C2.66667 13.9303 2.06971 13.3333 1.33333 13.3333C0.596954 13.3333 0 13.9303 0 14.6667C0 15.403 0.596954 16 1.33333 16Z' fill='white'/%3E%3C/svg%3E");
}

.#{$prefix}-navbar-menu-toolbar,
.#{$prefix}-navbar-menu-toolbar-mobile {
  display: flex;

  .#{$prefix}-navbar-menu-item-dropdown,
  .#{$prefix}-navbar-menu-item {
    border-left: 1px solid var(--#{$prefix}-header-divider);

    &:hover,
    &.hover {
      background-color: var(--#{$prefix}-nav-item-background-hover);
    }

    .#{$prefix}-navbar-menu__dropdown-menu {
      position: absolute;
      background: var(--#{$prefix}-nav-item-dropdown-item-background);
      right: 0;

      .#{$prefix}-navbar-menu__dropdown-item {
        border-bottom: 1px solid var(--#{$prefix}-nav-item-dropdown-divider);
        padding: 24px 16px;
      }

      .#{$prefix}-navbar-menu-item-description {
        @include type-style('headline-07');
        color: var(--#{$prefix}-dropdown-menu-items-title);
        padding-top: 16px;
        padding-bottom: 16px;
        &:hover {
          background: var(--#{$prefix}-nav-item-dropdown-item-background);
        }
      }
    // endof menu-item-dropdown__dropdown-menu
    }

    // .#{$prefix}-navbar-menu-item-dropdown.opened
    &.opened {
      z-index: 2; // to appear above overlay background
      &,
      &:hover,
      &.hover {
        background-color: var(--#{$prefix}-nav-item-dropdown-background-active);
      }
      .#{$prefix}-icon-applauncher {
        color: var(--#{$prefix}-nav-item-dropdown-colour-active);
        // TODO: remove this and add icon from html when we have it
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.33333 2.66667C2.06971 2.66667 2.66667 2.06971 2.66667 1.33333C2.66667 0.596954 2.06971 0 1.33333 0C0.596954 0 0 0.596954 0 1.33333C0 2.06971 0.596954 2.66667 1.33333 2.66667ZM9.33307 1.33333C9.33307 2.06971 8.73612 2.66667 7.99974 2.66667C7.26336 2.66667 6.66641 2.06971 6.66641 1.33333C6.66641 0.596954 7.26336 0 7.99974 0C8.73612 0 9.33307 0.596954 9.33307 1.33333ZM16.0003 1.33333C16.0003 2.06971 15.4033 2.66667 14.6669 2.66667C13.9305 2.66667 13.3336 2.06971 13.3336 1.33333C13.3336 0.596954 13.9305 0 14.6669 0C15.4033 0 16.0003 0.596954 16.0003 1.33333ZM16.0003 8C16.0003 8.73638 15.4033 9.33333 14.6669 9.33333C13.9305 9.33333 13.3336 8.73638 13.3336 8C13.3336 7.26362 13.9305 6.66667 14.6669 6.66667C15.4033 6.66667 16.0003 7.26362 16.0003 8ZM14.6669 16C15.4033 16 16.0003 15.403 16.0003 14.6667C16.0003 13.9303 15.4033 13.3333 14.6669 13.3333C13.9305 13.3333 13.3336 13.9303 13.3336 14.6667C13.3336 15.403 13.9305 16 14.6669 16ZM7.99974 9.33333C8.73612 9.33333 9.33307 8.73638 9.33307 8C9.33307 7.26362 8.73612 6.66667 7.99974 6.66667C7.26336 6.66667 6.66641 7.26362 6.66641 8C6.66641 8.73638 7.26336 9.33333 7.99974 9.33333ZM9.33307 14.6667C9.33307 15.403 8.73612 16 7.99974 16C7.26336 16 6.66641 15.403 6.66641 14.6667C6.66641 13.9303 7.26336 13.3333 7.99974 13.3333C8.73612 13.3333 9.33307 13.9303 9.33307 14.6667ZM2.66667 8C2.66667 8.73638 2.06971 9.33333 1.33333 9.33333C0.596954 9.33333 0 8.73638 0 8C0 7.26362 0.596954 6.66667 1.33333 6.66667C2.06971 6.66667 2.66667 7.26362 2.66667 8ZM1.33333 16C2.06971 16 2.66667 15.403 2.66667 14.6667C2.66667 13.9303 2.06971 13.3333 1.33333 13.3333C0.596954 13.3333 0 13.9303 0 14.6667C0 15.403 0.596954 16 1.33333 16Z' fill='%23171719'/%3E%3C/svg%3E");
      }
    }
  }
}
.#{$prefix}-navbar-menu-toolbar-mobile {
  .#{$prefix}-navbar-menu-item-dropdown,
  .#{$prefix}-navbar-menu-item {
    border-left: 0;
    &:hover,
    &.hover {
      background-color: var(--#{$prefix}-nav-item-background-selected);
    }
  }
}

.#{$prefix}-navbar-menu-toolbar {
  .#{$prefix}-navbar-menu-item-dropdown,
  .#{$prefix}-navbar-menu-item {
    border-bottom: 0;
  }
}

@media all and (min-width: $grid-lg) {
  .#{$prefix}-navbar-menu-toolbar,
  .#{$prefix}-navbar-menu-toolbar-mobile {
    .#{$prefix}-navbar-menu-item-dropdown,
    .#{$prefix}-navbar-menu-item {
      &:hover,
      &.hover {
        background-color: var(--#{$prefix}-nav-item-background-hover);
      }
      .#{$prefix}-icon-arrow {
        display: none;
      }
      .#{$prefix}-navbar-menu__dropdown-menu {
        min-width: var(--#{$prefix}-nav-item-toolbar-menu-minwidth);
        position: fixed;
        top: var(--#{$prefix}-header-height);
        right: 0;
        left: unset;
        max-height: calc(100% - 64px);
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 4px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: var(--sdds-grey-300);
        }
        ::-webkit-scrollbar-button {
          height: 0;
          width: 0;
        }
      }
    }
  }

  .#{$prefix}-navbar-menu-toolbar-mobile {
    margin-left: auto;
    
    .#{$prefix}-navbar-menu-item-dropdown,
    .#{$prefix}-navbar-menu-item {
      border-left: 1px solid var(--#{$prefix}-header-divider);

      .#{$prefix}-navbar-menu__dropdown-menu{
        width: auto;
        min-width: var(--#{$prefix}-nav-item-toolbar-menu-minwidth);
      }
    }
  }

}

@media all and (min-width: $grid-md) {
  .#{$prefix}-navbar-menu-toolbar {
    .#{$prefix}-navbar-menu-item-dropdown {
      .#{$prefix}-navbar-menu__dropdown-menu{
        width: auto;
        min-width: var(--#{$prefix}-nav-item-toolbar-menu-minwidth);
      }
    }
  }
}