// Styling application brand

.#{$prefix}-navbar-application-brand {
  font-family:var(--#{$prefix}-font-family-headline);
  font-weight: normal;
  padding: 0 24px;
  border:0;
  border-left: 1px solid var(--#{$prefix}-header-divider);
  display: flex;
  align-items: center;
  margin-right: auto;
  @media all and (min-width: $grid-lg) {
    margin-right: 0;
  }
}

.#{$prefix}-navbar-scania-brand{
  padding: 16px;
  display: none;
  cursor: pointer;
  border-left: 1px solid var(--#{$prefix}-header-divider);
  background: var(--#{$prefix}-background-image-scania-symbol-svg);
  background: var(--#{$prefix}-background-image-scania-symbol-png);
  background-size: 30px auto;
  width: var(--#{$prefix}-header-icon-width);
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    background-color: var(--#{$prefix}-nav-item-background-hover);
  }
  @media all and (min-width: $grid-lg) {
    display: block;
  }
}