// Styling menu item list and menu item with dropdown

.#{$prefix}-navbar-menu-list {
  @include sdds-navbar-menu-ul;

  .#{$prefix}-navbar-menu-item {
    @include sdds-navbar-menu-item;
  }
}

.#{$prefix}-navbar-menu-item-link {
  .#{$prefix}-navbar-icon-button {
    width: var(--sdds-nav-item-icon-size);
    height: var(--sdds-nav-item-icon-size);
  }
}

.#{$prefix}-navbar-menu-item-dropdown {
  @include sdds-navbar-menu-item;
  padding:0;
  border-left: 0;

  &:hover,
  &.hover {
    background: transparent;
  }

  > .#{$prefix}-navbar-menu-item-link {
    padding: 24px;    
    justify-content: space-between;

    .sdds-icon-arrow {
      @include background-svg-reset;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23171719' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      transition: transform 0.2s ease-out;
      transform: rotate(0);
    }
  }

  .#{$prefix}-navbar-menu__dropdown-menu {
    @include sdds-navbar-menu-ul;
    transition: all 0.2s ease-out;
    visibility: hidden;
    height: 0;
  }
  .#{$prefix}-navbar-menu__dropdown-item {
    @include type-style('detail-02');
    font-weight: normal;
    margin: 0;
    padding: 16px 10px 16px 24px;
    color: var(--#{$prefix}-nav-item-dropdown-item-colour);
    border: 0;
    list-style: none;

    &:hover,
    &.hover,
    &.active {
      background: var(--#{$prefix}-nav-item-background-selected);
    }

    &.active {
      @include type-style('headline-07');
      border-left: 4px solid var(--#{$prefix}-nav-item-border-active);
      padding-left: 20px;
    }

  }

  &.opened {

    > .#{$prefix}-navbar-menu-item-link {
      .sdds-icon-arrow {
        transform: rotate(180deg);
      }
    }
    .#{$prefix}-navbar-menu__dropdown-menu {
      visibility: visible;
      height: auto;
    }
    
  }
// endof .#{$prefix}-navbar-menu-item-dropdown
}

@media all and (min-width: 769px) {
  .#{$prefix}-navbar-menu-list {
    flex-direction: row;
  }

  .#{$prefix}-navbar-menu-item-dropdown {
    padding: 0;
    position: relative;
    border-right: 0;

    &:hover {
      border-color: transparent;
    }

    >.#{$prefix}-navbar-menu-item-link {
      .#{$prefix}-icon-arrow {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23fff' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        margin-left: var(--#{$prefix}-spacing-element-12);
      }
    }

    .#{$prefix}-navbar-menu__dropdown-menu {
      transition:none;
      position: absolute;
      min-width: var(--#{$prefix}-nav-item-dropdown-minwidth);
      background: #fff;
      box-shadow: 0px 3px 3px rgb(0 0 0 / 15%), 0px 2px 1px rgb(0 0 0 / 10%);
      border-radius: 0px 0px 4px 4px;
      z-index: 2000;
      top: var(--#{$prefix}-header-height);
      left: 0;
      .#{$prefix}-navbar-menu__dropdown-item {
        border-bottom: 1px solid var(--#{$prefix}-nav-item-dropdown-divider);
      }
    }

    &.opened {
      background: var(--#{$prefix}-nav-item-dropdown-background-active);
      color: var(--#{$prefix}-nav-item-dropdown-colour-active);

      >.#{$prefix}-navbar-menu-item-link {
        .#{$prefix}-icon-arrow {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23171719' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
      }
    }

  }

}