@import '../../helpers/style-helpers.scss';
@import './mixins';
@import './navbar-menu.scss';
@import './navbar-brand.scss';

.#{$prefix}-navbar {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 64px;
  background: var(--sdds-blue-900);
  color: var(--sdds-white);
  font-family: var(--sdds-font-family-sans-serif);
  border-bottom: 1px solid var(--sdds-blue-800);

  a {
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      color: var(--sss-nav-link-color-hover);
      text-decoration: none;
    }
  }

  button {
    font-family: var(--sdds-font-family-sans-serif);
    background: none;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    cursor: pointer;
    outline: none;
    text-shadow: 0px 0px 0px transparent;
    &:focus {
      outline: none;
    }
  }

}

.#{$prefix}-navbar-application-brand {
  line-height: 64px;
  padding: 0 24px;
  font-style: normal;
  font-weight: 700;
  color: var(--sdds-white);
  margin-right: auto;
}

.#{$prefix}-navbar-icon-button {
  @include sdds-icon-button;

  &.#{$prefix}-navbar-side-menu-toggler {
    border-right: 1px solid var(--sdds-blue-800);
    z-index: 1500;

    @media all and (min-width: 769px) {
      display: none;
    }
  }
}

.sdds-icon-toggler {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M0 0.75C0 0.335786 0.335786 0 0.75 0H15.25C15.6642 0 16 0.335786 16 0.75C16 1.16421 15.6642 1.5 15.25 1.5H0.75C0.335786 1.5 0 1.16421 0 0.75ZM0 8C0 7.58579 0.335786 7.25 0.75 7.25H15.25C15.6642 7.25 16 7.58579 16 8C16 8.41421 15.6642 8.75 15.25 8.75H0.75C0.335786 8.75 0 8.41421 0 8ZM0.75 14.5C0.335786 14.5 0 14.8358 0 15.25C0 15.6642 0.335786 16 0.75 16H15.25C15.6642 16 16 15.6642 16 15.25C16 14.8358 15.6642 14.5 15.25 14.5H0.75Z' fill='white'/%3E%3C/svg%3E");
  width:16px;
  height:16px;
}
