.sdds-navbar-menu-item-dropdown {
  @include sdds-side-menu-item;
  font-size: 14px;
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.2em;
  padding: 0;
  color: var(--sdds-grey-900);
  border-bottom: 1px solid var(--sdds-grey-100);
  border-left: 4px solid transparent;
  border-radius: 0 !important;
  position: relative;

  &:last-child,
  &:first-child {
    border-radius: 0 !important;
  }

  i {
    width: 20px;
    @media all and (min-width: 769px) {
      &.nav-link__drop-down-icon {
        opacity: 0;
      }
    }
    &.nav-link__drop-down-icon {
      display: inline-block;
      margin-left: auto;
      width: auto;
    }
  }

  &.sdds-navbar-menu__dropdown--opened {
    flex-direction: column;
    height: auto;

    > .sdds-navbar-menu__dropdown-menu {
      display: block;
      opacity: 1;
    }

    &:hover {
      background-color: var(--sdds-white);
      color: var(--sdds-grey-900);
    }

    .nav-link__drop-down-icon {
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:active,
  &:focus,
  &.active {
    color: var(--sdds-blue-900);
    background-color: var(--sdds-white);
    border-left-color: var(--sdds-blue-900);
    text-decoration: none;

    .sdds-navbar-menu-nav-link {
      text-decoration: none;
    }
  }

  .sdds-navbar-menu-nav-link {
    font-weight: 700;
  }


  &:hover {
    .list-group-item {
      i {
        z-index: 1002;
      }
    }
  }

  .sdds-navbar-menu__dropdown-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 68px;
    font-family: var(--sdds-font-family-sans-serif);
    padding: 0px 18px 0 20px;

    .nav-link__drop-down-icon {
      line-height: 10px;
    }

    &.sdds-navbar-menu__dropdown-header--icon {
      + .sdds-navbar-menu__dropdown-menu {
        .sdds-navbar-menu__dropdown-item {
          padding-left: 52px;
        }
      }
    }
  }

  .sdds-navbar-menu__dropdown-menu {
    display: none;
    opacity: 0;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: inherit;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    box-shadow: none;
    a,
    a:hover,
    a:focus,
    a:active {
      text-decoration: none !important;
    }
  }

  .menu-item-label {
    @include sdds-side-menu-item-hover-aside;
  }

  .sdds-navbar-menu__dropdown-item {
    height: 48px;
    line-height: 48px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    border-left: 4px solid transparent;
    margin-left: -4px;
    background: var(--sdds-white);

    &:hover,
    &:active,
    &:focus,
    &.active {
      color: var(--sdds-grey-600);
      background: var(--sdds-blue-50);
    }

    &:active,
    &.active {
      border-color: var(--sdds-blue-500);
      a {
        color: var(--sdds-grey-600);
      }
    }

    a {
      &:hover,
      &:active,
      &:focus {
        color: var(--sdds-grey-600);
        text-decoration: none;
      }
    }
  }
}

@media all and (min-width: 769px) {
  .sdds-navbar-top-menu {
    &.sdds-navbar__top-menu--expanded {
      .sdds-navbar-menu-item-dropdown {
        .sdds-navbar-menu__dropdown {
          i {
            &.nav-link__drop-down-icon {
              opacity: 1;
            }
          }
        }
      }
    }

    .sdds-navbar-menu-item-dropdown {
      border: 0;
      border-right: 1px solid var(--sdds-blue-800);

      .sdds-navbar-menu__dropdown-menu {
        background: var(--sdds-white);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15), 0px 2px 1px rgba(0, 0, 0, 0.1);
        opacity: 0;
        position: absolute;
        transition: 200ms ease all;
        top: 64px;
        right: 0;
        left: 0;
        z-index: 2000;
        line-height: 1.2em;
        min-width: 200px;
        border: none;
        border-radius: 0px 0px 4px 4px;

        .sdds-navbar-menu__dropdown-item {
          margin-left: 0;
          padding-left: 16px;
          border-bottom: 1px solid var(--sdds-grey-100);
          color: var(--sdds-grey-600);

          &:last-child {
            border-bottom: none;
            border-radius: 0px 0px 4px 4px;
          }
        }
      }

      &:hover,
      &:focus,
      &:active {
        &:not(.sdds-navbar-menu__dropdown--opened) {
          color: var(--sdds-white);
          background-color: var(--sdds-blue-800);
          border-left: none;
        }
      }

      &.active {
        border-bottom: 4px solid var(--sdds-blue-500);
        background-color: var(--sdds-blue-800);
        color: var(--sdds-white);
        border-left: none;

        .sdds-navbar-menu__dropdown--opened {
          &.list-group-item {
            background-color: var(--sdds-white);
          }
        }
      }

      border: 0;
      color: var(--sdds-white);
      height: 64px;
      line-height: 64px;
      background-color: transparent;

      .sdds-navbar-menu-nav-link {
        color: var(--sdds-white);
      }

      &.sdds-navbar-menu__dropdown--opened {
        background-color: var(--sdds-white);
        color: var(--sdds-grey-900);

        .sdds-navbar-menu-nav-link {
          color: var(--sdds-grey-900);
        }
        &:hover {
          background-color: var(--sdds-white);
          color: var(--sdds-grey-900);

          .sdds-navbar-menu-nav-link {
            color: var(--sdds-grey-900);
          }
        }
      }
      i {
        vertical-align: middle;
      }

      .sdds-navbar-menu__dropdown-header {
        height: 100%;
        display: block;
        align-items: center;
        padding: 0 24px;
      }

      .sdds-navbar-menu__dropdown {
        i {
          &.nav-link__drop-down-icon {
            opacity: 1;
            width: auto;
          }
        }
        .sdds-navbar-menu-nav-link {
          margin-right: 11px;
        }
      }

    }
  }
}