.sdds-navbar-brand {
  @include sdds-icon-button;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 70px;

  .sdds-navbar-brand__image {
    display: block;
    height: 34px;
    width: 36px;
    // Change image URL to new CDN URL
    background-image: url(https://static.scania.com/resources/logotype/scania/scania-symbol.png);
    background-image: url(https://static.scania.com/resources/logotype/scania/scania-symbol.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media all and (min-width: 769px) {
  .sdds-navbar-brand {
    display: flex;
  }
}
  