# Compiled from Stencil
.stencil/
.build/
.www/
.data/

# Compiled theme
src/themes.built/

# Compiled from gulpfile.babel.js
# .storybook/
dist/
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
components/*.d.ts

.idea/
.vscode/*
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# Ignore exceptions
!.vscode/snippets.code-snippets