# Files and folders for Prettier to ignore

# The ** acts as a recursive pattern. It is useful in monorepo projects where you have same folders,
# like node_modules in sub directories.

# Common rules
**/node_modules
**/*.md
**/*.d.ts
**/*.conf.js
**/dist
**/.build
**/.www

# Root level
.github
.travis.yml

# Component package
components/storybook-static

# Specific file
theme/core/icons/src/_icons.css
theme/core/**/*-vars.scss




