:host {
  width: 100%;

  li {
    border-bottom: 1px solid var(--sdds-grey-300);

    button,
    a {
      height: 64px;
      padding: 0 16px;
      background-color: var(--sdds-white);
      border: none;
      width: 100%;
      text-decoration: none;
      color: var(--sdds-grey-958);
      display: flex;
      align-items: center;
      color: var(--sdds-grey-700);

      &:hover {
        cursor: pointer;
        background-color: var(--sdds-grey-100);
      }
    }
  }
}
