.sdds-dropdown-option-webcomponent {
  .button-wrapper {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    background-color: var(--sdds-dropdown-option-bg);

    &.selected {
      background-color: var(--sdds-dropdown-option-selected);

      &:hover {
        background-color: var(--sdds-dropdown-option-selected);
      }
    }

    &.disabled {
      &:hover {
        cursor: not-allowed;
        background-color: var(--sdds-dropdown-option-bg);
      }
    }

    &:hover {
      background-color: var(--sdds-dropdown-option-bg-hover);
    }

    button {
      width: 100%;
      padding: 0 16px;
      background-color: transparent;
      border: 1px solid var(--sdds-dropdown-option-bg);
      border-bottom: 1px solid var(--sdds-dropdown-option-border);
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--sdds-dropdown-option-color);

      &.lg {
        height: 56px;
      }

      &.md {
        height: 48px;
      }

      &.sm {
        height: 40px;
      }

      &.selected {
        border-color: var(--sdds-dropdown-option-selected);
      }

      &:focus-visible {
        outline: none;
        border-color: var(--sdds-dropdown-option-border-focus);
      }

      &.disabled {
        color: var(--sdds-dropdown-option-color-disabled);
        pointer-events: none;

        &:hover {
          cursor: not-allowed;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &.multiselect {
        justify-content: initial;
      }
    }

    sdds-checkbox {
      display: flex;
      padding: 0 16px;
      border-bottom: 1px solid var(--sdds-dropdown-option-border);

      // This is to make the entire button clickable
      .sdds-checkbox-webcomponent {
        height: 100%;
        width: 100%;

        label {
          width: 100%;
          height: 100%;
        }
      }

      &.lg {
        height: 56px;
      }

      &.md {
        height: 48px;
      }

      &.sm {
        height: 40px;
      }

      &.selected {
        border-color: var(--sdds-dropdown-option-selected);
      }

      &:focus-visible {
        outline: none;
        border-color: var(--sdds-dropdown-option-border-focus);
      }

      &.disabled {
        color: var(--sdds-dropdown-option-color-disabled);
        pointer-events: none;

        &:hover {
          cursor: not-allowed;
          background-color: transparent;
        }
      }

      &:hover {
        cursor: pointer;
      }

      &.multiselect {
        justify-content: initial;
      }
    }
  }
}
