.sdds-mode-light {
  --sdds-dropdown-option-bg: var(--sdds-grey-50);
  --sdds-dropdown-option-bg-hover: var(--sdds-grey-100);
  --sdds-dropdown-option-border: var(--sdds-grey-100);
  --sdds-dropdown-option-border-focus: var(--sdds-blue-400);
  --sdds-dropdown-option-selected: var(--sdds-grey-300);
  --sdds-dropdown-option-color: var(--sdds-grey-900);
  --sdds-dropdown-option-color-disabled: var(--sdds-grey-400);

  .sdds-mode-variant-primary {
    --sdds-dropdown-option-bg: var(--sdds-grey-50);
  }

  .sdds-mode-variant-secondary {
    --sdds-dropdown-option-bg: var(--sdds-white);
  }
}

.sdds-mode-dark {
  --sdds-dropdown-option-bg: var(--sdds-grey-868);
  --sdds-dropdown-option-bg-hover: var(--sdds-grey-800);
  --sdds-dropdown-option-border: var(--sdds-grey-800);
  --sdds-dropdown-option-border-focus: var(--sdds-blue-400);
  --sdds-dropdown-option-selected: var(--sdds-grey-700);
  --sdds-dropdown-option-color: var(--sdds-grey-50);
  --sdds-dropdown-option-color-disabled: var(--sdds-grey-800);

  .sdds-mode-variant-primary {
    --sdds-dropdown-option-bg: var(--sdds-grey-868);
  }

  .sdds-mode-variant-secondary {
    --sdds-dropdown-option-bg: var(--sdds-grey-900);
  }
}
