@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';
@import '../../helpers/components-shared';

:host,
.sdds-table {
  border-collapse: collapse;
  display: table;
}

// Actionbar buttons styling - has to be part of general styling as it comes as slotted, from outside

.sdds-table__actionbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  min-width: 40px;
  border: none;
  background-color: transparent;
  color: var(--sdds-grey-958);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms ease;
  margin-left: 0;

  &:focus {
    @include sdds-focus-state;
  }

  &:hover {
    background-color: var(--sdds-grey-300);
  }
}

.sdds-table__actionbar-btn-icon {
  height: 20px;
  width: auto;
}
