@import "@scania/typography/dist/scss/mixins";
@import "@scania/typography/dist/scss/tokens";
@import "../../helpers/components-shared";

:host,
.sdds-table {
  border-collapse: collapse;
  display: table;

  .sdds-table__body {
    display: table-row-group;
  }

  .sdds-table__row {
    display: table-row;
    border-bottom: 1px solid var(--sdds-grey-400);
    background-color: var(--sdds-white);
    transition: background-color 200ms ease;
  }

  .sdds-table__row:hover {
    background-color: var(--sdds-grey-100);
  }

  .sdds-table__row--selected {
    background-color: var(--sdds-grey-300);
  }

  .sdds-table__row--selected:hover {
    background-color: var(--sdds-grey-400);
  }

  .sdds-table__row--hidden {
    display: none;
  }

  .sdds-table__row--expended {
    width: 100%;
    background-color: pink;
  }

  .sdds-table__body-cell,
  ::slotted(sdds-body-cell) {
    @include type-style("detail-02");

    display: table-cell;
    box-sizing: border-box;
    color: var(--sdds-grey-958);
    padding: var(--sdds-spacing-element-16);
    min-width: 192px;
    vertical-align: top;
    background-color: transparent;
    transition: background-color 200ms ease;
  }

  .sdds-table__body-cell--hover {
    background-color: var(--sdds-grey-200);
  }

  .sdds-table__body-cell--checkbox {
    min-width: 48px;
    width: 48px;
    padding: 0;
  }

  // SDDS GLOBAL STYLES:
  &.sdds-table--compact {
    .sdds-table__upper-bar {
      height: 56px;
    }

    .sdds-table__body-cell,
    ::slotted(sdds-body-cell) {
      padding: var(--sdds-spacing-element-8) var(--sdds-spacing-element-16);
    }

    .sdds-table__body-cell--checkbox {
      min-width: 32px;
      width: 32px;
      padding: 0;
    }

    .sdds-table__header-cell,
    ::slotted(sdds-header-cell) {
      height: 32px;
    }

    .sdds-form-label--data-table {
      height: 32px;
    }
  }

  &.sdds-table--divider {
    .sdds-table__header-cell,
    ::slotted(sdds-header-cell),
    .sdds-table__body-cell,
    ::slotted(sdds-body-cell) {
      border-right: 1px solid var(--sdds-grey-400);
    }

    .sdds-table__header-cell:last-child,
    ::slotted(sdds-header-cell:last-child),
    .sdds-table__body-cell:last-child,
    ::slotted(sdds-body-cell:last-child) {
      border-right: none;
    }
  }

  &.sdds-table--no-min-width {
    .sdds-table__header {
      .sdds-table__header-cell,
      ::slotted(.sdds-table__header-cell) {
        min-width: unset;
      }
    }

    .sdds-table__body {
      .sdds-table__body-cell,
      ::slotted(sdds-body-cell) {
        min-width: unset;
      }
    }
  }

  &.sdds-table--on-white-bg {
    .sdds-table__row {
      background-color: var(--sdds-grey-50);
    }

    .sdds-table__row:hover {
      background-color: var(--sdds-grey-200);
    }
  }

  // Rule to fix tiny gap that shows when multiselect is on but table has no caption area
  &.sdds-table--multiselect {
    sdds-table-header {
      ::slotted(sdds-header-cell:first-of-type) {
        border-top-left-radius: 0;
      }
    }
  }

  //Web component specific part

  .sdds-table__upper-bar + .sdds-table__header {
    ::slotted(sdds-header-cell) {
      border-radius: 0;
    }
  }
}

// Actionbar buttons styling

.sdds-table__actionbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  min-width: 40px;
  border: none;
  background-color: transparent;
  color: var(--sdds-grey-958);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms ease;
  margin-left: 0;

  &:focus {
    @include sdds-focus-state;
  }

  &:hover {
    background-color: var(--sdds-grey-300);
  }
}

.sdds-table__actionbar-btn-icon {
  height: 20px;
  width: auto;
}
