@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';

.sdds-table {
  border-collapse: collapse;

  .sdds-table__title {
    @include type-style('headline-07');

    background-color: var(--sdds-grey-400);
    color: var(--sdds-grey-958);
    text-align: left;
    padding-top: var(--sdds-spacing-element-16);
    padding-left: var(--sdds-spacing-element-16);
    padding-bottom: var(--sdds-spacing-element-32);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .sdds-table__title + .sdds-table__header {
    .sdds-table__header-cell,
    ::slotted(sdds-table-head) {
      &:first-child {
        border-top-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
      }
    }
  }

  .sdds-table__header {
    .sdds-table__header-cell,
    ::slotted(.sdds-table__header-cell) {
      @include type-style('headline-07');

      display: table-cell;
      text-align: left;
      color: var(--sdds-grey-958);
      background-color: var(--sdds-grey-300);
      padding: var(--sdds-spacing-element-16);
      min-width: 192px;

      &:first-child {
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
      }
    }

    ::slotted(.sdds-table__header-cell--sortable) {
      padding: 0;
    }
  }

  .sdds-table__row {
    border-bottom: 1px solid var(--sdds-grey-400);
  }

  .sdds-table__row:hover {
    background-color: var(--sdds-grey-100);
  }

  .sdds-table__header-cell,
  ::slotted(sdds-table-head),
  .sdds-table__body-cell {
    @include type-style('detail-02');

    color: var(--sdds-grey-958);
    background-color: var(--sdds-white);
    padding: var(--sdds-spacing-element-16);
    min-width: 192px;
    vertical-align: top;
    transition: background-color 250ms ease;
  }

  // SDDS GLOBAL STYLES:
  &.sdds-table-compact {
    .sdds-table__title {
      padding-bottom: var(--sdds-spacing-element-24);
    }

    .sdds-table__header-cell,
    ::slotted(sdds-table-head),
    .sdds-table__body-cell {
      padding: var(--sdds-spacing-element-8) var(--sdds-spacing-element-16);
    }
  }

  &.sdds-table-divider {
    .sdds-table__body-cell:not(:first-child) {
      border-left: 1px solid var(--sdds-divider-light);
    }
  }

  //Web component specific part

  ::slotted(sdds-table-head:first-child) {
    border-top-left-radius: 4px;
  }

  ::slotted(sdds-table-head:last-child) {
    border-top-right-radius: 4px;
  }

  .sdds-table__title + .sdds-table__header {
    ::slotted(sdds-table-head:first-child) {
      border-top-left-radius: 0;
    }

    ::slotted(sdds-table-head:last-child) {
      border-top-right-radius: 0;
    }
  }
}

:host(.sdds-table__header-cell--sortable) {
  button {
    background-color: yellow;
    border: none;
    cursor: pointer;
    width: 100%;
  }
}
