@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';

.sdds-table {
  border-collapse: collapse;
  display: table;

  .sdds-table__title {
    @include type-style('headline-07');

    background-color: var(--sdds-grey-400);
    color: var(--sdds-grey-958);
    text-align: left;
    padding-top: var(--sdds-spacing-element-16);
    padding-left: var(--sdds-spacing-element-16);
    padding-bottom: var(--sdds-spacing-element-32);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  // Fix that works for css&html version only
  .sdds-table__header {
    .sdds-table__header-cell {
      &:first-child {
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
      }
    }
  }

  .sdds-table__title + .sdds-table__header {
    .sdds-table__header-cell,
    ::slotted(sdds-header-cell) {
      border-radius: 0;
    }
  }

  .sdds-table__header {
    .sdds-table__header-cell,
    ::slotted(sdds-header-cell) {
      @include type-style('headline-07');

      display: table-cell;
      text-align: left;
      color: var(--sdds-grey-958);
      background-color: var(--sdds-grey-300);
      border-bottom: 1px solid var(--sdds-grey-400);
      padding: 0;
      height: 48px;
      min-width: 192px;
      box-sizing: border-box;

      // To fix issues with border-radius propagating up from button
      overflow: hidden;
      transition: background-color 200ms ease;

      &:first-child {
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
      }
    }

    .sdds-table__header-cell--checkbox {
      min-width: unset;
      width: 48px;
      padding: 0;
    }
  }

  .sdds-table__header {
    ::slotted(sdds-header-cell:hover) {
      background-color: var(--sdds-grey-400);
    }
  }

  .sdds-table__row {
    border-bottom: 1px solid var(--sdds-grey-400);
    background-color: var(--sdds-white);
    transition: background-color 200ms ease;
  }

  .sdds-table__row:hover {
    background-color: var(--sdds-grey-100);
  }

  // TODO: Check with Alex which colors are used on white background :)
  .sdds-table__row--selected {
    background-color: var(--sdds-grey-300);
  }

  .sdds-table__row--selected:hover {
    background-color: var(--sdds-grey-400);
  }

  .sdds-table__body-cell,
  ::slotted(sdds-body-cell) {
    @include type-style('detail-02');

    display: table-cell;
    box-sizing: border-box;
    color: var(--sdds-grey-958);
    padding: var(--sdds-spacing-element-16);
    min-width: 192px;
    vertical-align: top;
    background-color: transparent;
    transition: background-color 200ms ease;
  }

  .sdds-table__body-cell--hover {
    background-color: var(--sdds-grey-200);
  }

  .sdds-table__body-cell--checkbox {
    min-width: unset;
    width: 48px;
    padding: 0;
  }

  // SDDS GLOBAL STYLES:
  &.sdds-table--compact {
    .sdds-table__title {
      padding-bottom: var(--sdds-spacing-element-24);
    }

    .sdds-table__body-cell,
    ::slotted(sdds-body-cell) {
      padding: var(--sdds-spacing-element-8) var(--sdds-spacing-element-16);
    }

    .sdds-table__body-cell--checkbox {
      padding: 0;
    }

    .sdds-table__header-cell,
    ::slotted(sdds-header-cell) {
      height: 32px;
    }

    .sdds-form-label--data-table {
      height: 32px;
    }
  }

  &.sdds-table--divider {
    .sdds-table__header-cell,
    ::slotted(sdds-header-cell),
    .sdds-table__body-cell,
    ::slotted(sdds-body-cell) {
      border-right: 1px solid var(--sdds-grey-400);
    }

    .sdds-table__header-cell:last-child,
    ::slotted(sdds-header-cell:last-child),
    .sdds-table__body-cell:last-child,
    ::slotted(sdds-body-cell:last-child) {
      border-right: none;
    }
  }

  &.sdds-table--no-min-width {
    .sdds-table__header {
      .sdds-table__header-cell,
      ::slotted(.sdds-table__header-cell) {
        min-width: unset;
      }
    }

    .sdds-table__body {
      .sdds-table__body-cell,
      ::slotted(sdds-body-cell) {
        min-width: unset;
      }
    }
  }

  &.sdds-table--on-white-bg {
    .sdds-table__row {
      background-color: var(--sdds-grey-50);
    }

    .sdds-table__row:hover {
      background-color: var(--sdds-grey-200);
    }
  }

  //Web component specific part

  ::slotted(sdds-header-cell:first-child) {
    border-top-left-radius: 4px;
  }

  ::slotted(sdds-header-cell:last-child) {
    border-top-right-radius: 4px;
  }

  .sdds-table__title + .sdds-table__header {
    ::slotted(sdds-header-cell) {
      border-radius: 0;
    }
  }
}

// Styling anything inside table-header-cell or sdds-header-cell

:host(.sdds-table__header-cell) {
  vertical-align: middle;

  .sdds-table__header-text {
    padding: 0 16px;
    margin: 0;
  }
}

:host(.sdds-table__header-cell--sortable) {
  .sdds-table__header-button {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 200ms ease;

    &:focus {
      outline: 2px solid var(--sdds-blue-400);
      outline-offset: -2px;

      .sdds-table__header-button-icon {
        opacity: 1;
      }
    }

    .sdds-table__header-button-text {
      @include type-style('headline-07');

      text-align: left;
      color: var(--sdds-grey-958);
    }

    .sdds-table__header-button-icon {
      /* not to shrink on lot of text */
      flex: 0 0 16px;
      height: 16px;
      opacity: 0;
      transform-origin: center;
      transition: opacity 200ms ease-in, transform 200ms ease;
    }

    &:hover {
      .sdds-table__header-button-icon {
        opacity: 1;
      }
    }
  }
}

:host(.sdds-table__header-cell--right-align) {
  .sdds-table__header-button {
    text-align: right;
    justify-content: end;
    flex-direction: row-reverse;
  }
}

:host(.sdds-table__header-cell--is-sorted) {
  .sdds-table__header-button {
    background-color: var(--sdds-grey-500);

    &:hover {
      background-color: var(--sdds-grey-400);
    }

    .sdds-table__header-button-icon {
      opacity: 1;
    }

    .sdds-table__header-button-icon--rotate {
      transform: rotate(180deg);
    }
  }
}

/* test checkboxes */

.sdds-checkbox-item {
  @include type-style("detail-02");

  color: var(--sdds-checkbox-text);
  display: flex;
  align-items: center;

  .sdds-form-input[type="checkbox"] {
    appearance: none;
    outline: none;
    margin: 0;
    border: 0;
    border-radius: 2px;
    background-color: var(--sdds-checkbox-interaction-02);
    width: 4rem;
    height: 4rem;
    position: relative;
    cursor: pointer;

    + label {
      padding-left: var(--sdds-spacing-element-8);
      padding-top: var(--sdds-spacing-element-4);
      padding-bottom: var(--sdds-spacing-element-4);
      cursor: pointer;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      box-sizing: border-box;
      border-radius: 2px;
    }

    &::before {
      width: 6rem;
      height: 6rem;
      left: -4px;
      top: -4px;
    }

    &::after {
      border: 1px solid var(--sdds-checkbox-interaction-01);
      background-color: var(--sdds-checkbox-interaction-02);
      width: 4rem;
      height: 4rem;
    }

    &:hover {
      &::before {
        background-color: var(--sdds-checkbox-bg-hover);
        opacity: 0.12;
      }
    }

    &:focus {
      &::before {
        background-color: var(--sdds-checkbox-bg-focus);
        opacity: 0.24;
        animation: cb-focus 0.4s cubic-bezier(0.65, 0.05, 0.38, 0.95) forwards;
      }
    }

    &:disabled,
    &.disabled {
      cursor: default;

      &::after {
        border-color: var(--sdds-checkbox-disabled);
      }

      + label {
        color: var(--sdds-checkbox-disabled);
        cursor: default;
      }

      &:hover {
        &::before {
          display: none;
        }
      }
    }
  }
}

.sdds-form-input[type="checkbox"]:checked {
  &::after {
    background-color: var(--sdds-checkbox-interaction-01);
    background-image: url("data:image/svg+xml;utf8,<svg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M1 2.33333L3.4 5C4.80589 3.4379 5.59411 2.5621 7 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:disabled,
  &.disabled {
    &:hover::before,
    &::before {
      display: block;
      width: 4rem;
      height: 4rem;
      left: 0;
      top: 0;
      border: 1px solid var(--sdds-checkbox-disabled);
    }

    &::after {
      background-color: var(--sdds-checkbox-interaction-02);
      color: var(--sdds-checkbox-disabled);
      background-image: url("data:image/svg+xml;utf8,<svg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M1 2.33333L3.4 5C4.80589 3.4379 5.59411 2.5621 7 1' stroke='%23C5C6C9' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    }
  }
}

@keyframes cb-focus {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// TODO: Place this code in correct position
.sdds-form-label--data-table {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
