@import '../../../mixins/focus-state';
@import '../../../mixins/box-sizing';

.sdds-inline-tabs-fullbleed {
  @include sdds-box-sizing;

  display: flex;
  position: relative;

  &::after {
    content: ' ';
    display: block;
    border-bottom: 1px solid var(--sdds-inline-tabs-fullbleed-horizontal-divider-background);
    opacity: var(--sdds-inline-tabs-fullbleed-horizontal-divider-opacity);
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  &-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--forward,
  &--back {
    cursor: pointer;
    width: 48px;
    height: 100%;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--sdds-inline-tabs-fullbleed-scroll-btn-background);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

    &__show {
      opacity: 1;
      pointer-events: all;
    }

    &:hover {
      background-color: var(--sdds-inline-tabs-fullbleed-scroll-btn-background-hover);
    }

    &:active {
      background-color: var(--sdds-inline-tabs-fullbleed-scroll-btn-background-active);
    }

    &:focus {
      @include sdds-focus-state;
    }
    svg{
      fill:var(--sdds-inline-tabs-scroll-btn-color);
    }
  }

  &-centered {
    justify-content: center;
  }

  /* tab */
  ::slotted(&--tab) {
    //fixme: headline-07 has a line-height that is not matching old storybook
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    color: var(--sdds-inline-tabs-fullbleed-tab-color);
    opacity: 0.6;
    padding: 16px 0;
    margin-right: 32px;
    text-decoration: none;
    display: block;
    position: relative;
    transition: color 0.15s ease-in-out;
    white-space: nowrap;
    text-align: left;

    &::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-left: auto;
      width: 0;
      margin-right: auto;
      height: 2px;
      background-color: var(--sdds-inline-tabs-fullbleed-tab-indicator-background-hover);
      transition: width 0.15s ease-in-out;
      z-index: 1;
    }
  }
  
  ::slotted(&--tab__active) {
    color: var(--sdds-inline-tabs-fullbleed-tab-color-active);
    opacity:1;

    &::after {
      width: 100%;
      background-color: var(--sdds-inline-tabs-fullbleed-tab-indicator-background-active);
    }
  }

  ::slotted(&--tab:first-child) {
    margin-left: 32px;
  }

  ::slotted(&--tab:last-child) {
    margin-right: 32px;
  }

  /* tab states */
  ::slotted(&--tab:hover) {
    color: var(--sdds-inline-tabs-fullbleed-tab-color-hover);
    opacity:1;

    &::after {
      width: 100%;
    }
  }

  ::slotted(&--tab:focus) {
    @include sdds-focus-state;

    color: var(--sdds-inline-tabs-fullbleed-tab-color-focus);
    opacity:1;
    
    &::after {
      width: 0;
    }
  }

  ::slotted(&--tab__active:focus)::after {
    width: 100%;
  }

  ::slotted(&--tab__disabled) {
    color: var(--sdds-inline-tabs-fullbleed-tab-color-disabled);
    pointer-events: none;
    opacity: var(--sdds-inline-tabs-fullbleed-tab-color-opacity-disabled);
  }
}

.sdds-inline-tabs-fullbleed-primary {
  background-color: var(--sdds-inline-tabs-fullbleed-tab-background-primary);

  .sdds-inline-tabs-fullbleed--forward {
    background-color: var(--sdds-inline-tabs-fullbleed-tab-background-primary);
  }

  .sdds-inline-tabs-fullbleed--back {
    background-color: var(--sdds-inline-tabs-fullbleed-tab-background-primary);
  }
}

.sdds-inline-tabs-fullbleed-secondary {
  background-color: var(--sdds-inline-tabs-fullbleed-tab-background-secondary);

  .sdds-inline-tabs-fullbleed--forward {
    background-color: var(--sdds-inline-tabs-fullbleed-tab-background-secondary);
  }

  .sdds-inline-tabs-fullbleed--back {
    background-color: var(--sdds-inline-tabs-fullbleed-tab-background-secondary);
  }
}
