:root,
.sdds-theme-light {
  /* Horizontal divider */
  --sdds-inline-tabs-fullbleed-horizontal-divider-bg: var(--sdds-grey-300);

  /* Scroll button */
  --sdds-inline-tabs-fullbleed-scroll-btn-bg: var(--sdds-grey-50);
  --sdds-inline-tabs-fullbleed-scroll-btn-hover-bg: var(--sdds-grey-300);
  --sdds-inline-tabs-fullbleed-scroll-btn-active-bg: var(--sdds-grey-400);

  /* Tab */
  --sdds-inline-tabs-fullbleed-tab-hover-indicator-bg: var(--sdds-grey-400);
  --sdds-inline-tabs-fullbleed-tab-hover-color: var(--sdds-grey-958);
  --sdds-inline-tabs-fullbleed-tab-focus-color: var(--sdds-grey-958);
  --sdds-inline-tabs-fullbleed-tab-active-color: var(--sdds-grey-958);
  --sdds-inline-tabs-fullbleed-tab-active-indicator-bg: var(--sdds-blue-400);
}

.sdds-theme-dark {
  //todo
}
