:host {
  display: block;
  position: relative;
  width: 100%;

  .dropdown-button {
    background-color: var(--sdds-dropdown-bg);
    border-radius: 4px 4px 0 0;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 16px;

    sdds-icon {
      transition: transform 0.2s ease-in-out;

      &.lg {
        padding-top: 4px;
      }

      &.md {
        padding-top: 4px;
      }

      &.sm {
        padding-top: 4px;
      }
    }

    &.open {
      sdds-icon {
        transform: rotate(180deg);
      }
    }

    &.lg {
      height: 56px;
    }

    &.md {
      height: 48px;
    }

    &.sm {
      height: 40px;
    }

    input[type='button'] {
      padding: 0 16px;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      max-height: 56px;
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--sdds-grey-800);
      text-align: left;

      &.error {
        border-bottom: 1px solid var(--sdds-negative);
      }

      
      &.lg.inside {
        padding-top: 4px;
      }
      
      &.md.inside {
        padding-top: 4px;
      }

      &.open {
        border-bottom: 1px solid var(--sdds-blue-400);
      }
    }
  }

  .label-inside {
    position: absolute;
    font: var(--sdds-detail-07);
    letter-spacing: var(--sdds-detail-07-ls);
    color: var(--sdds-grey-700);

    &.lg {
      top: 12px;
      left: 16px;
    }

    &.md {
      top: 8px;
      left: 16px;
    }

    &.sm {
      display: none;
    }
  }

  .label-as-placeholder {
    position: absolute;
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    color: var(--sdds-grey-700);

    &.lg {
      top: 20px;
      left: 16px;

      &.selected {
        font: var(--sdds-detail-07);
        letter-spacing: var(--sdds-detail-07-ls);
        top: 12px;
        transition: all 0.2s ease-in-out;
      }
    }

    &.md {
      top: 8px;
      left: 16px;
    }

    &.sm {
      display: none;
    }
  }

  .label-outside {
    font: var(--sdds-detail-05);
    letter-spacing: var(--sdds-detail-05-ls);
    color: var(--sdds-grey-958);
    margin-bottom: 8px;
  }

  .helper {
    margin-top: 4px;
    color: var(--sdds-grey-700);
    font: var(--sdds-detail-05);
    letter-spacing: var(--sdds-detail-05-ls);
    display: flex;
    align-items: center;
    gap: 8px;

    &.error {
      color: var(--sdds-negative);
    }
  }

  .dropdown-menu {
    position: relative;

    ul {
      position: absolute;
      top: 100%;
      left: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      box-shadow: rgb(0 0 0 / 10%) 0 2px 3px 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.2s ease-in-out;
    }

    &.open-up {
      ul {
        top: auto;
        transform-origin: bottom;
        box-shadow: 0 -1px 3px 0 rgb(0 0 0 / 10%);

        &.lg {
          bottom: 56px;
        }

        &.md {
          bottom: 48px;
        }

        &.sm {
          bottom: 40px;
        }
      }

      &.label-outside {
        ul {
          &.lg {
            bottom: calc(56px + 20px);
          }

          &.md {
            bottom: calc(48px + 20px);
          }

          &.sm {
            bottom: calc(40px + 20px);
          }
        }
      }
    }

    &.open-down {
      &.helper-bottom {
        ul {
          top: calc(100% - 20px);
        }
      }
    }

    &.helper-bottom {
      ul {
        top: calc(100% - 20px);
      }
    }

    &.open {
      ul {
        transform: scaleY(1);
      }
    }
  }
}
