///////////////////////////////////LINEAR///////////////////////////////////
:root,
html,
:host {
  --sdds-spinner-alpha-background: var(--sdds-blue-500);
  --sdds-spinner-alpha-border-color: var(--sdds-grey-400);
}

:host {
  display: block;
}

$number-rect: 5;

@mixin rect {
  @for $variable from 1 through $number-rect {
    .rect#{$variable} {
      @extend %spinner-alpha-rect;

      animation-delay: calc((#{$variable} / 10) * 1s - 1.3s);
    }
  }
}

%spinner-alpha-rect {
  background-color: var(--sdds-spinner-alpha-background);
  height: 100%;
  width: 12%;
  margin-right: 2px;
  display: inline-block;
  animation: spinner-alpha-linear 1.3s infinite ease-in-out;
}

.sdds-spinner-alpha-linear,
.sdds-spinner-alpha-linear-md {
  width: 50px;
  height: 40px;

  @include rect;

  &.sdds-spinner-alpha-linear-sm {
    width: calc(50px / 2);
    height: calc(40px / 2);
  }
}

@keyframes spinner-alpha-linear {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
  }
}

@keyframes spinner-alpha-linear {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
  }
}

///////////////////////////////////CIRCULAR///////////////////////////////////

%spinner-alpha-circular {
  min-width: 40px;
  min-height: 40px;
  border: 0.25em solid var(--sdds-spinner-alpha-border-color);
  border-right: 0.25em solid var(--sdds-spinner-alpha-background);
  border-radius: 50%;
  animation: spinner-alpha-circular 0.6s linear infinite;
}

.sdds-spinner-alpha-circular,
.sdds-spinner-alpha-circular-md {
  @extend %spinner-alpha-circular;

  &.sdds-spinner-alpha-circular-sm {
    min-width: 20px;
    min-height: 20px;
    border: 0.2em solid var(--sdds-spinner-alpha-border-color);
    border-right: 0.2em solid var(--sdds-spinner-alpha-background);
  }
}

@keyframes spinner-alpha-circular {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-alpha-circular {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

///////////////////////////////////CUBIC///////////////////////////////////
%spinner-alpha-cube {
  width: 33%;
  height: 33%;
  background-color: var(--sdds-spinner-alpha-background);
  float: left;
  animation: spinner-alpha 1.3s infinite ease-in-out;
}

.sdds-spinner-alpha-cube,
.sdds-spinner-alpha-cube-md {
  width: 40px;
  height: 40px;

  &.sdds-spinner-alpha-cube-sm {
    width: 20px;
    height: 20px;
  }
}

.cube1,
.cube5,
.cube9 {
  @extend %spinner-alpha-cube;

  animation-delay: 0.2s;
}

.cube2,
.cube6 {
  @extend %spinner-alpha-cube;

  animation-delay: 0.3s;
}

.cube4,
.cube8 {
  @extend %spinner-alpha-cube;

  animation-delay: 0.1s;
}

.cube3 {
  @extend %spinner-alpha-cube;

  animation-delay: 0.4s;
}

.cube7 {
  @extend %spinner-alpha-cube;

  animation-delay: 0s;
}

@keyframes spinner-alpha {
  0%,
  70%,
  100% {
    transform: scale(1, 1);
  }

  35% {
    transform: scale(0, 0);
  }
}

@keyframes spinner-alpha {
  0%,
  70%,
  100% {
    transform: scale(1, 1);
  }

  35% {
    transform: scale(0, 0);
  }
}
