:root,
.sdds-theme-light {
  --sdds-link: var(--sdds-blue-500);
  --sdds-link-hover: var(--sdds-blue-400);
  --sdds-link-focus: var(--sdds-blue-400);
  --sdds-link-visited: var(--sdds-blue-400);
  --sdds-link-disabled: var(--sdds-grey-400);
}

.sdds-theme-dark {
  --sdds-link: var(--sdds-red-500);
  --sdds-link-hover: var(--sdds-red-400);
  --sdds-link-focus: var(--sdds-red-400);
  --sdds-link-visited: var(--sdds-red-400);
  --sdds-link-disabled: var(--sdds-grey-400);
}
