@import '../../helpers/style-helpers.scss';

.#{$prefix}-link {
  cursor: pointer;
  outline: none;

  &,
  &.active,
  &:active {
    color: var(--sdds-link);
    text-decoration: var(--sdds-link-text-decoration);
    text-decoration-color: var(--sdds-link);
  }

  &:hover {
    color: var(--sdds-link-hover);
    text-decoration: var(--sdds-link-text-decoration);
    text-decoration-color: var(--sdds-link-hover);
  }

  &:visited {
    color: var(--sdds-link-visited);
    text-decoration-color: var(--sdds-link-visited);
  }

  &:focus {
    color: var(--sdds-link-focus);
    text-decoration: none;
    outline: var(--sdds-link-focus-border);
  }

  &:disabled,
  &.disabled {
    color: var(--sdds-link-disabled);
    text-decoration-color: var(--sdds-link-disabled);
    pointer-events: none;
  }

  &--no-underline {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
