@import "../../helpers/components-shared";

:root {
  --sdds-link: var(--sdds-blue-500);
  --sdds-link-hover: var(--sdds-blue-400);
  --sdds-link-focus: var(--sdds-blue-400);
  --sdds-link-visited: var(--sdds-blue-400);
  --sdds-link-disabled: var(--sdds-grey-400);
}

.sdds-link {
  cursor: pointer;
  outline: none;

  &,
  &.active,
  &:active {
    color: var(--sdds-link);
    text-decoration: underline;
    text-decoration-color: var(--sdds-link);
  }

  &:hover {
    color: var(--sdds-link-hover);
    text-decoration: underline;
    text-decoration-color: var(--sdds-link-hover);
  }

  &:visited {
    color: var(--sdds-link-visited);
    text-decoration-color: var(--sdds-link-visited);
  }

  &:focus {
    color: var(--sdds-link-focus);
    text-decoration: none;

    @include sdds-focus-state;
  }

  &:disabled,
  &.disabled {
    color: var(--sdds-link-disabled);
    text-decoration-color: var(--sdds-link-disabled);
    pointer-events: none;
  }

  &--no-underline {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
