$border-types: top, right, bottom, left;

:root,
.sdds-theme-light {
  --sdds-divider-background: var(--sdds-grey-300);
}
:root,
.sdds-theme-dark {
  --sdds-divider-background: var(--sdds-grey-700);
}
:root,
.sdds-theme-colored {
  --sdds-divider-background: var(--sdds-blue-700);
}