@import '../../mixins/box-sizing';

.divider {
  @include sdds-box-sizing;

  &.horizontal {
    background-color: var(--sdds-divider-background);
    width: 100%;
    height: 1px;
  }

  &.vertical {
    background-color: var(--sdds-divider-background);
    height: 100%;
    width: 1px;
  }
}
