@import './divider-vars.scss';

$border-types: top, right, bottom, left;

.sdds-divider {
  background-color: var(--sdds-divider-background);
  height: 1px;
  box-sizing: border-box;
}

.sdds-divider-vertical {
  background-color: var(--sdds-divider-background);
  height: 100%;
  width: 1px;
  box-sizing: border-box;
}

@each $border-type in $border-types {
  .sdds-divider-border-#{$border-type} {
    border-#{$border-type}: 1px solid var(--sdds-divider-background);
    box-sizing: border-box;
  }
}
