@function map-collect($maps...) {
  $collection: ();

  @each $map in $maps {
    $collection: map-merge($collection, $map);
  }
  @return $collection;
}

@function get-colour-original($token) {
  @return map-get($original-colours, $token);
}

// to get colour token from scss

@function get-colour($token) {
  @return map-get($all-colours, $token);
} ;
