:host {
  display: contents;

  .sdds-table__row,
  .sdds-table__row-extend {
    display: table-row;
    border-bottom: 1px solid var(--sdds-grey-400);
    background-color: var(--sdds-white);
    transition: background-color 200ms ease;
  }

  .sdds-table__expand-control-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    cursor: pointer;

    .sdds-table__expand-input {
      display: none;
    }

    .sdds-expendable-row-icon {
      height: 20px;
      width: 20px;
      transition: transform 200ms ease;
      transform: rotate(0);
    }
  }

  .sdds-table__row-extend {
    visibility: collapse;
    transition: background-color 200ms ease;

    .sdds-table__cell-extend {
      padding: 16px 16px 16px 66px;
    }
  }
}

:host(.sdds-table__row-extend--active) {
  .sdds-table__row {
    background-color: var(--sdds-grey-300);
  }

  .sdds-table__expand-control-container {
    .sdds-expendable-row-icon {
      transform: rotate(180deg);
    }
  }

  .sdds-table__row-extend {
    background-color: var(--sdds-grey-300);
    visibility: visible;
  }
}
