html,
:root {
  --sdds-message-type-informative-color: var(--sdds-grey-958);
  --sdds-message-type-informative-background: var(--sdds-grey-50);
  --sdds-message-type-informative-background-secondary: var(--sdds-white);
  --sdds-message-type-error-color: var(--sdds-grey-958);
  --sdds-message-type-error-background: var(--sdds-red-50);
  --sdds-message-type-warning-color: var(--sdds-grey-958);
  --sdds-message-type-warning-background: var(--sdds-grey-50);
  --sdds-message-type-warning-background-ongrey: var(--sdds-white);
  --sdds-message-type-success-color: var(--sdds-grey-958);
  --sdds-message-type-success-background: var(--sdds-grey-50);
  --sdds-message-type-success-background-ongrey: var(--sdds-white);

  .sdds-theme-light {
    --sdds-message-type-informative-color: var(--sdds-grey-958);
    --sdds-message-type-informative-background: var(--sdds-grey-50);
    --sdds-message-type-informative-background-secondary: var(--sdds-white);
    --sdds-message-type-error-color: var(--sdds-grey-958);
    --sdds-message-type-error-background: var(--sdds-red-50);
    --sdds-message-type-warning-color: var(--sdds-grey-958);
    --sdds-message-type-warning-background: var(--sdds-grey-50);
    --sdds-message-type-warning-background-ongrey: var(--sdds-white);
    --sdds-message-type-success-color: var(--sdds-grey-958);
    --sdds-message-type-success-background: var(--sdds-grey-50);
    --sdds-message-type-success-background-ongrey: var(--sdds-white);
  }

  .sdds-mode-variant-secondary {
    --sdds-message-type-informative-background: var(
      --sdds-message-type-informative-background-secondary
    );
  }
  .sdds-theme-dark {
    --sdds-message-type-informative-color: var(--sdds-grey-50);
    --sdds-message-type-informative-background: var(--sdds-grey-900);
    --sdds-message-type-informative-background-secondary: var(--sdds-gre-868);
    --sdds-message-type-error-color: var(--sdds-grey-50);
    --sdds-message-type-error-background: rgb(255 35 64 / 24%);
    --sdds-message-type-warning-color: var(--sdds-grey-50);
    --sdds-message-type-warning-background: var(--sdds-grey-900);
    --sdds-message-type-warning-background-ongrey: var(--sdds-white);
    --sdds-message-type-success-color: var(--sdds-grey-50);
    --sdds-message-type-success-background: var(--sdds-grey-900);
    --sdds-message-type-success-background-ongrey: var(--sdds-white);
  }

  .sdds-mode-variant-secondary {
    --sdds-message-type-informative-background: var(
      --sdds-message-type-informative-background-secondary
    );
  }
}
