@import './message-vars.scss';
@import '../../mixins/box-sizing';

.sdds-message {
  @include sdds-box-sizing;

  display: block;
  padding: 16px 32px 16px 20px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  color: var(--sdds-grey-958);
  background-color: var(--sdds-message-background);
  margin-bottom: 12px;

  &-single {
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    max-width: 486px;
  }

  &-extended {
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    margin-top: 4px !important;
    margin-bottom: 0 !important;
    max-width: 486px;
  }

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 4px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--sdds-information);
  }

  &-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);

    path {
      fill: var(--sdds-information);
    }
  }

  /* modifiers */

  &-icon-active {
    padding: 18px 32px 18px 20px;

    .sdds-message-single,
    .sdds-message-extended {
      padding-left: 36px;
    }
  }

  &-extended-active {
    .sdds-message-icon {
      top: 16px;
      left: 20px;
      transform: translateY(0%);
    }
  }

  &-minimal {
    background-color: transparent !important;

    &::before {
      display: none;
    }

    .sdds-message-single {
      font: var(--sdds-detail-02);
      letter-spacing: var(--sdds-detail-02-ls);
      font-weight: normal;
      padding-left: 8px;
    }

    .sdds-message-icon {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  /* types */

  &-type {
    &-informative {
      color: var(--sdds-message-color);
      background-color: var(--sdds-message-background);

      &::before {
        background-color: var(--sdds-information);
      }

      .sdds-message-icon {
        display: none;

        &-informative {
          display: block;
          color: var(--sdds-information);
        }

        path {
          fill: var(--sdds-information);
        }
      }
    }

    &-error {
      color: var(--sdds-message-color);
      background-color: var(--sdds-message-type-error-background);

      &::before {
        background-color: var(--sdds-negative);
      }

      .sdds-message-icon {
        display: none;

        &-error {
          display: block;
          color: var(--sdds-negative);
        }

        path {
          fill: var(--sdds-negative);
        }
      }
    }

    &-warning {
      color: var(--sdds-message-color);
      background-color: var(--sdds-message-background);

      &::before {
        background-color: var(--sdds-warning);
      }

      .sdds-message-icon {
        display: none;

        &-warning {
          display: block;
          color: var(--sdds-warning);
        }

        path {
          fill: var(--sdds-warning);
        }
      }
    }

    &-success {
      color: var(--sdds-message-color);
      background-color: var(--sdds-message-background);

      &::before {
        background-color: var(--sdds-positive);
      }

      .sdds-message-icon {
        display: none;

        &-success {
          display: block;
          color: var(--sdds-positive);
        }

        path {
          fill: var(--sdds-positive);
        }
      }
    }
  }
}
