@import './footer-theme-vars.scss';
@import '../../mixins/box-sizing';
@import '../../mixins/focus-state';

@mixin footer-links {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;

    a {
      margin-right: var(--sdds-spacing-element-24);
      text-decoration: none;

      &:focus {
        @include sdds-focus-state;
      }
    }
  }
}

@mixin footer-top-link {
  position: relative;
  color: var(--sdds-footer-top-links);

  &::after {
    // this is the line that appears under top links and buttons in mobile version
    content: '';
    position: absolute;
    width: calc(100% + 120px);
    height: 100%;
    z-index: -1;
    border-bottom: 1px solid var(--sdds-footer-top-divider);
    box-sizing: border-box;
    bottom: 0;
    left: -48px;
  }

  @media all and (min-width: $grid-lg) {
    padding: 0;
    margin-bottom: var(--sdds-spacing-element-8);

    &::after {
      display: none;
    }
  }
}

.sdds-footer {
  @include sdds-box-sizing;

  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.sdds-footer-main-links,
.sdds-footer-social-links {
  @include footer-links;
}

.sdds-footer-top {
  background-color: var(--sdds-footer-top-background);

  .sdds-footer-title {
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    @include footer-top-link;

    padding: 20px 0;
    opacity: var(--sdds-footer-top-title-opacity-mobile);
    display: flex;
    cursor: pointer;

    span:first-child {
      flex-grow: 1;
    }

    .sdds-footer-top-icon {
      transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transform: rotate(0deg);
    }

    &.opened {
      .sdds-footer-top-icon {
        transform: rotate(180deg);
      }
    }
  }

  .sdds-footer-main-links {
    display: none;

    li a {
      padding: 20px;
      opacity: var(--sdds-footer-top-links-opacity);
      font-weight: normal;
      display: block;

      @include footer-top-link;

      &:hover,
      &.hover {
        text-decoration: underline;
        opacity: var(--sdds-footer-top-links-opacity-hover);
      }
    }

    &.opened {
      display: flex;
    }
  }
}

.sdds-footer-main {
  background-color: var(--sdds-footer-main-background);
  padding: 24px 24px 32px;
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column;

  .sdds-footer-main-links,
  .sdds-footer-social-links {
    li a {
      font-weight: bold;
      color: var(--sdds-footer-main-links);
      opacity: var(--sdds-main-links-opacity);
    }
  }

  .sdds-footer-main-links {
    margin-bottom: var(--sdds-spacing-element-24);

    li a {
      margin-bottom: var(--sdds-spacing-element-8);
      display: inline-block;

      &:hover,
      &.hover {
        text-decoration: underline;
      }
    }
  }

  .sdds-footer-social-links {
    margin-top: var(--sdds-spacing-element-24);
    margin-bottom: var(--sdds-spacing-element-24);
    flex-direction: row;

    li a {
      margin-left: 0;
      margin-right: var(--sdds-spacing-element-24);

      &:hover,
      &.hover {
        text-decoration: none;
      }
    }
  }

  .sdds-footer-main-brand {
    border-top: 1px solid var(--sdds-footer-main-divider);
    padding-top: 24px;
    padding-bottom: 116px;
    width: 100%;
    background-image: var(--sdds-background-image-scania-wordmark-white-png);
    background-image: var(--sdds-background-image-scania-wordmark-white-svg);
    background-repeat: no-repeat;
    background-size: 117px;
    background-position: right bottom;

    p {
      font: var(--sdds-detail-02);
      letter-spacing: var(--sdds-detail-02-ls);
      color: var(--sdds-footer-main-copyright);
      margin: 0;
      padding: 0;
    }
  }
}

@media all and (min-width: $grid-md) {
  .sdds-footer-main {
    padding: 24px 32px 32px;
  }
}

@media all and (min-width: $grid-lg) {
  .sdds-footer-top {
    padding-top: 40px;
    padding-bottom: 120px;

    .sdds-footer-title {
      opacity: var(--sdds-footer-top-title-opacity);
      cursor: default;

      .sdds-footer-top-icon {
        display: none;
      }
    }

    .sdds-footer-main-links {
      display: flex;

      li a {
        font-weight: bold;
      }
    }
  }

  .sdds-footer-main {
    padding: 40px 32px 0;
    flex-direction: row;
    flex-wrap: wrap;

    .sdds-footer-main-links {
      flex-direction: row;
      flex-grow: 1;
      margin-bottom: var(--sdds-spacing-element-40);

      li a {
        margin-bottom: 0;
      }
    }

    .sdds-footer-social-links {
      margin-top: 0;
      text-align: right;

      li a {
        margin-right: 0;
        margin-left: var(--sdds-spacing-element-24);
      }
    }

    .sdds-footer-main-brand {
      padding-top: 40px;
      padding-bottom: 40px;
      background-position: right center;
    }
  }
}
