:root,
.sdds-theme-light {
  --sdds-popover-color-default: var(--sdds-grey-958);
  --sdds-popover-bg-default: var(--sdds-white);
  --sdds-popover-bg-hover: var(--sdds-grey-100);
}

.sdds-theme-dark {
  --sdds-popover-color-default: var(--sdds-white);
  --sdds-popover-bg-default: var(--sdds-grey-868);
  --sdds-popover-bg-hover: var(--sdds-grey-800);
}
