:root,
.sdds-mode-light {
  --sdds-popover-menu-color: var(--sdds-grey-958);
  --sdds-popover-menu-background: var(--sdds-white);
  --sdds-popover-menu-background-hover: var(--sdds-grey-100);
  --sdds-popover-menu-divider-color: var(--sdds-grey-300);
}

.sdds-mode-dark {
  --sdds-popover-menu-color: var(--sdds-grey-50);
  --sdds-popover-menu-background: var(--sdds-grey-958);
  --sdds-popover-menu-background-hover: var(--sdds-grey-800);
  --sdds-popover-menu-divider-color: var(--sdds-grey-800);
}
