@import '../../../../mixins/box-sizing';

:host {
  button {
    all: unset;
    @include sdds-box-sizing;

    border-right: 1px solid var(--sdds-header-mob-menu-border);
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0 24px;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      background-color: var(--sdds-header--basic-element-bg-hover);
    }

    ::slotted(sdds-icon) {
      position: relative;
      margin-left: -6px;
      left: 3px;
      transition: all 0.2s ease-in-out;
    }

    ::slotted(img) {
      position: relative;
      margin-left: -20px;
      left: 10px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
    }
  }

  .state--active {
    button {
      background-color: var(--sdds-header-nav-item-dropdown-opened-background);
      color: var(--sdds-header-nav-item-dropdown-opened-color);
      border-color: var(--sdds-header-nav-item-dropdown-opened-background);
    }
  }
}
