@import '../../../mixins/box-sizing';

:host {
  @include sdds-box-sizing;

  display: table-footer-group;
  height: 48px;

  .sdds-table__footer-row {
    background-color: var(--sdds-data-table-footer-background);
    color: var(--sdds-data-table-color);
  }

  .sdds-table__footer-cell {
    padding: 0 16px;

    .sdds-table__pagination {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .sdds-table__row-selector,
      .sdds-table__page-selector {
        display: flex;
        align-items: center;
      }

      .sdds-table__page-selector-input {
        font: var(--sdds-detail-02);
        letter-spacing: var(--sdds-detail-02-ls);
        background-color: var(--sdds-data-table-footer-page-selector-input-background);
        color: var(--sdds-data-table-color);
        width: 36px;
        height: 30px;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms ease;
        margin-right: 4px;
        padding-right: 8px;

        &:hover {
          background-color: var(--sdds-data-table-footer-page-selector-input-background-hover);
        }

        &:disabled {
          color: var(--sdds-data-table-footer-page-selector-input-color-disabled);
        }
      }

      .sdds-table__page-selector-input--shake {
        animation: sdds-shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }

      .sdds-table__footer-text {
        font: var(--sdds-detail-02);
        letter-spacing: var(--sdds-detail-02-ls);
        padding: 1px 8px 0 0;
      }

      .sdds-table__footer-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
        height: 32px;
        width: 32px;
        border-radius: 4px;
        transition: background-color 250ms ease;

        &:hover {
          background-color: var(--sdds-data-table-footer-btn-hover);
        }

        &:disabled {
          cursor: default;
          opacity: 0.38;

          &:hover {
            background-color: transparent;
          }
        }
      }

      .sdds-table__footer-btn-svg {
        height: 20px;
        width: 20px;
        fill: var(--sdds-data-table-color)
      }
    }
  }
}

:host(.sdds-table--compact) {
  height: 32px;

  .sdds-table__footer-cell {
    .sdds-table__pagination {
      height: 32px;

      .sdds-table__page-selector-input {
        height: 24px;
      }

      .sdds-table__footer-btn {
        height: 28px;
        width: 28px;
      }
    }
  }
}
