@import '../core/prefix';

:root,
html{
  --sdds-link: #{get-colour(blue-500)};
  --sdds-link-text-decoration: underline;
  --sdds-link-hover: #{get-colour(blue-400)};
  --sdds-link-focus: #{get-colour(blue-400)};
  --sdds-link-focus-border: 0.8px solid #{get-colour(blue-400)};
  --sdds-link-visited: #{get-colour(blue-400)};
  --sdds-link-disabled: #{get-colour(grey-200)};
}