.table {
  border: 1px solid $table-border-color;
  border-collapse: collapse;

  caption {
    caption-side: top;
    //FIXME: Add correct rem
    padding: 1.875rem;
    font-weight: bold;
    color: get-colour(white);
    color: Var(--sdds-white);
    background-color: $primary;
    // background-color: Var(--primary);
  }
  thead {

    &:first-child {
      color: get-colour(white);
      color: Var(--sdds-white);
      background-color: $table-thead-bg-color;
    }

    th {
      border: 1px solid $table-thead-border-color;
      border-top-color: $table-thead-border-color;
      border-bottom-color: $table-thead-border-color;
    }
  }
  th,
  td {
    background-color: inherit;
    box-shadow: inherit;
    //FIXME: Add correct rem
    padding: $spacing-element-12 $spacing-element-12 3.25rem;
  }

  &.table-sm {
    th,
    td {
      //FIXME: Add correct rem
      padding: $spacing-element-2 1.25rem 1.25rem;
    }
  }
}