:root,
html {
  --sdds-toasts-background-color: #{get-colour(grey-900)};
  --sdds-toasts-headline-color: #{get-colour(grey-50)};
  --sdds-toasts-subheadline-color: #{get-colour(grey-50)};
  --sdds-toasts-link-color: #{get-colour(blue-400)};
}