:root,
html {
  --sdds-toggle-slider-width: 44px;
  --sdds-toggle-slider-width: 44px;
  --sdds-toggle-slider-sm-height: 16px;
  --sdds-toggle-slider-sm-width: 28px;
  --sdds-toggle-slider-border-radius: 16px;

  --sdds-toggle-switch: #{get-colour(white)};

  --sdds-toggle-on-slider: #{get-colour(green-400)};
  --sdds-toggle-on-slider-hover: #{get-colour(green-500)};
  --sdds-toggle-on-slider-focus: #{get-colour(green-500)};
  --sdds-toggle-on-slider-pressed: #{get-colour(green-700)};
  --sdds-toggle-on-slider-disabled: #{get-colour(grey-200)};
  --sdds-toggle-on-switch-disabled: #{get-colour(grey-100)};
  --sdds-toggle-on-border-focus: #{get-colour(green-700)};
  --sdds-toggle-label-colour: #{get-colour(grey-900)};
  --sdds-toggle-label-colour-disabled: #{get-colour(grey-200)};

  --sdds-toggle-off-slider: #{get-colour(grey-300)};
  --sdds-toggle-off-slider-hover: #{get-colour(grey-400)};
  --sdds-toggle-off-slider-focus: #{get-colour(grey-400)};
  --sdds-toggle-off-slider-pressed: #{get-colour(grey-500)};
  --sdds-toggle-off-border-focus: #{get-colour(grey-600)};
}