@import '../../../../mixins/focus-state';
@import '../../../../mixins/z-index';
@import '../../../../mixins/box-sizing';

:host {
  @include sdds-box-sizing;

  display: block;
  position: relative;
  z-index: z(tab);

  a {
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    color: var(--sdds-inline-tabs-tab-color);
    padding: 8px 4px;
    margin-right: 32px;
    text-decoration: none;
    display: block;
    position: relative;
    transition: color 0.15s ease-in-out 0s;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    
    .label {
      margin: 12px 0;
    }

    &:hover {
      cursor: pointer;

      &::after {
        width: 100%;
      }
    }

    &:focus-visible {
      @include sdds-focus-state;
    }

    &::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-left: auto;
      width: 0%;
      margin-right: auto;
      height: 2px;
      background-color: var(--sdds-inline-tabs-tab-indicator-background-hover);
      transition: width 0.15s ease-in-out 0s;
      z-index: 1;
    }

    &.selected {
      color: var(--sdds-inline-tabs-tab-color-selected);

      .label {
        opacity: var(--sdds-inline-tab-color-opacity-selected);
      }

      &::after {
        width: 100%;
        background-color: var(--sdds-inline-tabs-tab-indicator-background-active);
      }
    }

    &.disabled {
      color: var(--sdds-inline-tabs-tab-color-disabled);
      pointer-events: none;

      .label {
        opacity: var(--sdds-inline-tabs-tab-color-opacity-disabled);
      }
    }
  }
}


:host(.first) {
  margin-left: 32px;
}

:host(.last) {
  margin-right: 32px;
}