:host {
  display: inline-block;
  width: 100%;

  li {
    height: 68px;
    list-style: none;

    button {
      height: 100%;
      background-color: transparent;
      border: none;
      padding: 0 24px;
      height: 100%;
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font: var(--sdds-headline-07);
      letter-spacing: var(--sdds-headline-07-ls);
      color: var(--sdds-sidebar-side-menu-single-item-color);

      &.top {
        border-bottom: 1px solid var(--sdds-sidebar-side-menu-bottom-menu-border-top);
      }

      &.bottom {
        border-top: 1px solid var(--sdds-sidebar-side-menu-single-item-border-bottom);
      }

      sdds-icon {
        padding-left: 10px;
        transition: all 0.2s ease-in-out;
      }

      &.expanded {
        border-bottom: none;

        sdds-icon {
          transform: rotate(180deg);
          padding-left: 0;
          padding-right: 10px;
        }
      }

      &.collapsed {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        sdds-icon {
          padding-left: 0;
        }
      }

      &.selected {
        background-color: var(--sdds-sidebar-side-menu-single-item-active-background);
        border-left: 4px solid var(--sdds-sidebar-item-state-focus-border);
        padding-left: 20px;

        &:focus {
          cursor: pointer;
          padding-left: 20px;
          border-left: 4px solid var(--sdds-sidebar-item-state-focus-border);
          border-top: 1px solid var(--sdds-sidebar-item-state-focus-border);
          border-right: 1px solid var(--sdds-sidebar-item-state-focus-border);
          border-bottom: 1px solid var(--sdds-sidebar-item-state-focus-border);
        }

        &:active {
          cursor: pointer;
          padding-left: 20px;
          border-left: 4px solid var(--sdds-sidebar-item-state-focus-border);
          border-top: 1px solid var(--sdds-sidebar-item-state-focus-border);
          border-right: 1px solid var(--sdds-sidebar-item-state-focus-border);
          border-bottom: 1px solid var(--sdds-sidebar-item-state-focus-border);
        }

        &.collapsed {
          padding: 0;

          &:hover {
            sdds-icon {
              padding-right: 0;
            }
          }
        }
      }

      &:hover {
        cursor: pointer;
        background-color: var(--sdds-sidebar-item-state-hover);
      }

      &:active {
        cursor: pointer;
        padding-left: 20px;
        border: 1px solid var(--sdds-sidebar-item-state-focus-border);
      }

      &:focus {
        cursor: pointer;
        padding-left: 20px;
        border: 1px solid var(--sdds-sidebar-item-state-focus-border);

        &.collapsed {
          padding-left: 0;
        }
      }
    }

    &.collapsed:hover + ul.collapsed.dropdown-closed,
    ul.collapsed.dropdown-open {
      display: block;
      width: 245px;
      left: 68px;
      transform: translateY(-70px);
      position: absolute;
      background-color: var(--sdds-sidebar-side-menu);
      height: unset;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;

    &.dropdown {
      &-closed {
        display: none;
      }

      &-open {
        display: unset;
      }
    }

    &:hover {
      display: block;
      width: 245px;
      left: 68px;
      transform: translateY(-70px);
      position: absolute;
      background-color: var(--sdds-sidebar-side-menu);
      height: unset;
    }
  }
}

:host(.open) {
  border-bottom: 1px solid var(--sdds-sidebar-side-menu-bottom-menu-border-top);
}
