:root,
.sdds-mode-light {
  --sdds-card-background: var(--sdds-white);
  --sdds-card-box-primary: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --sdds-card-box-secondary: 0 3px 3px rgb(0 0 0 / 10%), 0 -1px 1px rgb(0 0 0 / 5%);
  --sdds-card-box: var(--sdds-card-box-primary);
  --sdds-card-box-hover: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 20%);
  --sdds-card-box-pressed: 0 -1px 1px rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 20%);
  --sdds-card-headline: var(--sdds-grey-958);
  --sdds-card-sub-headline: var(--sdds-grey-600);
  --sdds-card-body-color: var(--sdds-grey-700);
  --sdds-card-divider: var(--sdds-grey-300);
  --sdds-card-icon-color: var(--sdds-grey-300);

  .sdds-mode-variant-primary {
    --sdds-card-box: var(--sdds-card-box-primary);
  }

  .sdds-mode-variant-secondary {
    --sdds-card-box: var(--sdds-card-box-secondary);
  }
}

.sdds-mode-dark {
  --sdds-card-background-primary: var(--sdds-grey-900);
  --sdds-card-background-secondary: var(--sdds-grey-868);
  --sdds-card-background: var(--sdds-card-background-primary);
  --sdds-card-box-primary: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --sdds-card-box-secondary: 0 3px 3px rgb(0 0 0 / 10%), 0 -1px 1px rgb(0 0 0 / 5%);
  --sdds-card-box: var(--sdds-card-box-primary);
  --sdds-card-box-hover: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 20%);
  --sdds-card-box-pressed: 0 -1px 1px rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 20%);
  --sdds-card-headline: var(--sdds-white);
  --sdds-card-sub-headline: var(--sdds-grey-400);
  --sdds-card-body-color: var(--sdds-white);
  --sdds-card-divider: var(--sdds-grey-700);
  --sdds-card-icon-color: var(--sdds-grey-700);

  .sdds-mode-variant-primary {
    --sdds-card-box: var(--sdds-card-box-primary);
    --sdds-card-background: var(--sdds-card-background-primary);
  }

  .sdds-mode-variant-secondary {
    --sdds-card-box: var(--sdds-card-box-secondary);
    --sdds-card-background: var(--sdds-card-background-secondary);
  }
}
