:root,
.sdds-theme-light {
  --sdds-card-bg: var(--sdds-white);
  --sdds-card-box: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --sdds-card-box-hover: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 20%);
  --sdds-card-box-pressed: 0 -1px 1px rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 20%);
  --sdds-card-headline: var(--sdds-grey-958);
  --sdds-card-sub-headline: var(--sdds-grey-600);

  .sdds-on-white-bg {
    --sdds-card-box: 0 3px 3px rgb(0 0 0 / 10%), 0 -1px 1px rgb(0 0 0 / 5%);
  }

  // TODO Define dark theme
  .sdds-theme-dark {
    --sdds-card-bg: red;
    --sdds-card-box: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
    --sdds-card-box-hover: 0 -1px 1px rgb(0 0 0 / 5%), 0 3px 3px rgb(0 0 0 / 20%);
    --sdds-card-box-pressed: 0 -1px 1px rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 20%);
    --sdds-card-headline: var(--sdds-grey-958);
    --sdds-card-sub-headline: var(--sdds-grey-600);

    .sdds-on-white-bg {
      --sdds-card-box: 0 3px 3px rgb(0 0 0 / 10%), 0 -1px 1px rgb(0 0 0 / 5%);
    }
  }
}
