@import './card-vars.scss';
@import '../../mixins/box-sizing';

.sdds-card {
  @include sdds-box-sizing;

  background-color: var(--sdds-card-background);
  border-radius: 4px;
  box-shadow: var(--sdds-card-box);

  //Clickable state on card
  &.sdds-clickable {
    cursor: pointer;

    &:hover {
      box-shadow: var(--sdds-card-box-hover);
    }

    &:active {
      box-shadow: var(--sdds-card-box-pressed);
    }
  }

  //FIXME: WIP img-left
  &.sdds-card-img-left {
    display: flex;

    .sdds-card-img {
      height: auto;
      width: auto;
      border-radius: 4px 0 0 4px;
    }
  }

  //header
  .sdds-card-header,
  .sdds-card-header-avatar {
    padding: var(--sdds-spacing-element-16);

    & + .sdds-card-body {
      padding-top: 0;
    }

    & + .sdds-card-img {
      border-radius: 0;
    }
  }

  //avatar
  .sdds-card-header-avatar {
    display: flex;

    .sdds-card-headlines,
    .sdds-card-avatar {
      vertical-align: top;
    }

    .sdds-card-avatar {
      margin-right: 16px;
      overflow: hidden;
      height: 36px;
      width: 36px;
      border-radius: 50%;

      img,
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .sdds-card-headline,
  .sdds-card-sub-headline {
    margin: 0;
    font: var(--sdds-headline-06);
    letter-spacing: var(--sdds-headline-06-ls);
    line-height: 16px;
  }

  .sdds-card-headline {
    color: var(--sdds-card-headline);
    margin-bottom: var(--sdds-spacing-element-4);
  }

  .sdds-card-sub-headline {
    color: var(--sdds-card-sub-headline);
  }

  //divider
  .sdds-divider-border-top {
    margin: 0 var(--sdds-spacing-element-16);
  }

  //card image
  .sdds-card-img {
    height: 100%;
    width: 100%;
    border-radius: 4px 4px 0 0;
  }

  .sdds-card-body {
    font: var(--sdds-detail-03);
    color: var(--sdds-card-body-color);
    letter-spacing: var(--sdds-detail-03-ls);
    padding: var(--sdds-spacing-element-16);
  }

  .sdds-card-footer {
    padding: var(--sdds-spacing-element-16);

    a {
      padding-right: var(--sdds-spacing-element-16);
    }

    sdds-icon {
      color: var(--sdds-card-icon-color);
    }
  }
}
