@import '../../../../mixins/scrollbar';
@import '../../../../mixins/z-index';
@import '../../../../global/_variables.scss';

:host {
  .wrapper {
    height: var(--sdds-header-height);
    position: relative;

    .menu {
      /** Should control only height, position, and overflow here. 
        Width and appearance are set inside nested components */
      flex-direction: column;

      @include sdds-scrollbar;

      overflow-y: auto;
      max-height: calc(100vh - var(--sdds-header-height));
      box-shadow: var(--sdds-nav-dropdown-menu-box);
      background-color: var(--sdds-header-app-launcher-menu-background);
      border-radius: 0;

      @media all and (max-width: $media-fullwidth) {
        width: 100vw;
      }
    }

    &.state-list-type-menu {
      .menu {
        height: calc(100vh - var(--sdds-header-height));
      }
    }

    &.state-open {
      .button {
        position: relative;
        z-index: z(tooltip) + 1;
      }
    }
  }
}
