.sdds-chip {
  color: var(--sdds-grey-958);
  background-color: var(--sdds-grey-200);
  display: inline-flex;
  padding: 8px 16px;
  border-radius: 100px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;

  &-text {
    @include type-style("detail-02");
  }

  &:hover {
    background-color: var(--sdds-grey-400);
  }

  &-icon {
    height: 16px;
    width: 16px;
    position: absolute;

    path {
      fill: var(--sdds-grey-958);
    }
  }

  &__active {
    color: var(--sdds-white);
    background-color: var(--sdds-blue-500);

    .sdds-chip-icon {
      path {
        fill: var(--sdds-white);
      }
    }

    &:hover {
      color: var(--sdds-white);
      background-color: var(--sdds-blue-600);
    }
  }

  &__small {
    padding: 4px 16px;
  }

  &__icon-left {
    padding-left: 32px;

    .sdds-chip-icon {
      left: 8px;
    }
  }

  &__icon-right {
    padding-right: 32px;
    flex-flow: row-reverse;

    .sdds-chip-icon {
      right: 8px;
    }
  }
}
