.nav-link {
  --link-color: get-colour(grey-400);

  text-decoration: none;
  //FIXME: Add correct rem
  font-size: 3.5rem;
  font-weight: bold;
  //FIXME: Add correct rem
  margin: 2.5rem 3.5rem 2.25rem;
  padding: 0;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: get-colour(blue);
  }

  &:active,
  &.active,
  &[active]:not([active='false']) {
    &,
    &:hover {
      border-bottom: 2px solid get-colour(red);
    }
  }

  &.disabled {
    color: $link-color-disabled;
    font-weight: normal;
  }
}
