@import './button-vars.scss';
@import '../../mixins/box-sizing';

.sdds-on-white-bg {
  --sdds-btn-primary-background-disabled: var(--sdds-btn-primary-background-secondary-disabled);
  --sdds-btn-danger-background-disabled: var(--sdds-btn-danger-background-secondary-disabled);
}

$btn-lg-height: 56px;
$btn-md-height: 48px;
$btn-sm-height: 40px;
$btn-xs-height: 24px;
$btn-sm-only-icon-padding: 11px;
$btn-md-only-icon-padding: 13px;
$btn-lg-only-icon-padding: 17px;
$types: (primary, secondary, ghost, danger);
$props: (background, border-color, color, outline-color);
$iconProps: (fill, color);

@mixin button-base {
  @include sdds-box-sizing;

  font: var(--sdds-detail-02);
  letter-spacing: var(--sdds-detail-02-ls);
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.sdds-btn-lg {
  &:not(.sdds-btn-only-icon) {
    i.sdds-btn-icon {
      position: relative;

      &::before {
        font-size: 20px;
        line-height: 1;
        position: absolute;
        right: 0;
      }
    }
  }

  &.sdds-btn-only-icon {
    i.sdds-btn-icon::before {
      font-size: 20px;
      line-height: 1.25;
    }
  }
}

.sdds-btn-md {
  &:not(.sdds-btn-only-icon) {
    i.sdds-btn-icon {
      position: relative;

      &::before {
        font-size: 20px;
        line-height: 1;
        position: absolute;
        right: 0;
      }
    }
  }

  &.sdds-btn-only-icon {
    i.sdds-btn-icon::before {
      font-size: 20px;
      line-height: 1.25;
    }
  }
}

.sdds-btn-sm {
  &:not(.sdds-btn-only-icon) {
    i.sdds-btn-icon {
      position: relative;

      &::before {
        font-size: 16px;
        line-height: 1;
        position: absolute;
        right: 0;
      }
    }
  }

  &.sdds-btn-only-icon {
    i.sdds-btn-icon::before {
      font-size: 16px;
      line-height: 1.25;
    }
  }
}

.sdds-btn.sdds-btn-primary .sdds-btn-icon {
  fill: var(--sdds-btn-primary-icon-fill);
  color: var(--sdds-btn-primary-icon-color);
  font-size: 16px;
}

.sdds-btn {
  @include button-base;

  height: $btn-lg-height;
  padding: var(--sdds-spacing-element-20);
  border: 1px solid;

  &:disabled,
  &.disabled {
    cursor: unset;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    // TODO: decide on what tod o with these @include sdds-focus-state;
    outline: 2px solid var(--sdds-blue-400);
    outline-offset: -2px;
  }

  span.sdds-btn-text + .sdds-btn-icon {
    margin-left: var(--sdds-spacing-element-16);
    width: 20px;
    height: 20px;
    line-height: 0;
  }

  &.sdds-btn-xs {
    padding: var(--sdds-spacing-element-4) var(--sdds-spacing-element-8);
    height: $btn-xs-height;
    font-size: 12px;
    border-radius: 2px;

    &:focus-visible {
      // TODO: decide on what tod o with these @include sdds-focus-state;
      outline: 2px solid var(--sdds-blue-400);
      outline-offset: -2px;
    }
  }

  &.sdds-btn-sm {
    padding: var(--sdds-spacing-element-12);
    height: $btn-sm-height;

    &.sdds-btn-only-icon {
      padding: $btn-sm-only-icon-padding;
    }

    &:focus-visible {
      // TODO: decide on what tod o with these @include sdds-focus-state;
      outline: 2px solid var(--sdds-blue-400);
      outline-offset: -2px;
    }

    span.sdds-btn-text + .sdds-btn-icon {
      margin: unset;
      margin-left: var(--sdds-spacing-element-24);
      width: 16px;
      height: 16px;
    }

    &.sdds-btn-fullbleed {
      span.sdds-btn-text + .sdds-btn-icon {
        margin: unset;
        margin-left: var(--sdds-spacing-element-12);
      }
    }
  }

  &.sdds-btn-md {
    padding: var(--sdds-spacing-element-16);
    height: $btn-md-height;

    &.sdds-btn-only-icon {
      padding: $btn-md-only-icon-padding;
    }

    &:focus-visible {
      // TODO: decide on what tod o with these @include sdds-focus-state;
      outline: 2px solid var(--sdds-blue-400);
      outline-offset: -2px;
    }

    span.sdds-btn-text + .sdds-btn-icon {
      margin: unset;
      margin-left: var(--sdds-spacing-element-20);
    }

    &.sdds-btn-fullbleed {
      span.sdds-btn-text + .sdds-btn-icon {
        margin-left: var(--sdds-spacing-element-16);
      }
    }
  }

  &.sdds-btn-lg {
    padding: var(--sdds-spacing-element-20);
    height: $btn-lg-height;

    &.sdds-btn-only-icon {
      padding: $btn-lg-only-icon-padding;
    }

    &:focus-visible {
      // TODO: decide on what tod o with these @include sdds-focus-state;
      outline: 2px solid var(--sdds-blue-400);
      outline-offset: -2px;
    }

    span.sdds-btn-text + .sdds-btn-icon {
      margin: unset;
      margin-left: 28px;
    }

    &.sdds-btn-fullbleed {
      span.sdds-btn-text + .sdds-btn-icon {
        margin-left: var(--sdds-spacing-element-16);
      }
    }
  }

  &.sdds-btn-fullbleed {
    width: inherit;
    display: flex;
    justify-content: center;

    .sdds-btn-icon,
    &.sdds-btn-icon {
      margin-left: var(--sdds-spacing-element-8);
    }
  }

  span.sdds-btn-text {
    align-self: baseline;
  }

  @each $type in $types {
    &.sdds-btn-#{$type} {
      @each $prop in $props {
        #{$prop}: var(--sdds-btn-#{$type}-#{$prop});
      }

      .sdds-btn-icon {
        @each $prop in $iconProps {
          fill: var(--sdds-btn-icon-#{$type}-#{$prop});
          color: var(--sdds-btn-icon-#{$type}-#{$prop});
        }

        font-size: 16px; //16px
      }

      &:hover {
        @each $prop in $props {
          #{$prop}: var(--sdds-btn-#{$type}-#{$prop}-hover);
        }

        .sdds-btn-icon {
          @each $prop in $iconProps {
            fill: var(--sdds-btn-icon-#{$type}-#{$prop}-hover);
            color: var(--sdds-btn-icon-#{$type}-#{$prop}-hover);
          }
        }
      }

      &:focus-visible {
        @each $prop in $props {
          #{$prop}: var(--sdds-btn-#{$type}-#{$prop}-focus);
        }

        .sdds-btn-icon {
          @each $prop in $iconProps {
            fill: var(--sdds-btn-icon-#{$type}-#{$prop}-focus);
            color: var(--sdds-btn-icon-#{$type}-#{$prop}-focus);
          }
        }
      }

      &:active,
      &.active {
        @each $prop in $props {
          #{$prop}: var(--sdds-btn-#{$type}-#{$prop}-active);
        }
      }

      &.disabled,
      &:disabled {
        @each $prop in $props {
          cursor: not-allowed;
          #{$prop}: var(--sdds-btn-#{$type}-#{$prop}-disabled);
        }

        @if $type == 'ghost' or $type == 'secondary' {
          .sdds-btn-icon,
          &.sdds-btn-icon {
            color: rgb(0 0 0 / 38%);
          }
        } @else {
          .sdds-btn-icon,
          &.sdds-btn-icon {
            color: var(--sdds-grey-300);
          }
        }
      }
    }
  }
}

i.sdds-btn-icon[slot='icon'] {
  line-height: 1;
}

:host(sdds-button) {
  display: inline-flex;
  align-items: center;

  ::slotted([slot='icon']) {
    width: var(--sdds-spacing-element-20);
    height: var(--sdds-spacing-element-20);
  }

  .sdds-btn-sm {
    ::slotted([slot='icon']) {
      width: var(--sdds-spacing-element-16);
      height: var(--sdds-spacing-element-16);
    }
  }
}

:host(sdds-button[fullbleed]) {
  width: 100%;
  justify-content: center;
}

:host(sdds-button[only-icon]) {
  .sdds-btn-sm {
    padding: $btn-sm-only-icon-padding;
  }

  .sdds-btn-md {
    padding: $btn-md-only-icon-padding;
  }

  .sdds-btn-lg {
    padding: $btn-lg-only-icon-padding;
  }
}

:host(sdds-button:not([only-icon])) {
  display: inline-flex;
  align-items: center;

  .sdds-btn-sm {
    ::slotted([slot='icon']) {
      margin-left: var(--sdds-spacing-element-24);
      width: var(--sdds-spacing-element-16);
      height: var(--sdds-spacing-element-16);
    }

    &.sdds-btn-fullbleed {
      ::slotted([slot='icon']) {
        margin-left: var(--sdds-spacing-element-12);
      }
    }
  }

  .sdds-btn-md {
    ::slotted([slot='icon']) {
      margin-left: var(--sdds-spacing-element-20);
      width: var(--sdds-spacing-element-20);
      height: var(--sdds-spacing-element-20);
    }

    &.sdds-btn-fullbleed {
      ::slotted([slot='icon']) {
        margin-left: var(--sdds-spacing-element-16);
      }
    }
  }

  .sdds-btn-lg {
    ::slotted([slot='icon']) {
      // TODO - This should be a var value
      margin-left: 28px;
      width: var(--sdds-spacing-element-20);
      height: var(--sdds-spacing-element-20);
    }

    &.sdds-btn-fullbleed {
      ::slotted([slot='icon']) {
        margin-left: var(--sdds-spacing-element-16);
      }
    }
  }
}
