@import '../../../../mixins/focus-state';

:host {
  display: block;

  button {
    height: 100%;
    width: 100%;
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    cursor: pointer;
    color: var(--sdds-folder-tab-color);
    background-color: var(--sdds-folder-tabs-tab-background);
    padding: 16px;
    min-width: 142px;
    white-space: nowrap;
    text-decoration: none;
    text-align: left;
    outline: none;
    border: none;
    border-top: 2px solid var(--sdds-folder-tab-background);
    background-color: var(--sdds-folder-tab-background);

    .label {
      opacity: var(--sdds-folder-tab-color-opacity);
    }

    &.selected {
      background-color: var(--sdds-folder-tab-background-selected);
      border-top: 2px solid var(--sdds-folder-tab-border-selected);

      .label {
        opacity: var(--sdds-folder-tab-color-opacity-selected);
      }
    }

    &.disabled {
      pointer-events: none;

      .label {
        opacity: var(--sdds-folder-tab-color-opacity-disabled);
      }

      &:focus {
        .label {
          opacity: var(--sdds-folder-tab-color-opacity-disabled);
        }

        outline: none;
      }
    }

    &:focus {
      @include sdds-focus-state;

      opacity: var(--sdds-folder-tab-color-opacity-focus);
    }

    &:hover {
      opacity: var(--sdds-folder-tab-color-opacity-hover);
    }
  }
}
