@import '../mixins/box-sizing';

.sdds-block {
  @include sdds-box-sizing;

  color: var(--sdds-block-color);
  border-radius: 4px;
  padding: 16px;
  font: var(--sdds-body-01);
  letter-spacing: var(--sdds-body-01-ls);
  background-color: var(--sdds-block-background);

  .sdds-block {
    background-color: var(--sdds-block-background-nested);

    .sdds-block {
      background-color: var(--sdds-block-background);
    }
  }
}
