@import '../mixins/box-sizing';
@import '../mixins/focus-state';

.sdds-chip,
button.sdds-chip {
  all: unset;

  @include sdds-box-sizing;

  color: var(--sdds-chips-color);
  background-color: var(--sdds-chips-background);
  display: inline-flex;
  padding: 8px 16px;
  border-radius: 100px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;

  &-text {
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
  }

  &:hover {
    background-color: var(--sdds-chips-background-hover);
  }

  &:focus {
    @include sdds-focus-state;
  }

  &-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    font-size: 16px;

    path {
      fill: var(--sdds-chips-icon-fill);
    }
  }

  &-active {
    color: var(--sdds-chips-color-active);
    background-color: var(--sdds-chips-background-active);

    .sdds-chip-icon {
      path {
        fill: var(--sdds-chips-icon-fill-active);
      }
    }

    &:hover {
      background-color: var(--sdds-chips-background-active-hover);
    }
  }

  &-sm,
  &-small {
    padding: 4px 16px;
  }

  &-icon-left {
    padding-left: 32px;

    .sdds-chip-icon {
      left: 8px;

      sdds-icon {
        display: flex;
        align-items: center;
      }
    }
  }

  &-icon-right {
    padding-right: 32px;
    flex-flow: row-reverse;

    .sdds-chip-icon {
      right: 8px;

      sdds-icon {
        display: flex;
        align-items: center;
      }
    }
  }
}
