@import "@scania/typography/dist/scss/mixins";
@import "@scania/typography/dist/scss/tokens";

.sdds-block {
  background-color: magenta;
  border-radius: 4px;
  padding: 16px;

  &__onwhite {
    background-color: var(--sdds-grey-50);

    .sdds-block {
      background-color: var(--sdds-white);
    }
  }

  &__ongrey {
    background-color: var(--sdds-white);

    .sdds-block {
      background-color: var(--sdds-grey-50);
    }
  }

  &__ongrey958 {
    background-color: var(--sdds-grey-900);

    .sdds-block {
      background-color: var(--sdds-grey-868);
    }
  }

  &__ongrey900 {
    background-color: var(--sdds-grey-868);

    .sdds-block {
      background-color: var(--sdds-grey-846);
    }
  }
}
