@import '../../helpers/style-helpers.scss';
@import '../textfield/textfield.scss';

.#{$prefix}-textarea-container{
  @extend .#{$prefix}-textfield-container;
  height: auto;
  width: 100%;
  min-width: var(--sdds-textarea-min-width);
  display: inline-flex;
  background-color: transparent;
  flex-flow: row wrap;
  border-bottom: 0;
}

.#{$prefix}-textarea-wrapper {
  @extend .#{$prefix}-textfield-bar;
  position: relative;
  width: unset;
  min-width: 100%;

  &:after,
  &:before {
    top: calc(100% - 2px);
  }
}
.#{$prefix}-textarea-input{
  @include textfield-base;
  @extend .#{$prefix}-textfield-input;
  display: block; 
  min-height: var(--sdds-textarea-height);
  resize: vertical;
  border-bottom: 1px solid var(--sdds-textfield-border-bottom);

  // Display none only works in Chrome
  &::-webkit-resizer{
    display: none
  }
}

// Need to override default resizer in FF & Safari
.#{$prefix}-textarea-resizer-icon {
  color: var(--sdds-textfield-resize-icon);
  position: absolute;
  display: block;
  bottom: 2px;
  right: 1px;
  padding-bottom: 2px;
  padding-right: 2px;
  pointer-events: none;
  background-color: var(--sdds-textfield-bg);
  svg {
    display: block;
  }
}

.#{$prefix}-textarea-label{
  @include type-style('detail-05');
  display:block;
  z-index: 2;
  margin-bottom: var(--sdds-spacing-element-8);
  color: var(--sdds-textfield-label-color);
}

.#{$prefix}-textarea-container {
  &.#{$prefix}-textarea-label-inside{
    .#{$prefix}-textarea-label {
      @include type-style('detail-02');
      @include label-inside-transition;
      color: var( --sdds-textfield-label-inside-color);
      position: absolute;
      top: var(--sdds-spacing-element-20); 
      left: var(--sdds-spacing-element-16);
    }

    .#{$prefix}-textarea-input{
      @include placeholder-label;
    }
  }

  &.#{$prefix}-textarea-focus{
    &.#{$prefix}-textarea-label-inside {
      .#{$prefix}-textarea-label {
        @include type-style('detail-07');
        top: var(--sdds-spacing-element-8);
      }
    }
    .#{$prefix}-textarea-wrapper{
      &:before,
      &:after{
        width: 50%;
      }
    }
  }
}

.#{$prefix}-textarea-textcounter{
  @extend .#{$prefix}-textfield-textcounter;
  flex-basis: 100%;
  text-align: right;
  padding-top: var(--sdds-spacing-element-4);
}

.#{$prefix}-textarea-helper {
  @extend .#{$prefix}-textfield-helper;
  flex-grow: 2;
  flex-basis: auto;
  ~ .#{$prefix}-textarea-textcounter {
    flex-basis: auto;
  }
}

// Different state

.#{$prefix}-textarea-success {
  .#{$prefix}-textarea-input {
    border-bottom-color: var(--sdds-textfield-border-bottom-success);
  }
}

.#{$prefix}-textarea-error {
  .#{$prefix}-textarea-input {
    border-bottom-color: var(--sdds-textfield-border-bottom-error);
  }
  .#{$prefix}-textarea-wrapper {
    &:after,
    &:before {
      background: var(--sdds-textfield-bar-error);
    }
  }
  .#{$prefix}-textarea-helper{
    color: var(--sdds-textfield-helper-error);
  }
}

//Disabled state 
.#{$prefix}-textarea-disabled { 
  .#{$prefix}-textarea-input {
    border-bottom-color: transparent;
  }
  .#{$prefix}-textarea-label {
    color: var(--sdds-textfield-disabled-label);
  }
}