@import "./textarea-theme-vars.scss";

@mixin textfield-base {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;
  height: 100%;
  color: var(--sdds-textarea-color);
  background-color: var(--sdds-textarea-bg);

  &::placeholder {
    opacity: 1;
    color: var(--sdds-textarea-placeholder);
  }

  &:focus::placeholder {
    color: var(--sdds-textarea-placeholder-focus-color);
  }

  &:disabled {
    background-color: var(--sdds-textarea-disabled-bg);
    color: var(--sdds-textarea-disabled-color);

    &::placeholder {
      color: var(--sdds-textarea-disabled-placeholder);
    }

    ~ .sdds-textfield-label-inside {
      color: var(--sdds-textarea-disabled-label);
    }
  }
}

@mixin placeholder-label {
  &::placeholder {
    color: transparent;
  }

  &::input-placeholder {
    color: transparent;
  }

  &:placeholder {
    color: transparent;
  }

  ::placeholder {
    color: transparent;
  }

  //Input field in focus
  &:focus::placeholder {
    transition: color 0.35s ease;
    color: var(--sdds-textarea-placeholder-focus-color);
  }
}

.sdds-textarea-container {
  //@extend .sdds-textfield-container;
  border-radius: 1rem 1rem 0 0;
  position: relative;
  box-sizing: border-box;

  //@extend end

  height: auto;
  width: 100%;
  min-width: 208px;
  display: inline-flex;
  background-color: transparent;
  flex-flow: row wrap;
  border-bottom: 0;
}

.sdds-textarea-wrapper {
  //@extend .sdds-textfield-bar;
  &::before,
  &::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    background: var(--sdds-textarea-bar);
    transition: 0.35s ease all;
  }

  &::before {
    left: 50%;
  }

  &::after {
    right: 50%;
  }

  //@extend end

  position: relative;
  width: unset;
  min-width: 100%;

  &::after,
  &::before {
    top: calc(100% - 2px);
  }
}

.sdds-textarea-input {
  @include textfield-base;

  //@extend .sdds-textfield-input;
  //@include type-style('detail-02');
  font-family: "Scania Sans Semi Condensed", "Scania Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: type-scale(3);
  line-height: type-scale(4);
  letter-spacing: -0.01em;
  padding: var(--sdds-spacing-element-20) var(--sdds-spacing-element-16);

  //@extend end

  display: block;
  resize: vertical;
  border-bottom: 1px solid var(--sdds-textarea-border-bottom);
  transition: border-bottom-color 200ms ease;

  // Display none only works in Chrome
  &::-webkit-resizer {
    display: none;
  }

  &:hover {
    border-bottom-color: var(--sdds-textarea-border-bottom-hover);
  }
}

// Need to override default resizer in FF & Safari
.sdds-textarea-resizer-icon {
  color: var(--sdds-textarea-resize-icon);
  position: absolute;
  display: block;
  bottom: 2px;
  right: 1px;
  padding-bottom: 2px;
  padding-right: 2px;
  pointer-events: none;
  background-color: var(--sdds-textarea-bg);

  svg {
    display: block;
  }
}

.sdds-textarea-label {
  //@include type-style('detail-05');
  font-family: "Scania Sans Semi Condensed", "Scania Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: type-scale(2);
  line-height: type-scale(4);
  letter-spacing: 0;
  display: block;
  z-index: 2;
  margin-bottom: var(--sdds-spacing-element-8);
  color: var(--sdds-textarea-label-color);
}

.sdds-textarea-container {
  &.sdds-textarea-label-inside {
    .sdds-textarea-label {
      //@include type-style('detail-02');
      font-family: "Scania Sans Semi Condensed", "Scania Sans Condensed", Arial, Helvetica, sans-serif;
      font-size: type-scale(3);
      line-height: type-scale(4);
      letter-spacing: -0.01em;

      //@include label-inside-transition;
      transition: 0.1s ease all;

      //@include end

      color: var(--sdds-textarea-label-inside-color);
      position: absolute;
      top: var(--sdds-spacing-element-20);
      left: var(--sdds-spacing-element-16);
    }

    .sdds-textarea-input {
      @include placeholder-label;
    }
  }

  &.sdds-textarea-focus {
    &.sdds-textarea-label-inside {
      .sdds-textarea-label {
        //@include type-style('detail-07');
        font-family: "Scania Sans Semi Condensed", "Scania Sans Condensed", Arial, Helvetica, sans-serif;
        font-size: type-scale(1);
        line-height: 2rem;
        letter-spacing: 0;
        top: var(--sdds-spacing-element-8);
      }
    }

    .sdds-textarea-wrapper {
      &::before,
      &::after {
        width: 50%;
      }
    }
  }

  &.sdds-textarea-data {
    &.sdds-textarea-label-inside {
      .sdds-textarea-label {
        //@include type-style('detail-07');
        font-family: "Scania Sans Semi Condensed", "Scania Sans Condensed", Arial, Helvetica, sans-serif;
        font-size: type-scale(1);
        line-height: 2rem;
        letter-spacing: 0;
        top: var(--sdds-spacing-element-8);
      }
    }
  }
}

.sdds-textarea-textcounter {
  //@extend .sdds-textfield-textcounter;
  //@include type-style('detail-05');
  font-family: "Scania Sans Semi Condensed", "Scania Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: type-scale(2);
  line-height: type-scale(4);
  letter-spacing: 0;
  color: var(--sdds-textarea-textcounter);
  float: right;

  & .sdds-textfield-textcounter-divider {
    //@include type-style('detail-05');
    font-family: "Scania Sans Semi Condensed", "Scania Sans Condensed", Arial, Helvetica, sans-serif;
    font-size: type-scale(2);
    line-height: type-scale(4);
    letter-spacing: 0;
    color: var(--sdds-textarea-textcounter-divider);
  }

  //@extend end

  flex-basis: 100%;
  text-align: right;
  padding-top: var(--sdds-spacing-element-4);
}

.sdds-textarea-helper {
  //@include type-style('detail-05');
  font-family: "Scania Sans Semi Condensed", "Scania Sans Condensed", Arial, Helvetica, sans-serif;
  font-size: type-scale(2);
  line-height: type-scale(4);
  letter-spacing: 0;
  display: block;
  flex-basis: 100%;
  padding-top: var(--sdds-spacing-element-4);
  color: var(--sdds-textarea-helper);
  flex-grow: 2;
  flex-basis: auto;

  ~ .sdds-textarea-textcounter {
    flex-basis: auto;
  }
}

// Different state

.sdds-textarea-success {
  .sdds-textarea-input {
    border-bottom-color: var(--sdds-textarea-border-bottom-success);
  }
}

.sdds-textarea-error {
  .sdds-textarea-input {
    border-bottom-color: var(--sdds-textarea-border-bottom-error);
  }

  .sdds-textarea-wrapper {
    &::after,
    &::before {
      background: var(--sdds-textarea-bar-error);
    }
  }

  .sdds-textarea-helper {
    color: var(--sdds-textarea-helper-error);
  }
}

//Disabled state
.sdds-textarea-disabled {
  .sdds-textarea-input {
    border-bottom-color: transparent;
  }

  .sdds-textarea-label {
    color: var(--sdds-textarea-disabled-label);
  }
}

//Read only state

.sdds-textarea-icon__readonly {
  display: none;
  position: absolute;
  right: 18px;
  top: 18px;

  &-label {
    display: none;
    position: absolute;
    right: 18px;
    top: 48px;

    //@include type-style('detail-05');
    font-family: "Scania Sans Semi Condensed", "Scania Sans Condensed", Arial, Helvetica, sans-serif;
    font-size: type-scale(2);
    line-height: type-scale(4);
    letter-spacing: 0;
    padding: 8px;
    color: var(--sdds-textarea-icon-read-only-label-color);
    background-color: var(--sdds-textarea-icon-read-only-label-bg);
    white-space: nowrap;
    border-radius: 4px 0 4px 4px;
  }
}

.sdds-textarea-readonly {
  pointer-events: none;

  .sdds-textarea-icon__readonly {
    display: block;

    &:hover {
      ~ .sdds-textarea-icon__readonly-label {
        display: block;
      }
    }
  }

  .sdds-textarea-input {
    padding-right: 54px;
    background-color: transparent;
  }

  .sdds-textfield-container {
    background-color: transparent;
  }
}
