@import '../../../../global/_variables.scss';

:host {
  display: block;
  width: 190px;

  @media all and (max-width: $media-fullwidth) {
    width: 100vw;
  }

  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: none;
  background-color: var(--sdds-header-app-launcher-menu-bg);
}

:host([type='lg']) {
  width: 320px;
}
