@import '../../global/scania-fonts-vars.scss';

:root,
:host,
::slotted(*),
.sdds-theme-light {
  /* This one is overriding the --sdds-link css for the link component. */

  /* --sdds-link: var(--sdds-grey-958); */
  --sdds-link-text-decoration: none;
  --sdds-dropdown-bg: var(--sdds-white);
  --sdds-dropdown-bg-hover: var(--sdds-grey-50);

  .sdds-on-white-bg {
    --sdds-dropdown-bg: var(--sdds-grey-50);
    --sdds-dropdown-bg-hover: var(--sdds-grey-100);
  }
}
