@import '../../global/scania-fonts-vars.scss';

:root,
.sdds-mode-light {
  /* This one is overriding the --sdds-link css for the link component. */

  --sdds-link-text-decoration: none;
  --sdds-dropdown-color: var(--sdds-grey-958);
  --sdds-dropdown-background: var(--sdds-grey-50);
  --sdds-dropdown-background-hover: var(--sdds-grey-100);
  --sdds-dropdown-disabled: var(--sdds-grey-400);
  --sdds-dropdown-border: var(--sdds-grey-100);
  --sdds-dropdown-label-inside: var(--sdds-grey-700);
  --sdds-dropdown-label-outside: var(--sdds-grey-958);
  --sdds-dropdown-placeholder: var(--sdds-grey-700);
  --sdds-dropdown-border-not-focused: var(--sdds-grey-600);
  --sdds-dropdown-option-color: var(--sdds-grey-900);
  --sdds-dropdown-option-disabled-color: var(--sdds-grey-400);
  --sdds-dropdown-background-disabled: var(--sdds-dropdown-background);

  .sdds-mode-variant-primary {
    --sdds-dropdown-background: var(--sdds-grey-50);
    --sdds-dropdown-background-hover: var(--sdds-grey-100);
  }

  .sdds-mode-variant-secondary {
    --sdds-dropdown-background: var(--sdds-white);
    --sdds-dropdown-background-hover: var(--sdds-grey-50);
  }
}

.sdds-mode-dark {
  --sdds-link-text-decoration: none;
  --sdds-dropdown-color: var(--sdds-grey-400);
  --sdds-dropdown-background: var(--sdds-grey-868);
  --sdds-dropdown-background-hover: var(--sdds-grey-800);
  --sdds-dropdown-disabled: var(--sdds-grey-800);
  --sdds-dropdown-border: var(--sdds-grey-800);
  --sdds-dropdown-label-inside: var(--sdds-grey-400);
  --sdds-dropdown-label-outside: var(--sdds-grey-100);
  --sdds-dropdown-placeholder: var(--sdds-grey-400);
  --sdds-dropdown-border-not-focused: var(--sdds-grey-600);
  --sdds-dropdown-option-color: var(--sdds-grey-50);
  --sdds-dropdown-option-disabled-color: var(--sdds-grey-800);
  --sdds-dropdown-background-disabled: var(--sdds-dropdown-background);

  .sdds-mode-variant-primary {
    --sdds-dropdown-background: var(--sdds-grey-868);
    --sdds-dropdown-background-hover: var(--sdds-grey-800);
  }

  .sdds-mode-variant-secondary {
    --sdds-dropdown-background: var(--sdds-grey-900);
    --sdds-dropdown-background-hover: var(--sdds-grey-800);
  }
}
