<div class="sdds-container mt-5">
  <div class="sdds-row">
    <div class="sdds-col">
      <h1>Home</h1>
      <h3>Visit Scania Digital Design System at <a target='_blank' href='https://digitaldesign.scania.com'>digitaldesign.scania.com</a><c-icon name='scania-external_link'></c-icon></h3>
      <p>Developing in our design system visit our <a target='_blank' href='https://github.com/scania/corporate-ui'>github</a><c-icon name='scania-external_link'></c-icon></p>
    </div>
    <div class="sdds-col">
      
jkdfhakfhaklgsjlgskölghksöl sklgsklgjsklgjsklgs fkafjaklgskldg sdklsdgnsdklgnsdkfg aksfnaklfnasklfnakv ackanklanfaklfa fakfnaklgnaklg akgnaklgnalkgna faknfaklnfvaklvnalkfnal faklnfaklgnalkga dkdnakwdnak akfjakslfna faskz
    </div>
    <div class="sdds-col">
      
jkdfhakfhaklgsjlgskölghksöl sklgsklgjsklgjsklgs fkafjaklgskldg sdklsdgnsdklgnsdkfg aksfnaklfnasklfnakv ackanklanfaklfa fakfnaklgnaklg akgnaklgnalkgna faknfaklnfvaklvnalkfnal faklnfaklgnalkga dkdnakwdnak akfjakslfna faskz
    </div>
    <div class="sdds-col">
      
jkdfhakfhaklgsjlgskölghksöl sklgsklgjsklgjsklgs fkafjaklgskldg sdklsdgnsdklgnsdkfg aksfnaklfnasklfnakv ackanklanfaklfa fakfnaklgnaklg akgnaklgnalkgna faknfaklnfvaklvnalkfnal faklnfaklgnalkga dkdnakwdnak akfjakslfna faskz
    </div>
  </div>
</div>
<div class="sdds-container">
  <div class="sdds-row">
    <div class="sdds-col">
      <h1>Home</h1>
      <h3>Visit Scania Digital Design System at <a target='_blank' href='https://digitaldesign.scania.com'>digitaldesign.scania.com</a><c-icon name='scania-external_link'></c-icon></h3>
      <p>Developing in our design system visit our <a target='_blank' href='https://github.com/scania/corporate-ui'>github</a><c-icon name='scania-external_link'></c-icon></p>
    </div>
    <div class="sdds-col">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Bibendum at varius vel pharetra vel.
    </div>
    <div class="sdds-col">
      Nunc vel risus commodo viverra. Imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor. Placerat duis ultricies lacus sed. Convallis a cras semper auctor neque vitae tempus quam. Cursus in hac habitasse platea.
    </div>
    <div class="sdds-col">
      Massa placerat duis ultricies lacus sed turpis. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Ut placerat orci nulla pellentesque dignissim enim.
    </div>
  </div>

</div>
  <!-- <div class="sdds-row">
    <div class="sdds-col-md-4-offset sdds-col-md-2">Offset 10 md 2</div>
    <div class="sdds-col-md-2">md-2</div>
    <div class="sdds-col-md-6">md-6</div>
    <div class="sdds-col-lg-5">lg-5</div>
  </div>
  <div class="sdds-row">
    <div class="sdds-col-sm-1">sm 1 of 4</div>
    <div class="sdds-col-sm-1">sm 1 of 4</div>
    <div class="sdds-col-sm-1">sm 1 of 4</div>
    <div class="sdds-col-sm-1">sm 1 of 4</div>
  </div> -->
  
