:host {
  li {
    border-bottom: 1px solid var(--sdds-grey-300);
    width: 100%;

    button,
    a {
      color: var(--sdds-grey-800);
      text-decoration: none;
      background-color: var(--sdds-white);
      border: none;
      padding: 0 24px;
      text-align: left;
      height: 48px;
      width: 100%;

      &:hover {
        cursor: pointer;
        background-color: var(--sdds-grey-100);
      }
    }

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    &.active {
      border-left: 4px solid var(--sdds-blue-400);

      button,
      a {
        padding-left: 20px;
      }
    }
  }
}

:host {
  @media all and (max-width: 992px) {
    li {
      height: 64px;
      width: 100%;
      border-bottom: 1px solid var(--sdds-grey-300);

      button {
        width: 100%;
      }

      button,
      a {
        height: 64px;
        padding: 0 24px;
        background-color: var(--sdds-white);
        border: none;
        color: var(--sdds-grey-958);

        &:hover {
          background-color: var(--sdds-grey-100);
        }

        &:first-child {
          border: none;
        }
      }
    }
  }
}
