@mixin divider {
  content: ' ';
  position: absolute;
  background-color: var(--sdds-stepper-icon-step-background-after);
  opacity: 0.16;
}

:host {
  position: relative;
  display: table-cell;

  sdds-icon {
    line-height: 1;
  }

  [role='listItem'] {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    &.text-below {
      flex-direction: column;
    }

    &.lg {
      padding: 0 20px;
      font: var(--sdds-detail-01);
      letter-spacing: var(--sdds-detail-01-ls);

      .content-container {
        height: 30px;
        min-width: 30px;
      }

      &.vertical {
        &::after {
          @include divider;

          height: 36px;
          width: 1px;
          top: 40px;
          left: 36px;
        }
      }

      &.horizontal {
        &::after {
          @include divider;

          height: 1px;
          left: calc(50% + 24px);
          right: 0;
          top: 18px;
        }

        &::before {
          @include divider;

          height: 1px;
          right: calc(50% + 24px);
          left: 0;
          top: 18px;
        }

        &.text-aside {
          &:not(.hide-labels) {
            &::after {
              @include divider;

              height: 1px;
              top: 16px;
              width: 10px;
              left: auto;
              right: -10px;
            }

            &::before {
              @include divider;

              height: 1px;
              top: 16px;
              width: 10px;
              left: -10px;
              right: auto;
            }
          }
        }
      }
    }

    &.sm {
      padding: 0 20px;
      font: var(--sdds-detail-05);
      letter-spacing: var(--sdds-detail-05-ls);

      .content-container {
        height: 24px;
        min-width: 24px;
      }

      &.vertical {
        &::after {
          @include divider;

          height: 20px;
          width: 1px;
          top: 34px;
          left: 32px;
        }

        &::before {
          @include divider;

          height: 20px;
          width: 1px;
          top: 34px;
          left: 32px;
        }
      }

      &.horizontal {
        &::after {
          @include divider;

          height: 1px;
          left: calc(50% + 16px + 8px);
          right: 0;
          top: 13px;
        }

        &::before {
          @include divider;

          height: 1px;
          left: 0;
          right: calc(50% + 24px);
          top: 13px;
        }

        &.text-aside {
          &:not(.hide-labels) {
            &::after {
              @include divider;

              height: 1px;
              top: 13px;
              width: 10px;
              left: auto;
              right: -10px;
            }

            &::before {
              @include divider;

              height: 1px;
              top: 13px;
              width: 10px;
              left: -10px;
              right: auto;
            }
          }
        }
      }
    }

    .content-container {
      border-radius: 100px;
      border: 1px solid var(--sdds-stepper-icon-background);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &.error {
        border-color: var(--sdds-negative);
        color: var(--sdds-negative);
      }

      &.success {
        background-color: var(--sdds-positive);
        border-color: var(--sdds-positive);
        color: var(--sdds-white);
      }

      &.upcoming {
        background-color: transparent;
        border-color: var(--sdds-stepper-label-border-color-upcoming);
        color: var(--sdds-stepper-label-text-color-upcoming);
        opacity: var(--sdds-stepper-label-text-opacity-upcoming);
      }
    }

    .label {
      text-align: center;

      &.lg {
        font: var(--sdds-detail-01);
        letter-spacing: var(--sdds-detail-01-ls);
      }

      &.sm {
        font: var(--sdds-detail-05);
        letter-spacing: var(--sdds-detail-05-ls);
      }

      &.upcoming {
        color: var(--sdds-stepper-label-text-color-upcoming);
        opacity: var(--sdds-stepper-label-text-opacity-upcoming);
      }
    }
  }
}

:host(.last) {
  [role='listItem'] {
    &.sm,
    &.lg {
      &::after {
        display: none;
      }
    }
  }

  [role='listItem'] {
    &.sm {
      &.vertical {
        &::before {
          display: none;
        }
      }
    }
  }
}

:host(.first) {
  [role='listItem'] {
    &.sm,
    &.lg {
      &::before {
        display: none;
      }
    }
  }
}
