@mixin divider {
  content: ' ';
  position: absolute;
  background-color: var(--sdds-stepper-icon-step-bg-after);
  opacity: 0.16;
}

:host {
  position: relative;

  li {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    &.text-below {
      flex-direction: column;
    }

    &.lg {
      font: var(--sdds-detail-01);
      letter-spacing: var(--sdds-detail-01-ls);
      padding: 0 20px;

      .stepper-content-container {
        height: 32px;
        width: 32px;
      }

      &.vertical {
        &::after {
          @include divider;

          height: 36px;
          width: 1px;
          top: 40px;
          left: 36px;
        }
      }

      &.horizontal {
        &::after {
          @include divider;

          height: 1px;
          left: calc(50% + 24px);
          right: calc(-50% + 24px);
          top: 16px;
        }
      }
    }

    &.sm {
      font: var(--sdds-detail-05);
      letter-spacing: var(--sdds-detail-05-ls);
      padding: 0 20px;

      .stepper-content-container {
        height: 24px;
        width: 24px;
      }

      &.vertical {
        &::after {
          @include divider;

          height: 20px;
          width: 1px;
          top: 34px;
          left: 32px;
        }
      }

      &.horizontal {
        &::after {
          @include divider;

          height: 1px;
          left: calc(50% + 16px + 8px);
          right: calc(-50% + 24px);
          top: 13px;
        }

        &.text-aside {
          &::after {
            @include divider;

            height: 1px;
            left: auto;
            top: 13px;
            width: 20px;
            right: -12px;
          }

          &.hide-labels {
            &::after {
              left: unset;
              right: unset;
            }
          }
        }
      }
    }

    .stepper-content-container {
      border-radius: 100px;
      border: 1px solid var(--sdds-stepper-icon-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &.error {
        border-color: var(--sdds-negative);
        color: var(--sdds-negative);
      }

      &.success {
        background-color: var(--sdds-positive);
        border-color: var(--sdds-positive);
        color: var(--sdds-white);
      }

      &.inactive {
        background-color: transparent;
        border-color: rgb(0 21 51 / 16%);
        color: rgb(0 21 51 / 38%);
      }

      &.label {
        text-align: center;
      }
    }

    .sdds-stepper-item-label {
      font: var(--sdds-detail-05);
      letter-spacing: var(--sdds-detail-05-ls);
    }
  }
}

:host(.sdds-stepper-item-last) {
  li {
    &::after {
      display: none;
    }
  }
}

:host(.sdds-stepper-item-first) {
  li {
    &::before {
      display: none;
    }
  }
}
