@mixin divider {
  content: ' ';
  position: absolute;
  background-color: var(--sdds-stepper-icon-step-bg-after);
  opacity: 0.16;
}

:host {
  position: relative;

  .sdds-stepper-item {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .sdds-stepper-content {
      border-radius: 100px;
      border: 1px solid var(--sdds-stepper-icon-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    &-lg {
      font: var(--sdds-detail-01);
      letter-spacing: var(--sdds-detail-01-ls);

      .sdds-stepper-content {
        height: 32px;
        width: 32px;
      }
    }

    &-sm {
      font: var(--sdds-detail-05);
      letter-spacing: var(--sdds-detail-05-ls);

      .sdds-stepper-content {
        height: 24px;
        width: 24px;
      }
    }

    .sdds-stepper-item-warning {
      border-color: var(--sdds-negative);
      color: var(--sdds-negative);
    }

    .sdds-stepper-item-success {
      background-color: var(--sdds-positive);
      border-color: var(--sdds-positive);
      color: var(--sdds-white);
    }

    .sdds-stepper-item-inactive {
      background-color: transparent;
      border-color: rgb(0 21 51 / 16%);
      color: rgb(0 21 51 / 38%);
    }
  }
}

:host(.sdds-stepper-item-horizontal) {
  .sdds-stepper-item {
    &-lg {
      padding: 0 20px;
    }

    &-sm {
      padding: 0 25px;
    }
  }
}

:host(.sdds-stepper-item-horizontal.sdds-stepper-item-text-position-aside) {
  .sdds-stepper-item {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 16px;

    &::after {
      display: none;
    }

    &-lg {
      &::before {
        @include divider;

        height: 1px;
        right: auto;
        top: 16px;
        width: 20px;
        left: -12px;
      }
    }

    &-sm {
      &::before {
        @include divider;

        height: 1px;
        right: auto;
        top: 12px;
        width: 20px;
        left: -12px;
      }
    }
  }
}

:host(.sdds-stepper-item-horizontal.sdds-stepper-item-text-position-below) {
  .sdds-stepper-item {
    flex-direction: column;

    &-lg {
      &::after {
        @include divider;

        height: 1px;
        left: calc(50% + 16px + 8px);
        right: 0;
        top: 16px;
      }

      &::before {
        @include divider;

        height: 1px;
        left: 0;
        top: 16px;
        right: calc(50% + 16px + 8px);
      }
    }

    &-sm {
      &::after {
        @include divider;

        height: 1px;
        left: calc(50% + 16px + 8px);
        right: 0;
        top: 12px;
      }

      &::before {
        @include divider;

        height: 1px;
        left: 0;
        top: 12px;
        right: calc(50% + 16px + 8px);
      }
    }
  }
}

:host(.sdds-stepper-item-vertical) {
  .sdds-stepper-item {
    &-lg {
      &::after {
        @include divider;

        height: 36px;
        width: 1px;
        top: 40px;
        left: 16px;
      }

      &.sdds-stepper-item-first {
        &::before {
          display: none;
        }
      }
    }

    &-sm {
      &::after {
        @include divider;

        height: 20px;
        width: 1px;
        top: 36px;
        left: 12px;
      }

      &.sdds-stepper-item-first {
        &::before {
          display: none;
        }
      }
    }
  }
}

:host(.sdds-stepper-item-horizontal.sdds-stepper-item-first) {
  .sdds-stepper-item {
    &::before {
      display: none;
    }
  }
}

:host(.sdds-stepper-item-horizontal.sdds-stepper-item-last) {
  .sdds-stepper-item {
    &::after {
      display: none;
    }
  }
}

:host(.sdds-stepper-item-vertical.sdds-stepper-item-last) {
  .sdds-stepper-item {
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}
