@import '../../../mixins/box-sizing';
@import '../../../mixins/flex-center';
@import '../../../mixins/scrollbar';

:host {
  @include sdds-box-sizing;

  z-index: 3;
  background-color: var(--sdds-header-background);
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;

  ::slotted(sdds-header-button),
  ::slotted(sdds-header-link),
  ::slotted(sdds-header-dropdown) {
    display: none;
  }

  .middle-spacer {
    flex-grow: 1;
    height: 100%;
    border-right: 1px solid var(--sdds-header-mob-menu-border);
  }

  @media screen and (min-width: 672px) {
    ::slotted(sdds-header-button),
    ::slotted(sdds-header-link),
    ::slotted(sdds-header-dropdown) {
      display: block;
    }
  }

  ::slotted(sdds-header-button:nth-child(3)),
  ::slotted(sdds-header-link:nth-child(3)) {
    /* Adds a left border to the button after the title, if any */
    border-left: 1px solid var(--sdds-header-mob-menu-border);
  }
}
