@import '../../../mixins/box-sizing';
@import '../../../mixins/flex-center';

:host {
  @include sdds-box-sizing;

  background-color: var(--sdds-header-bg);
  height: 64px;
  width: 100%;
  z-index: 3;
  display: flex;

  ::slotted([slot='inline-menu']) {
    border-left: 1px solid var(--sdds-nav-item-border-color);
    display: flex;
    list-style: none;
  }

  ::slotted([slot='toolbar']) {
    border-left: 1px solid var(--sdds-nav-item-border-color);
    display: flex;
    list-style: none;
  }

  .header-app-name {
    @include sdds-flex-center;

    font-family: var(--sdds-font-family-headline);
    font-weight: normal;
    color: var(--sdds-header-app-name-color);
    padding: 0 24px;
    white-space: nowrap;
  }

  .header-logo {
    display: flex;

    a {
      background-color: var(--sdds-header-bg);
      transition: background-color 150ms ease;
      display: block;
      cursor: pointer;
      background-image: var(--sdds-background-image-scania-symbol-svg),
        var(--sdds-background-image-scania-symbol-png);
      background-size: 30px auto;
      width: 64px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  nav.nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;

    ul {
      padding: 0;
      margin: 0;
    }
  }

  nav.mobile-menu {
    display: none;
  }

  /* IPAD */
  // TODO - Should use token
  @media all and (max-width: 672px) {
    ul.inline-menu {
      display: none;
    }

    ul.toolbar {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .header-logo {
      display: none;
    }
  }

  // TODO - Should use token
  @media all and (max-width: 384px) {
    ul.inline-menu {
      display: none;
    }

    ul.toolbar {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
