@import '../theme/core/spacing/vars';
@import '../../../mixins/box-sizing';
@import '../../../mixins/flex-center';
@import '../../../mixins/scrollbar';
@import '../../../mixins/z-index';

html,
:root {
  --sdds-nav-dropdown-menu-box: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --sdds-nav-dropdown-item-border-radius: 0 0 4px 4px;
  --sdds-font-family-headline: 'Scania Sans Headline', arial, helvetica, sans-serif;
}

sdds-header {
  display: block;
  height: var(--sdds-header-height);
  background-color: var(--sdds-header-background);
  width: 100%;
  z-index: z(header);
}

nav {
  @include sdds-box-sizing;

  background-color: var(--sdds-header-background);
  width: 100%;
  display: block;

  .sdds-header-component-list {
    height: var(--sdds-header-height);
    all: unset;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  sdds-header-dropdown,
  sdds-header-item {
    display: none;
  }

  .sdds-header-middle-spacer {
    all: unset;
    display: block;
    flex-grow: 1;
    height: var(--sdds-header-height);
    border-right: 1px solid var(--sdds-header--basic-element-border);
  }

  @media screen and (min-width: $grid-lg) {
    sdds-header-dropdown,
    sdds-header-item {
      display: block;
    }
  }

  sdds-header-item:nth-child(3),
  sdds-header-dropdown:nth-child(3) {
    /* Adds a left border to the button after the title, if any */
    border-left: 1px solid var(--sdds-header--basic-element-border);
  }
}
