@import '../theme/core/spacing/vars';
@import '../../../mixins/box-sizing';
@import '../../../mixins/flex-center';
@import '../../../mixins/scrollbar';
@import '../../../mixins/z-index';

sdds-header {
  display: block;
  height: var(--sdds-header-height);
  background-color: var(--sdds-header-background);
  width: 100%;
  z-index: z(header);
}

nav {
  @include sdds-box-sizing;

  background-color: var(--sdds-header-background);
  width: 100%;
  display: block;

  .sdds-header-component-list {
    height: var(--sdds-header-height);
    all: unset;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  sdds-header-button,
  sdds-header-link,
  sdds-header-dropdown {
    display: none;
  }

  .sdds-header-middle-spacer {
    all: unset;
    display: block;
    flex-grow: 1;
    height: var(--sdds-header-height);
    border-right: 1px solid var(--sdds-header-mob-menu-border);
  }

  @media screen and (min-width: $grid-lg) {
    sdds-header-button,
    sdds-header-link,
    sdds-header-dropdown {
      display: block;
    }
  }

  sdds-header-button:nth-child(3),
  sdds-header-link:nth-child(3) {
    /* Adds a left border to the button after the title, if any */
    border-left: 1px solid var(--sdds-header-mob-menu-border);
  }
}
