:host {
  display: block;
  width: 320px;

  @media all and (max-width: 384px) {
    width: 100vw;
  }

  [role='list'] {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    border-radius: none;
    background-color: var(--sdds-header-app-launcher-menu-bg);

    &.open {
      display: block;
    }

    &.closed {
      display: none;
    }
  }
}
