@import '../../../mixins/box-sizing';

:host,
.sdds-table {
  border-collapse: collapse;
  display: table;
  @include sdds-box-sizing;
}

:host(.sdds-table--responsive),
.sdds-table--responsive {
  width: 100%;
}
