:root,
html,
:host {
  --sdds-spinner-background: var(--sdds-blue-400);
  --sdds-spinner-background-inverted: var(--sdds-white);
}

:host {
  display: block;
}

.sdds-spinner-svg {
  transform: scale(-1, 1) rotate(-90deg);
}

.sdds-spinner-circle {
  stroke-dasharray: var(--sdds-spinner-stroke-dash);
  animation:
 dash var(--sdds-spinner-animation-speed)
    cubic-bezier(0.55, 0.15, 0.45, 0.85) infinite;

  &-xs {
    --sdds-spinner-stroke-dash: 60px;
    --sdds-spinner-animation-speed: 1.3s;
  }

  &-sm {
    --sdds-spinner-stroke-dash: 130px;
    --sdds-spinner-animation-speed: 1.5s;
  }

  &-md {
    --sdds-spinner-stroke-dash: 160px;
    --sdds-spinner-animation-speed: 1.8s;
  }

  &-lg {
    --sdds-spinner-stroke-dash: 260px;
    --sdds-spinner-animation-speed: 2s;
  }

  &-standard {
    stroke: var(--sdds-spinner-background);
  }

  &-inverted {
    stroke: var(--sdds-spinner-background-inverted);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: calc(-1 * var(--sdds-spinner-stroke-dash));
  }

  100% {
    stroke-dashoffset: var(--sdds-spinner-stroke-dash);
  }
}
