// ///////////////////////////////////LINEAR///////////////////////////////////
:root,
html,
:host {
  --sdds-spinner-background: var(--sdds-blue-500);
  --sdds-spinner-border-color: var(--sdds-grey-400);
  --sdds-spinner-stroke-dash: 157;
  --sdds-spinner-stroke-dash-negative: -157;
}

:host {
  display: block;
}

.sdds-spinner-svg {
  width: 200px;
  height: 200px;
}

.sdds-spinner-path {
  stroke: var(--sdds-spinner-background);
  stroke-width: 6px;
  stroke-dasharray: var(--sdds-spinner-stroke-dash);
  stroke-dashoffset: var(--sdds-spinner-stroke-dash-negative);
  animation: dash 4s linear infinite;
  fill-opacity: 0;
}

@keyframes dash {
  // to { stroke-dashoffset:var(--sdds-spinner-stroke-dash); }
  0% {
    stroke-dashoffset: var(--sdds-spinner-stroke-dash-negative);
  }

  45% {
    stroke-dashoffset: -50;
  }

  50% {
    stroke-dashoffset: 0;
  }

  90% {
    stroke-dashoffset: 50;
  }

  100% {
    stroke-dashoffset: var(--sdds-spinner-stroke-dash);
  }
}
