@import "@scania/typography/dist/scss/mixins";
@import "@scania/typography/dist/scss/tokens";
@import "../../helpers/components-shared";

.sdds-table {
  border-collapse: collapse;
  display: table;

  .sdds-table__title {
    @include type-style("headline-07");

    text-align: left;
    height: 64px;
    display: table-caption;
    position: relative;
    background-color: var(--sdds-grey-400);
    color: var(--sdds-grey-958);
    padding: var(--sdds-spacing-element-16);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .sdds-table__header {
    display: table-header-group;
  }

  .sdds-table__header {
    .sdds-table__header-cell {
      &:first-of-type {
        border-top-left-radius: 4px;
      }

      &:last-of-type {
        border-top-right-radius: 4px;
      }
    }
  }

  .sdds-table__title + .sdds-table__header {
    .sdds-table__header-cell {
      &:first-of-type {
        border-top-left-radius: 0;
      }

      &:last-of-type {
        border-top-right-radius: 0;
      }
    }
  }

  .sdds-table__header {
    .sdds-table__header-cell {
      @include type-style("headline-07");

      display: table-cell;
      text-align: left;
      color: var(--sdds-grey-958);
      background-color: var(--sdds-grey-300);
      border-bottom: 1px solid var(--sdds-grey-400);
      padding: var(--sdds-spacing-element-16);
      height: 48px;
      min-width: 192px;
      box-sizing: border-box;
      overflow: hidden;
      transition: background-color 200ms ease;

      &:first-of-type {
        border-top-left-radius: 4px;
      }

      &:last-of-type {
        border-top-right-radius: 4px;
      }
    }
  }

  .sdds-table__body {
    display: table-row-group;
  }

  .sdds-table__row {
    display: table-row;
    border-bottom: 1px solid var(--sdds-grey-400);
    background-color: var(--sdds-white);
    transition: background-color 200ms ease;
  }

  .sdds-table__row:hover {
    background-color: var(--sdds-grey-100);
  }

  .sdds-table__row--selected {
    background-color: var(--sdds-grey-300);
  }

  .sdds-table__row--selected:hover {
    background-color: var(--sdds-grey-400);
  }

  .sdds-table__row--hidden {
    display: none;
  }

  .sdds-table__body-cell {
    @include type-style("detail-02");

    display: table-cell;
    box-sizing: border-box;
    color: var(--sdds-grey-958);
    padding: var(--sdds-spacing-element-16);
    min-width: 192px;
    vertical-align: top;
    background-color: transparent;
    transition: background-color 200ms ease;
  }

  .sdds-table__body-cell--hover {
    background-color: var(--sdds-grey-200);
  }

  // SDDS GLOBAL STYLES:
  &.sdds-table--compact {
    .sdds-table__title {
      height: 56px;
    }

    .sdds-table__body-cell {
      padding: var(--sdds-spacing-element-8) var(--sdds-spacing-element-16);
    }

    .sdds-table__body-cell--checkbox {
      min-width: 32px;
      width: 32px;
      padding: 0;
    }

    .sdds-table__header-cell {
      height: 32px;
    }

    .sdds-form-label--data-table {
      height: 32px;
    }
  }

  &.sdds-table--divider {
    .sdds-table__header-cell,
    .sdds-table__body-cell {
      border-right: 1px solid var(--sdds-grey-400);
    }

    .sdds-table__header-cell:last-child,
    .sdds-table__body-cell:last-child {
      border-right: none;
    }
  }

  &.sdds-table--no-min-width {
    .sdds-table__header {
      .sdds-table__header-cell {
        min-width: unset;
      }
    }

    .sdds-table__body {
      .sdds-table__body-cell {
        min-width: unset;
      }
    }
  }

  &.sdds-table--on-white-bg {
    .sdds-table__row {
      background-color: var(--sdds-grey-50);
    }

    .sdds-table__row:hover {
      background-color: var(--sdds-grey-200);
    }
  }
}

// Actionbar buttons styling

.sdds-table__actionbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  min-width: 40px;
  border: none;
  background-color: transparent;
  color: var(--sdds-grey-958);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms ease;
  margin-left: 0;

  &:focus {
    @include sdds-focus-state;
  }

  &:hover {
    background-color: var(--sdds-grey-300);
  }
}

.sdds-table__actionbar-btn-icon {
  height: 20px;
  width: auto;
}
