@import '../core/base-unit';
@import '../variables';
@import '../mixins';

// Fonts - This file is generated and will exist in dist
@import url(../fonts/fonts.css);

// Utilities
@import '../utilities/data-env.scss';
@import '../utilities/loading.scss';

// Core classes
@import '../core/grid/grid';
@import '../core/colour/colour';
@import '../core/typography/typography';

// Import css variables
@import '../css-vars.scss';

// components
@import '../components/button';
@import '../components/radio-button';
@import '../components/breadcrumb';
@import '../components/textfields';
@import '../components/navs';
@import '../components/checkbox';
@import '../components/divider';

:root,
html {
  font-size: $base-unit;
}
// Output rules
* {
  box-sizing: border-box;
}
html,
body {
  display: flex;
  flex-direction: column;
  visibility: visible;
}
html {
  height: 100%;
}
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $body-color;
  color: Var(--sdds-grey-900);
  margin: 0;
  flex: 1;

  &.nav-show {
    overflow: hidden;
  }
}

// TODO: Should we really do this?
// c-cookie {

//   a {
//     color: get-colour(information);
//     color: Var(--sdds-information);
//     text-decoration: none;

//     &:hover {
//       text-decoration: underline;
//     }
//   }
// }

@media (min-width: 992px) {

  body.nav-show {
    overflow: auto;
  }
}