@font-face {
  font-family: 'Scania Sans';
  font-weight: bold;
  unicode-range: U+0400-04FF;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/cyrillic/ScaniaSansCY-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans';
  font-style: italic;
  unicode-range: U+0400-04FF;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/cyrillic/ScaniaSansCY-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans';
  unicode-range: U+0400-04FF;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/cyrillic/ScaniaSansCY-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Condensed';
  font-weight: bold;
  unicode-range: U+0400-04FF;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/cyrillic/ScaniaSansCYCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Condensed';
  font-style: italic;
  unicode-range: U+0400-04FF;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/cyrillic/ScaniaSansCYCondensed-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Condensed';
  unicode-range: U+0400-04FF;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/cyrillic/ScaniaSansCYCondensed-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Headline';
  font-weight: bold;
  unicode-range: U+0400-04FF;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/cyrillic/ScaniaSansCYHeadline-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Headline';
  unicode-range: U+0400-04FF;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/cyrillic/ScaniaSansCYHeadline-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Semi Condensed';
  font-weight: bold;
  unicode-range: U+0400-04FF;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/cyrillic/ScaniaSansCYSemiCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Semi Condensed';
  font-style: italic;
  unicode-range: U+0400-04FF;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/cyrillic/ScaniaSansCYSemiCondensed-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Semi Condensed';
  unicode-range: U+0400-04FF;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/cyrillic/ScaniaSansCYSemiCondensed-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans';
  font-weight: bold;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/latin/ScaniaSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans';
  font-style: italic;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/latin/ScaniaSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans';
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/latin/ScaniaSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Condensed';
  font-weight: bold;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/latin/ScaniaSansCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Condensed';
  font-style: italic;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/latin/ScaniaSansCondensed-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Condensed';
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/latin/ScaniaSansCondensed-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Headline';
  font-weight: bold;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/latin/ScaniaSansHeadline-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Headline';
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/latin/ScaniaSansHeadline-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Semi Condensed';
  font-weight: bold;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/latin/ScaniaSansSemiCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Semi Condensed';
  font-style: italic;
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/latin/ScaniaSansSemiCondensed-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Scania Sans Semi Condensed';
  src: url('https://cdn.digitaldesign.scania.com/fonts/scania-sans/1.0.0/latin/ScaniaSansSemiCondensed-Regular.woff') format('woff');
}
