// This component does not have dark version so all css is in this file

:host {
  // Variables
  --sdds-badges-bg-color: var(--sdds-red-500);
  --sdds-badges-color-text: var(--sdds-white);

  // Styling
  display: block;
}

.sdds-badges {
  display: block;
  border-radius: 50%;
  background-color: var(--sdds-badges-bg-color);
  text-align: center;

  &.sdds-badges-default {
    height: 20px;
    width: 20px;

    .sdds-badges-text {
      line-height: 20px;
    }
  }

  &.sdds-badges-sm {
    height: 8px;
    width: 8px;
  }

  &.sdds-badges-pill {
    border-radius: 12px;
    width: unset;
    padding: 0 8px;
  }

  &.sdds-badges-hidden {
    display: none;
  }
}

.sdds-badges-text {
  font-family: var(--sdds-font-family-semi-condensed-bold);
  font-size: 12px;
  color: var(--sdds-badges-color-text);
  font-weight: bold;
  width: 100%;
}
