@import '../../mixins/focus-state';
@import '../../mixins/z-index';

:host(.hide) {
  display: none;
  visibility: hidden;
}

:host {
  z-index: z(toast);

  .toast-wrapper {
    display: flex;
    width: calc(352px - 4px);
    background-color: var(--sdds-toast-background-color);
    border-radius: 4px;

    &.information {
      border-left: 4px solid var(--sdds-information);

      sdds-icon {
        color: var(--sdds-information);
      }
    }

    &.success {
      border-left: 4px solid var(--sdds-positive);

      sdds-icon {
        color: var(--sdds-positive);
      }
    }

    &.error {
      border-left: 4px solid var(--sdds-negative);

      sdds-icon {
        color: var(--sdds-negative);
      }
    }

    &.warning {
      border-left: 4px solid var(--sdds-warning);

      sdds-icon {
        color: var(--sdds-warning);
      }
    }

    button.toast-close {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 14px 14px 0 0;
      border: none;
      background: transparent;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        @include sdds-focus-state;
      }

      sdds-icon {
        color: var(--sdds-toast-dissmiss-color);
        padding: 0;
      }
    }
  }

  sdds-icon {
    padding: 14px 0 0 12px;
  }

  .toast-content {
    padding: 16px 0 16px 10px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .toast-header {
      font: var(--sdds-headline-07);
      letter-spacing: var(--sdds-headline-07-ls);
      color: var(--sdds-toast-headline-color);

      &.no-subheader {
        margin-bottom: 4px;
      }

      &.only-header {
        margin-bottom: 0;
      }
    }

    .toast-subheader {
      slot::slotted(*) {
        margin-top: 4px;
        color: var(--sdds-toast-subheadline-color);
        font: var(--sdds-detail-02);
        letter-spacing: var(--sdds-detail-02-ls);
        padding-bottom: 16px;
        max-width: 252px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.no-link {
        slot::slotted(*) {
          padding-bottom: 0;
        }
      }
    }
  }

  slot[name='toast-link']::slotted(*) {
    color: var(--sdds-toast-link-color);
  }

  .sdds-mode-variant-primary {
    --sdds-toast-background: var(--sdds-toast-background-primary);
  }

  .sdds-mode-variant-secondary {
    --sdds-toast-background: var(--sdds-toast-background-secondary);
  }
}
