@import './toast-theme-vars.scss';
@import '../../global/scania-fonts-vars.scss';
@import '../../mixins/focus-state';
@import '../../mixins/box-sizing';

.sdds-toast {
  @include sdds-box-sizing;

  display: flex;
  flex-direction: row;
  background: var(--sdds-toast-background-color);
  border-radius: var(--sdds-spacing-element-4);
  border-left: 4px solid white;
  width: 352px;
  min-height: var(--sdds-spacing-element-48);

  &-icon {
    margin: 13.5px 0 0 12px;
  }

  //Icon font solution size
  i.sdds-icon {
    font-size: 20px;
  }

  &-success {
    border-left-color: var(--sdds-positive);

    .sdds-toast-icon {
      color: var(--sdds-positive);
    }
  }

  &-info {
    border-left-color: var(--sdds-information);

    .sdds-toast-icon {
      color: var(--sdds-information);
    }
  }

  &-warning {
    border-left-color: var(--sdds-warning);

    .sdds-toast-icon {
      color: var(--sdds-warning);
    }
  }

  &-error {
    border-left-color: var(--sdds-negative);

    .sdds-toast-icon {
      color: var(--sdds-negative);
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 14px 16px 10px;
  }

  &-header {
    height: var(--sdds-spacing-element-32);
  }

  &-headline {
    margin-top: 16px;
    font-family: 'Scania Sans Semi Condensed', arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: var(--sdds-toast-headline-color);
    width: 252px;
    float: left;
  }

  &-close {
    all: unset;
    float: right;
    width: var(--sdds-spacing-element-20);
    height: var(--sdds-spacing-element-20);
    color: var(--sdds-toast-dissmiss-color);
    cursor: pointer;
    padding-top: 14px;

    &:focus-visible {
      @include sdds-focus-state;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    margin-top: var(--sdds-spacing-element-4);
  }

  &-subheadline {
    font-family: 'Scania Sans Semi Condensed', arial, helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: var(--sdds-toast-subheadline-color);
  }

  &-subheadline + &-link {
    margin-top: var(--sdds-spacing-element-16);
  }

  &-link {
    height: var(--sdds-spacing-element-16);
    color: var(--sdds-toast-link-color);
    font-family: 'Scania Sans Semi Condensed', arial, helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
  }
}
