@import '../../mixins/box-sizing';

.sdds-block-webcomponent {
  @include sdds-box-sizing;

  color: var(--sdds-block-color);
  border-radius: 4px;
  padding: 16px;
  font: var(--sdds-body-01);
  letter-spacing: var(--sdds-body-01-ls);
  background-color: var(--sdds-block-background);

}
.sdds-mode-variant-primary {
  --sdds-block-background: var(--sdds-block-background-primary);
  --sdds-block-background-nested: var(--sdds-block-background-nested-primary);
}
.sdds-mode-variant-secondary {
  --sdds-block-background: var(--sdds-block-background-secondary);
  --sdds-block-background-nested: var(--sdds-block-background-nested-secondary);
}
