@import "@scania/typography/dist/scss/mixins";
@import "@scania/typography/dist/scss/tokens";

:host(.sdds-table__body-cell) {
  @include type-style("detail-02");

  display: table-cell;
  box-sizing: border-box;
  color: var(--sdds-grey-958);
  padding: var(--sdds-spacing-element-16);
  min-width: 192px;
  vertical-align: top;
  background-color: transparent;
  transition: background-color 200ms ease;
}

:host(.sdds-table__body-cell--hover) {
  background-color: var(--sdds-grey-200);
}

:host(.sdds-table__compact) {
  padding: var(--sdds-spacing-element-8) var(--sdds-spacing-element-16);
}

:host(.sdds-table--divider) {
  border-right: 1px solid var(--sdds-grey-400);
}

:host(.sdds-table--divider:last-of-type) {
  border-right: none;
}

:host(.sdds-table--no-min-width) {
  min-width: unset;
}
