//TODO: Look into regular badges design
//TODO: Fix focus colors on badge-link
@import '../core/spacing/spacing';

.badge {
  //FIXME: Add correct rem
  padding: 1.25rem 8.5px 1.25rem 8.5px;
  border-radius: $spacing-element-04;
  font-size: $spacing-element-04;
  line-height: 3.5rem;

  &.badge-pill {
    //FIXME: Add corect rem
    padding: 1.5rem $spacing-element-05 1.75rem $spacing-element-05;
    border-radius: $spacing-element-05;
    font-size: 3.4rem;
    line-height: 4.25rem;
  }

  @each $type in $types {
    &-#{$type} {
      background-color: map-get($interaction-colors, $type);
      background-color: Var(--#{$type});
    }
  }
}