@import '../variables';

.list-group {

  &-item {
    padding: 1.7rem;
    border-color: $light-04;
    display: flex;
    text-decoration: none;
    align-items: center;

    &:first-child {
      border-top-left-radius: $border-radius-list-group;
      border-top-right-radius: $border-radius-list-group;
    }
    &:last-child {
      border-bottom-left-radius: $border-radius-list-group;
      border-bottom-right-radius: $border-radius-list-group;
    }
    &.active {
      @include component('dark'); //TODO: look into font-color, which is included
      @include border('dark', false);

      font-weight: bold;
      color: $white; //TODO: look into what color active should use
    }
  }
}