@import './scss-vars';

// generate colour class for background (.sdds-background-{token-name})
@each $key, $value in $all-colours {
  $val : '' + $key;
  .sdds-background-#{$val} {
    background-color: $value;
  }
}

// generate colour class for text (.sdds-text-{token-name})
@each $key, $value in $all-colours {
  $val : '' + $key;
  .sdds-text-#{$val} {
    color: $value;
  }
}