:host {
  display: block;
  font: var(--sdds-headline-07);
  letter-spacing: var(--sdds-headline-07-ls);
  color: var(--sdds-sidebar-side-menu-single-item-color);

  .subheading {
    color: var(--sdds-grey-500);
  }
}
