<div class="sdds-sidebar" [ngClass]="{ expanded: isExpanded }">
  <div class="sdds-navbar-side-menu" [ngClass]="{ expanded: isExpanded }">

    <ul id="menu-list" class="sdds-navbar-menu-list sdds-navbar-menu-list--extended">
      <!--      side menu items-->
      <li *ngFor="let item of items"
          class="sdds-navbar-menu-item sdds-navbar-menu-hover"
          routerLink="{{item.link}}"
          routerLinkActive="active"
          (mouseenter)="onHoverMenu($event.target,item.title)"
          (mouseleave)="onHoverMenu($event.target,item.title); showPopover = false"
      >
        <app-icon-button></app-icon-button>
        <a class="sdds-navbar-menu-item-link" id="home"> {{item.title}} </a>
        <!--      side menu item pop-over on collapsed state -->
        <div
          *ngIf="showPopover"
          class="sdds-navbar-menu-popover"
          [ngStyle]="{left:posX+'px', top:posY+'px'}">
          <div>
            <a class="sdds-navbar-menu-item-link">
              <span class="sdds-menu-item-dropdown-text">{{hoveredItem}}</span>
            </a>
          </div>
        </div>
      </li>

      <!-- side menu dropdown item-->
      <li id="other" class="sdds-navbar-menu-item-dropdown sdds-navbar-menu-hover"
          (click)="dropdownClick($event.target)"
          (mouseenter)="onHoverDropdownMenu($event.target, 'Dropdown');"
          (mouseleave)="showDropdownPopover=false">
        <div class="sdds-navbar-menu-item-dropdown-parent">
          <app-icon-button></app-icon-button>
          <a class="sdds-navbar-menu-item-link">
            <span class="sdds-menu-item-dropdown-text">Dropdown</span>
            <span class="sdds-icon-arrow"></span>
          </a>
        </div>

        <ul class="sdds-navbar-menu__dropdown-menu">
          <li class="sdds-navbar-menu__dropdown-item">
            <a routerLink="/" (click)="changeMenu($event)">sub-item 1</a>
          </li>
          <li class="sdds-navbar-menu__dropdown-item">
            <a routerLink="/" (click)="changeMenu($event)">sub-item 2</a>
          </li>
        </ul>

        <!--      side menu dropdown item pop-over on collapsed state -->
        <div *ngIf="showDropdownPopover"
             (mouseenter)="showDropdownPopover=true"
             (mouseleave)="showDropdownPopover=false"
             class="sdds-navbar-menu-popover"
             [ngStyle]="{left:posX+'px', top:posY+'px'}">

          <div class="sdds-navbar-menu-item-dropdown"
               style="height: 100%"
               (mouseenter)="showDropdownPopover=true">
            <div class="sdds-navbar-menu-item-dropdown-parent popover-dropdown-menu-parent">
              <div class="sdds-navbar-menu-item-link popover-title">
                <span class="sdds-menu-item-dropdown-text">{{hoveredItem}}</span>
              </div>
            </div>

            <ul class="sdds-navbar-menu__dropdown-menu">
              <li class="sdds-navbar-menu__dropdown-item">
                <a class="sdds-navbar-menu__dropdown-item-link" href="/">sub-item 1</a>
              </li>
              <li class="sdds-navbar-menu__dropdown-item">
                <a class="sdds-navbar-menu__dropdown-item-link" href="/">sub-item 2</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

    <button class="collapse-btn sdds-collapse-button sdds-navbar-menu-item sdds-navbar-menu-item-bottom hide-collapse-button"
         (click)="clickCollapse()"
    >
       <span class="sdds-collapse-button--icon">
         <sdds-icon style="font-size:30px" name="scania-arrow"></sdds-icon>
      </span>
      <p id="collapse-btn" class="sdds-collapse-button--text" href="#">
        Collapse
      </p>
    </button>
  </div>
</div>
