body {
  background: var(--sdds-grey-50);
}

.sdds-demo-container {
  margin-top: var(--sdds-header-height);
}

.sdds-navbar-menu-popover {
  display: block;
  position: fixed;
  z-index: 20000;
  text-decoration: none;
}

.sdds-navbar-menu-popover a {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.content-wrapper {
  padding-top: var(--sdds-spacing-element-24);
  padding-bottom: var(--sdds-spacing-element-24);
}

.lead-head {
  margin-bottom: var(--sdds-spacing-element-16);
}

.section-wrapper {
  margin-top: var(--sdds-spacing-element-32);
}

.component-wrapper {
  padding-bottom: var(--sdds-spacing-element-24);
}

.sdds-btn-group .sdds-btn,
.sdds-btn-group sdds-button {
  margin: 10px;
}
/* TODO: remove lines 44-68 after release */
.collapse-btn {
  padding: 0;
  align-items: center;
}
.sdds-collapse-button--icon {
  margin-left: 16px;
  transform: rotate(0);
  transition: transform 250ms ease;
}
.sdds-collapse-button--icon--collapsed {
  transform: rotate(180deg);
}
.sdds-collapse-button--text {
  padding: 0 24px 0 10px;
  font-family: 'Scania Sans Semi Condensed', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: -0.01em;
}
.sdds-sidebar-collapse {
  .sdds-collapse-button p {
    display: none;
  }
}

form > div {
  margin-bottom: var(--sdds-spacing-element-32);
}

@media all and (max-width: 992px) {
  .sdds-sidebar.expanded {
    display: block;
    position: fixed;
    height: 100%;
    z-index: 800;
  }
}
