<h4>Components</h4>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Accordion</h5>
  <sdds-accordion>
    <sdds-accordion-item header="First item" affix="prefix" tabindex="1">
      This is the panel, which contains associated information with the header.
      Usually it contains text, set in the same size as the header. Lorem ipsum
      doler sit amet.
    </sdds-accordion-item>
    <sdds-accordion-item
      header="Second Item"
      affix="prefix"
      tabindex="2"
      expanded="true"
    >
      This is the panel, which contains associated information with the header.
      Usually it contains text, set in the same size as the header. Lorem ipsum
      doler sit amet.
    </sdds-accordion-item>
  </sdds-accordion>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Banner</h5>
  <div class="sdds-banner sdds-banner-error">
    <span class="sdds-banner-prefix"
      ><svg
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect y="0.334473" width="16" height="16"></rect>
      </svg>
    </span>

    <div class="sdds-banner-body">
      <h6 class="sdds-banner-header">This is a default banner</h6>
      <div class="sdds-banner-subheader">Short subheader</div>
      <a class="sdds-link sdds-banner-link" href="#">Link example</a>
    </div>

    <div class="sdds-banner-close"></div>
  </div>
</div>
<div class="component-wrapper">
  <h5 class="sdds-headline-05">Badges</h5>
  <div style="display: flex">
    <sdds-badges
      style="padding-right: var(--sdds-spacing-element-24)"
    ></sdds-badges>
    <sdds-badges
      style="padding-right: var(--sdds-spacing-element-24)"
      value="2"
    ></sdds-badges>
    <sdds-badges
      style="padding-right: var(--sdds-spacing-element-24)"
      value="22"
    ></sdds-badges>
    <sdds-badges
      style="padding-right: var(--sdds-spacing-element-24)"
      value="300"
    ></sdds-badges>
  </div>
</div>
<div class="component-wrapper">
  <h5 class="sdds-headline-05">Breadcrumb</h5>
  <div class="sdds-breadcrumb">
    <div class="sdds-breadcrumb-item">
      <a href="#">Page 1</a>
    </div>
    <div class="sdds-breadcrumb-item">
      <a href="#">Page 2</a>
    </div>
    <div class="sdds-breadcrumb-item sdds-breadcrumb-item-current">
      <a aria-current="page">Page 3</a>
    </div>
  </div>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Button</h5>
  <div class="sdds-btn-group">
    <button class="sdds-btn sdds-btn-primary">Primary</button>
    <button class="sdds-btn sdds-btn-danger">Danger</button>
  </div>
  <div class="sdds-btn-group">
    <sdds-button type="primary" text="Primary"></sdds-button>
    <sdds-button type="danger" text="Danger"></sdds-button>
  </div>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Card</h5>
  <div class="sdds-card">
    <div class="sdds-card-header">
      <h6 class="sdds-card-headline">Header text</h6>
      <h6 class="sdds-card-sub-headline">Subheader text</h6>
    </div>

    <div class="sdds-card-body">
      This is a short and consist detail text describing for the user what this
      text is really about.
    </div>

    <div class="sdds-card-footer">
      <sdds-icon style="font-size: 20px" name="scania-arrow"></sdds-icon>
    </div>
  </div>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Checkbox</h5>
  <div class="sdds-checkbox-item">
    <input
      class="sdds-form-input"
      type="checkbox"
      name="cb-example"
      id="cb-option-1"
      checked="checked"
    />
    <label class="sdds-form-label" for="cb-option-1"> Label Text 1 </label>
  </div>
  <div class="sdds-checkbox-item">
    <input
      class="sdds-form-input"
      type="checkbox"
      name="cb-example"
      id="cb-option-2"
    />
    <label class="sdds-form-label" for="cb-option-2"> Label Text 2 </label>
  </div>
  <div class="sdds-checkbox-item">
    <input
      class="sdds-form-input"
      type="checkbox"
      name="cb-example"
      id="cb-option-3"
      checked="checked"
      disabled
    />
    <label class="sdds-form-label" for="cb-option-3"> Label Text 3 </label>
  </div>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Divider</h5>
  Dark
  <div class="sdds-divider-dark" style="margin: 5px"></div>

  Coloured
  <div class="sdds-divider-coloured" style="margin: 5px"></div>

  Light
  <div class="sdds-divider-light" style="margin: 5px"></div>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Dropdown</h5>
  <sdds-dropdown placeholder="Select option">
    <sdds-dropdown-option value="option-1">Option 1</sdds-dropdown-option>
    <sdds-dropdown-option value="option-2">Option 2</sdds-dropdown-option>
    <sdds-dropdown-option value="option-3">Option 3</sdds-dropdown-option>
  </sdds-dropdown>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Link</h5>
  This is an example of <a href="#">a link</a> inside a paragraph. This is an
  example of <a class="disabled" href="#">a link</a> inside a paragraph.
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Modal</h5>
  <button id="modal" class="sdds-btn sdds-btn-primary">Open modal</button>
  <br>
  <br>
  <sdds-button type="ghost" text="Open modal with openModal method" onclick="{document.querySelector('sdds-modal').openModal()}"></sdds-button>
  <sdds-modal size="md" selector="#modal">
    <h5 slot="sdds-modal-headline">Header 1</h5>
    <p slot="sdds-modal-body">
      Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
      ultricies nisi. Nam eget dui. Maecenas tempus, tellus eget condimentum
      rhoncus.
    </p>
    <button
      slot="sdds-modal-actions"
      onclick="alert('delete')"
      class="sdds-btn sdds-btn-danger sdds-btn-md"
    >
      Delete
    </button>
    <button
      slot="sdds-modal-actions"
      modal-dismiss
      onclick="console.log('cancel')"
      class="sdds-btn sdds-btn-secondary sdds-btn-md"
    >
      Cancel
    </button>
  </sdds-modal>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Radio button</h5>
  <div class="sdds-radio-button-group">
    <div class="sdds-radio-item">
      <input
        class="sdds-form-input"
        type="radio"
        name="rb-example"
        id="rb-option-1"
      />
      <label class="sdds-form-label" for="rb-option-1"> Label Text 1 </label>
    </div>
    <div class="sdds-radio-item">
      <input
        class="sdds-form-input"
        type="radio"
        name="rb-example"
        id="rb-option-2"
      />
      <label class="sdds-form-label" for="rb-option-2"> Label Text 2 </label>
    </div>
    <div class="sdds-radio-item">
      <input
        class="sdds-form-input"
        type="radio"
        name="rb-example-disabled"
        id="rb-option-3"
        checked="checked"
        disabled
      />
      <label class="sdds-form-label" for="rb-option-3"> Label Text 3 </label>
    </div>
  </div>
</div>
<div class="component-wrapper">
  <p class="sdds-headline-05">Spinner</p>
  <div>
    <sdds-spinner class="spinner-wrapper" type="cube" size="sm"> </sdds-spinner>
    <sdds-spinner class="spinner-wrapper" type="cube" size="md"> </sdds-spinner>
  </div>
</div>

<div class="component-wrapper">
  <sdds-popover-menu
        placement="auto"
        selector="#trigger">
        <ul class="sdds-popover-menu-wrapper">
          <li>
            <a target="_blank" href="https://tegel.scania.com">Menu item 1</a>
          </li>
          <li>
            <a target="_blank" href="https://tegel.scania.com">

              <i>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_1815_6834)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M2 3C2 2.44771 2.44771 2 3 2H10.7929C11.0581 2 11.3125 2.10536 11.5 2.2929L13.7071 4.5C13.8946 4.68754 14 4.94189 14 5.2071V13C14 13.5523 13.5523 14 13 14H3C2.44771 14 2 13.5523 2 13V3ZM10.7929 3H3V13H13V5.2071L10.7929 3Z" fill="#0D0F13"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5 4.75V2.5H6V4.5H10V2.5H11V4.75C11 5.1642 10.6642 5.5 10.25 5.5H5.75C5.3358 5.5 5 5.1642 5 4.75Z" fill="#0D0F13"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11 9.75V13.5H10V10H6V13.5H5V9.75C5 9.3358 5.3358 9 5.75 9H10.25C10.6642 9 11 9.3358 11 9.75Z" fill="#0D0F13"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_1815_6834">
                  <rect width="16" height="16" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>
              </i>

              Menu item 2
            </a>
          </li>
          <li>
            <a target="_blank" href="https://tegel.scania.com">Menu item 3</a>
          </li>
          <li class="divider"></li>
          <li>
            <a target="_blank" href="https://tegel.scania.com">Menu item 4</a>
          </li>
          <li>
            <a target="_blank" href="https://tegel.scania.com">Menu item 5</a>
          </li>
        </ul>
      </sdds-popover-menu>

      <sdds-textfield
      type="text"
      placeholder="Placeholder textfield"
      labelinside="Label text"
      maxlength="20"
    ></sdds-textfield>

      <div style="display: flex; flex-wrap: nowrap; align-items: center;">
        <span style="user-select: none;margin-right: 16px;">Click icon for popover menu</span>
        <div style="cursor: pointer; display: flex; align-items: center;" id="trigger">
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.03296 3.98828C7.03296 4.54057 7.48278 4.98828 8.03767 4.98828C8.59255 4.98828 9.04238 4.54057 9.04238 3.98828C9.04238 3.436 8.59255 2.98828 8.03767 2.98828C7.48278 2.98828 7.03296 3.436 7.03296 3.98828Z" fill="#0D0F13"/>
            <path d="M7.03296 8C7.03296 8.55228 7.48278 9 8.03767 9C8.59255 9 9.04238 8.55228 9.04238 8C9.04238 7.44772 8.59255 7 8.03767 7C7.48278 7 7.03296 7.44772 7.03296 8Z" fill="#0D0F13"/>
            <path d="M7.03296 12.0146C7.03296 12.5669 7.48278 13.0146 8.03767 13.0146C8.59255 13.0146 9.04238 12.5669 9.04238 12.0146C9.04238 11.4624 8.59255 11.0146 8.03767 11.0146C7.48278 11.0146 7.03296 11.4624 7.03296 12.0146Z" fill="#0D0F13"/>
          </svg>
        </div>
      </div>

      <sdds-textfield
      type="text"
      placeholder="Placeholder textfield"
      labelinside="Label text"
      maxlength="20"
    ></sdds-textfield>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Textfield</h5>
  <div style="width: 208px">
    <sdds-textfield
      type="text"
      placeholder="Placeholder textfield"
      labelinside="Label text"
      maxlength="20"
    ></sdds-textfield>
    <sdds-textarea
      placeholder="Placeholder textarea"
      helper="Helper text"
    ></sdds-textarea>
  </div>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Toggle</h5>
  <div class="sdds-toggle" tabindex="0">
    <input type="checkbox" class="sdds-toggle-input" id="customSwitch1" />
    <span class="sdds-toggle-switch"></span>
    <label class="sdds-toggle-label" for="customSwitch1"
      >Toggle this switch element</label
    >
  </div>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Slider</h5>
  <sdds-slider tooltip value="50" ticks="9" snap show-tick-numbers></sdds-slider>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Toast</h5>
  <div class="sdds-toast sdds-toast-error">
    <div class="sdds-toast-icon">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      ></svg>
    </div>

    <div class="sdds-toast-content">
      <div class="sdds-toast-header">
        <span class="sdds-toast-headline">This is a message</span>
        <span class="sdds-toast-dismiss"></span>
      </div>

      <div class="sdds-toast-body">
        <span class="sdds-toast-subheadline">Short subheader</span>
        <a class="sdds-toast-link" href="#">Link example</a>
      </div>
    </div>
  </div>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Tooltip</h5>
  <sdds-tooltip
    placement="right"
    selector="#right-1"
    text="Tooltip"
  ></sdds-tooltip>
  <button class="sdds-btn sdds-btn-primary" id="right-1">Button</button>
</div>

<div class="component-wrapper">
  <h5 class="sdds-headline-05">Icons</h5>
  <div class="sdds-headline-01">
    <sdds-icon></sdds-icon>
    <sdds-icon name="scania-bus"></sdds-icon>
  </div>
  <div class="sdds-headline-01">
    <!-- Import this to use icon font -->
    <link
      href="https://cdn.digitaldesign.scania.com/icons/dist/1.0.0/fonts/css/sdds-icons.css"
      rel="stylesheet"
    />
    <i class="sdds-icon scania-bus"></i>
    <i class="sdds-icon scania-truck"></i>
  </div>
</div>
