$headings-color: #171719;

// Body
$body-bg: white;
$body-color: #171719;

//Link
// FIXME: Should start phasing this out!!
//Bootstrap colours
$link-color: #696a70;
$link-color-hover: #c5c6c9;
$link-color-active: blue;
$link-color-disabled: #c5c6c9;
$link-bg: inherit;
$link-bg-hover: inherit;
$link-decoration: underline;
$link-decoration-hover: none;

// Global Border settings
$border-radius: 3px;
$border-color: #c5c6c9;

// Modal
$modal-padding: 15px;
$modal-border-color: #f6f6f7;

// Table
$table-border-color: $border-color;
$table-thead-border-color: blue;
$table-thead-bg-color: blue;

//Pagination
$pagination-bg-color: transparent;

// List-groups
$border-radius-list-group: $border-radius;

// Bootstrap components colours
// TODO: When adding more components, need to remove these colours below
$primary: #041e42;
$secondary: #fff;
$success: #89b691;
$info: #2b70d3;
$warning: #386e44;
$danger: #de2b36;
$light: #82848a;
$dark: #515257;
// All colours
$global-colors: (
  'blue': #041e42,
  'red': #de2b36,
  'orange': #386e44,
  'green': #89b691,
  'white': white,
  'black': #2b2c2f,
);

$interaction-colors: (
  'primary': #16417f,
  'secondary': white,
  'success': #438151,
  'info': #2b70d3,
  'warning': #fa6e23,
  'danger': #de2b36,
);

$extra-colors: (
  'light': #c5c6c9,
  'dark': #515257,
);

$success-colors: (
  'success-01': #f1f8f2,
  'success-02': #caebd0,
  'success-03': #a6d1ad,
  'success-04': #386e44,
);

$info-colors: (
  'info-01': #f6f6f9,
  'info-02': #e0e2eb,
  'info-03': #9ca5c2,
  'info-04': #2058a8,
);

$warning-colors: (
  'warning-01': #fdf5f3,
  'warning-02': #fbe3df,
  'warning-03': #f9cac0,
  'warning-04': #c65416,
);

$danger-colors: (
  'danger-01': #fdf4f5,
  'danger-02': #fadbdc,
  'danger-03': #f8b6b7,
  'danger-04': #950a16,
);

$light-colors: (
  'light-01': #f6f6f7,
  'light-02': #e2e2e4,
  'light-03': #c5c6c9,
  'light-04': #a4a6ab,
);

$dark-colors: (
  'dark-01': #82848a,
  'dark-02': #696a70,
  'dark-03': #2b2c2f,
);

$link-options: (
  'link-color': $link-color,
  'link-color-hover': $link-color-hover,
  'link-color-active': $link-color-active,
  'link-color-disabled': $link-color-disabled,
  'link-bg': $link-bg,
  'link-bg-hover': $link-bg-hover,
  'link-decoration': $link-decoration,
  'link-decoration-hover': $link-decoration-hover,
);

$all-colors: (
  'global': $global-colors,
  'success': $success-colors,
  'info': $info-colors,
  'warning': $warning-colors,
  'danger': $danger-colors,
  'light': $light-colors,
  'dark': $dark-colors,
  'interaction': $interaction-colors,
  'extra': $extra-colors,
  'link': $link-options,
);
$theme-colors-bs: ();
// Merge all colors in to theme-colors and
// let "root.scss" render the css variables
@each $name, $type in $all-colors {
  $theme-colors-bs: map-merge($theme-colors-bs, $type);
}

// Interaction lists
$interaction-types: success, info, warning, danger;
$interaction-types2: secondary, light;
$interaction-types3: primary, dark;

$types: join(
  join($interaction-types, $interaction-types2),
  $interaction-types3
);
