li {
  width: 100%;
  background-color: var(--sdds-white);
  height: 64px;
  border-bottom: 1px solid var(--sdds-grey-300);

  button,
  a {
    padding: 0 16px;
    background-color: transparent;
    border: none;
    height: 64px;
    display: flex;
    align-items: center;
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    color: var(--sdds-grey-700);
    text-decoration: none;
  }

  button {
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--sdds-header-mobile-avatar--item-btn-bg-hover);
  }

  &.category {
    height: 48px;
    display: flex;
    align-items: center;
    font: var(--sdds-detail-04);
    letter-spacing: var(--sdds-detail-04-ls);
    color: var(--sdds-grey-500);

    .category {
      padding: 0 16px;
    }
  }

  .avatar {
    cursor: default;
    padding-left: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 16px;

    img {
      height: 34px;
      border-radius: 100%;
    }

    .avatar-info {
      font: var(--sdds-headline-07);
      letter-spacing: var(--sdds-headline-07-ls);
      display: flex;
      flex-direction: column;
      row-gap: 4px;

      .subheading {
        color: var(--sdds-grey-500);
      }
    }
  }
}
