@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';

@mixin datetime-base {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;
  height: 100%;
  color: var(--sdds-textfield-color);
  background-color: var(--sdds-textfield-bg);
  //background-color: red !important;

  &::placeholder {
    opacity: 1;
    color: var(--sdds-textfield-placeholder);
  }

  &:focus::placeholder {
    color: var(--sdds-textfield-placeholder-focus-color);
  }

  &:disabled {
    background-color: var(--sdds-textfield-disabled-bg);
    color: var(--sdds-textfield-disabled-color);

    &::placeholder {
      color: var(--sdds-textfield-disabled-placeholder);
    }

    ~  .sdds-datetime-label-inside {
      color: var(--sdds-textfield-disabled-label);
    }
  }
}

//Sizes
.sdds-datetime-input {
  @include datetime-base;
  @include type-style('detail-02');

  padding: var(--sdds-spacing-element-20) var(--sdds-spacing-element-16);
}

.sdds-datetime-input-md {
  @include datetime-base;
  @include type-style('detail-02');

  padding: var(--sdds-spacing-element-16);
}

//Container for input field and prefix/suffix
.sdds-datetime-container {
  border-radius: 1rem 1rem 0 0;
  display: flex;
  position: relative;
  height: 56px;
  box-sizing: border-box;
  background-color: var(--sdds-textfield-bg);
  border-bottom: 1px solid var(--sdds-textfield-border-bottom);
  transition: border-bottom-color 200ms ease;

  &:hover {
    border-bottom-color: var(--sdds-textfield-border-bottom-hover);
  }

  .sdds-form-datetime-md & {
    height: 48px;
  }
}

.sdds-datetime-input-container {
  position: relative;
  width: 100%;
}

//datetime label
slot[name='sdds-label']::slotted(*) {
  @include type-style('detail-05');

  display: block;
  margin-bottom: var(--sdds-spacing-element-8);
  color: var(--sdds-textfield-label-color);
}

.sdds-datetime-label-inside {
  @include type-style('detail-02');

  position: absolute;
  pointer-events: none;
  color: var(--sdds-textfield-label-inside-color);
  left: 16px;
}

@mixin placeholder-label {
  &::placeholder {
    color: transparent;
  }

  &::-webkit-input-placeholder {
    color: transparent;
  }

  &:-moz-placeholder {
    color: transparent;
  }

  ::-moz-placeholder {
    color: transparent;
  }

  //Input field in focus
  &:focus::placeholder {
    transition: color 0.35s ease;
    color: var(--sdds-textfield-placeholder-focus-color);
  }
}

@mixin label-inside-transition {
  transition: 0.1s ease all;
  -moz-transition: 0.1s ease all;
  -webkit-transition: 0.1s ease all;
}

//Form control
.sdds-form-datetime {
  display: block;
  min-width: 208px;
}

//datetime container with label inside
//Handling position, focus and transition for label inside
.sdds-form-datetime.sdds-datetime-container-label-inside {
  .sdds-datetime-input {
    padding-top: var(--sdds-spacing-element-24);
    padding-bottom: 15px;

    ~ .sdds-datetime-label-inside {
      top: 20px;
    }

    @include placeholder-label;
  }

  .sdds-datetime-input-md {
    padding-top: var(--sdds-spacing-element-20);
    padding-bottom: 11px;

    ~ .sdds-datetime-label-inside {
      top: 16px;
    }

    @include placeholder-label;
  }

  &.sdds-datetime-focus,
  &.sdds-datetime-data {
    .sdds-datetime-input-md ~ .sdds-datetime-label-inside {
      @include type-style('detail-07');
      @include label-inside-transition;

      top: 8px;
    }

    .sdds-datetime-input ~ .sdds-datetime-label-inside {
      @include type-style('detail-07');
      @include label-inside-transition;

      top: 12px;
    }
  }
}

//datetime bottom bar when in focus
.sdds-datetime-bar {
  position: absolute;
  width: 100%;

  &::before,
  &::after {
    content: '';
    height: 2px;
    top: 54px;
    width: 0;
    position: absolute;
    background: var(--sdds-textfield-bar);
    transition: 0.35s ease all;
    -moz-transition: 0.35s ease all;
    -webkit-transition: 0.35s ease all;

    .sdds-form-datetime-md & {
      top: 46px;
    }
  }

  &::before {
    left: 50%;
  }

  &::after {
    right: 50%;
  }

  .sdds-datetime-focus &::before,
  .sdds-datetime-focus &::after {
    width: 50%;
  }
}

//Helper text
.sdds-datetime-helper {
  @include type-style('detail-05');

  display: block;
  flex-basis: 100%;
  padding-top: var(--sdds-spacing-element-4);
  color: var(--sdds-textfield-helper);
}

//Disabled state
.sdds-form-datetime-disabled {
  .sdds-datetime-container {
    border-bottom-color: transparent;
  }

  slot[name='sdds-prefix']::slotted(*),
  slot[name='sdds-suffix']::slotted(*) {
    color: var(--sdds-textfield-disabled-ps-color);
  }

  slot[name='sdds-label']::slotted(*) {
    color: var(--sdds-textfield-disabled-label);
  }
}

//Success state
.sdds-form-datetime-success {
  .sdds-datetime-container {
    border-bottom-color: var(--sdds-textfield-border-bottom-success);
  }
}

//Error State
.sdds-form-datetime-error {
  .sdds-datetime-helper {
    color: var(--sdds-textfield-helper-error);
  }

  .sdds-datetime-container {
    border-bottom-color: var(--sdds-textfield-border-bottom-error);
  }

  .sdds-datetime-bar {
    &::before,
    &::after {
      background: var(--sdds-textfield-bar-error);
    }
  }

  slot[name='sdds-prefix']::slotted(sdds-icon),
  slot[name='sdds-suffix']::slotted(sdds-icon) {
    color: var(--sdds-textfield-icon-error);
  }
}

.sdds-datetime-textcounter {
  @include type-style('detail-05');

  color: var(--sdds-textfield-textcounter);
  float: right;

  & .sdds-datetime-textcounter-divider {
    // @include type-style('detail-05');
    color: var(--sdds-textfield-textcounter-divider);
  }
}

slot[name='sdds-prefix']::slotted(*),
slot[name='sdds-suffix']::slotted(*) {
  @include type-style('detail-02');

  align-self: center;
  color: var(--sdds-textfield-ps-color);
}

//TODO: When new icons are avaliable have a look at this one
slot[name='sdds-prefix']::slotted(sdds-icon),
slot[name='sdds-suffix']::slotted(sdds-icon) {
  font-size: 6rem; //FIXME: When new icons is avaliable it should be 16x16
  line-height: 0;
}

//Text gerenerated infront of the input field
slot[name='sdds-prefix']::slotted(*) {
  padding-left: var(--sdds-spacing-element-20);

  & ~ .sdds-datetime-input  {
    padding-left: var(--sdds-spacing-element-12);
  }
}

//Text generated after the input field
slot[name='sdds-suffix']::slotted(*) {
  padding-right: var(--sdds-spacing-element-20);
}

/* datetime picker icon remove testing */

input[type='datetime-local']::-webkit-inner-spin-button,
input[type='datetime-local']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
