:host,
:host-context(.sdds-theme-light) {
  --sdds-datetime-color: var(--sdds-grey-868);
  --sdds-datetime-bg: var(--sdds-white);
  --sdds-datetime-border-bottom: var(--sdds-grey-400);
  --sdds-datetime-placeholder: var(--sdds-grey-500);
  --sdds-datetime-border-bottom-hover: var(--sdds-grey-600);

  // Disabled
  --sdds-datetime-disabled-bg: var(--sdds-white);
  --sdds-datetime-disabled-color: var(--sdds-grey-400);
  --sdds-datetime-disabled-placeholder: var(--sdds-grey-400);
  --sdds-datetime-disabled-label: var(--sdds-grey-400);

  // Label
  --sdds-datetime-label-color: var(--sdds-grey-958);
  --sdds-datetime-label-inside-color: var(--sdds-grey-700);
  --sdds-datetime-placeholder-focus-color: var(--sdds-grey-500);

  // Highlight bar
  --sdds-datetime-bar: var(--sdds-blue-400);

  // helper
  --sdds-datetime-helper: var(--sdds-grey-700);

  // success
  --sdds-datetime-border-bottom-success: var(--sdds-grey-800);

  // error
  --sdds-datetime-border-bottom-error: var(--sdds-red-500);
  --sdds-datetime-helper-error: var(--sdds-red-500);
  --sdds-datetime-bar-error: var(--sdds-red-500);
  --sdds-datetime-icon-error: var(--sdds-red-500);

  // Textcounter
  --sdds-datetime-textcounter: var(--sdds-grey-700);
  --sdds-datetime-textcounter-divider: var(--sdds-grey-500);

  // Prefix and Suffix
  --sdds-datetime-ps-color: var(--sdds-grey-600);
}

:host-context(.sdds-theme-dark) {
  --sdds-datetime-color: var(--sdds-white);
  --sdds-datetime-bg: var(--sdds-black);
  --sdds-datetime-border-bottom: var(--sdds-grey-400);
  --sdds-datetime-placeholder: var(--sdds-grey-500);
  --sdds-datetime-border-bottom-hover: var(--sdds-grey-600);

  // Disabled
  --sdds-datetime-disabled-bg: var(--sdds-black);
  --sdds-datetime-disabled-color: var(--sdds-grey-400);
  --sdds-datetime-disabled-placeholder: var(--sdds-grey-400);
  --sdds-datetime-disabled-label: var(--sdds-grey-400);

  // Label
  --sdds-datetime-label-color: var(--sdds-white);
  --sdds-datetime-label-inside-color: var(--sdds-grey-700);
  --sdds-datetime-placeholder-focus-color: var(--sdds-grey-500);

  // Highlight bar
  --sdds-datetime-bar: var(--sdds-blue-400);

  // helper
  --sdds-datetime-helper: var(--sdds-grey-700);

  // success
  --sdds-datetime-border-bottom-success: var(--sdds-grey-800);

  // error
  --sdds-datetime-border-bottom-error: var(--sdds-red-500);
  --sdds-datetime-helper-error: var(--sdds-red-500);
  --sdds-datetime-bar-error: var(--sdds-red-500);
  --sdds-datetime-icon-error: var(--sdds-red-500);

  // Textcounter
  --sdds-datetime-textcounter: var(--sdds-grey-700);
  --sdds-datetime-textcounter-divider: var(--sdds-grey-500);

  // Prefix and Suffix
  --sdds-datetime-ps-color: var(--sdds-grey-600);
}
