@import '../../../../mixins/box-sizing';
@import '../../../../mixins/flex-center';

:host {
  height: 100%;
  width: 64px;
  border-left: 1px solid var(--sdds-blue-700);
  position: relative;

  button {
    height: 100%;
    background-color: var(--sdds-header-bg);
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background-color: var(--sdds-blue-700);
    }

    &.sdds-avatar-open {
      background-color: var(--sdds-white);
    }

    img {
      height: 34px;
      border-radius: 100%;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    width: 320px;
    position: absolute;
    right: 0;
    background-color: var(--sdds-white);
    box-shadow: var(--sdds-nav-dropdown-menu-box);
    border-radius: var(--sdds-nav-dropdown-item-border-radius);
    overflow: hidden;

    li {
      border-bottom: 1px solid var(--sdds-grey-300);
    }
  }

  .sdds-avatar-info {
    height: 83px;
    background-color: var(--sdds-white);
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .sdds-avatar-name,
    .sdds-avatar-subheading {
      margin: 0;
      font: var(--sdds-headline-07);
      letter-spacing: var(--sdds-headline-07-ls);
    }

    .sdds-avatar-subheading {
      padding-top: 4px;
      color: var(--sdds-grey-500);
    }
  }

  // should use the token
  @media all and (max-width: 992px) {
    display: none;
  }
}
