@import "@scania/typography/dist/scss/mixins";
@import "@scania/typography/dist/scss/tokens";

:host,
sdds-table-body {
  display: table-row-group;

  .sdds-table__info-message {
    @include type-style("detail-02");

    display: table-cell;
    box-sizing: border-box;
    color: var(--sdds-grey-958);
    padding: var(--sdds-spacing-element-16);
    min-width: 192px;
    vertical-align: top;
    background-color: transparent;
    transition: background-color 200ms ease;
  }
}
