@import '../../helpers/style-helpers.scss';
@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';

@mixin textfield-base {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;
  height: 100%;
  color: var(--sdds-textfield-color);
  background-color: var(--sdds-textfield-bg);

  &::placeholder {
    opacity: 1;
    color: var(--sdds-textfield-placeholder);
  }

  &:focus::placeholder {
    color: var(--sdds-textfield-placeholder-focus-color);
  }

  &:disabled {
    background-color: var(--sdds-textfield-disabled-bg);
    color: var(--sdds-textfield-disabled-color);

    &::placeholder {
      color: var(--sdds-textfield-disabled-placeholder);
    }

    ~  .sdds-textfield-label-inside {
      color: var(--sdds-textfield-disabled-label);
    }
  }
}

//Sizes
.#{$prefix}-textfield-input {
  @include textfield-base;
  @include type-style('detail-02');

  padding: var(--sdds-spacing-element-20) var(--sdds-spacing-element-16);
}

.#{$prefix}-textfield-input-md {
  @include textfield-base;
  @include type-style('detail-02');

  padding: var(--sdds-spacing-element-16);
}

//Container for input field and prefix/suffix
.#{$prefix}-textfield-container {
  border-radius: 1rem 1rem 0 0;
  display: flex;
  position: relative;
  height: 56px;
  box-sizing: border-box;
  background-color: var(--sdds-textfield-bg);
  border-bottom: 1px solid var(--sdds-textfield-border-bottom);
  transition: border-bottom-color 200ms ease;

  &:hover {
    border-bottom-color: var(--sdds-textfield-border-bottom-hover);
  }

  .#{$prefix}-form-textfield-md & {
    height: 48px;
  }
}

.#{$prefix}-textfield-input-container {
  position: relative;
  width: 100%;
}

//Textfield label
slot[name='sdds-label']::slotted(*) {
  @include type-style('detail-05');

  display: block;
  margin-bottom: var(--sdds-spacing-element-8);
  color: var(--sdds-textfield-label-color);
}

.#{$prefix}-textfield-label-inside {
  @include type-style('detail-02');

  position: absolute;
  pointer-events: none;
  color: var(--sdds-textfield-label-inside-color);
  left: 16px;
}

@mixin placeholder-label {
  &::placeholder {
    color: transparent;
  }

  &::-webkit-input-placeholder {
    color: transparent;
  }

  &:-moz-placeholder {
    color: transparent;
  }

  ::-moz-placeholder {
    color: transparent;
  }

  //Input field in focus
  &:focus::placeholder {
    transition: color 0.35s ease;
    color: var(--sdds-textfield-placeholder-focus-color);
  }
}

@mixin label-inside-transition {
  transition: 0.1s ease all;
  -moz-transition: 0.1s ease all;
  -webkit-transition: 0.1s ease all;
}

//Form control
.#{$prefix}-form-textfield {
  display: block;
}

.#{$prefix}-form-textfield-min-width {
  min-width: 208px;
}

//Textfield container with label inside
//Handling position, focus and transition for label inside
.#{$prefix}-form-textfield.sdds-textfield-container-label-inside {
  .#{$prefix}-textfield-input {
    padding-top: var(--sdds-spacing-element-24);
    padding-bottom: 15px;

    ~ .#{$prefix}-textfield-label-inside {
      top: 20px;
    }

    @include placeholder-label;
  }

  .#{$prefix}-textfield-input-md {
    padding-top: var(--sdds-spacing-element-20);
    padding-bottom: 11px;

    ~ .#{$prefix}-textfield-label-inside {
      top: 16px;
    }

    @include placeholder-label;
  }

  &.#{$prefix}-textfield-focus,
  &.#{$prefix}-textfield-data {
    .#{$prefix}-textfield-input-md ~ .#{$prefix}-textfield-label-inside {
      @include type-style('detail-07');
      @include label-inside-transition;

      top: 8px;
    }
    .#{$prefix}-textfield-input ~ .#{$prefix}-textfield-label-inside {
      @include type-style('detail-07');
      @include label-inside-transition;

      top: 12px;
    }
  }
}

//Textfield bottom bar when in focus
.#{$prefix}-textfield-bar {
  position: absolute;
  width: 100%;

  &::before,
  &::after {
    content: '';
    height: 2px;
    top: 54px;
    width: 0;
    position: absolute;
    background: var(--sdds-textfield-bar);
    transition: 0.35s ease all;
    -moz-transition: 0.35s ease all;
    -webkit-transition: 0.35s ease all;

    .#{$prefix}-form-textfield-md & {
      top: 46px;
    }
  }

  &::before {
    left: 50%;
  }

  &::after {
    right: 50%;
  }
  .#{$prefix}-textfield-focus &:before,
  .#{$prefix}-textfield-focus &:after {
    width: 50%;
  }
}

//Helper text
.#{$prefix}-textfield-helper {
  @include type-style('detail-05');

  display: block;
  flex-basis: 100%;
  padding-top: var(--sdds-spacing-element-4);
  color: var(--sdds-textfield-helper);
}

//Disabled state
.#{$prefix}-form-textfield-disabled {
  .#{$prefix}-textfield-container {
    border-bottom-color: transparent;
  }

  slot[name='sdds-prefix']::slotted(*),
  slot[name='sdds-suffix']::slotted(*) {
    color: var(--sdds-textfield-disabled-ps-color);
  }

  slot[name='sdds-label']::slotted(*) {
    color: var(--sdds-textfield-disabled-label);
  }
}

//Success state
.#{$prefix}-form-textfield-success {
  .#{$prefix}-textfield-container {
    border-bottom-color: var(--sdds-textfield-border-bottom-success);
  }
}

//Error State
.#{$prefix}-form-textfield-error {
  .#{$prefix}-textfield-helper {
    color: var(--sdds-textfield-helper-error);
  }

  .#{$prefix}-textfield-container {
    border-bottom-color: var(--sdds-textfield-border-bottom-error);
  }

  .#{$prefix}-textfield-bar {
    &::before,
    &::after {
      background: var(--sdds-textfield-bar-error);
    }
  }

  slot[name='sdds-prefix']::slotted(sdds-icon),
  slot[name='sdds-suffix']::slotted(sdds-icon) {
    color: var(--sdds-textfield-icon-error);
  }
}

.#{$prefix}-textfield-textcounter {
  @include type-style('detail-05');

  color: var(--sdds-textfield-textcounter);
  float: right;

  & .#{$prefix}-textfield-textcounter-divider {
    // @include type-style('detail-05');
    color: var(--sdds-textfield-textcounter-divider);
  }
}

slot[name='sdds-prefix']::slotted(*),
slot[name='sdds-suffix']::slotted(*) {
  @include type-style('detail-02');

  align-self: center;
  color: var(--sdds-textfield-ps-color);
}

//TODO: When new icons are avaliable have a look at this one
slot[name='sdds-prefix']::slotted(sdds-icon),
slot[name='sdds-suffix']::slotted(sdds-icon) {
  font-size: 6rem; //FIXME: When new icons is avaliable it should be 16x16
  line-height: 0;
}

//Text gerenerated infront of the input field
slot[name='sdds-prefix']::slotted(*) {
  padding-left: var(--sdds-spacing-element-20);

  & ~ .#{$prefix}-textfield-input  {
    padding-left: var(--sdds-spacing-element-12);
  }
}

//Text generated after the input field
slot[name='sdds-suffix']::slotted(*) {
  padding-right: var(--sdds-spacing-element-20);
}
