@import '../../mixins/scrollbar';
@import '../../mixins/z-index';

.sdds-dropdown-webcomponent {
  position: relative;
  z-index: z(dropdown);

  .dropdown-button {
    background-color: var(--sdds-dropdown-bg);
    border-radius: 4px 4px 0 0;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid var(--sdds-dropdown-border-bottom);

    &.error {
      border-bottom: 1px solid var(--sdds-negative);
    }

    &.open {
      border-bottom: 2px solid var(--sdds-dropdown-border-bottom-open);
    }

    &.focus {
      border-bottom: 2px solid var(--sdds-dropdown-border-bottom-open);
    }

    sdds-icon {
      transition: transform 0.2s ease-in-out;
    }

    &.open {
      sdds-icon {
        transform: rotate(180deg);
      }
    }

    /*  This accounts for the bottom-border and to total height of the 
        the total height of the component when it is opened. */
    &.lg {
      max-height: 56px;
      height: 55px;

      &.open {
        height: 54px;

        input {
          padding-bottom: 1px;
        }
      }
    }

    &.md {
      max-height: 48px;
      height: 47px;

      &.open {
        height: 46px;

        input {
          padding-bottom: 1px;
        }
      }
    }

    &.sm {
      max-height: 40px;
      height: 39px;

      &.open {
        height: 38px;

        input {
          padding-bottom: 1px;
        }
      }
    }

    input {
      padding: 0 16px 1px;
      top: 0;
      left: 0;
      position: absolute;
      width: calc(100% - 16px);
      background-color: transparent;
      border: none;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--sdds-dropdown-value-color);

      &.lg {
        height: 56px;
      }

      &.md {
        height: 48px;
      }

      &.sm {
        height: 40px;
      }

      &.open {
        padding-bottom: 0;
      }
    }

    input[type='button'] {
      &.placeholder {
        color: var(--sdds-dropdown-placeholder-color);
      }

      &:focus {
        outline: none;
      }

      &.open {
        border-bottom: none;
      }

      &:hover {
        cursor: pointer;
      }

      &.lg.inside {
        padding-top: 4px;
      }

      &.md.inside {
        padding-top: 4px;
      }
    }

    input[type='text'] {
      padding-left: 16px;
      color: var(--sdds-dropdown-value-color);

      &:focus {
        outline: none;
      }

      &.lg.inside {
        padding-top: 4px;
      }

      &.md.inside {
        padding-top: 4px;
      }
    }
  }

  /* LABELS */

  .label-inside {
    position: absolute;
    font: var(--sdds-detail-07);
    letter-spacing: var(--sdds-detail-07-ls);
    color: var(--sdds-dropdown-label-color);

    &.lg {
      top: 12px;
      left: 16px;
    }

    &.md {
      top: 8px;
      left: 16px;
    }

    &.sm {
      display: none;
    }
  }

  .label-as-placeholder {
    position: absolute;
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    color: var(--sdds-dropdown-placeholder-color);

    &.lg {
      top: 20px;
      left: 16px;

      &.selected {
        font: var(--sdds-detail-07);
        letter-spacing: var(--sdds-detail-07-ls);
        top: 12px;
        transition: all 0.2s ease-in-out;
      }
    }

    &.md {
      top: 8px;
      left: 16px;
    }

    &.sm {
      display: none;
    }
  }

  .label-outside {
    font: var(--sdds-detail-05);
    letter-spacing: var(--sdds-detail-05-ls);
    color: var(--sdds-dropdown-label-color);
    margin-bottom: 8px;
  }

  .helper {
    margin-top: 4px;
    color: var(--sdds-dropdown-helper-color);
    font: var(--sdds-detail-05);
    letter-spacing: var(--sdds-detail-05-ls);
    display: flex;
    align-items: center;
    gap: 8px;

    &.error {
      color: var(--sdds-negative);
    }
  }

  /* DROPDOWN LIST */
  .dropdown-menu {
    [role='listbox'] {
      z-index: z(dropdown);
      position: absolute;
      top: 100%;
      left: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      box-shadow: rgb(0 0 0 / 10%) 0 2px 3px 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.2s ease-in-out;
      overflow: auto;
      @include sdds-scrollbar;
    }

    &.open-up {
      [role='listbox'] {
        top: auto;
        transform-origin: bottom;
        box-shadow: 0 -1px 3px 0 rgb(0 0 0 / 10%);
        bottom: 100%;
      }

      &.label-outside {
        [role='listbox'] {
          &.lg {
            bottom: calc(56px + 20px);
          }

          &.md {
            bottom: calc(48px + 20px);
          }

          &.sm {
            bottom: calc(40px + 20px);
          }
        }
      }
    }

    &.open-down {
      &.helper-bottom {
        [role='listbox'] {
          top: calc(100% - 19px);
        }
      }
    }

    &.open {
      [role='listbox'] {
        transform: scaleY(1);
      }
    }

    &.open-auto {
      &.helper-bottom {
        [role='listbox'] {
          top: calc(100% - 19px);
        }
      }
    }

    &.open {
      [role='listbox'] {
        transform: scaleY(1);
      }
    }
  }
}

/* NO RESULT */
li.no-result {
  font: var(--sdds-detail-02);
  letter-spacing: var(--sdds-detail-02-ls);
  background-color: var(--sdds-dropdown-bg);
  display: flex;
  align-items: center;
  padding: 0 16px;

  &.lg {
    height: 56px;
  }

  &.md {
    height: 48px;
  }

  &.sm {
    height: 40px;
  }
}
