:host {
  display: block;
  position: relative;

  .label-outside {
    font: var(--sdds-detail-05);
    letter-spacing: var(--sdds-detail-05-ls);
    color: var(--sdds-dropdown-label-color);
    margin-bottom: 8px;
  }

  .dropdown-select {
    position: relative;

    .label-inside {
      position: absolute;
      font: var(--sdds-detail-07);
      letter-spacing: var(--sdds-detail-07-ls);
      color: var(--sdds-dropdown-label-color);

      &.lg {
        top: 12px;
        left: 16px;
      }

      &.md {
        top: 8px;
        left: 16px;
      }

      &.sm {
        display: none;
      }

      & + .placeholder {
        margin-top: 8px;
      }
    }

    .label-inside-as-placeholder {
      font: var(--sdds-detail-02);
      letter-spacing: var(--sdds-detail-02-ls);
      color: var(--sdds-dropdown-placeholder-color);

      &.selected {
        position: absolute;
        font: var(--sdds-detail-07);
        letter-spacing: var(--sdds-detail-07-ls);
        transition: all 0.2s ease-in-out;

        &.lg {
          top: 12px;
        }

        &.md {
          top: 8px;
        }

        &.sm {
          display: none;
        }

        & + .placeholder {
          margin-top: 8px;
        }
      }
    }

    &.lg {
      height: 55px;
    }

    &.md {
      height: 47px;
    }

    &.sm {
      height: 39px;
    }

    button {
      all: unset;
      height: 100%;
      width: 100%;
      background-color: var(--sdds-dropdown-bg);
      border-bottom: 1px solid var(--sdds-dropdown-border-bottom);

      .value-wrapper {
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &.placeholder {
        color: var(--sdds-dropdown-placeholder-color);
      }

      &.value {
        color: var(--sdds-dropdown-value-color);
      }

      &:focus,
      &.open {
        border-bottom-color: transparent;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: var(--sdds-dropdown-border-bottom-open);
        }
      }
    }

    button.filter {
      display: flex;
      align-items: center;

      .value-wrapper {
        display: flex;
        width: 100%;
      }

      .label-inside-as-placeholder {
        position: absolute;
      }

      &.focus {
        .label-inside-as-placeholder {
          position: absolute;
          font: var(--sdds-detail-07);
          letter-spacing: var(--sdds-detail-07-ls);
          transition: all 0.2s ease-in-out;

          &.lg {
            top: 12px;
          }

          &.md {
            top: 8px;
          }

          &.sm {
            display: none;
          }
        }

        border-bottom-color: transparent;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: var(--sdds-dropdown-border-bottom-open);
        }
      }

      input {
        flex: 1;
        all: unset;
        width: 100%;

        &::placeholder {
          color: var(--sdds-dropdown-placeholder-color);
        }
      }

      sdds-icon {
        margin-right: 16px;
      }
    }
  }

  .helper {
    margin-top: 4px;
    color: var(--sdds-dropdown-helper-color);
    font: var(--sdds-detail-05);
    letter-spacing: var(--sdds-detail-05-ls);
    display: flex;
    align-items: center;
    gap: 8px;

    &.error {
      color: var(--sdds-negative);
    }
  }

  .dropdown-list {
    position: absolute;
    width: 100%;
    transform-origin: top;
    transition: transform 0.2s ease-in-out;
    box-shadow: rgb(0 0 0 / 10%) 0 2px 3px 0;

    &.up {
      top: -100%;
      transform-origin: bottom;
      display: flex;
      flex-direction: column-reverse;
      box-shadow: 0 -1px 3px 0 rgb(0 0 0 / 10%);

      &.helper-offset {
        top: calc(-100% + 16px);
      }
    }

    &.closed {
      transform: scaleY(0);

      // better way to get nice transition on both open and close?
      visibility: hidden;
    }

    &.open {
      transform: scaleY(1);
    }
  }

  sdds-icon {
    transition: transform 0.2s ease-in-out;

    &.open {
      transform: rotateZ(180deg);
    }
  }
}
