@import "@scania/typography/dist/scss/mixins";
@import "@scania/typography/dist/scss/tokens";
@import "../divider/divider.scss";
@import "../../helpers/components-shared.scss";

:root,
html {
  --sdds-accordion-border: #{get-colour(grey-300)};
  --sdds-accordion-bg: transparent;
  --sdds-accordion-bg-hover: #{get-colour(white)};
  --sdds-accordion-bg-focus: transparent;
  --sdds-accordion-bg-active: #{get-colour(grey-100)};
  --sdds-accordion-colour: #{get-colour(grey-958)};
  --sdds-accordion-border-focus: #{get-colour(grey-500)};
  --sdds-accordion-colour-disabled: #{get-colour(grey-400)};

  .sdds-on-white-bg {
    --sdds-accordion-bg-hover: #{get-colour(grey-50)};
  }
}

@mixin disabledStyle {
  &,
  * {
    cursor: not-allowed;
  }

  .sdds-accordion-header-prefix,
  .sdds-accordion-header-suffix {
    background-color: var(--sdds-accordion-bg);
    outline: none;
    pointer-events: none;

    &::after {
      border-color: transparent;
    }
  }
}

.sdds-accordion-item {
  list-style: none;
  color: var(--sdds-accordion-colour);

  &,
  * {
    box-sizing: border-box;
  }

  .sdds-accordion-header-prefix,
  .sdds-accordion-header-suffix {
    cursor: pointer;
    display: flex;
    align-items: center;

    @include type-style("headline-07");

    padding: var(--sdds-spacing-element-16);
    background-color: var(--sdds-accordion-bg);

    .sdds-accordion-icon {
      transform-origin: center;
      transition: transform 0.15s ease-in-out;
      color: var(--sdds-accordion-colour);
    }
  }

  .sdds-accordion-title {
    flex-grow: 2;
  }

  .sdds-accordion-panel {
    cursor: default;
    padding-top: var(--sdds-spacing-element-8);
    padding-bottom: var(--sdds-spacing-element-32);
    padding-left: var(--sdds-spacing-element-16);
    padding-right: var(--sdds-spacing-layout-64);
    display: none;

    @include type-style("detail-03");

    p {
      margin: 0;
      padding: 0;
    }

    &--padding-reset {
      padding-right: var(--sdds-spacing-element-16);
    }
  }

  .sdds-accordion-header-suffix {
    .sdds-accordion-icon {
      margin: 0 0 0 var(--sdds-spacing-element-32);
    }
  }

  .sdds-accordion-header-prefix {
    .sdds-accordion-title {
      order: 1;
    }

    .sdds-accordion-icon {
      order: 0;
      margin: 0 var(--sdds-spacing-element-16) 0 0;
    }
  }

  &:hover {
    .sdds-accordion-header-prefix,
    .sdds-accordion-header-suffix {
      background-color: var(--sdds-accordion-bg-hover);
    }
  }

  &:focus {
    @include sdds-focus-state;

    .sdds-accordion-header-prefix,
    .sdds-accordion-header-suffix {
      background-color: var(--sdds-accordion-bg-focus);
      outline: none;
    }
  }

  &:active,
  &.active {
    .sdds-accordion-header-prefix,
    .sdds-accordion-header-suffix {
      background-color: var(--sdds-accordion-bg-active);
      outline: none;
    }
  }

  &.disabled {
    &,
    .sdds-accordion-header-suffix,
    .sdds-accordion-header-prefix,
    .sdds-accordion-panel {
      color: var(--sdds-accordion-colour-disabled);
      cursor: not-allowed;

      .sdds-accordion-icon {
        color: var(--sdds-accordion-colour-disabled);
      }
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      @include disabledStyle;
    }
  }

  &.expanded {
    .sdds-accordion-panel {
      display: block;
    }

    .sdds-accordion-icon {
      transform: rotate(180deg);
    }

    .sdds-accordion-header-suffix {
      .sdds-accordion-icon {
        margin-right: 0;
        margin-left: var(--sdds-spacing-element-32);
      }
    }

    .sdds-accordion-header-prefix {
      .sdds-accordion-icon {
        margin-left: 0;
        margin-right: var(--sdds-spacing-element-16);
      }
    }
  }
}

:host {
  display: block;

  .sdds-accordion-header-prefix,
  .sdds-accordion-header-suffix {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      z-index: 2;
    }

    &::after {
      bottom: -1px;
      border-bottom: 1px solid transparent;
    }
  }
}

::slotted(sdds-accordion-item) {
  border-top: 1px solid var(--sdds-accordion-border);
}

::slotted(sdds-accordion-item:focus) {
  border-top: 1px solid var(--sdds-accordion-border-focus);
}

::slotted(sdds-accordion-item[disabled="true"]:focus) {
  border-color: var(--sdds-accordion-border);
}

::slotted(sdds-accordion-item:last-child) {
  border-bottom: 1px solid var(--sdds-accordion-border);
}

:host(:focus) {
  @include sdds-focus-state;

  .sdds-accordion-item {
    .sdds-accordion-header-prefix,
    .sdds-accordion-header-suffix {
      background-color: var(--sdds-accordion-bg-focus);
      outline: none;

      &::after {
        border-color: var(--sdds-accordion-border-focus);
      }
    }
  }

  .disabled {
    @include disabledStyle;
  }
}

:host(:active) {
  .sdds-accordion-header-prefix,
  .sdds-accordion-header-suffix {
    background-color: var(--sdds-accordion-bg-active);
    outline: none;
  }

  .disabled {
    @include disabledStyle;
  }
}
