@import '../../../mixins/focus-state';
@import '../../../mixins/z-index';
@import '../../../mixins/box-sizing';

:host {
  @include sdds-box-sizing;

  display: block;
  position: relative;
  z-index: z(tab);

  button.folder-tab {
    min-width: 142px;
    min-width: 100%;
    height: 100%;
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    cursor: pointer;
    color: var(--sdds-folder-tab-color);
    padding: 16px;
    white-space: nowrap;
    text-decoration: none;
    text-align: left;
    outline: none;
    border: none;
    border-top: 2px solid var(--sdds-folder-tab-background);
    background-color: var(--sdds-folder-tab-background);
    border-right: 1px solid;
    border-right-color: transparent;

    .label {
      opacity: var(--sdds-folder-tab-color-opacity);
    }

    &.selected {
      background-color: var(--sdds-folder-tab-background-selected);
      border-top: 2px solid var(--sdds-folder-tab-border-selected);

      &::before {
        content: ' ';
        background-color: var(--sdds-folder-tab-background-selected);
        width: 1px;
        top: 0;
        bottom: 0;
        left: -1px;
        display: block;
        position: absolute;
      }

      .label {
        opacity: var(--sdds-folder-tab-color-opacity-selected);
      }
    }

    &:not(.selected) {
      border-right-color: var(--sdds-folder-tab-divider-color);
    }

    &.disabled {
      pointer-events: none;

      .label {
        opacity: var(--sdds-folder-tab-color-opacity-disabled);
      }

      &:focus {
        .label {
          opacity: var(--sdds-folder-tab-color-opacity-disabled);
        }

        outline: none;
      }
    }

    &:focus {
      @include sdds-focus-state;

      opacity: var(--sdds-folder-tab-color-opacity-focus);
    }

    &:hover {
      .label {
        opacity: var(--sdds-folder-tab-color-opacity-hover);
      }
    }
  }

  button.inline-tab {
    border: none;
    padding: 0 16px;
    margin: 12px 0;
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    color: var(--sdds-inline-tabs-tab-color);
    width: 100%;
    background-color: var(--sdds-inline-tabs-background);

    .label {
      padding: 4px 0;
      opacity: var(--sdds-inline-tab-color-opacity);
    }

    &:hover {
      cursor: pointer;

      &::after {
        width: 100%;
      }
    }

    &:focus {
      @include sdds-focus-state;
    }

    &::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-left: auto;
      width: 0%;
      margin-right: auto;
      height: 2px;
      background-color: var(--sdds-inline-tabs-tab-indicator-background-hover);
      transition: width 0.15s ease-in-out 0s;
      z-index: 1;
    }

    &.selected {
      color: var(--sdds-inline-tabs-tab-color);

      .label {
        opacity: var(--sdds-inline-tab-color-opacity-selected);
      }

      &::after {
        width: 100%;
        background-color: var(--sdds-inline-tabs-tab-indicator-background-active);
      }
    }

    &.disabled {
      color: var(--sdds-inline-tabs-tab-color-disabled);
      pointer-events: none;

      .label {
        opacity: var(--sdds-inline-tabs-tab-color-opacity-disabled);
      }
    }
  }
}

:host(.last) {
  .folder-tab {
    &:not(.selected) {
      border-right-color: transparent;
    }
  }
}
