@import '../../../mixins/focus-state';

:host {
  display: block;
  position: relative;

  button.folder-tab {
    height: 100%;
    width: 100%;
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    cursor: pointer;
    color: var(--sdds-folder-tab-color);
    background-color: var(--sdds-folder-tabs-tab-background);
    padding: 16px;
    white-space: nowrap;
    text-decoration: none;
    text-align: left;
    outline: none;
    border: none;
    border-top: 2px solid var(--sdds-folder-tab-background);
    background-color: var(--sdds-folder-tab-background);

    .label {
      opacity: var(--sdds-folder-tab-color-opacity);
    }

    &.selected {
      background-color: var(--sdds-folder-tab-background-selected);
      border-top: 2px solid var(--sdds-folder-tab-border-selected);

      .label {
        opacity: var(--sdds-folder-tab-color-opacity-selected);
      }
    }

    &.disabled {
      pointer-events: none;

      .label {
        opacity: var(--sdds-folder-tab-color-opacity-disabled);
      }

      &:focus {
        .label {
          opacity: var(--sdds-folder-tab-color-opacity-disabled);
        }

        outline: none;
      }
    }

    &:focus {
      @include sdds-focus-state;

      opacity: var(--sdds-folder-tab-color-opacity-focus);
    }

    &:hover {
      opacity: var(--sdds-folder-tab-color-opacity-hover);
    }
  }

  button.inline-tab {
    border: none;
    padding: 0 16px;
    margin: 12px 0;
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    color: var(--sdds-inline-tabs-tab-color);
    width: 100%;
    background-color: var(--sdds-inline-tabs-background);

    .label {
      padding: 4px 0;
      opacity: var(--sdds-inline-tab-color-opacity);
    }

    &:hover {
      cursor: pointer;

      &::after {
        width: 100%;
      }
    }

    &:focus {
      @include sdds-focus-state;
    }

    &::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-left: auto;
      width: 0%;
      margin-right: auto;
      height: 2px;
      background-color: var(--sdds-inline-tabs-tab-indicator-background-hover);
      transition: width 0.15s ease-in-out 0s;
      z-index: 1;
    }

    &.selected {
      color: var(--sdds-inline-tabs-tab-color);

      .label {
        opacity: var(--sdds-inline-tab-color-opacity-selected);
      }

      &::after {
        width: 100%;
        background-color: var(--sdds-inline-tabs-tab-indicator-background-active);
      }
    }

    &.disabled {
      color: var(--sdds-inline-tabs-tab-color-disabled);
      pointer-events: none;

      .label {
        opacity: var(--sdds-inline-tabs-tab-color-opacity-disabled);
      }
    }
  }
}

:host(.folder-tab) {
  min-width: 142px;
}

:host(.first) {
  margin-left: 16px;
}

:host(.last) {
  margin-right: 0;
}
