:root,
.sdds-theme-light {
  --sdds-inline-tabs-main-bg: var(--sdds-grey-50);
  --sdds-inline-tabs-main-ongrey-bg: var(--sdds-white);
  --sdds-inline-tabs-scroll-btn-bg: var(--sdds-grey-200);
  --sdds-inline-tabs-scroll-btn-hover-bg: var(--sdds-grey-300);
  --sdds-inline-tabs-scroll-btn-active-bg: var(--sdds-grey-400);
  --sdds-inline-tabs-tab-color: var(--sdds-blue-900);
  --sdds-inline-tabs-tab-bg: var(--sdds-grey-100);
  --sdds-inline-tabs-tab-border-color: var(--sdds-grey-300);
  --sdds-inline-tabs-tab-indicator-bg: var(--sdds-grey-300);
  --sdds-inline-tabs-tab-hover-bg: var(--sdds-grey-200);
  --sdds-inline-tabs-tab-hover-color: var(--sdds-grey-958);
  --sdds-inline-tabs-tab-active-bg: var(--sdds-grey-50);
  --sdds-inline-tabs-tab-active-color: var(--sdds-grey-958);
  --sdds-inline-tabs-tab-active-indicator-bg: var(--sdds-blue-400);
  --sdds-inline-tabs-tab-active-ongrey-bg: var(--sdds-white);
}

.sdds-theme-dark {
  --sdds-inline-tabs-main-bg: var(--sdds-grey-868);
  --sdds-inline-tabs-main-ongrey-bg: var(--sdds-grey-900);
  --sdds-inline-tabs-scroll-btn-bg: var(--sdds-grey-800);
  --sdds-inline-tabs-scroll-btn-hover-bg: var(--sdds-grey-900);
  --sdds-inline-tabs-scroll-btn-active-bg: var(--sdds-grey-900);
  --sdds-inline-tabs-tab-color: var(--sdds-grey-50);
  --sdds-inline-tabs-tab-bg: var(--sdds-grey-846);
  --sdds-inline-tabs-tab-border-color: var(--sdds-grey-900);
  --sdds-inline-tabs-tab-indicator-bg: var(--sdds-grey-900);
  --sdds-inline-tabs-tab-hover-bg: var(--sdds-grey-800);
  --sdds-inline-tabs-tab-hover-color: var(--sdds-grey-50);
  --sdds-inline-tabs-tab-active-bg: var(--sdds-grey-868);
  --sdds-inline-tabs-tab-active-color: var(--sdds-grey-50);
  --sdds-inline-tabs-tab-active-indicator-bg: var(--sdds-blue-300);
  --sdds-inline-tabs-tab-active-ongrey-bg: var(--sdds-grey-900);
}
