:root,
.sdds-mode-light {
  --sdds-inline-tabs-main-background-primary: var(--sdds-grey-50);
  --sdds-inline-tabs-main-background-secondary: var(--sdds-white);
  --sdds-inline-tabs-main-background: var(--sdds-inline-tabs-main-background-primary);
  --sdds-inline-tabs-scroll-btn-color: var(--sdds-grey-958);
  --sdds-inline-tabs-scroll-btn-background: var(--sdds-grey-50);
  --sdds-inline-tabs-scroll-btn-background-hover: var(--sdds-grey-300);
  --sdds-inline-tabs-scroll-btn-background-active: var(--sdds-grey-400);
  --sdds-inline-tabs-tab-color: var(--sdds-blue-900);
  --sdds-inline-tabs-tab-background: var(--sdds-grey-100);
  --sdds-inline-tabs-tab-border-color: var(--sdds-grey-300);
  --sdds-inline-tabs-tab-indicator-background: var(--sdds-grey-300);
  --sdds-inline-tabs-tab-background-hover: var(--sdds-grey-200);
  --sdds-inline-tabs-tab-color-hover: var(--sdds-grey-958);
  --sdds-inline-tabs-tab-background-active-primary: var(--sdds-grey-50);
  --sdds-inline-tabs-tab-background-active-secondary: var(--sdds-white);
  --sdds-inline-tabs-tab-background-active: var(--sdds-inline-tabs-tab-background-active-primary);
  --sdds-inline-tabs-tab-color-active: var(--sdds-grey-958);
  --sdds-inline-tabs-tab-indicator-background-active: var(--sdds-blue-400);
  --sdds-navigation-tabs-tab-color-disabled: var(--sdds-blue-900);

  .sdds-mode-variant-primary {
    --sdds-inline-tabs-tab-background-active: var(--sdds-inline-tabs-tab-background-active-primary);
    --sdds-inline-tabs-main-background: var(--sdds-inline-tabs-main-background-primary);
  }

  .sdds-mode-variant-secondary {
    --sdds-inline-tabs-tab-background-active: var(
      --sdds-inline-tabs-tab-background-active-secondary
    );
    --sdds-inline-tabs-main-background: var(--sdds-inline-tabs-main-background-secondary);
  }
}

.sdds-mode-dark {
  --sdds-inline-tabs-main-background-primary: var(--sdds-grey-868);
  --sdds-inline-tabs-main-background-secondary: var(--sdds-grey-900);
  --sdds-inline-tabs-main-background: var(--sdds-inline-tabs-main-background-primary);
  --sdds-inline-tabs-scroll-btn-color: var(--sdds-grey-50);
  --sdds-inline-tabs-scroll-btn-background: var(--sdds-grey-868);
  --sdds-inline-tabs-scroll-btn-background-hover: var(--sdds-grey-900);
  --sdds-inline-tabs-scroll-btn-background-active: var(--sdds-grey-900);
  --sdds-inline-tabs-tab-color: var(--sdds-grey-50);
  --sdds-inline-tabs-tab-background: var(--sdds-grey-846);
  --sdds-inline-tabs-tab-border-color: var(--sdds-grey-900);
  --sdds-inline-tabs-tab-indicator-background: var(--sdds-grey-900);
  --sdds-inline-tabs-tab-background-hover: var(--sdds-grey-800);
  --sdds-inline-tabs-tab-color-hover: var(--sdds-grey-50);
  --sdds-inline-tabs-tab-color-active: var(--sdds-grey-50);
  --sdds-inline-tabs-tab-indicator-background-active: var(--sdds-blue-300);
  --sdds-inline-tabs-tab-background-active-primary: var(--sdds-grey-868);
  --sdds-inline-tabs-tab-background-active-secondary: var(--sdds-grey-900);
  --sdds-inline-tabs-tab-background-active: var(--sdds-inline-tabs-tab-background-active-primary);
  --sdds-navigation-tabs-tab-color-disabled: var(--sdds-blue-50);

  .sdds-mode-variant-primary {
    --sdds-inline-tabs-tab-background-active: var(--sdds-inline-tabs-tab-background-active-primary);
    --sdds-inline-tabs-main-background: var(--sdds-inline-tabs-main-background-primary);
  }

  .sdds-mode-variant-secondary {
    --sdds-inline-tabs-tab-background-active: var(
      --sdds-inline-tabs-tab-background-active-secondary
    );
    --sdds-inline-tabs-main-background: var(--sdds-inline-tabs-main-background-secondary);
  }
}
