@import '../../../../mixins/focus-state';

[role='listitem'] {
  ::slotted(*) {
    font: var(--sdds-headline-06);
    letter-spacing: var(--sdds-headline-06-ls);
    color: var(--sdds-footer-main-links);
    opacity: var(--sdds-footer-main-links-opacity);
    text-decoration: none;

  }

  ::slotted(*:focus-visible) {
    @include sdds-focus-state;
  }


  ::slotted(*:hover) {
    text-decoration: underline;
    }

  &.top-part-child {
    ::slotted(*) {
      color: var(--sdds-footer-top-links);
      font-family: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', arial, helvetica,
        sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
    }

    ::slotted(*:focus-visible) {
      @include sdds-focus-state;
    }
  }
}

@media all and (max-width: 992px) {
  [role='listitem'].top-part-child {
    border-bottom: 1px solid var(--sdds-footer-top-divider);

    ::slotted(*) {
      display: block;
      height: 100%;
      padding: 19px 40px;
      font-weight: normal;
    }


    ::slotted(*:hover){
        text-decoration: underline;
        background-color: var(--sdds-footer-top-links-background-hover);
    }

    ::slotted(*:focus-visible){
      @include sdds-focus-state;
    }
  }
}
