@import '../../../../mixins/focus-state';
@import '../../../../mixins/z-index';
@import '../../../../mixins/box-sizing';

:host {
  @include sdds-box-sizing;

  z-index: z(tab);
  display: block;

  ::slotted(*) {
    all: unset;
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    color: var(--sdds-navigation-tabs-tab-color);
    text-decoration: none;
    display: block;
    position: relative;
    transition: color 0.15s ease-in-out 0s;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    width: 100%;
    margin: 20px 4px;
  }

  ::slotted(*:focus-visible) {
    @include sdds-focus-state;
  }

  .inline-tab-item {
    position: relative;
    margin-right: 32px;

    &:hover {
      cursor: pointer;

      &::after {
        width: 100%;
      }
    }
  }

  .inline-tab-item::after {
    content: ' ';
    position: absolute;
    bottom: -20px;
    right: 0;
    left: 0;
    margin-left: auto;
    width: 0%;
    margin-right: auto;
    height: 2px;
    background-color: var(--sdds-inline-tabs-tab-indicator-background-hover);
    transition: width 0.15s ease-in-out 0s;
    z-index: 1;
  }

  .selected {
    ::slotted(*) {
      color: var(--sdds-inline-tabs-tab-color-selected);
    }

    &::after {
      width: 100%;
      background-color: var(--sdds-inline-tabs-tab-indicator-background-active);
    }
  }

  .disabled {
    color: var(--sdds-inline-tabs-tab-color-disabled);
    pointer-events: none;

    ::slotted(*) {
      opacity: var(--sdds-inline-tabs-tab-color-opacity-disabled);
    }
  }
}

:host(.first) {
  margin-left: 32px;
}

:host(.last) {
  margin-right: 32px;
}
