:root,
.sdds-theme-light {
  --sdds-tooltip-background: var(--sdds-grey-800);
  --sdds-tooltip-color: var(--sdds-white);
}

.sdds-theme-dark {
  --sdds-tooltip-background: var(--sdds-grey-200);
  --sdds-tooltip-color: var(--sdds-white-958);
}
