:root,
html,
.sdds-theme-light {
  /*Table-color*/
  --sdds-data-table-color: var(--sdds-grey-958);

  /*Table-body-cell*/
  --sdds-data-table-body-cell-bg-hover: var(--sdds-grey-200);

  /*Table-body-row*/
  --sdds-data-table-body-row-bg: var(--sdds-white);
  --sdds-data-table-body-row-bg-on-white: var(--sdds-grey-50);
  --sdds-data-table-body-row-bg-hover: var(--sdds-grey-100);
  --sdds-data-table-body-row-bg-on-white-hover: var(--sdds-grey-200);
  --sdds-data-table-body-row-bg-selected: var(--sdds-grey-300);
  --sdds-data-table-body-row-bg-selected-hover: var(--sdds-grey-300);

  /*Table-body-row-expandable*/
  --sdds-data-table-body-row-expandable-on-white-selected: var(--sdds-grey-300);

  /*Table-footer*/
  --sdds-data-table-footer-bg: var(--sdds-grey-100);
  --sdds-data-table-footer-page-selector-input-bg: var(--sdds-grey-50);
  --sdds-data-table-footer-page-selector-input-bg-hover: var(--sdds-white);
  --sdds-data-table-footer-page-selector-input-bg-disabled: var(--sdds-grey-600); //Should this be 400?
  --sdds-data-table-footer-btn-hover: var(--sdds-grey-300);

  /*Table-header*/
  --sdds-data-table-header-bg: var(--sdds-grey-300);
  --sdds-data-table-header-bg-hover: var(--sdds-grey-400);
  --sdds-data-table-header-btn-color: var(--sdds-grey-958);
  --sdds-data-table-header-btn-bg: var(--sdds-grey-500);
  --sdds-data-table-header-btn-bg-hover: var(--sdds-grey-600);
  --sdds-data-table-header-btn-focus: var(--sdds-blue-400);

  /*Table-toolbar*/
  --sdds-data-table-toolbar-bg: var(--sdds-grey-400);
  --sdds-data-table-toolbar-searchbar-bg: var(--sdds-grey-50);
  --sdds-data-table-toolbar-searchbar-bg-hover: var(--sdds-grey-300);

  /*Divider*/
  --sdds-data-table-divider: var(--sdds-grey-400); // light divider is grey-300 but expandable row is the same color when selected
}

.sdds-theme-dark {
  /*Table-body*/
  --sdds-data-table-color: var(--sdds-grey-50);

  /*Table-body-cell*/
  --sdds-data-table-body-cell-bg-hover: var(--sdds-grey-846);

  /*Table-body-row*/
  --sdds-data-table-body-row-bg: var(--sdds-grey-900);
  --sdds-data-table-body-row-bg-on-white: var(--sdds-grey-868);
  --sdds-data-table-body-row-bg-hover: var(--sdds-grey-846);
  --sdds-data-table-body-row-bg-on-white-hover: var(--sdds-grey-846);
  --sdds-data-table-body-row-bg-selected: var(--sdds-grey-800);
  --sdds-data-table-body-row-bg-selected-hover: var(--sdds-grey-700);

  /*Table-body-row-expandable*/
  --sdds-data-table-body-row-expandable-on-white-selected: var(--sdds-grey-800);

  /*Table-footer*/
  --sdds-data-table-footer-bg: var(--sdds-grey-846);
  --sdds-data-table-footer-page-selector-input-bg: var(--sdds-grey-900);
  --sdds-data-table-footer-page-selector-input-bg-hover: var(--sdds-grey-958);
  --sdds-data-table-footer-page-selector-input-bg-disabled: var(--sdds-grey-700);
  --sdds-data-table-footer-btn-hover: var(--sdds-grey-900);

  /*Table-header*/
  --sdds-data-table-header-bg: var(--sdds-grey-800);
  --sdds-data-table-header-bg-hover: var(--sdds-grey-700);
  --sdds-data-table-header-btn-color: var(--sdds-grey-50);
  --sdds-data-table-header-btn-bg: var(--sdds-grey-600);
  --sdds-data-table-header-btn-bg-hover: var(--sdds-grey-700);
  --sdds-data-table-header-btn-focus: var(--sdds-blue-400);

  /*Table-toolbar*/
  --sdds-data-table-toolbar-bg: var(--sdds-grey-700);
  --sdds-data-table-toolbar-searchbar-bg: var(--sdds-grey-900);
  --sdds-data-table-toolbar-searchbar-bg-hover: var(--sdds-grey-800);

  /*Divider*/
  --sdds-data-table-divider: var(--sdds-grey-700); 
}
