@import '../../mixins/focus-state';
@import '../../mixins/box-sizing';

.sdds-table {
  @include sdds-box-sizing;

  border-collapse: collapse;
  display: table;

  & > caption {
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    text-align: left;

    // 24px to account for header component that overlaps
    height: 64px;
    display: table-caption;
    position: relative;
    background-color: var(--sdds-data-table-toolbar-background);
    color: var(--sdds-data-table-color);
    padding: var(--sdds-spacing-element-16);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  & > thead {
    display: table-header-group;

    & > tr > th {
      &:first-of-type {
        border-top-left-radius: 4px;
      }

      &:last-of-type {
        border-top-right-radius: 4px;
      }
    }
  }

  & > caption + thead {
    & > tr > th {
      &:first-of-type {
        border-top-left-radius: 0;
      }

      &:last-of-type {
        border-top-right-radius: 0;
      }
    }
  }

  & > thead {
    & > tr > th {
      font: var(--sdds-headline-07);
      letter-spacing: var(--sdds-headline-07-ls);
      display: table-cell;
      text-align: left;
      color: var(--sdds-data-table-color);
      background-color: var(--sdds-data-table-header-background);
      border-bottom: 1px solid var(--sdds-data-table-divider);
      padding: var(--sdds-spacing-element-16);
      height: 48px;
      min-width: 192px;
      box-sizing: border-box;
      overflow: hidden;
      transition: background-color 200ms ease;

      &:first-of-type {
        border-top-left-radius: 4px;
      }

      &:last-of-type {
        border-top-right-radius: 4px;
      }
    }
  }

  & > tbody {
    display: table-row-group;

    & > tr > td {
      font: var(--sdds-detail-02);
      letter-spacing: var(--sdds-detail-02-ls);
      display: table-cell;
      box-sizing: border-box;
      color: var(--sdds-data-table-color);
      padding: var(--sdds-spacing-element-16);
      min-width: 192px;
      vertical-align: top;
      background-color: transparent;
      transition: background-color 200ms ease;
    }
  }

  & > tbody {
    & > tr {
      display: table-row;
      border-bottom: 1px solid var(--sdds-data-table-divider);
      background-color: var(--sdds-data-table-body-row-background);
      transition: background-color 200ms ease;
    }

    & > tr:hover {
      background-color: var(--sdds-data-table-body-row-background-hover);
    }
  }

  &.sdds-table--compact {
    & > caption {
      // 24px to account for header component that overlaps
      height: 56px;
    }

    & > thead > tr > th,
    & > tbody > tr > td {
      padding: var(--sdds-spacing-element-8) var(--sdds-spacing-element-16);
    }

    & > thead > tr > th {
      height: 32px;
    }
  }

  &.sdds-table--divider {
    & > thead > tr > th,
    & > tbody > tr > td {
      border-right: 1px solid var(--sdds-data-table-divider);
    }

    & > thead > tr > th:last-child,
    & > tbody > tr > td:last-child {
      border-right: none;
    }
  }

  &.sdds-table--no-min-width {
    & > thead > tr > th,
    & > tbody > tr > td {
      min-width: unset;
    }
  }

  &.sdds-table--responsive {
    width: 100%;
  }
}

// Actionbar buttons styling - need for web component batch example

.sdds-table__actionbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  min-width: 40px;
  border: none;
  background-color: transparent;
  color: var(--sdds-data-table-color);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms ease;
  margin-left: 0;

  &:focus {
    @include sdds-focus-state;
  }

  &:hover {
    background-color: var(--sdds-data-table-footer-btn-hover);
  }
}

.sdds-table__actionbar-btn-icon {
  height: 20px;
  width: auto;
}
