@import '../../helpers/style-helpers.scss';
@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';
@import '../header/navbar-collapsible';

.#{$prefix}-navbar-side-menu {
  @extend .#{$prefix}-navbar-collapsible;
  width: var(--#{$prefix}-navbar-side-menu-width);

  .#{$prefix}-menu-item-dropdown-text {
    flex-grow: 1;
  }

  @media all and (min-width: 769px) {
    box-shadow: none;
    border-right: 1px solid var(--#{$prefix}-navbar-side-menu-border);
  }

}