@import "../../helpers/style-helpers.scss";
@import "@scania/typography/dist/scss/mixins";
@import "@scania/typography/dist/scss/tokens";

.sdds-popover-menu {
  overflow: hidden;
  width: 160px;
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 10%);
  border-radius: 4px;
  display: none;
  z-index: 20000; /* same as tooltip */
}

ul.sdds-popover-menu-wrapper {
  list-style-type: none;
  margin: 0;
  margin-block: 0;
  padding: 0;

  li {
    @include type-style("detail-02");

    color: var(--sdds-grey-958);
    margin-bottom: 16px;
    position: relative;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      position: relative;
      width: 100%;

      // display: block;
      color: var(--sdds-grey-958);
      display: flex;
      flex-wrap: nowrap;

      i {
        position: relative;
        top: -1px;
        display: block;
        margin-right: 10px;
        width: 12px;
        height: 12px;
        object-fit: contain;

        svg {
          width: auto;
          height: auto;
        }
      }

      &:hover {
        &::before {
          z-index: -1;
          content: " ";
          display: block;
          position: absolute;
          width: calc(100% + 32px);
          height: calc(100% + 16px);
          top: -8px;
          left: -16px;
          background-color: var(--sdds-grey-100);
        }
      }
    }

    &.divider {
      display: block;
      height: 1px;
      width: 100%;

      &::before {
        position: relative;
        content: " ";
        display: block;
        background-color: var(--sdds-grey-300);
        height: 1px;
        left: -16px;
        width: calc(100% + 32px);
      }
    }
  }
}

.sdds-popover-menu-show {
  opacity: 1;
  display: block;
}
