@import '../core/variables';
@import '../core/spacing/spacing';

.breadcrumb {
  //FIXME: Add correct rem
  font-size: $spacing-element-05;
  padding: $spacing-element-04 $spacing-element-05 3.25rem;
  border-radius: $border-radius;
  background-color: get-colour(grey-100); //TODO: Should breadcrumb be transparent

  .breadcrumb-item {

    a {
      color: $primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    // For the slash before breadcrumb item
    &+.breadcrumb-item:before {
      color: get-colour(grey-500);
    }
  }
}