@import '../../mixins/box-sizing';

a {
  @include sdds-box-sizing;

  cursor: pointer;
  outline: none;

  &,
  &.active,
  &:active {
    color: var(--sdds-link);
    text-decoration: underline;
    text-decoration-color: var(--sdds-link);
  }

  &:hover {
    color: var(--sdds-link-hover);
    text-decoration: underline;
    text-decoration-color: var(--sdds-link-hover);
  }

  &:visited {
    color: var(--sdds-link-visited);
    text-decoration-color: var(--sdds-link-visited);
  }

  &:focus {
    color: var(--sdds-link-focus);
    text-decoration: none;
    outline: 2px solid var(--sdds-link-focus);
    outline-offset: -2px;
  }

  &.disabled {
    color: var(--sdds-link-disabled);
    text-decoration-color: var(--sdds-link-disabled);
    pointer-events: none;
  }

  &.no-underline {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}
