
<div class="sdds-container-fluid content-wrapper">
  <div class="sdds-row">
    <div class="sdds-col-xlg-16 sdds-col-md-8 sdds-col-sm-4">

      <p class="lead-head sdds-paragraph-01">
        This is a simple example how to implement the SDDS components in Angular.
      </p>
      <p class="sub-lead">Check the <a href="https://digitaldesign.scania.com/getting-started/development/installation#angular" target="_blank">full documentation here</a>.</p>
    </div>

    <div class="section-wrapper sdds-col-xlg-12 sdds-col-md-8 sdds-col-sm-4">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>