@import "@scania/typography/dist/scss/mixins";
@import "@scania/typography/dist/scss/tokens";

:host {
  outline: 0 !important;
}

.sdds-inline-tabs {
  overflow: hidden;
  outline: 0;

  &-header {
    position: relative;
  }

  &-main {
    background-color: var(--sdds-grey-50);
    padding: 24px 24px 48px;

    // min-height: 320px;

    /* &--content {
      opacity: 0;
      pointer-events: none;
      position: absolute;

      &__active {
        opacity: 1;
        pointer-events: all;
      }
    } */
  }

  &-wrapper {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--forward {
    cursor: pointer;
    width: 48px;
    height: 100%;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--sdds-grey-200);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

    &__show {
      opacity: 1;
      pointer-events: all;
    }

    &:hover {
      background-color: var(--sdds-grey-300);
    }

    &:active {
      background-color: var(--sdds-grey-400);
    }
  }

  &--back {
    cursor: pointer;
    width: 48px;
    height: 100%;
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--sdds-grey-200);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

    &__show {
      opacity: 1;
      pointer-events: all;
    }

    &:hover {
      background-color: var(--sdds-grey-300);
    }

    &:active {
      background-color: var(--sdds-grey-400);
    }
  }

  &--tab {
    @include type-style("headline-07");

    cursor: pointer;
    border: 0;
    color: rgb(0 21 51 / 60%);
    background-color: var(--sdds-grey-100);
    padding: 16px;
    min-width: 142px;
    text-decoration: none;
    display: block;
    position: relative;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    white-space: nowrap;
    flex-shrink: 0;
    text-align: left;
    outline: none;

    &:not(:last-child) {
      border-right: 1px solid var(--sdds-grey-300);
    }

    &::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin-left: auto;
      width: 0%;
      margin-right: auto;
      height: 2px;
      background-color: var(--sdds-grey-300);
      transition: width 0.15s ease-in-out;
    }

    &:hover {
      background-color: var(--sdds-grey-200);
      color: var(--sdds-blue-958);
    }

    &:focus {
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        border: 1px solid var(--sdds-blue-400);
      }
    }

    &__active {
      background-color: var(--sdds-grey-50);
      color: var(--sdds-blue-958);
      cursor: initial;
      border-right: 1px solid transparent !important;

      &:hover {
        background-color: var(--sdds-grey-50);
      }

      &::after {
        width: calc(100% + 2px);
        left: -1px;
        background-color: var(--sdds-blue-400);
      }

      &::before {
        content: " ";
        background-color: var(--sdds-grey-50);
        width: 1px;
        top: 0;
        bottom: 0;
        left: -1px;
        display: block;
        position: absolute;
      }

      &:focus {
        &::before {
          right: -1px;
          left: -1px;
          width: auto;
          background-color: transparent;
        }
      }

      &:first-child {
        &:focus {
          &::before {
            left: 0;
          }
        }
      }
    }

    &:disabled,
    &__disabled {
      cursor: initial;
      color: rgb(0 21 51 / 38%);
      pointer-events: none;
    }
  }
}

.sdds-inline-tabs-onwhite {
  .sdds-inline-tabs--tab__active {
    background-color: var(--sdds-grey-50);
  }

  .sdds-inline-tabs-main {
    background-color: var(--sdds-grey-50);
  }
}

.sdds-inline-tabs-ongrey50 {
  .sdds-inline-tabs--tab__active {
    background-color: var(--sdds-white);
  }

  .sdds-inline-tabs-main {
    background-color: var(--sdds-white);
  }
}
