.sdds-toggle-webcomponent {
  .toggle-headline {
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    color: var(--sdds-toggle-headline);
    margin-bottom: 12px;

    &.disabled {
      color: var(--sdds-toggle-headline-disabled);
    }
  }

  input[type='checkbox'] {
    margin: 0;
    width: 44px;
    height: 24px;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &::after,
    &::before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &::before {
      /* Slider */
      width: 44px;
      height: 24px;
      border-radius: 16px;
      background-color: var(--sdds-toggle-off-slider);
      left: 0;
    }

    /* Switch */
    &::after {
      width: 16px;
      height: 16px;
      background-color: var(--sdds-toggle-switch);
      border-radius: 50%;
      left: 4px;
      top: 4px;
    }

    &:focus {
      outline: none;

      &::before {
        background-color: var(--sdds-toggle-off-slider-focus);
        border: 1px solid var(--sdds-toggle-off-border-focus);
      }
    }

    &:checked {
      &::before {
        background-color: var(--sdds-toggle-on-slider);
        border: 1px solid var(--sdds-toggle-on-border-focus);
      }

      &::after {
        left: calc(44px - 20px);
      }
    }

    &:disabled {
      &::before {
        background-color: var(--sdds-toggle-slider-disabled);
        border: 1px solid var(--sdds-toggle-slider-disabled);
      }

      &::after {
        background-color: var(--sdds-toggle-switch-disabled);
      }
    }

    &:disabled:checked {
      &::before {
        background-color: var(--sdds-toggle-on-slider-disabled);
        border: 1px solid var(--sdds-toggle-on-slider-disabled);
      }

      &::after {
        background-color: var(--sdds-toggle-switch-disabled);
      }
    }

    &.sm {
      width: 28px;
      height: 16px;

      &::before {
        width: 28px;
        height: 16px;
      }

      &::after {
        width: 8px;
        height: 8px;
      }

      &:checked {
        &::before {
          background-color: var(--sdds-toggle-on-slider);
        }

        &::after {
          left: calc(44px - 28px); // slider width - switch width - padding
        }
      }

      &:disabled {
        &::before {
          background-color: var(--sdds-toggle-slider-disabled);
          border: 1px solid var(--sdds-toggle-slider-disabled);
        }

        &::after {
          background-color: var(--sdds-toggle-switch-disabled);
        }
      }
    }
  }

  label {
    display: inline-block;
    vertical-align: middle;
    font: var(--sdds-detail-01);
    letter-spacing: var(--sdds-detail-01-ls);
    color: var(--sdds-toggle-label-color);
    padding-left: 8px;

    &.disabled {
      color: var(--sdds-toggle-label-color-disabled);
    }
  }
}
