@import './toggle-vars.scss';
@import '../../mixins/box-sizing';

@mixin activeState {
  + .sdds-toggle-switch {
    &::before {
      background-color: var(--sdds-toggle-off-slider-pressed);
      border: 1px solid var(--sdds-toggle-off-slider-pressed);
    }
  }

  &:checked {
    + .sdds-toggle-switch {
      &::before {
        background-color: var(--sdds-toggle-on-slider-pressed);
        border: 1px solid var(--sdds-toggle-on-slider-pressed);
      }
    }
  }
}

.sdds-toggle {
  @include sdds-box-sizing;

  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &,
  * {
    box-sizing: border-box;
  }

  .sdds-toggle-headline {
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    color: var(--sdds-toggle-headline);
    flex: 1 100%;
    margin-bottom: 12px;
  }

  .sdds-toggle-input {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }

  .sdds-toggle-switch {
    width: 44px;
    height: 24px;
    position: relative;
    display: block;

    &::after,
    &::before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &::before {
      // slider
      width: 44px;
      height: 24px;
      border-radius: 16px;
      background-color: var(--sdds-toggle-off-slider);
      left: 0;
    }

    &::after {
      // switch
      width: 16px;
      height: 16px;
      background-color: var(--sdds-toggle-switch);
      border-radius: 50%;
      left: 4px;
      top: 4px;
    }
  }

  .sdds-toggle-label {
    font: var(--sdds-detail-01);
    letter-spacing: var(--sdds-detail-01-ls);
    color: var(--sdds-toggle-label-color);
    padding-left: var(--sdds-spacing-element-8);
  }

  .sdds-toggle-input:checked {
    + .sdds-toggle-switch {
      &::before {
        background-color: var(--sdds-toggle-on-slider);
      }

      &::after {
        left: calc(44px - 20px); // slider width - switch width - padding
      }
    }
  }

  .sdds-toggle-input:focus {
    + .sdds-toggle-switch {
      &::before {
        background-color: var(--sdds-toggle-off-slider-focus);
        border: 1px solid var(--sdds-toggle-off-border-focus);
      }
    }

    &:checked {
      + .sdds-toggle-switch {
        &::before {
          background-color: var(--sdds-toggle-on-slider-focus);
          border: 1px solid var(--sdds-toggle-on-border-focus);
        }
      }
    }
  }

  .sdds-toggle-input:active {
    @include activeState;
  }

  // Size small

  &.sdds-toggle-sm {
    .sdds-toggle-switch {
      &,
      &::before {
        width: 28px;
        height: 16px;
      }

      &::after {
        width: 8px;
        height: 8px;
      }
    }

    .sdds-toggle-label {
      font: var(--sdds-detail-02);
      letter-spacing: var(--sdds-detail-02-ls);
    }

    .sdds-toggle-input:checked {
      + .sdds-toggle-switch {
        &::after {
          left: calc(28px - 12px); // slider width - switch width - padding
        }
      }
    }
  }

  // Hover states
  &:hover {
    .sdds-toggle-switch {
      &::before {
        background-color: var(--sdds-toggle-off-slider-hover);
      }
    }

    .sdds-toggle-input:checked {
      + .sdds-toggle-switch {
        &::before {
          background-color: var(--sdds-toggle-on-slider-hover);
        }
      }
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    .sdds-toggle-input {
      @include activeState;
    }
  }

  &.disabled {
    cursor: not-allowed;

    &::before {
      background-color: var(--sdds-toggle-slider-disabled);
      border: 0;
    }

    .sdds-toggle-input {
      pointer-events: none;

      &:checked,
      &:checked:focus,
      &:focus {
        + .sdds-toggle-switch {
          &::before {
            background-color: var(--sdds-toggle-on-slider-disabled);
            border: 0;
          }
        }
      }
    }

    .sdds-toggle-headline {
      color: var(--sdds-toggle-headline-disabled);
    }

    .sdds-toggle-label {
      color: var(--sdds-toggle-label-color-disabled);
      pointer-events: none;
    }

    .sdds-toggle-switch {
      &::before {
        background-color: var(--sdds-toggle-slider-disabled);
      }

      &::after {
        background-color: var(--sdds-toggle-switch-disabled);
      }
    }
  }
}
