@import '../theme/core/spacing/vars';

:host {
  sdds-header-button {
    display: block;
  }

  color: var(--sdds-white);
}

@media screen and (min-width: $grid-lg) {
  :host {
    sdds-header-button {
      display: none;
    }
  }

  :host([persistent]) sdds-header-button {
    display: block;
  }
}
