@import '../theme/core/spacing/vars';

:host {
  color: var(--sdds-white);

  sdds-header-item {
    display: block;
  }

  .icon {
    position: relative;
    margin-left: -6px;
    left: 3px;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}

@media screen and (min-width: $grid-lg) {
  :host sdds-header-item {
    display: none;
  }

  :host([persistent]) sdds-header-item {
    display: block;
  }
}
