@import '../../../../mixins/scrollbar';

:host {
  height: 64px;
  position: relative;

  .state--open {
    .dropdown-icon {
      transform: rotateZ(180deg);
    }

    .menu {
      display: block;
    }
  }

  .state--placement-end {
    .menu {
      left: auto;
      right: 0;
    }
  }

  .menu {
    /** Should control only height, position, and overflow here. 
      Width and appearance are set inside nested components */
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;

    @include sdds-scrollbar;

    overflow-y: auto;
    max-height: calc(100vh - 64px);
    box-shadow: var(--sdds-nav-dropdown-menu-box);
    background-color: var(--sdds-header-app-launcher-menu-bg);
  }
}
