@import "./popover-canvas-theme-vars.scss";

.sdds-popover-canvas {
  min-width: 160px;
  min-height: 160px;
  background-color: var(--sdds-popover-bg-default);
  padding: 16px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 10%);
  border-radius: 4px;
  z-index: 20000; /* same as tooltip */
  display: none;
}

.sdds-popover-canvas-show {
  opacity: 1;
  display: block;
}
