:root {
  --sdds-header-height: 64px;
  --sdds-header-list-item-md-height: 48px;
}

:root,
.sdds-mode-light {
  --sdds-header-overlay: var(--sdds-black);
  --sdds-header-app-name-color: var(--sdds-white);
  --sdds-header-background: var(--sdds-blue-800);
  --sdds-header-mob-menu-color: var(--sdds-white);
  --sdds-header-mob-menu-open-color: var(--sdds-grey-958);
  --sdds-header-mob-menu-open-background: var(--sdds-white);
  --sdds-header-mob-menu-border: var(--sdds-blue-700);
  --sdds-header-mob-menu-open-border: var(--sdds-grey-300);
  --sdds-nav-item-background: var(--sdds-white);
  --sdds-nav-item-background-active: var(--sdds-grey-100);
  --sdds-nav-item-background-hover: var(--sdds-grey-100);
  --sdds-nav-item-background-selected: var(--sdds-grey-100);
  --sdds-nav-item-border-color: var(--sdds-blue-700);
  --sdds-nav-item-border-color-active: var(--sdds-blue-400);
  --sdds-nav-item-core-background-hover: var(--sdds-grey-100);
  --sdds-nav-item-core-color-active: var(--sdds-grey-800);
  --sdds-header-nav-item-color: var(--sdds-white);
  --sdds-header-nav-item-background-active: var(--sdds-blue-700);
  --sdds-nav-dropdown-item-background: var(--sdds-white);
  --sdds-nav-dropdown-item-border-color: var(--sdds-grey-300);
  --sdds-header-nav-item-dropdown-opened-background: var(--sdds-white);
  --sdds-header-nav-item-dropdown-opened-background-hover: var(--sdds-grey-100);
  --sdds-header-nav-item-dropdown-opened-background-selected: var(--sdds-grey-100);
  --sdds-header-nav-item-dropdown-opened-background-active: var(--sdds-grey-300);
  --sdds-header-nav-item-dropdown-opened-color: var(--sdds-grey-958);
  --sdds-header-nav-item-dropdown-hover-color: var(--sdds-grey-300);
  --sdds-header-item-hover: var(--sdds-blue-700);

  // sdds-nav__basic-element-style
  --sdds-header--basic-element-border: var(--sdds-blue-700);
  --sdds-header--basic-element-border-open: var(--sdds-white);
  --sdds-header--basic-element-background: var(--sdds-blue-800);
  --sdds-header--basic-element-background-open: var(--sdds-white);
  --sdds-header--basic-element-background-hover: var(--sdds-blue-700);
  --sdds-header--basic-element-background-selected: var(--sdds-blue-700);

  /* Searchbar */
  --sdds-header-searchbar-input-background: var(--sdds-white);
  --sdds-header-searchbar-input-color: var(--sdds-black);
  --sdds-header-searchbar-input-placeholder-color: var(--sdds-grey-958);
  --sdds-header-searchbar-input-expanded-after-border-bottom: var(--sdds-grey-300);
  --sdds-header-searchbar-border-color: var(--sdds-blue-700);
  --sdds-header-searchbar-btn-active: var(--sdds-white);
  --sdds-header-searchbar-x-btn-background: var(--sdds-white);
  --sdds-header-searchbar-x-btn-background-hover: var(--sdds-grey-100);
  --sdds-header-searchbar-btn-svg-fill: var(--sdds-grey-958);

  /* Searchbar Results */
  --sdds-header-searchbar-result-item-background: var(--sdds-white);
  --sdds-header-searchbar-result-item-background-hover: var(--sdds-grey-100);
  --sdds-header-searchbar-result-item-background-active: var(--sdds-blue-400);
  --sdds-header-searchbar-result-item-background-visited: var(--sdds-grey-400);
  --sdds-header-searchbar-result-item-anchor-background-hover: var(--sdds-grey-100);
  --sdds-header-searchbar-result-item-top-border-color: var(--sdds-grey-300);
  --sdds-header-searchbar-result-item-top-background: var(--sdds-white);
  --sdds-header-searchbar-result-item-category-title-background: var(--sdds-white);
  --sdds-header-searchbar-result-x-btn: var(--sdds-white);
  --sdds-header-searchbar-result-item-core-color: var(--sdds-black);
  --sdds-header-searchbar-result-item-core-background: var(--sdds-white);
  --sdds-header-searchbar-result-category-border-color: var(--sdds-grey-300);
  --sdds-header-searchbar-result-category-background: var(--sdds-white);

  /* Searchbar Results All */
  --sdds-header-searchbar-all-result-item-color: var(--sdds-black);
  --sdds-header-searchbar-all-result-item-background-hover: var(--sdds-grey-100);
  --sdds-header-searchbar-all-result-item-background-active: var(--sdds-blue-400);
  --sdds-header-searchbar-all-result-item-background-visited: var(--sdds-grey-400);

  /* Avatar */
  --sdds-header-avatar-item-background: var(--sdds-white);
  --sdds-header-avatar-item-background-hover: var(--sdds-grey-100);
  --sdds-header-avatar-item-border-color: var(--sdds-grey-300);
  --sdds-header-avatar-subtitle-color: var(--sdds-grey-500);
  --sdds-header-avatar-item-color: var(--sdds-grey-700);
  --sdds-header-avatar-item-btn-background: var(--sdds-white);

  /* App Launcher */
  --sdds-header-app-launcher-menu-background: var(--sdds-white);
  --sdds-header-app-launcher-btn-background: var(--sdds-white);
  --sdds-header-app-launcher-btn-color: var(--sdds-white);
  --sdds-header-app-launcher-open-btn-color: var(--sdds-black);
  --sdds-header-app-launcher-item-border-color: var(--sdds-grey-300);
  --sdds-header-app-launcher-category-title-background: var(--sdds-white);
  --sdds-header-app-launcher-category-title-color: var(--sdds-grey-500);
  --sdds-header-app-launcher-grid-category-title-color: var(--sdds-grey-800);
  --sdds-header-app-launcher-item-background: var(--sdds-white);
  --sdds-header-app-launcher-item-background-hover: var(--sdds-grey-100);
  --sdds-header-app-launcher-item-color: var(--sdds-grey-700);

  // App launcher - Grid menu
  --sdds-header-app-launcher-grid--color: var(--sdds-grey-800);
  --sdds-header-app-launcher-grid-hover-background: var(--sdds-grey-100);

  /* MOBILE AND TABLET */
  --sdds-header-mobile-menu-background: var(--sdds-white);
  --sdds-header-mobile-menu-item-background: var(--sdds-white);
  --sdds-header-mobile-menu-item-background-hover: var(--sdds-grey-300);
  --sdds-header-mobile-menu-item-color: var(--sdds-grey-958);
  --sdds-header-mobile-menu-item-border-color: var(--sdds-grey-300);
  --sdds-header-mobile-nav-center-background: var(--sdds-white);
  --sdds-header-mobile-nav-center-item-border-color: var(--sdds-grey-300);
  --sdds-header-mobile-nav-center-item-border-color-active-after: var(--sdds-blue-400);
  --sdds-header-mobile-nav-center-dropdown-item--last-border-color: var(--sdds-grey-300);
  --sdds-header-mobile-nav-toolbar-border-color: var(--sdds-grey-300);
  --sdds-header-mobile-searchbar-container-border-color: var(--sdds-grey-300);
  --sdds-header-mobile-searchbar-input-background: var(--sdds-white);
  --sdds-header-mobile-searchbar-input-color: var(--sdds-black);
  --sdds-header-mobile-searchbar-input-placeholder-color: var(--sdds-grey-800);
  --sdds-header-mobile-searchbar-input-expanded-before-background: var(--sdds-white);
  --sdds-header-mobile-searchbar-btn-background: var(--sdds-white);
  --sdds-header-mobile-searchbar-btn-background-hover: var(--sdds-grey-100);
  --sdds-header-mobile-searchbar-open-btn-background: var(--sdds-white);
  --sdds-header-mobile-searchbar-open-btn-background-hover: var(--sdds-grey-100);
  --sdds-header-mobile-searchbar-btn-svg-fill: var(--sdds-grey-958);
  --sdds-header-mobile-searchbar-container-color: var(--sdds-grey-958);
  --sdds-header-mobile-avatar--item-btn-background: var(--sdds-white);
  --sdds-header-mobile-avatar--item-btn-background-hover: var(--sdds-grey-100);
  --sdds-header-mobile-avatar--item-btn-background-selected: var(--sdds-grey-100);
  --sdds-header-mobile-avatar--item-btn-background-active: var(--sdds-grey-300);
  --sdds-header-mobile-avatar--item-btn-color: var(--sdds-grey-958);
}

.sdds-mode-dark {
  --sdds-header-background: var(--sdds-blue-900);
  --sdds-header-mob-menu-open-color: var(--sdds-white);
  --sdds-header-mob-menu-open-background: var(--sdds-grey-958);
  --sdds-header-mob-menu-border: var(--sdds-blue-800);
  --sdds-header-mob-menu-open-border: var(--sdds-grey-868);
  --sdds-nav-item-background: var(--sdds-grey-800);
  --sdds-nav-item-background-hover: var(--sdds-grey-700);
  --sdds-nav-item-background-active: var(--sdds-grey-700);
  --sdds-nav-item-background-selected: var(--sdds-grey-700);
  --sdds-nav-item-border-color: var(--sdds-blue-700);
  --sdds-nav-item-border-color-active: var(--sdds-blue-300);
  --sdds-nav-item-core-background-hover: var(--sdds-grey-700);
  --sdds-nav-item-core-color-active: var(--sdds-grey-50);
  --sdds-header-nav-item-color: var(--sdds-white);
  --sdds-header-nav-item-background-active: var(--sdds-blue-800);
  --sdds-nav-dropdown-item-background: var(--sdds-grey-800);
  --sdds-nav-dropdown-item-border-color: var(--sdds-grey-700);
  --sdds-header-nav-item-dropdown-opened-background: var(--sdds-grey-958);
  --sdds-header-nav-item-dropdown-opened-background-hover: var(--sdds-grey-868);
  --sdds-header-nav-item-dropdown-opened-background-selected: var(--sdds-grey-868);
  --sdds-header-nav-item-dropdown-opened-background-active: var(--sdds-grey-800);
  --sdds-header-nav-item-dropdown-opened-color: var(--sdds-white);
  --sdds-header-item-hover: var(--sdds-blue-800);

  // sdds-nav__basic-element-style
  --sdds-header--basic-element-border: var(--sdds-blue-700);
  --sdds-header--basic-element-border-open: var(--sdds-blue-700);
  --sdds-header--basic-element-background-open: var(--sdds-blue-800);
  --sdds-header--basic-element-background-hover: var(--sdds-blue-800);
  --sdds-header--basic-element-background-selected: var(--sdds-blue-800);

  // /* Searchbar */
  --sdds-header-searchbar-input-background: var(--sdds-grey-958);
  --sdds-header-searchbar-input-color: var(--sdds-white);
  --sdds-header-searchbar-input-placeholder-color: var(--sdds-grey-400);
  --sdds-header-searchbar-input-expanded-after-border-bottom: var(--sdds-grey-700);
  --sdds-header-searchbar-border-color: var(--sdds-blue-700);
  --sdds-header-searchbar-x-btn-background: var(--sdds-grey-958);
  --sdds-header-searchbar-x-btn-background-hover: var(--sdds-grey-868); //400?
  --sdds-header-searchbar-btn-svg-fill: var(--sdds-white);

  // /* Searchbar Results */
  --sdds-header-searchbar-result-item-background: var(--sdds-grey-958);
  --sdds-header-searchbar-result-item-background-hover: var(--sdds-grey-868);
  --sdds-header-searchbar-result-item-background-active: var(--sdds-grey-800);
  --sdds-header-searchbar-result-item-background-visited: var(--sdds-grey-600);
  --sdds-header-searchbar-result-item-anchor-background-hover: var(--sdds-grey-868);
  --sdds-header-searchbar-result-item-top-border-color: var(--sdds-grey-700);
  --sdds-header-searchbar-result-item-top-background: var(--sdds-grey-958);
  --sdds-header-searchbar-result-item-category-title-background: var(--sdds-grey-958);
  --sdds-header-searchbar-result-x-btn: var(--sdds-white);
  --sdds-header-searchbar-result-item-core-color: var(--sdds-white);
  --sdds-header-searchbar-result-item-core-background: var(--sdds-grey-958);
  --sdds-header-searchbar-result-category-border-color: var(--sdds-grey-700);
  --sdds-header-searchbar-result-category-background: var(--sdds-grey-958);

  // /* Searchbar Results All */
  --sdds-header-searchbar-all-result-item-color: var(--sdds-white);
  --sdds-header-searchbar-all-result-item-background-hover: var(--sdds-grey-868);
  --sdds-header-searchbar-all-result-item-background-active: var(--sdds-grey-868);
  --sdds-header-searchbar-all-result-item-background-visited: var(--sdds-grey-600);

  // /* Avatar */
  --sdds-header-avatar-item-background: var(--sdds-grey-800);
  --sdds-header-avatar-item-border-color: var(--sdds-grey-700);
  --sdds-header-avatar-subtitle-color: var(--sdds-grey-500);
  --sdds-header-avatar-title-color: var(--sdds-grey-50);
  --sdds-header-avatar-item-background-hover: var(--sdds-grey-700);
  --sdds-header-avatar-item-color: var(--sdds-grey-500);
  --sdds-header-avatar-item-btn-background: var(--sdds-grey-800);

  // /* App Launcher */
  --sdds-header-app-launcher-menu-background: var(--sdds-grey-800);
  --sdds-header-app-launcher-btn-background: var(--sdds-grey-800);
  --sdds-header-app-launcher-btn-color: var(--sdds-white);
  --sdds-header-app-launcher-open-btn-color: var(--sdds-white);
  --sdds-header-app-launcher-item-border-color: var(--sdds-grey-700);
  --sdds-header-app-launcher-category-title-background: var(--sdds-grey-800);
  --sdds-header-app-launcher-category-title-color: var(--sdds-grey-500);
  --sdds-header-app-launcher-grid-category-title-color: var(--sdds-grey-500);
  --sdds-header-app-launcher-item-background: var(--sdds-grey-800);
  --sdds-header-app-launcher-item-background-hover: var(--sdds-grey-700);
  --sdds-header-app-launcher-item-color: var(--sdds-grey-50);

  // App launcher - Grid menu
  --sdds-header-app-launcher-grid-color: var(--sdds-grey-50);
  --sdds-header-app-launcher-grid-hover-background: var(--sdds-grey-700);

  // /* MOBILE AND TABLET */
  --sdds-header-mobile-nav-center-background: var(--sdds-grey-958);
  --sdds-header-mobile-nav-center-item-border-color: var(--sdds-grey-868);
  --sdds-header-mobile-nav-center-item-border-color-active-after: var(--sdds-blue-400);
  --sdds-header-mobile-nav-center-dropdown-item--last-border-color: var(--sdds-grey-868);
  --sdds-header-mobile-nav-toolbar-border-color: var(--sdds-grey-868);
  --sdds-header-mobile-searchbar-container-border-color: var(--sdds-grey-868);
  --sdds-header-mobile-searchbar-input-background: var(--sdds-grey-958);
  --sdds-header-mobile-searchbar-input-color: var(--sdds-white);
  --sdds-header-mobile-searchbar-input-placeholder-color: var(--sdds-grey-400);
  --sdds-header-mobile-searchbar-input-expanded-before-background: var(--sdds-black);
  --sdds-header-mobile-searchbar-btn-background: var(--sdds-grey-958);
  --sdds-header-mobile-searchbar-btn-background-hover: var(--sdds-grey-868);
  --sdds-header-mobile-searchbar-open-btn-background: var(--sdds-grey-958);
  --sdds-header-mobile-searchbar-open-btn-background-hover: var(--sdds-grey-868);
  --sdds-header-mobile-searchbar-btn-svg-fill: var(--sdds-white);
  --sdds-header-mobile-searchbar-container-color: var(--sdds-white);
  --sdds-header-mobile-avatar--item-btn-background: var(--sdds-grey-958);
  --sdds-header-mobile-avatar--item-btn-background-hover: var(--sdds-grey-868);
  --sdds-header-mobile-avatar--item-btn-background-selected: var(--sdds-grey-868);
  --sdds-header-mobile-avatar--item-btn-background-active: var(--sdds-grey-800);
  --sdds-header-mobile-avatar--item-btn-color: var(--sdds-white);
}
