@import '../src/mixins/box-sizing';

:host,
:root {
  --sdds-banner-background-default: var(--sdds-grey-50);
  --sdds-banner-background-info: var(--sdds-grey-300);
  --sdds-banner-background-error: var(--sdds-red-100);
  --sdds-banner-prefix-default-color: var(--sdds-grey-700);
  --sdds-banner-prefix-info-color: var(--sdds-blue-400);
  --sdds-banner-prefix-error-color: var(--sdds-red-500);
}

.sdds-banner {
  @include sdds-box-sizing;

  background-color: var(--sdds-banner-background-default);
  padding: var(--sdds-spacing-element-16);
  display: flex;

  &.sdds-banner-info {
    background-color: var(--sdds-banner-background-info);
  }

  &.sdds-banner-error {
    background-color: var(--sdds-banner-background-error);
  }
}

.sdds-banner-prefix {
  display: inline-flex;
  flex-basis: 16px;
  height: 16px;
  width: 100%;
  margin-right: var(--sdds-spacing-element-12);
  font-size: 16px;
  color: var(--sdds-banner-prefix-default-color);

  .sdds-banner-info & {
    color: var(--sdds-banner-prefix-info-color);
  }

  .sdds-banner-error & {
    color: var(--sdds-banner-prefix-error-color);
  }
}

.sdds-banner-body {
  flex-grow: 1;
  padding-right: 24px;
}

button.sdds-banner-close {
  appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
}

.sdds-banner-close {
  position: relative;
  flex-basis: 16px;
  height: 16px;
  width: 16px;
  color: var(--sdds-banner-x-color);
  cursor: pointer;
  flex-shrink: 0;
}

.sdds-banner-header {
  font: var(--sdds-headline-06);
  letter-spacing: var(--sdds-headline-06-ls);
  color: var(--sdds-banner-text-color);
  margin: 0;

  + .sdds-banner-link,
  + .sdds-banner-subheader {
    margin-top: 4px;
  }
}

.sdds-banner-subheader {
  font: var(--sdds-detail-02);
  letter-spacing: var(--sdds-detail-02-ls);
  color: var(--sdds-banner-text-color);

  + .sdds-banner-link {
    margin-top: var(--sdds-spacing-element-16);
  }
}

.sdds-banner-link {
  display: block;
  font: var(--sdds-detail-03);
  letter-spacing: var(--sdds-detail-03-ls);
}
