@import '../src/mixins/z-index';
@import '../src/mixins/focus-state';
@import '../src/mixins/flex-center';
@import '../src/mixins/scrollbar';

html,
:root {
  --sdds-nav-dropdown-menu-box: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 1%);
  --sdds-nav-dropdown-item-border-radius: 0 0 4px 4px;
  --sdds-font-family-headline: 'Scania Sans Headline', arial, helvetica, sans-serif;
}

@mixin sdds-nav__basic-element-style {
  display: flex;
  cursor: pointer;
  background-color: var(--sdds-header-background);
  transition: background-color 150ms ease;

  &:hover {
    background-color: var(--sdds-header-background-hover);
  }

  &:focus {
    @include sdds-focus-state;
  }
}

// Style for Header itself

.sdds-nav,
.sdds-nav * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sdds-nav {
  background-color: var(--sdds-header-background);
  height: 64px;
  width: 100%;
  z-index: z(header);
  position: relative;
  display: flex;
  justify-content: space-between;

  .sdds-nav__overlay {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 64px;
    background: var(--sdds-header-overlay);
    opacity: 0;
    transition: opacity 0.1s ease-out;
    visibility: hidden;
  }

  &.sdds-nav__mob-menu--opened,
  &.sdds-nav__app-launcher--opened,
  &.sdds-nav__app-searchbar--opened {
    .sdds-nav__overlay {
      opacity: 0.4;
      visibility: visible;
    }
  }

  .sdds-nav__inline-menu,
  .sdds-nav__toolbar-menu,
  .sdds-nav__searchbar {
    display: flex;
  }

  .sdds-nav__left,
  .sdds-nav__center,
  .sdds-nav__right {
    display: flex;
  }

  .sdds-nav__center {
    width: 100%;
    justify-content: space-between;
  }

  #sdds-nav__mob-menu-icon {
    @include sdds-flex-center;

    width: 16px;
    height: 16px;
    transform: rotate(0deg);
    transition: transform 500ms ease-in-out;
    cursor: pointer;
  }

  #sdds-nav__mob-menu-icon {
    .sdds-nav__mob-menu-icon-line {
      display: block;
      position: absolute;
      height: 2px;
      width: 16px;
      background-color: currentcolor;
      border-radius: 2px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: transform 250ms ease-in-out;
      transform-origin: left center;
    }

    #sdds-nav__mob-menu-icon-line-1 {
      top: 0;
    }

    #sdds-nav__mob-menu-icon-line-2 {
      top: 6px;
    }

    #sdds-nav__mob-menu-icon-line-3 {
      top: 12px;
    }
  }

  &.sdds-nav__mob-menu--opened {
    #sdds-nav__mob-menu-icon {
      #sdds-nav__mob-menu-icon-line-1 {
        transform: rotate(45deg);
        top: 1px;
        left: 2px;
      }

      #sdds-nav__mob-menu-icon-line-2 {
        width: 0;
        opacity: 0;
      }

      #sdds-nav__mob-menu-icon-line-3 {
        transform: rotate(-45deg);
        top: 12px;
        left: 2px;
      }
    }
  }

  .sdds-nav__app-name {
    @include sdds-flex-center;

    font-family: var(--sdds-font-family-headline);
    font-weight: normal;
    color: var(--sdds-header-app-name-color);
    padding: 0 24px;
    white-space: nowrap;
  }

  .sdds-nav__app-logo {
    @include sdds-nav__basic-element-style;

    display: block;
    cursor: pointer;
    background-image: var(--sdds-background-image-scania-symbol-svg),
      var(--sdds-background-image-scania-symbol-png);
    background-size: 30px auto;
    width: 64px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sdds-nav__inline-menu,
  .sdds-nav__toolbar-menu {
    list-style-type: none;
  }

  .sdds-nav__item {
    position: relative;
    border-right: 1px solid var(--sdds-nav-item-border-color);
    border-top: none;
    border-bottom: none;
    border-left: none;

    &:first-child {
      border-left: 1px solid var(--sdds-nav-item-border-color);
    }
  }

  .sdds-nav__item--selected::after {
    content: '';
    border-bottom: 4px solid var(--sdds-nav-item-border-color-after);
    width: calc(100% + 2px);
    display: block;
    margin-left: -1px;
    bottom: 4px;
    position: relative;
  }

  .sdds-nav__mob-menu-btn {
    @include sdds-nav__basic-element-style;
    @include sdds-flex-center;

    border: none;
    border-right: 1px solid var(--sdds-nav-item-border-color);
    color: var(--sdds-header-mob-menu-color);
    display: none;
    width: 64px;
  }

  &.sdds-nav__mob-menu--opened {
    .sdds-nav__mob-menu-btn {
      color: var(--sdds-header-mob-menu-open-color);
      background-color: var(--sdds-header-mob-menu-open-background);
      border-right: none;
      position: absolute;
      height: 64px;
      width: 64px;
      left: 209px;
      border-bottom: 1px solid var(--sdds-header-mob-menu-open-border);

      @media all and (max-width: $grid-sm) {
        left: auto;
        right: 0;
        z-index: 1;
      }

      &::before {
        content: ' ';
        width: 209px;
        height: 64px;
        background-color: var(--sdds-header-mob-menu-open-background);
        position: absolute;
        display: block;
        left: 0;
        transform: translateX(-100%);
        pointer-events: none;
        border-bottom: 1px solid var(--sdds-header-mob-menu-open-border);

        @media all and (max-width: $grid-sm) {
          width: calc(100vw - 64px);
        }
      }
    }
  }

  .sdds-nav__item-core,
  .sdds-nav__item-core:visited,
  .sdds-nav__item-core:active {
    @include sdds-nav__basic-element-style;
    @include sdds-flex-center;

    //@include type-style('headline-07');
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    text-decoration: none;
    white-space: nowrap;
    color: var(--sdds-header-nav-item-color);
    padding: 0 24px;
    height: 100%;
    border: none;

    &:hover {
      text-decoration: none;
    }
  }

  .sdds-nav__item--selected {
    .sdds-nav__item-core {
      background-color: var(--sdds-header-nav-item-background-active);
    }
  }

  .sdds-nav__dropdown-icon {
    margin-left: var(--sdds-spacing-element-12);
    display: flex;

    .sdds-nav__dropdown-icon-svg {
      transition: transform 200ms ease-out;
      transform: rotate(0);
      width: 16px;
      height: auto;
    }
  }

  .sdds-nav__dropdown--opened {
    .sdds-nav__item-core {
      background-color: var(--sdds-header-nav-item-dropdown-opened-background);
      color: var(--sdds-header-nav-item-dropdown-opened-color);

      .sdds-nav__dropdown-icon {
        .sdds-nav__dropdown-icon-svg {
          transform: rotate(180deg);
        }
      }
    }

    .sdds-nav__dropdown-menu {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .sdds-nav__dropdown-menu {
    position: absolute;
    list-style-type: none;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 150ms ease;
    box-shadow: var(--sdds-nav-dropdown-menu-box);
    border-radius: var(--sdds-nav-dropdown-item-border-radius);
  }

  .sdds-nav__dropdown-item {
    width: 190px;
    height: 48px;
    background-color: var(--sdds-nav-dropdown-item-background);
    border-bottom: 1px solid var(--sdds-nav-dropdown-item-border-color);
    transition: background-color 150ms ease;

    &:hover {
      background-color: var(--sdds-nav-item-background-hover);
    }

    &:last-of-type,
    a {
      border-radius: var(--sdds-nav-dropdown-item-border-radius);
    }
  }

  .sdds-nav__dropdown-item--selected {
    border-left: 4px solid var(--sdds-nav-item-border-color-active);
    background: var(--sdds-nav-item-background-active);

    .sdds-nav__dropdown-item-core {
      padding: 0 24px 0 20px;
      background-color: var(--sdds-nav-item-core-background-hover);
    }
  }

  .sdds-nav__dropdown-item-core,
  .sdds-nav__dropdown-item-core:visited,
  .sdds-nav__dropdown-item-core:active {
    //@include type-style('detail-02');
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    background-color: inherit;
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: var(--sdds-nav-item-core-color-active);
    border: none;
    cursor: pointer;
  }

  .sdds-nav__toolbar-menu {
    .sdds-nav__item {
      &:last-child {
        border-right: none;
      }
    }
  }

  .sdds-nav__app-launcher-btn {
    @include sdds-nav__basic-element-style;
    @include sdds-flex-center;

    height: 100%;
    width: 64px;
    border: none;
    color: var(--sdds-header-app-launcher-btn-color);
    transition: color 150ms ease;

    &:hover {
      text-decoration: none;
    }

    .sdds-nav__app-launcher-btn-svg {
      width: 20px;
      height: auto;
      transition: fill 150ms ease;
    }
  }

  .sdds-nav__searchbar-input-expanded {
    display: none;
  }

  .sdds-nav__searchbar-input {
    //@include type-style('detail-02');
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    color: var(--sdds-header-searchbar-input-color);
    align-items: center;
    justify-content: flex-end;
    display: flex;
    position: relative;
    margin: 4px 2px;
    width: calc(100% - 64px);
    transition: transform 150ms ease;
    transform-origin: top;
    transform: scaleY(0);
    padding: 24px 14px 24px 23px;
    outline: none;
  }

  .sdds-nav__app-searchbar-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .sdds-nav__app-searchbar {
    display: flex;
    width: 64px;
    border-left: 1px solid var(--sdds-header-searchbar-border-color);
    border-right: none;
  }

  .sdds-nav__app-searchbar-btn,
  .sdds-nav__app-searchbar-btn:active {
    @include sdds-nav__basic-element-style;
    @include sdds-flex-center;

    height: 100%;
    width: 64px;
    border: none;
    color: var(--sdds-header-searchbar-btn-active);
    transition: color 150ms ease;

    &:hover {
      text-decoration: none;
    }

    .sdds-nav__app-searchbar-btn-svg {
      width: 20px;
      height: auto;
      transition: fill 150ms ease;
    }
  }

  .sdds-nav__searchbar-menu {
    list-style-type: none;
    position: absolute;
    width: 100%;
    transition: transform 150ms ease;
    transform-origin: top;
    transform: scaleY(0);
  }

  .sdds-nav__searchbar-results--category {
    background-color: var(--sdds-header-searchbar-result-category-background);
    border-bottom: 1px solid var(--sdds-header-searchbar-result-category-border-color);
    padding-bottom: 12px;
    height: 100%;
    cursor: pointer;
    transition: background-color 150ms ease;

    &:focus {
      @include sdds-focus-state;
    }

    &:last-child {
      border: none;
    }
  }

  .sdds-nav__searchbar-results-item {
    height: 40px;
    padding: 12px;
    list-style: none;
    background-color: var(--sdds-header-searchbar-result-item-background);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background-color: var(--sdds-header-searchbar-result-item-background-hover);
    }

    &:active {
      border: 1px solid var(--sdds-header-searchbar-result-item-background-active);
    }

    &:visited {
      background-color: var(--sdds-header-searchbar-result-item-background-visited);
    }
  }

  .sdds-nav__searchbar-results-item:hover button,
  .sdds-nav__searchbar-results-item:hover a {
    background-color: var(--sdds-header-searchbar-result-item-anchor-background-hover);
    cursor: pointer;
  }

  .sdds-nav__searchbar-item--top {
    border-bottom: 1px solid var(--sdds-header-searchbar-result-item-top-border-color);
    background-color: var(--sdds-header-searchbar-result-item-top-background);
  }

  .sdds-nav__searchbar-results-category-title {
    //@include type-style('detail-04');
    color: var(--sdds-header-searchbar-all-result-item-color);
    font: var(--sdds-detail-04);
    letter-spacing: var(--sdds-detail-04-ls);
    padding: 24px 12px 12px 24px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--sdds-header-searchbar-result-item-category-title-background);
  }

  .sdds-nav__app-searchbar-results-mgl-svg {
    margin-right: 24px;
    transform: translateY(4px);
  }

  .sdds-nav__app-searchbar-results-x-btn {
    background-color: transparent;
    color: var(--sdds-header-searchbar-result-x-btn);
    border: none;
    margin: auto 14px;
  }

  .sdds-nav__searchbar-all-results {
    //@include type-style('detail-02');
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    color: var(--sdds-header-searchbar-all-result-item-color);
    width: 100%;
    padding: 24px;
    top: 12px;
    left: 56px;
    height: auto;
    cursor: pointer;

    &:hover {
      background-color: var(--sdds-header-searchbar-all-result-item-background-hover);
    }

    &:active {
      border: 1px solid var(--sdds-header-searchbar-all-result-item-background-active);
    }

    &:visited {
      background-color: var(--sdds-header-searchbar-all-result-item-background-visited);
    }

    .sdds-nav__app-searchbar-results-mgl-svg {
      vertical-align: unset;
    }
  }

  .sdds-nav__searchbar-results-item-core {
    //@include type-style('detail-02');
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    color: var(--sdds-header-searchbar-result-item-core-color);
    text-decoration: none;
    width: 100%;
    padding-left: 40px;
    background-color: var(--sdds-header-searchbar-result-item-core-background);
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &.sdds-nav__searchbar--opened {
    .sdds-nav__overlay {
      opacity: 0.4;
      visibility: visible;
    }

    .sdds-nav__app-searchbar-mgl-btn {
      display: none;
    }

    .sdds-nav__app-searchbar-x-btn {
      background-color: var(--sdds-header-searchbar-x-btn-background);
      width: 64px;
      position: relative;

      &:hover {
        background-color: var(--sdds-header-searchbar-x-btn-background-hover);
      }

      .sdds-nav__app-searchbar-btn-svg {
        path {
          fill: var(--sdds-header-searchbar-btn-svg-fill);
        }

        color: var(--sdds-header-searchbar-btn-svg-fill);
      }
    }

    .sdds-nav__app-searchbar {
      width: 100%;
      border: none;
    }

    .sdds-nav__searchbar-input {
      display: flex;
      background-color: var(--sdds-header-searchbar-input-background);
      transform: scaleY(1);
      margin: 0;
      border: none;
    }

    .sdds-nav__searchbar-input::placeholder {
      color: var(--sdds-header-searchbar-input-placeholder-color);
    }

    .sdds-nav__searchbar-input-expanded {
      display: flex;
      width: 100%;
      position: relative;

      &::after {
        content: ' ';
        border-bottom: 1px solid var(--sdds-header-searchbar-input-expanded-after-border-bottom);
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .sdds-nav__searchbar-menu {
      transform: scaleY(1);
      top: 100%;
    }
  }

  .sdds-nav__avatar-btn,
  .sdds-nav__avatar-btn:active {
    @include sdds-nav__basic-element-style;
    @include sdds-flex-center;

    height: 100%;
    width: 64px;
    border: none;

    .sdds-nav__avatar-img {
      width: 34px;
      height: 34px;
      border-radius: 50%;
    }
  }

  .sdds-nav__avatar-menu {
    list-style-type: none;
    position: absolute;
    right: 0;
    transition: transform 150ms ease;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }

  .sdds-nav__avatar-item {
    width: 320px;
    height: 64px;
    background-color: var(--sdds-header-avatar-item-background);
    border-bottom: 1px solid var(--sdds-header-avatar-item-border-color);
    box-shadow: 0 3px 3px rgb(0 0 0 / 15%);

    //WHY WE NEED DOUBLE VALUES HERE TO MAKE IT WORK???
    &:last-child {
      border-radius: var(--sdds-nav-dropdown-item-border-radius);

      .sdds-nav__avatar-item-core {
        border-radius: var(--sdds-nav-dropdown-item-border-radius);
      }
    }
  }

  .sdds-nav__avatar-item--large {
    height: 84px;
  }

  .sdds-nav__avatar-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 16px;
  }

  .sdds-nav__avatar-info--mobile {
    display: none;
  }

  .sdds-nav__avatar-title,
  .sdds-nav__avatar-subtitle {
    //@include type-style('headline-07');
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    width: 100%;
  }

  .sdds-nav__avatar-title {
    color: var(--sdds-header-avatar-title-color);
  }

  .sdds-nav__avatar-subtitle {
    padding-top: 4px;
    color: var(--sdds-header-avatar-subtitle-color);
  }

  .sdds-nav__avatar-item-core,
  .sdds-nav__avatar-item-core:visited,
  .sdds-nav__avatar-item-core:active {
    //@include type-style('detail-02');
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 100%;
    width: 100%;
    background-color: var(--sdds-header-avatar-item-background);
    color: var(--sdds-header-avatar-item-color);
    transition: background-color 150ms ease;
    border: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      background-color: var(--sdds-header-avatar-item-background-hover);
    }
  }

  &.sdds-nav__avatar--opened {
    .sdds-nav__avatar-btn {
      background-color: var(--sdds-header-avatar-item-btn-background);
    }

    .sdds-nav__avatar-menu {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .sdds-nav__app-launcher-menu {
    @include sdds-scrollbar;

    overflow-y: auto;
    list-style-type: none;
    background-color: var(--sdds-header-app-launcher-menu-background);
    position: absolute;
    right: 0;
    height: calc(100vh - 64px);
    padding-bottom: 32px;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    transition: transform 150ms ease;
  }

  &.sdds-nav__app-launcher--opened {
    .sdds-nav__app-launcher-btn {
      background-color: var(--sdds-header-app-launcher-btn-background);
      color: var(--sdds-header-app-launcher-open-btn-color);
    }

    .sdds-nav__app-launcher-menu {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .sdds-nav__app-launcher-item {
    width: 320px;
    height: 64px;
    border-bottom: 1px solid var(--sdds-header-app-launcher-item-border-color);
  }

  .sdds-nav__app-launcher-item--category {
    height: 48px;
  }

  .sdds-nav__app-launcher-category-title {
    //@include type-style('detail-06');
    font: var(--sdds-detail-06);
    letter-spacing: var(--sdds-detail-06-ls);
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 16px;
    background-color: var(--sdds-header-app-launcher-category-title-background);
    color: var(--sdds-header-app-launcher-category-title-color);
  }

  .sdds-nav__app-launcher-item-core,
  .sdds-nav__app-launcher-item-core:visited,
  .sdds-nav__app-launcher-item-core:active {
    //@include type-style('detail-02');
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 100%;
    width: 100%;
    background-color: var(--sdds-header-app-launcher-item-background);
    color: var(--sdds-header-app-launcher-item-color);
    transition: background-color 150ms ease;
    border: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      background-color: var(--sdds-header-app-launcher-item-background-hover);
    }
  }

  //MOBILE + TABLET STYLING

  @media all and (max-width: $grid-lg) {
    justify-content: space-between;

    .sdds-nav__app-searchbar-container {
      position: absolute;
      top: 0;
      height: 68px;
      border-bottom: 1px solid var(--sdds-header-mobile-searchbar-container-border-color);
    }

    .sdds-nav__app-searchbar {
      width: 100%;
    }

    .sdds-nav__searchbar-item--top {
      span {
        display: none;
      }
    }

    .sdds-nav__searchbar-results-item-core {
      padding-left: 28px;
    }

    .sdds-nav__app-searchbar-results-mgl-svg {
      margin-right: 16px;
      transform: translateY(4px);
      margin-left: 17px;
    }

    .sdds-nav__searchbar-results-item {
      height: auto;
      align-items: flex-start;

      .sdds-nav__app-searchbar-results-x-btn {
        margin-top: 0;
      }
    }

    .sdds-nav__app-searchbar-btn {
      width: 100%;

      &::before {
        font: var(--sdds-headline-07);
        letter-spacing: var(--sdds-headline-07-ls);
        content: 'Search';
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translateY(-50%);
        color: var(--sdds-header-mobile-searchbar-container-color);
      }

      .sdds-nav__app-searchbar-btn-svg {
        display: none;
      }

      &:active {
        width: 100%;
      }
    }

    &.sdds-nav__searchbar--opened {
      .sdds-nav__app-searchbar-btn {
        &::before {
          display: none;
        }

        .sdds-nav__app-searchbar-btn-svg {
          display: block;
        }
      }

      .sdds-nav__app-searchbar-container {
        height: 65px;
      }

      .sdds-nav__center {
        margin-top: -64px;
        height: 100vh;
      }

      .sdds-nav__searchbar-input-expanded {
        position: relative;
        z-index: 1;

        &::before {
          content: ' ';
          height: 500px;
          background-color: var(--sdds-header-mobile-searchbar-input-expanded-before-background);
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          min-height: 100vh;
        }
      }

      .sdds-nav__searchbar-input {
        background-color: var(--sdds-header-mobile-searchbar-input-background);
        color: var(--sdds-header-mobile-searchbar-input-color);

        &::placeholder {
          color: var(--sdds-header-mobile-searchbar-input-placeholder-color);
        }
      }

      .sdds-nav__app-searchbar-btn {
        background-color: var(--sdds-header-mobile-searchbar-open-btn-background);

        &:active {
          width: 64px;
        }

        &:hover {
          background-color: var(--sdds-header-mobile-searchbar-open-btn-background-hover);
        }

        .sdds-nav__app-searchbar-btn-svg {
          path {
            fill: var(--sdds-header-mobile-searchbar-btn-svg-fill);
          }
        }
      }
    }

    .sdds-nav__app-searchbar-btn:hover {
      background-color: var(--sdds-header-mobile-searchbar-btn-background-hover);
    }

    .sdds-nav__app-searchbar {
      border-left: none;
    }

    .sdds-nav__mob-menu-btn {
      display: flex;
    }

    .sdds-nav__app-searchbar-btn {
      background-color: var(--sdds-header-mobile-searchbar-btn-background);
      border-left: none;
    }

    .sdds-nav__center {
      @include sdds-scrollbar;

      overflow-y: auto;
      position: absolute;
      top: 64px;
      width: 272px;
      height: calc(100vh - 64px);
      flex-direction: column;
      background-color: var(--sdds-header-mobile-nav-center-background);
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 250ms ease;

      &.sdds-nav__center-withsearch {
        .sdds-nav__inline-menu {
          margin-top: 68px;
        }
      }

      .sdds-nav__inline-menu,
      .sdds-nav__toolbar-menu {
        flex-direction: column;
      }

      .sdds-nav__item,
      .sdds-nav__item-core,
      .sdds-nav__avatar-btn {
        width: 100%;
        justify-content: flex-start;
      }

      .sdds-nav__avatar-btn {
        border-bottom: 1px solid var(--sdds-header-mobile-nav-center-item-border-color);
      }

      .sdds-nav__avatar-item {
        border-bottom: 1px solid var(--sdds-header-mobile-nav-center-item-border-color);

        .sdds-nav__avatar-item-core {
          background-color: var(--sdds-header-mobile-nav-center-background);

          &:hover {
            background-color: var(--sdds-header-mobile-avatar--item-btn-background-hover);
          }
        }
      }

      .sdds-nav__item {
        border-left: none;
        border-right: none;
        height: 68px;
      }

      .sdds-nav__item-core {
        border-bottom: 1px solid var(--sdds-header-mobile-nav-center-item-border-color);
      }

      .sdds-nav__toolbar-menu {
        margin-top: -1px;
        border-top: 1px solid var(--sdds-header-mobile-nav-toolbar-border-color);
      }

      .sdds-nav__item--selected {
        .sdds-nav__item-core {
          background-color: var(--sdds-header-mobile-avatar--item-btn-background-selected);
        }
      }

      .sdds-nav__avatar-item--selected {
        .sdds-nav__avatar-item-core {
          background-color: var(--sdds-header-mobile-avatar--item-btn-background-selected);
        }
      }

      .sdds-nav__item--selected,
      .sdds-nav__avatar-btn--selected,
      .sdds-nav__avatar-item--selected {
        border-bottom: none;
        border-left: 4px solid var(--sdds-header-mobile-nav-center-item-border-color-active-after);
      }

      .sdds-nav__item-core,
      .sdds-nav__avatar-btn,
      .sdds-nav__avatar-item-core {
        background-color: var(--sdds-header-mobile-avatar--item-btn-background);
        color: var(--sdds-header-mobile-avatar--iten-btn-border-color);

        &:hover {
          background-color: var(--sdds-header-mobile-avatar--item-btn-background-hover);
        }

        &:active {
          background-color: var(--sdds-header-mobile-avatar--item-btn-background-active);
        }
      }

      .sdds-nav__avatar-btn--selected {
        background-color: var(--sdds-header-mobile-avatar--item-btn-background-selected);
      }

      .sdds-nav__dropdown {
        .sdds-nav__item-core {
          height: 68px;
        }

        .sdds-nav__dropdown-menu {
          display: block;
          position: relative;

          .sdds-nav__dropdown-item {
            box-shadow: none;
            border-bottom: none;
            width: 100%;

            &:last-of-type {
              border-radius: 0;
              border-bottom: 1px solid
                var(--sdds-header-mobile-nav-center-dropdown-item--last-border-color);
            }
          }
        }

        .sdds-nav__dropdown-icon {
          margin: auto 0 auto auto;
        }
      }

      .sdds-nav__dropdown--opened {
        height: fit-content;

        .sdds-nav__item-core {
          border-bottom: none;
        }
      }

      .sdds-nav__avatar {
        height: auto;

        .sdds-nav__avatar-menu,
        .sdds-nav__avatar-item {
          width: 100%;
        }

        .sdds-nav__avatar-menu {
          height: auto;
          position: relative;
          transform: scaleY(1);
          opacity: 1;
        }

        .sdds-nav__avatar-btn {
          height: 68px;
          pointer-events: none;
        }

        .sdds-nav__avatar-item {
          box-shadow: none;
          display: flex;
        }

        .sdds-nav__avatar-item:last-child {
          border-radius: 0;

          .sdds-nav__avatar-item-core {
            border-radius: 0;
          }
        }

        .sdds-nav__avatar-item--large {
          display: none;
        }

        .sdds-nav__avatar-info--mobile {
          display: flex;
          text-align: left;
        }

        .sdds-nav__avatar-btn {
          padding: 0 16px;
        }
      }
    }

    &.sdds-nav__mob-menu--opened {
      .sdds-nav__center {
        transform: scaleY(1);
        justify-content: space-between;
      }
    }

    .sdds-nav__app-launcher {
      border-right: none;
    }

    .sdds-nav__app-logo {
      display: none;
    }
  }

  @media all and (max-width: $grid-sm) {
    .sdds-nav__center {
      width: 100%;
    }
  }
}
