@import '../src/mixins/box-sizing';

/* TODO: HEADER ICON. KINDA WANT THIS IN THE HEADER COMPONENT INSTEAD? */

.sdds-nav__mob-menu-btn {
  display: none;
  transition: background-color 0.15s ease-in-out;

  @media all and (max-width: $grid-md) {
    display: flex;
  }

  &:hover {
    background-color: var(--sdds-sidebar-mobile-menu-btn-hover);
  }

  svg {
    /* Non retina off-pixel rounding fix */
    height: 21px;
    width: 21px;

    path {
      fill: var(--sdds-sidebar-mobile-menu-btn-icon);
    }
  }
}

/* MIXINS */

@mixin item-states {
  &:focus {
    background-color: var(--sdds-sidebar-item-state-focus);

    //@include sdds-focus-state;

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: 0;
      right: 0;
      border: 1px solid var(--sdds-sidebar-item-state-border-focus);
      z-index: 100;
    }
  }

  &:hover {
    background-color: var(--sdds-sidebar-item-state-hover);
  }

  &:active {
    background-color: var(--sdds-sidebar-item-state-active) !important;
  }
}

/* REFACTOR STYLES */

.sdds-sidebar {
  @include sdds-box-sizing;

  &.side-menu {
    background-color: var(--sdds-sidebar-side-menu);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    transition: 0.15s ease-in-out;
    flex-basis: auto;
    min-width: auto;
    flex-shrink: 0;
    width: 288px;
    position: relative;
    border-right: 1px solid var(--sdds-sidebar-side-menu-border-right);
    z-index: 30;

    @media all and (max-width: $grid-md) {
      position: absolute;
      top: 0;
      bottom: 0;
      padding-top: 64px;
      transform: translateX(-100%);
      pointer-events: none;
      width: 75%;

      &.mobile-menu-open {
        transform: translateX(0);
        pointer-events: all;

        &::after {
          opacity: 0.4;
        }
      }

      &::after {
        content: ' ';
        position: absolute;
        background: var(--sdds-sidebar-side-menu-backgrund-cover);
        opacity: 0;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 1000px;
        transition: 0.15s ease-in-out;
      }
    }

    @media all and (max-width: 375px) {
      width: 100%;
    }
  }

  // SIDE MENU MOBILE HEADER
  &-mheader {
    position: absolute;
    height: 64px;
    top: 0;
    width: 100%;
    display: none;
    border-bottom: 1px solid var(--sdds-sidebar-side-menu-mobile-header-border-bottom);

    @media all and (max-width: $grid-md) {
      display: block;
    }

    &__close {
      all: unset;
      cursor: pointer;
      height: 64px;
      width: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
    }
  }

  // SIDE MENU WRAPPER
  &-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    // MAIN MENU
    &--main {
      margin-bottom: 68px;
      overflow-y: auto;

      @media all and (max-width: $grid-md) {
        margin-bottom: -1px;
        padding-top: 1px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    // BOTTOM MENU
    &--bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: var(--sdds-sidebar-side-menu-bottom-menu-background);

      @media all and (max-width: $grid-md) {
        display: none;
      }

      .sdds-sidebar-nav__item-link {
        border-bottom: none;
        border-top: 1px solid var(--sdds-sidebar-side-menu-bottom-menu-border-top);
      }

      .sdds-sidebar-nav__item {
        border-bottom: none;

        &:last-child {
          .sdds-sidebar-nav__item-link {
            &:focus {
              &::after {
                bottom: 0;
              }
            }
          }
        }
      }
    }

    // SIDE MENU WRAPPER - CONDITIONS
    &.icons-disabled {
      .sdds-sidebar-nav__icon {
        display: none;
      }

      .sdds-sidebar-nav-subnav__item {
        .sdds-sidebar-nav__item-link {
          padding-left: 24px;
        }
      }
    }

    // SINGLE ITEM
    &__extended {
      .sdds-sidebar-nav__item-link {
        border: none;
        background: none;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
      }
    }

    &__item {
      border-bottom: 1px solid var(--sdds-sidebar-side-menu-single-item-border-bottom);

      &-link {
        font: var(--sdds-headline-07);
        line-height: var(--sdds-headline-07-ls);
        @include item-states;

        color: var(--sdds-sidebar-side-menu-single-item-color);
        text-decoration: none;
        padding: 24px 40px 24px 24px;
        display: flex;
        align-items: flex-start;
        position: relative;
        min-height: 20px;
        box-sizing: content-box;
        transition: background-color 0.15s ease-in-out;

        .sdds-sidebar-nav__item-text {
          margin-top: 3px;
          opacity: 1;
          transition: opacity 0.15s ease-in-out;
          min-width: 160px;
        }
      }

      // SINGLE ITEM - CONDITIONS
      &.subnav-open {
        .sdds-sidebar-nav-subnav {
          display: block;
        }

        .sdds-sidebar-nav__chevron {
          transform: rotate(180deg);
        }
      }
    }

    .sdds-sidebar-nav__item--selected {
      .sdds-sidebar-nav__item-link {
        background-color: var(--sdds-sidebar-side-menu-single-item-background-selected);
        position: relative;

        &::before {
          content: ' ';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 4px;
          background-color: var(--sdds-sidebar-side-menu-single-item-border-left-selected);
        }
      }
    }

    // SINGLE SUB-ITEM
    &-subnav {
      list-style: none;
      margin: 0;
      padding: 0;
      display: none;

      &__item {
        .sdds-sidebar-nav__item-link {
          font: var(--sdds-detail-02);
          line-height: var(--sdds-detail-02-ls);

          @include item-states;

          color: var(--sdds-sidebar-side-menu-single-subitem-color);
          text-decoration: none;
          display: block;
          padding: 16px 24px 16px 56px;
          white-space: nowrap;
          transition: opacity 0.15s ease-in-out, background-color 0.15s ease-in-out;
          font-weight: normal;
          min-height: auto;

          // TODO: remove/add?
          // &:focus {
          //@include sdds-focus-state;
          // }

          .sdds-sidebar-nav__item-text {
            //@include type-style('detail-02');
            font: var(--sdds-detail-02);
            line-height: var(--sdds-detail-02-ls);
            transition: opacity 0.15s ease-in-out, height 0.15s ease-in-out;
          }
        }

        .sdds-sidebar-nav__item-title {
          //@include type-style('detail-02');
          font: var(--sdds-detail-02);
          line-height: var(--sdds-detail-02-ls);
          color: var(--sdds-sidebar-side-menu-single-subitem-title-color);
          text-decoration: none;
          padding: 16px 24px 16px 56px;
          white-space: nowrap;
          transition: opacity 0.15s ease-in-out, background-color 0.15s ease-in-out;
          min-height: auto;
          font-weight: 600;
          display: none;
        }
      }

      .sdds-sidebar-nav__item--selected {
        .sdds-sidebar-nav__item-link {
          //@include type-style('headline-07');
          font: var(--sdds-headline-07);
          line-height: var(--sdds-headline-07-ls);
          color: var(--sdds-sidebar-side-menu-single-subitem-color-active);
        }
      }
    }

    &__icon {
      margin-right: 12px;
      line-height: 0;
      width: 20px;
      height: 20px;
      min-width: 20px;
      transition: 0.15s ease-in-out;
    }

    &__chevron {
      position: absolute;
      right: 16px;
      top: calc(50% - 4px);
      transform-origin: center;
      transition: 0.15s ease-in-out;
    }
  }

  &.collapsed {
    width: 68px;

    .sdds-sidebar-nav__item {
      .sdds-sidebar-nav__item-text,
      .sdds-sidebar-nav__item-title {
        opacity: 0;
        height: 1px;
      }

      &:hover {
        .sdds-sidebar-nav-subnav {
          opacity: 1;
          pointer-events: all;
          display: initial;
        }
      }
    }

    .sdds-sidebar-nav-subnav__item {
      display: block;

      .sdds-sidebar-nav__item-title {
        opacity: 1;
        height: auto;
        display: block;
      }
    }

    .sdds-sidebar-nav__chevron {
      opacity: 0;
    }

    .sdds-sidebar-toggle {
      .sdds-sidebar-nav__icon {
        transform: rotate(180deg);
      }
    }

    .sdds-sidebar-nav-subnav {
      left: 68px;
      position: absolute;
      background: var(--sdds-sidebar-side-menu-subnav-backgrund);
      width: 245px;
      transform: translateY(-69px);
      z-index: 1;
      opacity: 0;
      display: none;
      pointer-events: none;
      box-shadow: 0 3px 3px rgb(0 0 0 / 15%);

      .sdds-sidebar-nav-subnav__item {
        .sdds-sidebar-nav__item-title,
        .sdds-sidebar-nav__item-link {
          padding-left: 24px;
          border-bottom: 1px solid var(--sdds-sidebar-side-menu-single-subitem-divider);
        }

        .sdds-sidebar-nav__item-link {
          .sdds-sidebar-nav__item-text {
            opacity: 1;
          }
        }
      }
    }
  }

  /* SCROLL STUFF */

  /* width */
  ::-webkit-scrollbar {
    width: 2px;
    background-color: var(--sdds-grey-300);
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--sdds-grey-300);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--sdds-grey-500);
    border-radius: 0;
  }
}
