@import '../src/mixins/box-sizing';

.sdds-stepper {
  @include sdds-box-sizing;

  font: var(--sdds-detail-02);
  letter-spacing: var(--sdds-detail-02-ls);
  color: var(--sdds-stepper-color);
  display: flex;
  flex: 1;

  &--sidetext {
    display: inline-flex;

    .sdds-stepper__step {
      flex-direction: row;
      padding: 0 20px 0 16px;
      min-width: unset;
      flex: unset;

      &_label {
        margin-top: -8px;
        margin-left: 8px;
        padding: 0;
      }

      &-icon {
        &::before {
          content: ' ';
          position: absolute;
          height: 1px;
          background-color: var(--sdds-stepper-icon-sidetext-background-before);
          opacity: 0.16;
          right: auto;
          left: -12px;
          width: 20px;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  &--vertical {
    flex-direction: column;

    .sdds-stepper__step {
      flex-direction: row;
      padding: 0 20px 0 16px;
      min-width: unset;
      flex: unset;

      &:not(:last-child) {
        margin-bottom: 52px;
      }

      &_label {
        margin-top: -8px;
        margin-left: 8px;
        padding: 0;
      }

      &-icon {
        &::after {
          content: ' ';
          position: absolute;
          height: 45px;
          background-color: var(--sdds-stepper-icon-sidetext-background-before);
          opacity: 0.16;
          top: 39px;
          left: 31px;
          width: 1px;
          right: auto;
        }

        &::before {
          display: none;
        }
      }
    }

    &.sdds-stepper-sm,
    &.sdds-stepper--small {
      .sdds-stepper__step {
        margin-bottom: 34px;
      }

      .sdds-stepper__step-icon {
        &::after {
          top: 32px;
          left: 28px;
          height: 27px;
        }
      }
    }
  }

  &__step {
    position: relative;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    flex: 1 1 0;

    &_label {
      white-space: nowrap;
      padding: 0 20px;
    }

    &-icon {
      height: 32px;
      width: 32px;
      border-radius: 100px;
      border: 1px solid var(--sdds-stepper-icon-background);
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: ' ';
        position: absolute;
        height: 1px;
        background-color: var(--sdds-stepper-icon-step-background-before);
        opacity: 0.16;
        left: 0;
        right: calc(50% + 16px + 8px);
      }

      &::after {
        content: ' ';
        position: absolute;
        height: 1px;
        background-color: var(--sdds-stepper-icon-step-background-after);
        opacity: 0.16;
        left: calc(50% + 16px + 8px);
        right: 0;
      }

      &-warning {
        height: 18px;
        width: 18px;
        margin-top: -4px;
      }

      &-success {
        height: 20px;
        width: 20px;
      }
    }

    &:first-child {
      .sdds-stepper__step-icon {
        &::before {
          display: none;
        }
      }
    }

    &:last-child {
      .sdds-stepper__step-icon {
        &::after {
          display: none;
        }
      }
    }

    &--value {
      .sdds-stepper__step-icon-success {
        display: none;
      }

      .sdds-stepper__step-icon-warning {
        display: none;
      }
    }

    &--warning {
      .sdds-stepper__step-icon {
        border-color: var(--sdds-stepper-icon-step-border-color-warning);
      }

      .sdds-stepper__step-icon-success {
        display: none;
      }

      .sdds-stepper__step-icon-value {
        display: none;
      }
    }

    &--inactive {
      .sdds-stepper__step-icon {
        border-color: var(--sdds-stepper-label-border-color-upcoming);
        opacity: var(--sdds-stepper-label-text-opacity-upcoming);

        &::after,
        &::before {
          opacity: unset;
          opacity: 0.38;
        }
      }

      .sdds-stepper__step-icon-value {
        opacity: 1;
      }

      .sdds-stepper__step_label {
        opacity: 0.38;
      }

      .sdds-stepper__step-icon-success {
        display: none;
      }

      .sdds-stepper__step-icon-warning {
        display: none;
      }
    }

    &--success {
      .sdds-stepper__step-icon {
        background-color: var(--sdds-stepper-icon-step-background-success);
        border-color: var(--sdds-stepper-icon-step-border-color-success);
      }

      .sdds-stepper__step-icon-warning {
        display: none;
      }

      .sdds-stepper__step-icon-value {
        display: none;
      }
    }
  }

  &-sm,
  &--small {
    .sdds-stepper__step {
      &-icon {
        height: 24px;
        width: 24px;
        font-size: 12px;

        &-warning {
          height: 16px;
          width: 16px;
          margin-top: -2px;
        }

        &-success {
          height: 16px;
          width: 16px;
        }
      }

      &_label {
        font-size: 12px;
      }
    }
  }

  &--inverted {
    color: var(--sdds-stepper-color--inverted);

    .sdds-stepper__step-icon {
      border: 1px solid var(--sdds-stepper-border-color--inverted);

      &::before {
        background-color: var(--sdds-stepper-background--inverted-before);
      }

      &::after {
        background-color: var(--sdds-stepper-background--inverted-after);
      }
    }

    .sdds-stepper__step--warning {
      .sdds-stepper__step-icon {
        border: 1px solid var(--sdds-stepper-icon-border-color-waring--inverted);
      }
    }

    .sdds-stepper__step--success {
      .sdds-stepper__step-icon {
        border: 1px solid var(--sdds-stepper-icon-border-color-success-after--inverted);
      }
    }

    .sdds-stepper__step--inactive {
      .sdds-stepper__step-value {
        color: rgb(255 255 255 / 16%);
      }

      .sdds-stepper__step_label {
        color: rgb(255 255 255 / 38%);
      }

      .sdds-stepper__step-icon {
        border-color: rgb(255 255 255 / 16%);
      }
    }
  }

  //FIXME: Code below needs to be refactored!
  //Native
  .sdds-icon.warning {
    color: var(--sdds-negative);
  }

  .sdds-icon.tick {
    color: var(--sdds-white);
  }

  .sdds-icon.warning {
    font-size: 18px;
  }

  .sdds-icon.warning::before {
    line-height: 1;
  }

  .sdds-icon.tick {
    font-size: 20px;
  }

  .sdds-icon.tick::before {
    line-height: 1;
  }

  // Native icon with small size of component
  &.sdds-stepper--sm {
    .sdds-icon.warning,
    .sdds-icon.tick {
      font-size: 16px;
    }
  }

  //Web Component icons
  sdds-icon[name='warning'] {
    color: var(--sdds-negative);
  }

  sdds-icon[name='tick'] {
    color: var(--sdds-white);
  }

  sdds-icon {
    line-height: 1;
  }
}
