@import './chips-theme-vars.scss';

.sdds-chip {
  color: var(--sdds-chips-color);
  background-color: var(--sdds-chips-bg);
  display: inline-flex;
  padding: 8px 16px;
  border-radius: 100px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;

  &-text {
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
  }

  &:hover {
    background-color: var(--sdds-chips-bg-hover);
  }

  &-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    font-size: 16px;

    path {
      fill: var(--sdds-chips-icon-fill);
    }
  }

  &__active {
    color: var(--sdds-chips-color-active);
    background-color: var(--sdds-chips-bg-active);

    .sdds-chip-icon {
      path {
        fill: var(--sdds-chips-icon-fill-active);
      }
    }

    &:hover {
      background-color: var(--sdds-chips-bg-active-hover);
    }
  }

  &-sm,
  &__small {
    padding: 4px 16px;
  }

  &__icon-left {
    padding-left: 32px;

    .sdds-chip-icon {
      left: 8px;
    }
  }

  &__icon-right {
    padding-right: 32px;
    flex-flow: row-reverse;

    .sdds-chip-icon {
      right: 8px;
    }
  }
}
