:root,
.sdds-theme-light {
  --sdds-chips-color: var(--sdds-grey-958);
  --sdds-chips-color-active: var(--sdds-white);
  --sdds-chips-bg: var(--sdds-grey-200);
  --sdds-chips-bg-active: var(--sdds-blue-500);
  --sdds-chips-bg-active-hover: var(--sdds-blue-600);
  --sdds-chips-bg-hover: var(--sdds-grey-400);
  --sdds-chips-icon-fill: var(--sdds-grey-958);
  --sdds-chips-icon-fill-active: var(--sdds-white);
}

.sdds-theme-dark {
  --sdds-chips-color: var(--sdds-white);
  --sdds-chips-color-active: var(--sdds-white);
  --sdds-chips-bg: var(--sdds-grey-800);
  --sdds-chips-bg-hover: var(--sdds-grey-600);
  --sdds-chips-bg-active: var(--sdds-blue-500);
  --sdds-chips-bg-active-hover: var(--sdds-blue-300);
  --sdds-chips-icon-fill: var(--sdds-white);
  --sdds-chips-icon-fill-active: var(--sdds-white);
}
