@mixin sdds-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sdds-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    background-color: inherit;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--sdds-grey-300);
  }

  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }
}

@mixin sdds-focus-state {
  outline: 2px solid var(--sdds-blue-400);
  outline-offset: -2px;
}

// Animation of shaking
// Used in sdds-table-footer component so far
@keyframes sdds-shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
