@import '../../../mixins/box-sizing';

:host {
  @include sdds-box-sizing;

  display: table-caption;
  position: relative;
  background-color: var(--sdds-data-table-toolbar-background);
  color: var(--sdds-data-table-color);
  padding: 0 var(--sdds-spacing-element-16);
  height: 64px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .sdds-table__upper-bar-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .sdds-table__title {
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    padding-top: var(--sdds-spacing-element-16);
    text-align: left;
  }

  .sdds-table__actionbar {
    display: flex;
    align-self: center;
    gap: 8px;
  }

  .sdds-table__searchbar {
    display: flex;
    align-self: center;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 4px 4px 0 0;
    transition: background-color 250ms ease, width 250ms ease;
    overflow: hidden;
    background-color: transparent;

    &::after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      background-color: var(--sdds-blue-400);
      transform: scaleX(0);
      transition: transform 150ms ease;
    }

    &:focus-within {
      &::after {
        transform: scaleX(100%);
      }
    }

    &:focus-within,
    &.sdds-table__searchbar--active {
      width: 208px;
      background-color: var(--sdds-data-table-toolbar-searchbar-background);

      &:hover {
        background-color: var(--sdds-data-table-toolbar-searchbar-background);
      }
    }

    .sdds-table__searchbar-input {
      font: var(--sdds-detail-02);
      letter-spacing: var(--sdds-detail-02-ls);
      color: var(--sdds-data-table-color);
      z-index: 1;
      width: 100%;
      height: 100%;
      border: none;
      padding: 0 36px 0 16px;
      background-color: transparent;
      outline: none;
      cursor: pointer;

      :focus {
        background-color: var(--sdds-data-table-toolbar-searchbar-background);
      }
    }

    &:hover {
      background-color: var(--sdds-data-table-toolbar-searchbar-background-hover);
    }

    .sdds-table__searchbar-icon {
      z-index: 0;
      position: absolute;
      right: 9px;
      top: 9px;
      width: 20px;
      height: 20px;
    }
  }
}

:host(.sdds-table--compact) {
  height: 56px;
}
