@mixin dropdown-wrapper {
  @include type-style('detail-02');
  color: var(--sdds-dropdown-text);
  display: flex;
  align-items: center;
  background-color: var(--sdds-dropdown-bg);
  cursor: pointer;
  border: 1px solid var(--sdds-dropdown-border);
  transition: box-shadow 0.1s ease-in;
  border-radius: var(--sdds-dropdown-border-radius);
  box-shadow: 0;
  width: 100%;
  text-align: left;
  outline: none;
  padding: var(--#{$prefix}-dropdown-padding-top-large) var(--#{$prefix}-dropdown-padding-left);;
  
  &:hover{
    border-color: var(--sdds-dropdown-toggle-border-hover);
  }
  &:focus{
    border-color: var(--sdds-dropdown-toggle-border-focus);
  }
  &:active,
  &.active
  &.selected{
    border-color: var(--sdds-dropdown-toggle-border-selected);
    background-color: var(--sdds-dropdown-bg-selected);
  }
  &.is-filter{
    transition: border 0.1s ease-in 0.1s;
    cursor: text;
  }
}