:root,
html {
  --sdds-dropdown-bg: var(--sdds-white);
  --sdds-dropdown-bg-hover: var(--sdds-grey-50);

  .sdds-on-white-bg {
    --sdds-dropdown-bg: var(--sdds-grey-50);
    --sdds-dropdown-bg-hover: var(--sdds-grey-300);
  }
}

@mixin dropdown-wrapper {
  @include type-style('detail-02');

  color: var(--sdds-grey-958);
  display: flex;
  align-items: center;
  background-color: var(--sdds-dropdown-bg);
  cursor: pointer;
  transition: box-shadow 0.1s ease-in;
  border-radius: 1rem 1rem 0 0;
  border: none;
  border-bottom: 1px solid var(--sdds-grey-400);
  box-shadow: none;
  width: 100%;
  text-align: left;
  outline: none;
  padding: 5rem 4rem;

  &:hover {
    border-bottom-color: var(--sdds-grey-600);
  }

  &:focus {
    border-width: 2px;
    border-bottom-color: var(--sdds-blue-400);
  }

  &:active,
  &.active &.selected {
    border-bottom-color: var(--sdds-grey-800);
  }

  &.is-filter {
    transition: border 0.1s ease-in 0.1s;
    cursor: text;
  }
}

.sdds-dropdown-helper {
  @include type-style('detail-05');

  color: var(--sdds-grey-700);
  margin-top: var(--sdds-spacing-element-4);
  display: flex;

  .sdds-dropdown-error-icon {
    width: 16px;
    height: 16px;
    padding-right: 9px;
    display: none;
  }
}

.sdds-dropdown-label-inside,
.sdds-dropdown-label-outside {
  display: block;
  margin-bottom: var(--sdds-spacing-element-4);
}

.sdds-dropdown-label-inside {
  @include type-style('detail-07');

  color: var(--sdds-grey-700);
}

.sdds-dropdown-label-outside {
  @include type-style('detail-05');

  color: var(--sdds-grey-958);
}
