@import './dropdown-core';

.sdds-dropdown {
  position: relative;

  select {
    @include dropdown-wrapper;

    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg class='sdds-dropdown-arrow' width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 16px center;
    border-bottom-color: var(--sdds-grey-800);

    &:focus {
      border-bottom: 2px solid var(--sdds-blue-400);
    }

    &:disabled {
      cursor: not-allowed;
      border-bottom: none;
      color: var(--sdds-grey-400);
      pointer-events: none;
      background-image: url("data:image/svg+xml,%3Csvg class='sdds-dropdown-arrow' width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23cdd1db' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    }
  }

  // Size medium
  &.sdds-dropdown-medium {
    select {
      padding: 4rem;
    }
  }

  // Size small
  &.sdds-dropdown-small {
    select {
      padding: 3rem 4rem;
    }
  }

  &.sdds-dropdown--error {
    select {
      border-color: var(--sdds-negative);
    }

    .sdds-dropdown-helper {
      color: var(--sdds-negative);
    }
  }
}
