@import './dropdown-core';

.#{$prefix}-dropdown {
  select {
    @include dropdown-wrapper;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg class='sdds-dropdown-arrow' width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 16px center;
  }

  // Size medium
  &.#{$prefix}-dropdown-medium {
    select {
      padding: var(--#{$prefix}-dropdown-padding-top-medium);
    }
  }

  // Size small
  &.#{$prefix}-dropdown-small {
    select {
      padding: var(--#{$prefix}-dropdown-padding-top-small)
        var(--#{$prefix}-dropdown-padding-left);
    }
  }

  &.is-error {
    select {
      border-color: var(--sdds-dropdown-error);
    }
    .#{$prefix}-dropdown-helper {
      color: var(--sdds-dropdown-error);
    }
  }
}
