@import './dropdown-core';

.sdds-dropdown {
  select {
    @include dropdown-wrapper;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg class='sdds-dropdown-arrow' width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='currentColor' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 16px center;
  }

  // Size medium
  &.sdds-dropdown-medium {
    select {
      padding: 4rem;
    }
  }

  // Size small
  &.sdds-dropdown-small {
    select {
      padding: 3rem 4rem;
    }
  }

  &.is-error {
    select {
      border-color: var(--sdds-negative);
    }

    .sdds-dropdown-helper {
      color: var(--sdds-negative);
    }
  }
}
