:root,
.sdds-theme-light {
  --sdds-accordion-border: var(--sdds-grey-300);
  --sdds-accordion-bg: transparent;
  --sdds-accordion-bg-hover: var(--sdds-white);
  --sdds-accordion-bg-hover-on-white: var(--sdds-grey-50);
  --sdds-accordion-bg-focus: transparent;
  --sdds-accordion-bg-active: var(--sdds-grey-100);
  --sdds-accordion-colour: var(--sdds-grey-958);
  --sdds-accordion-border-focus: var(--sdds-grey-500);
  --sdds-accordion-colour-disabled: var(--sdds-grey-400);

  .secondary {
    --sdds-accordion-bg-hover: var(--sdds-accordion-bg-hover-on-white);
  }
}

.sdds-theme-dark {
  --sdds-accordion-border: var(--sdds-grey-700);
  --sdds-accordion-bg: transparent;
  --sdds-accordion-bg-hover: var(--sdds-grey-900);
  --sdds-accordion-bg-hover-on-white: var(--sdds-grey-50);
  --sdds-accordion-bg-focus: transparent;
  --sdds-accordion-bg-active: var(--sdds-grey-900);
  --sdds-accordion-colour: var(--sdds-white);
  --sdds-accordion-border-focus: var(--sdds-grey-500);
  --sdds-accordion-colour-disabled: var(--sdds-grey-800);

  .sdds-on-white-bg {
    --sdds-accordion-bg-hover: var(--sdds-accordion-bg-hover-on-white);
  }
}