@import '../../mixins/focus-state';
@import '../../mixins/disabled-style';
@import '../../mixins/box-sizing';

:host {
  display: block;
  @include sdds-box-sizing;

  .sdds-accordion-header-icon-start,
  .sdds-accordion-header-icon-end {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      left: 0;
      z-index: 2;
    }

    &::after {
      bottom: -1px;
      border-bottom: 1px solid transparent;
    }
  }
}

:host(:focus) {
  @include sdds-focus-state;

  .sdds-accordion-item {
    .sdds-accordion-header-icon-start,
    .sdds-accordion-header-icon-end {
      background-color: var(--sdds-accordion-bg-focus);
      outline: none;

      &::after {
        border-color: var(--sdds-accordion-border-focus);
      }
    }
  }

  .disabled {
    @include disabledStyle;
  }
}

:host(:active) {
  .sdds-accordion-header-icon-start,
  .sdds-accordion-header-icon-end {
    background-color: var(--sdds-accordion-bg-active);
    outline: none;
  }

  .disabled {
    @include disabledStyle;
  }
}

:host(:last-child) {
  border-bottom: 1px solid var(--sdds-accordion-border);
}
