:root,
.sdds-theme-light {
  --sdds-accordion-border: var(--sdds-grey-300);
  --sdds-accordion-background: transparent;
  --sdds-accordion-background-hover: var(--sdds-grey-50);
  --sdds-accordion-background-hover-on-secondary: var(--sdds-white);
  --sdds-accordion-background-focus: transparent;
  --sdds-accordion-background-active: var(--sdds-grey-100);
  --sdds-accordion-color: var(--sdds-grey-958);
  --sdds-accordion-border-focus: var(--sdds-grey-500);
  --sdds-accordion-color-disabled: var(--sdds-grey-400);

  .sdds-mode-secondary {
    --sdds-accordion-background-hover: var(--sdds-accordion-background-hover-on-secondary);
  }
}

.sdds-theme-dark {
  --sdds-accordion-border: var(--sdds-grey-700);
  --sdds-accordion-background: transparent;
  --sdds-accordion-background-hover: var(--sdds-grey-900);
  --sdds-accordion-background-hover-on-secondary: var(--sdds-grey-868);
  --sdds-accordion-background-focus: transparent;
  --sdds-accordion-background-active: var(--sdds-grey-900);
  --sdds-accordion-color: var(--sdds-white);
  --sdds-accordion-border-focus: var(--sdds-grey-500);
  --sdds-accordion-color-disabled: var(--sdds-grey-800);

  .sdds-mode-secondary {
    --sdds-accordion-background-hover: var(--sdds-accordion-background-hover-on-secondary);
  }
}