@import '../theme/core/spacing/vars';
@import '../../../../mixins/focus-state';

:host {
  display: block;

  .component {
    height: 68px;
    list-style: none;
  }

  button {
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 0 24px;
    border: none;
    background-color: var(--sdds-sidebar-side-menu-background-cover);
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    color: var(--sdds-sidebar-side-menu-single-item-color);
    display: flex;
    align-items: center;
    gap: 12px;

    slot[name='icon']::slotted(*) {
      margin-left: -4px; // makes left padding 20px if there is an icon
    }

    &:hover {
      cursor: pointer;
      background-color: var(--sdds-sidebar-item-state-hover);
    }

    &:active {
      background-color: var(--sdds-sidebar-item-state-active);
    }

    &:focus-visible {
      @include sdds-focus-state;
    }
  }

  .state-selected:not(.state-active) {
    button {
      border-left: 4px solid var(--sdds-sidebar-side-menu-single-subitem-selected-border-color);
      padding-left: 20px;
      background-color: var(--sdds-sidebar-item-state-selected);
    }
  }
}

@media (min-width: $grid-lg) {
  :host {
    .state-collapsed {
      button {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        slot[name='icon']::slotted(*) {
          margin-left: 0; // reset rule of normal state
        }
      }
    }

    .state-selected:not(.state-active) {
      &.state-collapsed {
        button {
          padding-right: 4px;
          padding-left: 0;
        }
      }
    }
  }
}
