li {
  height: 68px;
  list-style: none;

  &.dropdown-item {
    height: 48px;

    button {
      font: var(--sdds-detail-02);
      letter-spacing: var(--sdds-detail-02-ls);

      &.collapsed {
        justify-content: unset;
        padding: 0 24px;

        &.selected {
          padding: 0 20px;
        }
      }
    }
  }

  button {
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 0 24px;
    border: none;
    background-color: transparent;
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    color: var(--sdds-sidebar-side-menu-single-item-color);
    display: flex;
    align-items: center;

    &.top {
      border-bottom: 1px solid var(--sdds-sidebar-side-menu-bottom-menu-border-top);
    }

    &.bottom {
      border-top: 1px solid var(--sdds-sidebar-side-menu-single-item-border-bottom);
    }

    &.collapsed {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      sdds-icon {
        padding-right: 0;
      }
    }

    sdds-icon {
      padding-right: 12px;
    }

    &.selected {
      background-color: var(--sdds-sidebar-side-menu-single-item-active-background);
      border-left: 4px solid var(--sdds-sidebar-item-state-focus-border);
      padding-left: 20px;

      &.collapsed {
        padding: 0;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: var(--sdds-sidebar-item-state-hover);
    }

    &:focus {
      cursor: pointer;
      border: 1px solid var(--sdds-sidebar-item-state-focus-border);
    }
  }
}
