@import "./toast-theme-vars.scss";

.sdds-toast {
  display: flex;
  flex-direction: row;
  background: var(--sdds-toast-background-color);
  border-radius: var(--sdds-spacing-element-4);
  border-left: 4px solid white;

  // box-shadow: 0 3px 3px rgb(0 0 0 / 15%), 0 -1px 1px rgb(0 0 0 / 10%);
  width: 88rem;
  min-height: var(--sdds-spacing-element-48);

  &-icon svg {
    margin: 4rem 0 0 3rem;
  }

  &-success {
    border-left-color: var(--sdds-positive);

    .sdds-toast-icon svg {
      background: var(--sdds-positive);
    }
  }

  &-info {
    border-left-color: var(--sdds-information);

    .sdds-toast-icon svg {
      background: var(--sdds-information);
    }
  }

  &-warning {
    border-left-color: var(--sdds-warning);

    .sdds-toast-icon svg {
      background: var(--sdds-warning);
    }
  }

  &-error {
    border-left-color: var(--sdds-negative);

    .sdds-toast-icon svg {
      background: var(--sdds-negative);
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem 4rem 4rem 3rem;
  }

  &-header {
    height: var(--sdds-spacing-element-16);
  }

  &-headline {
    @include type-style("headline-07");

    color: var(--sdds-toast-headline-color);
    width: 63rem;
    float: left;
  }

  &-dismiss {
    float: right;
    width: var(--sdds-spacing-element-16);
    height: var(--sdds-spacing-element-16);
    background: var(--sdds-toast-dissmiss-color);
    mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.40338 2.34308C3.11048 2.05019 2.63561 2.05019 2.34272 2.34308C2.04982 2.63598 2.04982 3.11085 2.34272 3.40374L6.93897 8L2.34283 12.5961C2.04994 12.889 2.04994 13.3639 2.34283 13.6568C2.63572 13.9497 3.1106 13.9497 3.40349 13.6568L7.99963 9.06066L12.5958 13.6568C12.8887 13.9497 13.3635 13.9497 13.6564 13.6568C13.9493 13.3639 13.9493 12.889 13.6564 12.5961L9.06029 8L13.6565 3.40376C13.9494 3.11086 13.9494 2.63599 13.6565 2.3431C13.3636 2.0502 12.8888 2.0502 12.5959 2.3431L7.99963 6.93934L3.40338 2.34308Z' /%3E%3C/svg%3E%0A");
    cursor: pointer;
  }

  &-body {
    display: flex;
    flex-direction: column;
    margin-top: var(--sdds-spacing-element-4);
  }

  &-subheadline {
    @include type-style("detail-02");

    color: var(--sdds-toast-subheadline-color);
  }

  &-subheadline + &-link {
    margin-top: var(--sdds-spacing-element-16);
  }

  &-link {
    height: var(--sdds-spacing-element-16);
    color: var(--sdds-toast-link-color);

    @include type-style("detail-02");
  }
}
