// Required
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/transitions';

@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/navbar';
@import 'node_modules/bootstrap/scss/nav';

@import '../../components.scss';


@mixin nav-link {
  color: var(--sdds-white); // IE
  padding: 5px;
  text-align: center;
  text-decoration: none; //IE

  // IE underline
  &:hover {
    text-decoration: underline; //IE
  }

}

@mixin nav-link-social {
  border: 2px solid white;
  border-radius: 22px;
  padding: 8px;
  line-height: 0;
  margin-right: 20px;
  width: 46px;
  display: inline-block;

  // These settings are needed to adjust the miss
  // alignment for brand icon files
  //FIXME: Add correct rem
  font-size: 9.5rem;
  padding: 2px;

  // IE
  &:hover {
    color: #000;
    background-color: var(--sdds-white);
  }

}

:host {
  --link-color: Var(--sdds-white);
  --link-color-hover: Var(--sdds-white);
  --link-decoration: none;
  --link-decoration-hover: underline;
  --link-color-active: Var(--sdds-white);
  --link-bg-hover: transparent;

  display: block;
  background-color: #000;
}

::slotted(a) {
  @include nav-link;
}
::slotted(a[slot="social-items"]) {
  @include nav-link-social;
}
// Active state for links
::slotted(a:active),
::slotted(a.active),
::slotted(a[active]:not([active="false"])) {
  color: white;
  text-decoration: underline;
}

::slotted(a:hover) {
  text-decoration: underline;
}

// Active for social items
::slotted(a[slot="social-items"]:active),
::slotted(a[slot="social-items"].active),
::slotted(a[slot="social-items"][active]:not([active="false"])) {
  color:black;
  background-color: white;
}

::slotted(a[slot="social-items"]:hover) {
  color: #000;
  background-color: var(--sdds-white);
}

.social-items {
  text-align: center;
  width: 100%;

  a.social-item {
    @include nav-link-social;
  }
}

// Copyright text
p {
  //FIXME: Add correct rem
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
  padding: 50px 10px;
  margin: 0;
  width: 100%;
}

.navbar {
  padding: 0;
  display: inherit;

  .navbar-nav {
    text-transform: uppercase;
    font-family: 'Scania Sans';
    //FIXME: Add correct rem
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    width: 100%;

    .nav-item {

      &.nav-link {
        @include nav-link;
      }
    }
  }
}
.social-items {
  --link-color-hover: #000;
  --link-bg-hover: #fff;
  --link-color-active: #000;

  padding-left: 20px;

  a.social-item {
    @include nav-link-social;
  }
}
.navbar-brand {
  width: 100%;
  padding: 30px 10px 0;
  margin: 0;
  background-color: #000;
  text-align: center;

  &:before {
    display: inline-block;
    content: '';
    width: 182px;
    height: 31px;
    margin-bottom: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    // These files are generated and will exist in dist
    background-image: var(--sdds-background-image-scania-wordmark-white-svg);
    background-image: var(--sdds-background-image-scania-wordmark-white-png);
  }
}

@media (min-width: 992px) {

  %nav-link-desktop {
    text-decoration: none;
    padding: 0;
    margin-right: 15px;
    // TODO: Remove this fix when we have solution for css vars being generated by Stencil
    background: inherit;
  }
  // Sass compiler renders :hover and :before differently
  // and this is due to browsers lackof support
  %nav-link-social-desktop {
    margin-top: 0;
  }

  :host {
    background-color: #000;
    color: #97999b;
    padding: 46px 30px 35px;
  }

  ::slotted(a) {
    @extend %nav-link-desktop;
  }
  // Due to browsers not supporting: ::slotted(a):hover
  // we need to have the hover separated instead of nested
  ::slotted(a[slot="social-items"]) {
    @extend %nav-link-social-desktop;
  }

  // Copyright text
  p {
    text-align: left;
    padding: 0;
    margin: 15px 0 0;
    //FIXME: Add correct rem
    font-size: 2.5rem;
    color: #97999b;
  }

  .navbar {
    flex-flow: row wrap;

    .navbar-nav {
      margin-top: 0px;

      .nav-item {

        &.nav-link {
          @extend %nav-link-desktop;
        }
      }
    }
  }
  .social-items {
    margin-bottom: 20px;
    padding-left: 0;
    text-align: left;

    a.social-item {
      @extend %nav-link-social-desktop;
    }
  }
  .navbar-brand {
    padding: 0;
    height: 0; /* To make the aligning of items/social items work */
    display: flex;

    &:before {
      margin-left: auto;
    }
  }
}

