@import '../../helpers/style-helpers.scss';
@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';

.#{$prefix}-footer{
  width: 100%;
  background-color: var(--sdds-footer-bottom-bg);
  display: flex;
  position: relative;
}

.#{$prefix}-footer-bottom {
  padding: var(--sdds-footer-bottom-padding);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;

  .#{$prefix}-footer-bottom-links {
    padding: 0;
    margin:0;
    li {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 8px;
      a {
        margin-right: var(--sdds-spacing-element-24);
        text-decoration: none;
        color: var(--sdds-footer-bottom-links);
        opacity: var(--sdds-footer-bottom-links-opacity);
      }
    }
  }

  .#{$prefix}-footer-bottom-brand{
    border-top: 1px solid var(--sdds-footer-bottom-divider);
    padding-top: 24px;
    p {
      color: var(--sdds-footer-bottom-copyright);
      opacity: var(--sdds-footer-bottom-copyright-opacity);
    }
  }
}