:host {
  display: block;
  list-style: none;
  height: var(--sdds-header-height);
  width: 100%;
  border-bottom: 1px solid var(--sdds-nav-dropdown-item-border-color);

  a {
    all: unset;
    box-sizing: border-box;
    border: none;
    border-right: 1px solid var(--sdds-nav-item-border-color);
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    width: 100%;
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    background-color: var(--sdds-header-nav-item-dropdown-opened-background);
    color: var(--sdds-header-app-launcher-item-color);

    &.active {
      border-left: 4px solid var(--sdds-nav-item-border-color-active);
      padding-left: 20px;
    }

    &:hover {
      background-color: var(--sdds-nav-item-background-hover);
      cursor: pointer;
    }
  }

  .state--selected {
    background-color: var(--sdds-nav-item-background-selected);
    padding-right: 4px;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: var(--sdds-nav-item-border-color-active);
  }
}
