:root,
.sdds-mode-light {
  --sdds-radio-button-color: var(--sdds-grey-958);
  --sdds-radio-button-interaction-01: var(--sdds-blue-800);
  --sdds-radio-button-interaction-02: var(--sdds-white);
  --sdds-radio-button-background-hover: var(--sdds-blue-800);
  --sdds-radio-button-background-focus: var(--sdds-blue-800);
  --sdds-radio-button-disabled: var(--sdds-grey-600);
  --sdds-radio-button-border-color-disabled-after: var(--sdds-grey-700);
  --sdds-radio-button-color-disabled-after: var(--sdds-grey-700);
  --sdds-radio-button-color-disabled-before: var(--sdds-grey-700);
}

.sdds-mode-dark {
  --sdds-radio-button-color: var(--sdds-white);
  --sdds-radio-button-interaction-01: var(--sdds-white);
  --sdds-radio-button-interaction-02: var(--sdds-grey-958);
  --sdds-radio-button-background-hover: var(--sdds-white);
  --sdds-radio-button-background-focus: var(--sdds-white);
  --sdds-radio-button-disabled: var(--sdds-grey-600);
  --sdds-radio-button-border-color-disabled-after: var(--sdds-grey-700);
  --sdds-radio-button-color-disabled-after: var(--sdds-grey-700);
}
