// Required
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/transitions';

@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/navbar';
@import 'node_modules/bootstrap/scss/nav';

@import '../../components.scss';

%nav-link-social {
  display: inline-block;
  border: 2px solid black;
  margin-right: 10px;
  font-size: 2.6rem;
}

::slotted(a[slot="social-items"]) {
  @extend %nav-link-social;
}

.social-items {
  text-align: center;
  width: 100%;

  a.social-item {
    @extend %nav-link-social;
  }
}
