:host {
  height: 68px;
  max-height: 68px;

  li {
    list-style: none;
    height: 68px;

    &.dropdown-item {
      height: 48px;

      a {
        font: var(--sdds-detail-02);
        letter-spacing: var(--sdds-detail-02-ls);

        &.collapsed {
          justify-content: unset;
          padding: 0 24px;

          &.selected {
            padding: 0 20px;
          }
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      height: 100%;
      text-align: left;
      padding: 0 24px;
      border: none;
      background-color: transparent;
      font: var(--sdds-headline-07);
      letter-spacing: var(--sdds-headline-07-ls);
      color: var(--sdds-sidebar-side-menu-single-item-color);

      &.top {
        border-bottom: 1px solid var(--sdds-sidebar-side-menu-bottom-menu-border-top);
      }

      &.bottom {
        border-top: 1px solid var(--sdds-sidebar-side-menu-single-item-border-bottom);
      }

      &.collapsed {
        padding: 0;
        justify-content: center;

        sdds-icon {
          padding-right: 0;
        }
      }

      sdds-icon {
        padding-right: 12px;
      }

      &.selected {
        background-color: var(--sdds-sidebar-side-menu-single-item-active-background);
        border-left: 4px solid var(--sdds-sidebar-item-state-focus-border);
        padding-left: 20px;

        &.collapsed {
          padding: 0;

          slot[name='icon']::slotted(*) {
            position: relative;
            left: -2px;
          }
        }
      }

      &:hover {
        background-color: var(--sdds-sidebar-item-state-hover);
      }

      &:focus {
        cursor: pointer;
        border: 1px solid var(--sdds-sidebar-item-state-focus-border);
      }
    }
  }
}
