@import '../../../../mixins/focus-state';

:host {
  display: block;
  position: relative;
  margin-right: 16px;

  button {
    border: none;
    margin: 12px 0;
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    color: var(--sdds-inline-tabs-tab-color);
    width: 100%;
    background-color: var(--sdds-inline-tabs-background);

    .label {
      padding: 4px 0;
      opacity: var(--sdds-inline-tab-color-opacity);
    }

    &:hover {
      cursor: pointer;

      &::after {
        width: 100%;
      }
    }

    &:focus {
      @include sdds-focus-state;
    }

    &::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-left: auto;
      width: 0%;
      margin-right: auto;
      height: 2px;
      background-color: var(--sdds-inline-tabs-tab-indicator-background-hover);
      transition: width 0.15s ease-in-out 0s;
      z-index: 1;
    }

    &.selected {
      color: var(--sdds-inline-tabs-tab-color);

      .label {
        opacity: var(--sdds-inline-tab-color-opacity-selected);
      }

      &::after {
        width: 100%;
        background-color: var(--sdds-inline-tabs-tab-indicator-background-active);
      }
    }

    &.disabled {
      color: var(--sdds-inline-tabs-tab-color-disabled);
      pointer-events: none;

      .label {
        opacity: var(--sdds-inline-tabs-tab-color-opacity-disabled);
      }
    }
  }
}

:host(.first) {
  margin-left: 16px;
}

:host(.last) {
  margin-right: 0;
}
