:host {
  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  display: inline-block;
  vertical-align: middle;
  line-height: 0;

  svg {
    height: 1em;
    width: 1em;
    fill: currentcolor;
  }
}

/* DARK THEME FIX, DO WE NEED A VARS FILE? */

:host-context(body.sdds-theme-dark) {
  svg {
    path {
      fill: var(--sdds-white);
    }
  }
}

.sdds-theme-dark {
  .sdds-icon {
    color: var(--sdds-white);
  }
}
