:host {
  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  display: inline-block;
  vertical-align: middle;
  line-height: 0;

  svg {
    height: 1em;
    width: 1em;
    fill: currentcolor;
  }
}
