:root,
.sdds-theme-light {
  --sdds-popover-canvas-color: var(--sdds-grey-958);
  --sdds-popover-canvas-background: var(--sdds-white);
}
:root,
.sdds-theme-dark {
  --sdds-popover-canvas-color: var(--sdds-grey-50);
  --sdds-popover-canvas-background: var(--sdds-grey-900);
}