:root,--sdds-popover-canvas-color
.sdds-theme-light {
  --sdds-popover-canvas-color: var(--sdds-grey-958);
  --sdds-popover-canvas-background: var(--sdds-white);
}

.sdds-theme-dark {
  --sdds-popover-canvas-color: var(--sdds-grey-50);
  --sdds-popover-canvas-background: var(--sdds-grey-900);
}
