:root,
html {
  font-size: 4px;
}

// Output rules
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  visibility: visible;
}

html {
  height: 100%;
}

body {
  font-family: 'Scania Sans Semi Condensed', 'Scania Sans Condensed', Arial,
    Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  flex: 1;
}

html,
.sdds-mode-light {
  color: var(--sdds-grey-958);
}

.sdds-mode-dark {
  color: var(--sdds-white);
}
