@import '../../core/prefix';
@import '../../core/spacing/spacing';
@import '../../core/colour/tokens';
@import '../../core/base-unit';

$headings-color:              #171719;

// Body
$body-bg:                     white;
$body-color:                  #171719;

//Link
// FIXME: Should start phasing this out!!
//Bootstrap colours
$link-color:                  #696A70;
$link-color-hover:            #C5C6C9;
$link-color-active:           blue;
$link-color-disabled:         #C5C6C9;
$link-bg:                     inherit;
$link-bg-hover:               inherit;
$link-decoration:             underline;
$link-decoration-hover:       none;

// Global Border settings
$border-radius:               3px;
$border-color:                #C5C6C9;

// Modal
$modal-padding:               15px;
$modal-border-color:          #F6F6F7;

// Table
$table-border-color:          $border-color;
$table-thead-border-color:    blue;
$table-thead-bg-color:        blue;

//Pagination
$pagination-bg-color:         transparent;

// List-groups
$border-radius-list-group:    $border-radius;

// Bootstrap components colours
// TODO: When adding more components, need to remove these colours below
$primary:       #041E42;
$secondary:     #fff;
$success:       #89B691;
$info:          #2B70D3;
$warning:       #386E44;
$danger:        #DE2B36;
$light:         #82848A;
$dark:          #515257;
// All colours
$global-colors: (
  'blue':       #041E42,
  'red':        #DE2B36,
  'orange':     #386E44,
  'green':      #89B691,
  'white':      white,
  'black':      #2B2C2F,
);

$interaction-colors: (
  'primary':    #16417F,
  'secondary':  white,
  'success':    #438151,
  'info':       #2B70D3,
  'warning':    #FA6E23,
  'danger':     #DE2B36,
);

$extra-colors: (
  'light':      #C5C6C9,
  'dark':       #515257,
);

$success-colors: (
  'success-01': #F1F8F2,
  'success-02': #CAEBD0,
  'success-03': #A6D1AD,
  'success-04': #386E44,
);

$info-colors: (
  'info-01': #F6F6F9,
  'info-02': #E0E2EB,
  'info-03': #9CA5C2,
  'info-04': #2058A8,
);

$warning-colors: (
  'warning-01': #FDF5F3,
  'warning-02': #FBE3DF,
  'warning-03': #F9CAC0,
  'warning-04': #C65416,
);

$danger-colors: (
  'danger-01': #FDF4F5,
  'danger-02': #FADBDC,
  'danger-03': #F8B6B7,
  'danger-04': #950A16,
);

$light-colors: (
  'light-01': #F6F6F7,
  'light-02': #E2E2E4,
  'light-03': #C5C6C9,
  'light-04': #A4A6AB,
);

$dark-colors: (
  'dark-01': #82848A,
  'dark-02': #696A70,
  'dark-03': #2B2C2F,
);

$link-options: (
  'link-color': $link-color,
  'link-color-hover': $link-color-hover,
  'link-color-active': $link-color-active,
  'link-color-disabled': $link-color-disabled,
  'link-bg': $link-bg,
  'link-bg-hover': $link-bg-hover,
  'link-decoration': $link-decoration,
  'link-decoration-hover': $link-decoration-hover
);

$all-colors: (
  'global':       $global-colors,
  'success':      $success-colors,
  'info':         $info-colors,
  'warning':      $warning-colors,
  'danger':       $danger-colors,
  'light':        $light-colors,
  'dark':         $dark-colors,
  'interaction':  $interaction-colors,
  'extra':        $extra-colors,
  'link':         $link-options
);
$theme-colors-bs: ();
// Merge all colors in to theme-colors and
// let "root.scss" render the css variables
@each $name, $type in $all-colors {
  $theme-colors-bs: map-merge($theme-colors-bs, $type);
}

// Interaction lists
$interaction-types: success, info, warning, danger;
$interaction-types2: secondary, light;
$interaction-types3: primary, dark;

$types: join(join($interaction-types, $interaction-types2), $interaction-types3);