@import '../theme/core/spacing/vars';
@import '../../../../global/_variables.scss';

:host {
  position: sticky;
  bottom: 0;
  display: none;
  height: 68px;
  border-top: 1px solid var(--sdds-sidebar-side-menu-bottom-menu-border-top);

  .icon {
    transform: rotateZ(90deg);
    transition: all 0.2s ease-in-out;
    width: 20px;
    height: 20px;
  }

  .state-collapsed {
    .icon {
      transform: rotateZ(90deg) rotateX(180deg);
    }
  }
}

@media (min-width: $grid-lg) {
  :host {
    display: block;
  }
}
