.divider {
  height: 48px;
  padding: 0 16px;
  font: var(--sdds-detail-06);
  letter-spacing: var(--sdds-detail-06-ls);
  color: var(--sdds-header-searchbar-result-category-border-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--sdds-nav-dropdown-item-border-color);
}

li {
  height: 64px;
  list-style: none;

  button {
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    border: none;
    border-right: 1px solid var(--sdds-nav-item-border-color);
    display: flex;
    align-items: center;
    background-color: var(--sdds-header--basic-element-bg);
    color: var(--sdds-header-nav-item-color);
    height: 100%;
    padding: 0 24px;

    &:hover {
      background-color: var(--sdds-header--basic-element-bg-hover);
      cursor: pointer;
    }
  }

  &.dropdown-child {
    height: 48px;
    width: 100%;
    border-bottom: 1px solid var(--sdds-nav-dropdown-item-border-color);

    button {
      width: 100%;
      font: var(--sdds-detail-02);
      letter-spacing: var(--sdds-detail-02-ls);
      background-color: var(--sdds-header-nav-item-dropdown-opened-bg);
      color: var(--sdds-header-nav-item-dropdown-opened-color);
      border: none;

      &.active {
        border-left: 4px solid var(--sdds-nav-item-border-color-active);
        padding-left: 20px;
      }

      &:hover {
        background-color: var(--sdds-nav-item-bg-hover);
      }
    }
  }

  &.launcher-list-child {
    height: 64px;
    width: 100%;
    border-bottom: 1px solid var(--sdds-nav-dropdown-item-border-color);

    button {
      width: 100%;
      font: var(--sdds-detail-02);
      letter-spacing: var(--sdds-detail-02-ls);
      background-color: var(--sdds-header-nav-item-dropdown-opened-bg);
      color: var(--sdds-header-app-launcher-item-color);
      border: none;

      &.active {
        border-left: 4px solid var(--sdds-nav-item-border-color-active);
        padding-left: 20px;
      }

      &:hover {
        background-color: var(--sdds-nav-item-bg-hover);
      }
    }
  }

  &.launcher-grid-child {
    width: 96px;
    height: 96px;

    button {
      border: none;
      padding: 0 12px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 8px;
      font: var(--sdds-detail-05);
      letter-spacing: var(--sdds-detail-05-ls);
      background-color: var(--sdds-white);
      color: var(--sdds-grey-800);
      border-radius: 4px;

      &:hover {
        background-color: var(--sdds-grey-100);
      }
    }
  }

  &.mobile-menu-top-child {
    list-style: none;
    height: 68px;
    border-bottom: 1px solid var(--sdds-header-mobile-menu-item-border-color);

    button {
      display: flex;
      gap: 8px;
      width: 100%;
      border: none;
      color: var(--sdds-header-mobile-menu-item-color);
      background-color: var(--sdds-header-mobile-menu-item-background);
      font: var(--sdds-headline-07);
      letter-spacing: var(--sdds-headline-07-ls);

      &:hover {
        background-color: var(--sdds-header-mobile-menu-item-background-hover);
      }

      &.active {
        border-left: 4px solid var(--sdds-nav-item-border-color-active);
        padding-left: 20px;
      }
    }
  }

  &.mobile-menu-bottom-child {
    list-style: none;
    height: 68px;
    border-top: 1px solid var(--sdds-header-mobile-menu-item-border-color);

    button {
      display: flex;
      gap: 8px;
      width: 100%;
      border: none;
      color: var(--sdds-header-mobile-menu-item-color);
      background-color: var(--sdds-header-mobile-menu-item-background);
      font: var(--sdds-headline-07);
      letter-spacing: var(--sdds-headline-07-ls);

      &:hover {
        background-color: var(--sdds-header-mobile-menu-item-background-hover);
      }
    }
  }
}
