<sdds-theme name="scania"></sdds-theme>

<div class="sdds-header">
  <span class="scania-symbol"></span>
</div>

<div class="sdds-content-header">
    <div class="sdds-container-fluid">
      <div class="sdds-row">
        <div class="sdds-col-xlg-16 sdds-col-md-8 sdds-col-sm-4 header-greeting-wrapper">
        
          <span class="header-greeting">Welcome to</span>
          <span class="page-title">Angular Demo</span>
          
        </div>
      </div>
    </div>
</div>
<app-content></app-content>