<sdds-theme name="scania"></sdds-theme>

<div class="sdds-header">
  <span class="scania-symbol"></span>
</div>

<div class="sdds-content-header">
    <div class="sdds-container-fluid">
      <div class="sdds-row">
        <div class="sdds-col-xlg-16 sdds-col-md-8 sdds-col-sm-4 header-greeting-wrapper">
        
          <span class="header-greeting">Welcome to</span>
          <span class="page-title">Angular Demo</span>
          
        </div>
      </div>
    </div>
</div>

<div class="sdds-container-fluid content-wrapper">
  <div class="sdds-row">
    <div class="sdds-col-xlg-16 sdds-col-md-8 sdds-col-sm-4">

      <div class="lead-text sdds-paragraph-01">
        This is a simple example how to implement the SDDS components in Angular.
      </div>
    </div>

    <div class="section-wrapper sdds-col-xlg-16 sdds-col-md-8 sdds-col-sm-4">

      <h4 class="sdds-headline-04">Components</h4>
      <app-content></app-content>
      <div class="component-wrapper">
        <p class="sdds-headline-05">Accordion</p>
        <sdds-accordion>
          <sdds-accordion-item header="First item" affix="prefix" tabindex="1">
          This is the panel, which contains associated information with the header. Usually it contains text, set in the same size as the header. Lorem ipsum doler sit amet.
        </sdds-accordion-item>
       <sdds-accordion-item header="Second Item" affix="prefix" tabindex="2" expanded="true">
          This is the panel, which contains associated information with the header. Usually it contains text, set in the same size as the header. Lorem ipsum doler sit amet.
        </sdds-accordion-item>
      </sdds-accordion>
      </div>
      
      <div class="component-wrapper">
        <p class="sdds-headline-05">Breadcrumb</p>
        <div class="sdds-breadcrumb">
          <div class="sdds-breadcrumb-item">
            <a href="#">Page 1</a>
          </div>
          <div class="sdds-breadcrumb-item">
            <a href="#">Page 2</a>
          </div>
          <div class="sdds-breadcrumb-item sdds-breadcrumb-item-current">
            <a aria-current="page">Page 3</a>
          </div>
        </div>
      </div>
      
      <div class="component-wrapper">
        <p class="sdds-headline-05">Button</p>
        <sdds-button type="primary" text="Button"></sdds-button>
      </div>

      <div class="component-wrapper">
        <p class="sdds-headline-05">Card</p>
        <div class="sdds-card ">

          <div class="sdds-card-header">
            <h6 class="sdds-card-headline">Header text</h6>
            <h6 class="sdds-card-sub-headline">Subheader text</h6>
          </div>
        
          <div class="sdds-card-body">This is a short and consist detail text describing for the user what this text is really about.</div>
        
          <div class="sdds-card-footer"><c-icon style="font-size: 20px;" name="scania-arrow"></c-icon></div>
        </div>
      </div>

      <div class="component-wrapper">
        <p class="sdds-headline-05">Checkbox</p>
        <div class="sdds-checkbox-item">
          <input class="sdds-form-input" type="checkbox" name="cb-example" id="cb-option-1" checked="checked">
           <label class="sdds-form-label" for="cb-option-1">
              Label Text 1
           </label>
        </div>
        <div class="sdds-checkbox-item">
           <input class="sdds-form-input" type="checkbox" name="cb-example" id="cb-option-2">
           <label class="sdds-form-label" for="cb-option-2">
             Label Text 2
          </label>
        </div>
        <div class="sdds-checkbox-item">
          <input class="sdds-form-input" type="checkbox" name="cb-example" id="cb-option-3" checked="checked" disabled>
          <label class="sdds-form-label" for="cb-option-3">
            Label Text 3
          </label>
        </div>
      </div>

      <div class="component-wrapper">
        <p class="sdds-headline-05">Divider</p>
        Dark
        <div class="sdds-divider-dark" style="margin: 5px; width: 400px;"></div> 

        Coloured
        <div class="sdds-divider-coloured" style="margin: 5px; width: 400px;" ></div> 

        Light
        <div class="sdds-divider-light"style="margin: 5px;  width: 400px;" ></div> 
      </div>

      <div class="component-wrapper">
        <p class="sdds-headline-05">Dropdown</p>
          <sdds-dropdown placeholder="Select option">
            <sdds-dropdown-option value="option-1">Option 1</sdds-dropdown-option>
            <sdds-dropdown-option value="option-2">Option 2</sdds-dropdown-option>
            <sdds-dropdown-option value="option-3">Option 3</sdds-dropdown-option>
          </sdds-dropdown>
      </div>

      <div class="component-wrapper">
        <p class="sdds-headline-05">Link</p>
        This is an example of <a href="#">a link</a> inside a paragraph.
        This is an example of <a class="disabled" href="#">a link</a> inside a paragraph.
      </div>

      <div class="component-wrapper">
        <p class="sdds-headline-05">Radio button</p>
        <div class="sdds-radio-button-group">
          <div class="sdds-radio-item">
            <input class="sdds-form-input" type="radio" name="rb-example" id="rb-option-1">
            <label class="sdds-form-label" for="rb-option-1">
              Label Text 1
            </label>
          </div>
          <div class="sdds-radio-item">
            <input class="sdds-form-input" type="radio" name="rb-example" id="rb-option-2">
            <label class="sdds-form-label" for="rb-option-2">
              Label Text 2
            </label>
          </div>
          <div class="sdds-radio-item">
            <input class="sdds-form-input" type="radio" name="rb-example-disabled" id="rb-option-3" checked="checked" disabled>
            <label class="sdds-form-label" for="rb-option-3">
              Label Text 3
            </label>
          </div>
        </div>
      </div>

      <div class="component-wrapper">
        <p class="sdds-headline-05">Textfield</p>
        <div style="width:208px"> 
          <sdds-textfield type="text" placeholder="Placeholder">
            <span slot="sdds-helper">Helper text</span>
          </sdds-textfield>
        </div>
      </div>

      <div class="component-wrapper">
        <p class="sdds-headline-05">Toggle</p>
        <div class="sdds-toggle" tabindex="0">
          <input type="checkbox" class="sdds-toggle-input" id="customSwitch1">
          <span class="sdds-toggle-switch"></span>
          <label class="sdds-toggle-label" for="customSwitch1">Toggle this switch element</label>
        </div>
      </div>

      <div class="component-wrapper">
        <p class="sdds-headline-05">Tooltip</p>
          <sdds-tooltip placement="right" selector="#right-1" text="Tooltip"></sdds-tooltip>
          <button class="sdds-btn sdds-btn-primary" id="right-1">Button</button>
      </div> 

    </div>
  </div>
</div>