@import '../../helpers/style-helpers.scss';
@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';

.tooltip .tooltiptext {
  @include type-style('detail-05');
  visibility: hidden;
  color: var(--sdds-tooltip-colour);
  background-color: var(--sdds-tooltip-background);
  border-radius: 0px 1rem 1rem 1rem;
  max-width: 52rem;
  padding: 2rem;
  position: absolute;
  word-wrap: break-word;
  top: 150%;
  // left: 25%;
  right: 100%;
}

.tooltip {
  position: relative;
  display: flex;
  margin-top: 10%;
  margin-left: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}