@import "@scania/typography/dist/scss/mixins";
@import "@scania/typography/dist/scss/tokens";

:root {
  --sdds-tooltip-background: var(--sdds-grey-800);
  --sdds-tooltip-colour: var(--sdds-white);
}

.sdds-tooltip {
  @include type-style("detail-05");

  color: var(--sdds-tooltip-colour);
  background-color: var(--sdds-tooltip-background);
  border-radius: 1rem;
  padding: 2rem;
  word-wrap: break-word;
  max-width: 48rem;
  z-index: 20000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in, visibility 200ms ease-in;

  &.sdds-tooltip-top-left {
    border-radius: 0 1rem 1rem;
  }

  &.sdds-tooltip-top-right {
    border-radius: 1rem 0 1rem 1rem;
  }

  &.sdds-tooltip-bottom-right {
    border-radius: 1rem 1rem 0;
  }

  &.sdds-tooltip-bottom-left {
    border-radius: 1rem 1rem 1rem 0;
  }
}

.sdds-tooltip-show {
  opacity: 1;
  visibility: visible;
}
