@import '../../helpers/style-helpers.scss';
@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';

.sdds-tooltip {
  @include type-style('detail-05');
  color: var(--sdds-tooltip-colour);
  background-color: var(--sdds-tooltip-background);
  border-radius: 1rem;
  padding: 2rem;
  position: absolute;
  word-wrap: break-word;
  max-width: 48rem;
  top: var(--sdds-spacing-element-8);
  left: 25%;

  &.sdds-tooltip-top-left {
    border-radius: 0rem 1rem 1rem 1rem;
  }
  &.sdds-tooltip-top-right {
    border-radius: 1rem 0rem 1rem 1rem;
  }
  &.sdds-tooltip-bottom-right {
    border-radius: 1rem 1rem 0rem 1rem;
  }
  &.sdds-tooltip-bottom-left {
    border-radius: 1rem 1rem 1rem 0rem;
  }
}