:host {
  display: contents;

  .sdds-table__row,
  .sdds-table__row-extend {
    display: table-row;
    border-bottom: 1px solid var(--sdds-grey-400);
    background-color: var(--sdds-white);
    transition: background-color 200ms ease;
  }

  .sdds-table__row:hover,
  .sdds-table__row-extend:hover {
    background-color: var(--sdds-grey-100);
  }

  .sdds-table__expand-control-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    cursor: pointer;
    padding: 0 16px;

    .sdds-table__expand-input {
      display: none;
    }

    .sdds-expendable-row-icon {
      height: 16px;
      width: 16px;
      transition: transform 200ms ease;
      transform: rotate(0);
    }
  }

  .sdds-table__row-expand {
    visibility: collapse;
    transition: background-color 200ms ease;

    .sdds-table__cell-expand {
      padding: 16px 16px 16px 66px;
    }
  }
}

:host(.sdds-table__row-expand--active) {
  .sdds-table__row {
    background-color: var(--sdds-grey-300);
  }

  .sdds-table__expand-control-container {
    .sdds-expendable-row-icon {
      transform: rotate(180deg);
    }
  }

  .sdds-table__row-expand {
    background-color: var(--sdds-grey-300);
    visibility: visible;
  }
}

// test
:host(.sdds-table__compact) {
  .sdds-table__expand-control-container {
    height: 30px;
  }

  .sdds-table__row-expand {
    .sdds-table__cell-expand {
      padding: 8px 16px 8px 66px;
    }
  }
}

:host(.sdds-table--divider) {
  .sdds-table__cell--expand {
    border-right: 1px solid var(--sdds-grey-400);
  }
}

:host(.sdds-table--on-white-bg) {
  .sdds-table__row,
  .sdds-table__row-extend {
    background-color: var(--sdds-grey-50);
  }
}

:host(.sdds-table--on-white-bg:hover) {
  .sdds-table__row,
  .sdds-table__row-extend {
    background-color: var(--sdds-grey-200);
  }
}

:host(.sdds-table__row-expand--active.sdds-table--on-white-bg) {
  .sdds-table__row,
  .sdds-table__row-extend {
    background-color: var(--sdds-grey-300);
  }
}
