@import '../../../mixins/focus-state';
@import '../../../mixins/box-sizing';

.sdds-navigation-tabs {
  @include sdds-box-sizing;

  background-color: var(--sdds-navigation-tabs-bg);
  position: relative;
  display: flex;

  &::after {
    content: ' ';
    display: block;
    border-bottom: 1px solid var(--sdds-navigation-tabs-horizontal-divider-bg);
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  &-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-forward {
    cursor: pointer;
    width: 48px;
    height: 100%;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--sdds-navigation-tabs-scroll-btn-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

    &__show {
      opacity: 1;
      pointer-events: all;
    }

    &:hover {
      background-color: var(--sdds-navigation-tabs-scroll-btn-hover-bg);
      text-decoration: none;
    }

    &:active {
      background-color: var(--sdds-navigation-tabs-scroll-btn-active-bg);
    }

    &:focus {
      @include sdds-focus-state;
    }
  }

  &-back {
    cursor: pointer;
    width: 48px;
    height: 100%;
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--sdds-navigation-tabs-scroll-btn-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

    &__show {
      opacity: 1;
      pointer-events: all;
    }

    &:hover {
      background-color: var(--sdds-navigation-tabs-scroll-btn-hover-bg);
    }

    &:active {
      background-color: var(--sdds-navigation-tabs-scroll-btn-active-bg);
    }

    &:focus {
      @include sdds-focus-state;
    }
  }

  /* tab */
  ::slotted(&-tab) {
    //fixme: headline-07 has a line-height that is not matching old storybook
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    color: rgb(0 21 51 / 60%);
    padding: 26px 0;
    margin-right: 32px;
    text-decoration: none;
    display: block;
    position: relative;
    transition: color 0.15s ease-in-out;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin-left: auto;
      width: 0;
      margin-right: auto;
      height: 2px;
      background-color: var(--sdds-navigation-tabs-tab-hover-indicator-bg);
      transition: width 0.15s ease-in-out;
      z-index: 1;
    }
  }

  ::slotted(&-tab:first-child) {
    margin-left: 32px;
  }

  ::slotted(&-tab:last-child) {
    margin-right: 32px;
  }

  /* tab states */
  ::slotted(&-tab:hover) {
    color: var(--sdds-navigation-tabs-tab-hover-color);

    &::after {
      width: 100%;
    }
  }

  ::slotted(&-tab:focus) {
    @include sdds-focus-state;

    color: var(--sdds-navigation-tabs-tab-focus-color);

    &::after {
      width: 0;
    }
  }

  ::slotted(&-tab-active) {
    color: var(--sdds-navigation-tabs-tab-active-color);

    &::after {
      width: 100%;

      --sdds-navigation-tabs-tab-active-indicator-bg: var(--sdds-blue-400);

      background-color: var(--sdds-navigation-tabs-tab-active-indicator-bg);
    }
  }

  ::slotted(&-tab-active:focus)::after {
    width: 100%;
  }

  ::slotted(&-tab-disabled) {
    color: var(--sdds-navigation-tabs-tab-active-color);
    opacity: 0.16;
    pointer-events: none;
  }
}
