:root,
.sdds-theme-light {
  --sdds-navigation-tabs-bg: var(--sdds-white);

  /* Horizontal divider */
  --sdds-navigation-tabs-horizontal-divider-bg: var(--sdds-grey-300);

  /* Scroll button */
  --sdds-navigation-tabs-scroll-btn-bg: var(--sdds-grey-50);
  --sdds-navigation-tabs-scroll-btn-hover-bg: var(--sdds-grey-300);
  --sdds-navigation-tabs-scroll-btn-active-bg: var(--sdds-grey-400);

  /* Tab */
  --sdds-navigation-tabs-tab-hover-indicator-bg: var(--sdds-grey-400);
  --sdds-navigation-tabs-tab-hover-color: var(--sdds-grey-958);
  --sdds-navigation-tabs-tab-focus-color: var(--sdds-grey-958);
  --sdds-navigation-tabs-tab-active-color: var(--sdds-grey-958);
  --sdds-navigation-tabs-tab-active-indicator-bg: var(--sdds-blue-400);
}

.sdds-theme-dark {
  //todo
}
