// Required
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/transitions';

:host {
  display: block;
  color: red;
  font-size:20px;
  background-color: black;
  overflow: hidden;
}