@import '../../../../mixins/scrollbar';

:host {
  .wrapper {
    height: 64px;
    position: relative;

    .menu {
      display: none;
      position: absolute;
      right: 0;

      //the below was originally in .open, check if it still works
      @include sdds-scrollbar;

      overflow-y: auto;
      box-shadow: var(--sdds-nav-dropdown-menu-box);
    }

    &.state--open {
      .menu {
        display: block;
      }
    }
  }

  button {
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    border: none;
    border-right: 1px solid var(--sdds-nav-item-border-color);
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--sdds-header--basic-element-bg);
    color: var(--sdds-header-nav-item-color);
    height: 100%;
    padding: 0 24px;

    &:hover {
      background-color: var(--sdds-header--basic-element-bg-hover);
      cursor: pointer;
    }

    ::slotted(sdds-icon) {
      transition: all 0.2s ease-in-out;
    }

    &.open {
      ::slotted(sdds-icon.dropdown) {
        transform: rotateX(180deg);
      }
    }

    &.open {
      background-color: var(--sdds-header-nav-item-dropdown-opened-bg);
      color: var(--sdds-header-nav-item-dropdown-opened-color);
      border-right: 1px solid var(--sdds-header-nav-item-dropdown-opened-bg);

      sdds-icon {
        transform: rotateX(180deg);
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    width: 320px;
    right: 0;
    height: calc(100vh - 64px);
    box-shadow: none;
    border-radius: none;
    background-color: var(--sdds-header-app-launcher-menu-bg);

    &.open {
      @include sdds-scrollbar;

      display: block;
      overflow-y: scroll;
      box-shadow: var(--sdds-nav-dropdown-menu-box);
    }

    &.closed {
      display: none;
    }

    slot[name='launcher-category']::slotted(*) {
      font: var(--sdds-detail-06);
      letter-spacing: var(--sdds-detail-06-ls);
      color: var(--sdds-header-app-launcher-category-title-color);
      text-transform: uppercase;
      height: 48px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--sdds-nav-dropdown-item-border-color);
    }

    &.open.grid {
      width: calc(288px + 8px);
      display: inline;
      flex-wrap: wrap;

      slot[name='child']::slotted(sdds-header-button) {
        width: 96px;
        height: 96px;
      }

      slot[name='child']::slotted(sdds-header-divider) {
        width: 100%;
        height: 48px;
        padding: 0 16px;
        font: var(--sdds-detail-06);
        letter-spacing: var(--sdds-detail-06-ls);
        color: var(--sdds-header-searchbar-result-category-border-color);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--sdds-nav-dropdown-item-border-color);
      }
    }
  }

  @media all and (max-width: 384px) {
    ul {
      width: 100vw;
    }
  }
}
