@import '../../../../mixins/box-sizing';

:host {
  display: flex;
  justify-content: space-between;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
  }
}
