:host {
  height: 100%;
  background-color: var(--sdds-header-bg);
  position: relative;

  button {
    background-color: transparent;
    border: none;
    border-right: 1px solid var(--sdds-blue-700);
    height: 100%;
    width: 64px;

    sdds-icon {
      color: var(--sdds-white);
    }

    &:hover {
      cursor: pointer;
      background-color: var(--sdds-blue-700);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--sdds-white);
    transform-origin: top;
    transition: transform 150ms ease-in-out;
    height: 100vh;

    &.closed {
      transform: scaleY(0);
      opacity: 0;
    }

    &.open {
      width: 272px;
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

:host(.sdds-mobile-menu-open) {
  background-color: var(--sdds-white);

  button {
    background-color: transparent;
    border-right: 1px solid var(--sdds-blue-700);
    position: absolute;
    right: 0;
  }

  sdds-icon {
    color: var(--sdds-grey-958);
  }

  ul {
    border-top: 1px solid var(--sdds-grey-300);
    position: relative;
    top: 64px;
  }

  @media all and (max-width: 992px) {
    button {
      border-right: none;
    }

    ul.open {
      width: 100vw;
    }
  }
}
