@import '../../../mixins/focus-state';
@import '../../../mixins/box-sizing';

:host {
  @include sdds-box-sizing;

  position: relative;
  overflow: hidden;
  outline: 0;

  .wrapper {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .scroll-right-button {
    right: 0;
  }

  .scroll-left-button {
    left: 0;
  }

  .scroll-right-button,
  .scroll-left-button {
    color: var(--sdds-folder-tabs-scroll-btn-color);
    cursor: pointer;
    width: 48px;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    background-color: var(--sdds-folder-tabs-scroll-btn-background);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

    &.show {
      opacity: 1;
      pointer-events: all;
    }

    &:hover {
      background-color: var(--sdds-folder-tabs-scroll-btn-background-hover);
    }

    &:active {
      background-color: var(--sdds-folder-tabs-scroll-btn-background-active);
    }

    &:focus {
      @include sdds-focus-state;
    }

    svg {
      fill: var(--sdds-folder-tabs-scroll-btn-color);
    }
  }
}
