@import '../../../mixins/focus-state';
@import '../../../mixins/box-sizing';

:host {
  outline: 0 !important;
  @include sdds-box-sizing;
}

.sdds-inline-tabs {
  overflow: hidden;
  outline: 0;

  &-header {
    position: relative;
  }

  &-main {
    background-color: var(--sdds-inline-tabs-main-background);
    padding: 24px 24px 48px;
  }

  &-wrapper {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--forward,
  &--back {
    cursor: pointer;
    width: 48px;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    background-color: var(--sdds-inline-tabs-scroll-btn-background);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

    &__show {
      opacity: 1;
      pointer-events: all;
    }

    &:hover {
      background-color: var(--sdds-inline-tabs-scroll-btn-background-hover);
    }

    &:active {
      background-color: var(--sdds-inline-tabs-scroll-btn-background-active);
    }

    &:focus {
      @include sdds-focus-state;
    }

    svg {
      fill: var(--sdds-inline-tabs-scroll-btn-color);
    }
  }

  &--back {
    left: 0;
  }

  &--forward {
    right: 0;
  }

  &--tab {
    font: var(--sdds-headline-07);
    letter-spacing: var(--sdds-headline-07-ls);
    cursor: pointer;
    border: 0;
    color: var(--sdds-inline-tabs-tab-color);
    background-color: var(--sdds-inline-tabs-tab-background);
    padding: 16px;
    min-width: 142px;
    text-decoration: none;
    display: block;
    position: relative;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    white-space: nowrap;
    flex-shrink: 0;
    text-align: left;
    outline: none;

    & > * {
      opacity: 0.6;
    }

    &:not(:last-child) {
      border-right: 1px solid var(--sdds-inline-tabs-tab-border-color);
    }

    &::after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin-left: auto;
      width: 0;
      margin-right: auto;
      height: 2px;
      background-color: var(--sdds-inline-tabs-tab-indicator-background);
      transition: width 0.15s ease-in-out;
    }

    &:hover {
      background-color: var(--sdds-inline-tabs-tab-background-hover);
      color: var(--sdds-inline-tabs-tab-color-hover);
      text-decoration: none;
    }

    &:focus {
      @include sdds-focus-state;
    }

    &__active {
      background-color: var(--sdds-inline-tabs-tab-background-active);
      color: var(--sdds-inline-tabs-tab-color-active);
      cursor: initial;
      border-right: 1px solid transparent !important;

      & > * {
        opacity: 1;
      }

      &:hover {
        background-color: var(--sdds-inline-tabs-tab-background-active);
      }

      &::after {
        width: calc(100% + 2px);
        left: -1px;
        background-color: var(--sdds-inline-tabs-tab-indicator-background-active);
      }

      &::before {
        content: ' ';
        background-color: var(--sdds-inline-tabs-tab-background-active);
        width: 1px;
        top: 0;
        bottom: 0;
        left: -1px;
        display: block;
        position: absolute;
      }

      &:first-child {
        &:focus {
          &::before {
            left: 0;
          }
        }
      }
    }

    &:disabled,
    &__disabled {
      cursor: initial;
      color: var(--sdds-navigation-tabs-tab-color-disabled);
      pointer-events: none;

      & > * {
        opacity: 0.16;
      }
    }
  }
}

.sdds-inline-tabs-primary {
  .sdds-inline-tabs--tab__active {
    background-color: var(--sdds-inline-tabs-tab-background-active);
  }

  .sdds-inline-tabs-main {
    background-color: var(--sdds-inline-tabs-main-background);
  }
}

.sdds-inline-tabs-secondary {
  .sdds-inline-tabs--tab__active {
    background-color: var(--sdds-inline-tabs-tab-background-active-ongrey);
  }

  .sdds-inline-tabs-main {
    background-color: var(--sdds-inline-tabs-main-ongrey-background);
  }
}
