:root,
.sdds-mode-light {
  /* NEW THEME VARS */
  --sdds-folder-tab-background-selected: var(--sdds-white);
  --sdds-folder-tab-background: var(--sdds-grey-100);
  --sdds-folder-tab-background-hover: var(--sdds-grey-200);
  --sdds-folder-tab-color: var(--sdds-blue-900);
  --sdds-folder-tab-color-opacity: 0.6;
  --sdds-folder-tab-color-opacity-disabled: 0.16;
  --sdds-folder-tab-color-opacity-selected: 1;
  --sdds-folder-tab-color-opacity-focus: 1;
  --sdds-folder-tab-color-opacity-hover: 1;
  --sdds-folder-tab-border-selected: var(--sdds-blue-400);
  --sdds-folder-tabs-scroll-btn-background: var(--sdds-folder-tab-background-primary);
  --sdds-folder-tabs-scroll-btn-background-hover: var(--sdds-grey-300);
  --sdds-folder-tabs-scroll-btn-background-active: var(--sdds-grey-400);
  --sdds-folder-tabs-scroll-btn-color: var(--sdds-grey-958);
  --sdds-folder-tab-background-primary: var(--sdds-grey-100);
  --sdds-folder-tab-background-secondary: var(--sdds-grey-100);
  --sdds-folder-tab-background: var(--sdds-folder-tab-background-primary);
  --sdds-folder-tab-background-selected-primary: var(--sdds-white);
  --sdds-folder-tab-background-selected-secondary: var(--sdds-grey-50);
  --sdds-folder-tab-divider-color: rgb(0 21 51 / 16%);
  --sdds-folder-tab-item-color: rgba(0, 21, 51, 0.6);
  --sdds-folder-tab-item-color-disabled: rgba(0, 21, 51, 0.16);

  .sdds-mode-variant-primary {
    --sdds-folder-tab-background-selected: var(--sdds-folder-tab-background-selected-primary);
    --sdds-folder-tab-background: var(--sdds-folder-tab-background-primary);
  }

  .sdds-mode-variant-secondary {
    --sdds-folder-tab-background-selected: var(--sdds-folder-tab-background-selected-secondary);
    --sdds-folder-tab-background: var(--sdds-folder-tab-background-secondary);
  }
}

.sdds-mode-dark {
  /* NEW THEME VARS */
  --sdds-folder-tab-background-selected: var(--sdds-grey-900);
  --sdds-folder-tab-background: var(--sdds-grey-846);
  --sdds-folder-tab-background-hover: var(--sdds-grey-800);
  --sdds-folder-tab-color: var(--sdds-grey-50);
  --sdds-folder-tab-color-opacity: 0.6;
  --sdds-folder-tab-color-opacity-disabled: 0.16;
  --sdds-folder-tab-color-opacity-selected: 1;
  --sdds-folder-tab-color-opacity-focus: 1;
  --sdds-folder-tab-color-opacity-hover: 1;
  --sdds-folder-tab-border-selected: var(--sdds-blue-400);
  --sdds-folder-tabs-scroll-btn-color: var(--sdds-grey-50);
  --sdds-folder-tabs-scroll-btn-background: var(--sdds-folder-tab-background-primary);
  --sdds-folder-tabs-scroll-btn-background-hover: var(--sdds-grey-900);
  --sdds-folder-tabs-scroll-btn-background-active: var(--sdds-grey-900);
  --sdds-folder-tab-background-primary: var(--sdds-grey-846);
  --sdds-folder-tab-background-secondary: var(--sdds-grey-846);
  --sdds-folder-tab-background: var(--sdds-folder-tab-background-primary);
  --sdds-folder-tab-background-selected-primary: var(--sdds-grey-900);
  --sdds-folder-tab-background-selected-secondary: var(--sdds-grey-868);
  --sdds-folder-tab-divider-color: var(--sdds-blue-100);
  --sdds-folder-tab-item-color: rgba(228, 233, 241, 0.6);
  --sdds-folder-tab-item-color-disabled: rgba(228, 233, 241, 0.16);

  .sdds-mode-variant-primary {
    --sdds-folder-tab-background-selected: var(--sdds-folder-tab-background-selected-primary);
    --sdds-folder-tab-background: var(--sdds-folder-tab-background-primary);
  }

  .sdds-mode-variant-secondary {
    --sdds-folder-tab-background-selected: var(--sdds-folder-tab-background-selected-secondary);
    --sdds-folder-tab-background: var(--sdds-folder-tab-background-secondary);
  }
}
