li {
  height: 64px;
  width: 64px;

  button,
  a {
    background: transparent;
    border: none;
    border-left: 1px solid var(--sdds-nav-item-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--sdds-white);

    img {
      height: 34px;
      border-radius: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    background-color: var(--sdds-blue-700);
  }

  &.open {
    background-color: var(--sdds-white);

    button,
    a {
      color: var(--sdds-grey-958);
    }

    ul {
      display: block;
    }
  }

  ul {
    display: none;
    width: 320px;
    list-style: none;
    position: relative;
    left: calc(-320px + 65px);
    padding: 0;
    margin: 0;
    background-color: var(--sdds-white);
    overflow-y: auto;
    transform-origin: top;
    transition: transform 150ms ease-in-out;

    &.full-height {
      height: 100vh;
    }

    &.dropdown-closed {
      transform: scaleY(0);
      opacity: 0;
    }

    &.dropdown-open {
      transform: scaleY(1);
      opacity: 1;
    }
  }
}

// should use the token
@media all and (max-width: 992px) {
  li.hide-mobile {
    display: none;
  }
}
