:host {
  li {
    border-bottom: 1px solid var(--sdds-grey-300);
    width: 100%;
    height: 68px;

    button {
      width: 100%;
    }

    button,
    a {
      color: var(--sdds-grey-800);
      text-decoration: none;
      background-color: var(--sdds-white);
      border: none;
      padding: 0 24px;
      text-align: left;
      height: 100%;

      &:hover {
        cursor: pointer;
        background-color: var(--sdds-grey-100);
      }
    }

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    &.active {
      border-left: 4px solid var(--sdds-blue-400);
      width: calc(100% - 4px);

      button,
      a {
        padding-left: 20px;
      }
    }
  }
}
