:host {
  ol {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;

    &.vertical {
      height: 100%;
      flex-direction: column;
      justify-content: unset;
      gap: 48px;
    }

    &.vertical.sm {
      gap: 36px;
    }
  }
}
