:host {
  ul {
    padding: 0;
    margin: 0;
  }

  .sdds-stepper {
    display: flex;
    justify-content: space-evenly;

    &-vertical {
      height: 100%;
      flex-direction: column;
      justify-content: unset;
      gap: 48px;
    }

    &-vertical.sdds-stepper-sm {
      gap: 36px;
    }
  }
}
