@import '@scania/typography/dist/scss/mixins';
@import '@scania/typography/dist/scss/tokens';

:root,
html {
  --sdds-radio-button-color: var(--sdds-grey-958);
  --sdds-radio-button-interaction-01: var(--sdds-blue-800);
  --sdds-radio-button-interaction-02: var(--sdds-white);
  --sdds-radio-button-bg-hover: var(--sdds-blue-800);
  --sdds-radio-button-bg-focus: var(--sdds-blue-800);
  --sdds-radio-button-disabled: var(--sdds-grey-400);
}

.sdds-radio-button-group {
  @include type-style('detail-02');

  color: var(--sdds-radio-button-color);

  .sdds-radio-item {
    display: flex;
    align-items: center;
    margin-left: -1rem;
  }

  .sdds-form-input[type='radio']:checked,
  .sdds-form-input[type='radio']:not(:checked) {
    appearance: none;
    outline: none;
    margin: 0;
    border: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    align-self: flex-start;

    + label {
      padding-left: var(--sdds-spacing-element-4);
      padding-top: var(--sdds-spacing-element-4);
      padding-bottom: var(--sdds-spacing-element-4);
      cursor: pointer;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      box-sizing: border-box;
    }

    &::before {
      width: 6rem;
      height: 6rem;
      left: 0;
      top: 0;
    }

    &::after {
      border: 1px solid var(--sdds-radio-button-interaction-01);
      background-color: var(--sdds-radio-button-interaction-02);
      width: 4rem;
      height: 4rem;
      left: 1rem;
      top: 1rem;
    }

    &:hover {
      &::before {
        background-color: var(--sdds-radio-button-bg-hover);
        opacity: 0.12;
      }
    }

    &:focus {
      &::before {
        background-color: var(--sdds-radio-button-bg-focus);
        opacity: 0.24;
        animation: rb-focus 0.4s cubic-bezier(0.65, 0.05, 0.38, 0.95) forwards;
      }
    }

    &:disabled,
    &.disabled {
      cursor: default;

      &::after {
        border-color: var(--sdds-grey-500);
      }

      + label {
        color: var(--sdds-grey-600);
        cursor: default;
      }

      &:hover {
        &::before {
          display: none;
          opacity: 1;
        }
      }
    }
  }

  .sdds-form-input[type='radio']:checked {
    &::after {
      border: 4px solid var(--sdds-radio-button-interaction-01);
    }

    &:disabled,
    &.disabled {
      &:hover::before,
      &::before {
        display: block;
        width: 4rem;
        height: 4rem;
        left: 1rem;
        top: 1rem;
        border: 1px solid var(--sdds-grey-500);
        box-sizing: content-box;
      }

      &::after {
        border: 4px solid var(--sdds-radio-button-interaction-02);
        background-color: var(--sdds-grey-500);
        left: calc(1rem + 1px);
        top: calc(1rem + 1px);
      }
    }
  }
}

@keyframes rb-focus {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 0.24;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
