@import '../../mixins/box-sizing';

.sdds-checkbox-webcomponent {
  @include sdds-box-sizing;

  font: var(--sdds-detail-02);
  letter-spacing: var(--sdds-detail-02-ls);
  color: var(--sdds-checkbox-text);
  display: flex;
  align-items: center;
  margin-left: -4px;

  input[type='checkbox'] {
    appearance: none;
    outline: none;
    margin: 0;
    border: 0;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    align-self: flex-start;

    + label {
      color: var(--sdds-checkbox-color);
      padding-left: var(--sdds-spacing-element-4);
      padding-top: var(--sdds-spacing-element-4);
      padding-bottom: var(--sdds-spacing-element-4);
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      box-sizing: border-box;
    }

    &::before {
      width: 24px;
      height: 24px;
      left: 0;
      top: 0;
      border-radius: 4px;
    }

    &::after {
      border: 1px solid var(--sdds-checkbox-interaction-01);
      background-color: var(--sdds-checkbox-interaction-02);
      width: 16px;
      height: 16px;
      left: 4px;
      top: 4px;
      border-radius: 2px;
    }

    &:hover {
      &::before {
        background-color: var(--sdds-checkbox-background-hover);
        opacity: var(--sdds-checkbox-background-opacity-hover);
      }
    }

    &:focus {
      &::before {
        background-color: var(--sdds-checkbox-background-focus);
        opacity: var(--sdds-checkbox-background-opacity-focus);
        transition: opacity 0.2s ease-in-out;
      }
    }

    &:disabled,
    &.disabled {
      cursor: not-allowed;

      &::after {
        border-color: var(--sdds-checkbox-border-color-disabled-after);
      }

      + label {
        color: var(--sdds-grey-600);
        cursor: not-allowed;
      }

      &:hover {
        &::before {
          display: none;
        }
      }
    }

    &:checked {
      &::after {
        background-image: var(--sdds-checkbox-background-img);
        background-color: var(--sdds-checkbox-interaction-01);
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover {
        &::before {
          background-color: var(--sdds-checkbox-background-hover);
          opacity: var(--sdds-checkbox-background-opacity-hover);
        }
      }

      &:disabled,
      &.disabled {
        &:hover::before,
        &::before {
          display: block;
          width: 16px;
          height: 16px;
          left: 4px;
          top: 4px;
          border: 1px solid #b0b7c4;
        }

        &::after {
          background-image: var(--sdds-checkbox-background-img-disabled);
          background-color: var(--sdds-checkbox-interaction-02);
          color: var(--sdds-checkbox-color-disabled-after);
        }
      }
    }
  }
}
