@import '../../prefix';
@import 'breakpoints';
@import 'mixins';

/*
Mixin file for create grid layout, container, rows and columns
Setting up grid layout based on breakpoint maping
*/

// Container for the gridsystem
@include grid-container($prefix);

//Setup breakpoints for the container
@include grid-container-breakpoints($prefix, $sdds-grid-breakpoints);

// Row which columns are places
@include grid-row($prefix);

// Create columns
@include grid-make-col($sdds-grid-breakpoints);

//Creates gutterless columns
@include grid-gutterless-col($sdds-grid-breakpoints-gutterless);

// Adding offset classes for the grid
@include grid-offset-col($sdds-grid-breakpoints);

//Pushed grid
@include grid-push($sdds-grid-breakpoints-push);