li {
  height: 64px;
  width: 64px;

  button,
  a {
    background: transparent;
    border: none;
    border-left: 1px solid var(--sdds-nav-item-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--sdds-white);

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    background-color: var(--sdds-blue-700);
  }

  &.open {
    background-color: var(--sdds-white);

    button,
    a {
      color: var(--sdds-grey-958);
    }
  }
}

// should use the token
@media all and (max-width: 992px) {
  li.hide-mobile {
    display: none;
  }
}
