:root,
.sdds-mode-light {
  --sdds-breadcrumb-color: var(--sdds-grey-900);
  --sdds-breadcrumb-color-hover: var(--sdds-grey-700);
  --sdds-breadcrumb-color-focus: var(--sdds-grey-700);
  --sdds-breadcrumb-color-disabled: var(--sdds-grey-500);
  --sdds-breadcrumb-separator-color: var(--sdds-grey-500);
}

.sdds-mode-dark {
  --sdds-breadcrumb-color: var(--sdds-grey-300);
  --sdds-breadcrumb-color-hover: var(--sdds-grey-500);
  --sdds-breadcrumb-color-focus: var(--sdds-grey-500);
  --sdds-breadcrumb-color-disabled: var(--sdds-grey-700);
  --sdds-breadcrumb-separator-color: var(--sdds-grey-700);
}
