@import '../../mixins/box-sizing';

:host {
  @include sdds-box-sizing;

  [role='list'] {
    padding: 0;
    margin: 0;
    font: var(--sdds-detail-02);
    letter-spacing: var(--sdds-detail-02-ls);
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
}
