:host {
  display: none;

  .icon {
    transform: rotateZ(90deg);
    transition: all 0.2s ease-in-out;
  }

  .state--collapsed {
    .icon {
      transform: rotateZ(90deg) rotateX(180deg);
    }
  }
}

@media (min-width: 672px) {
  :host {
    display: block;
  }
}
