:host {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

::slotted(section) {
  //FIXME: Add correct rem
  padding-top: var(--sdds-spacing-element-40);
  padding-bottom: var(--sdds-spacing-element-40);
}
