@import '../core';

//TODO: Remove bootstrap
@import '../components/forms';

.sort-desc {
  transform: rotate(180deg);
}

.sort-desc:hover {
  cursor: pointer !important;
  background-color: white;
  color: #041e42;
}

.sort-asc:hover {
  cursor: pointer !important;
  background-color: white;
  color: #041e42;
}

.sort-active {
  cursor: pointer !important;
  background-color: white;
  color: #041e42;
}
