@import '../core/spacing/spacing';

:host {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

::slotted(section) {
  //FIXME: Add correct rem
  padding-top: $spacing-element-40;
  padding-bottom: $spacing-element-40;
}