@import './divider-theme-vars.scss';

$types: light, dark, coloured;
$border-types: top, right, bottom, left;

@each $type in $types {
  .sdds-divider-#{$type} {
    background-color: var(--sdds-divider-#{$type});
    height: 1px;
  }

  .sdds-divider-#{$type}-vertical {
    background-color: var(--sdds-divider-#{$type}-vertical);
    height: 100%;
    width: 1px;
  }

  @each $border-type in $border-types {
    .sdds-divider-#{$type}-border-#{$border-type} {
      border-#{$border-type}: 1px solid var(--sdds-divider-#{$type}-border-#{$border-type});
    }
  }
}
