.sdds-stepper {
  font: var(--sdds-detail-02);
  letter-spacing: var(--sdds-detail-02-ls);
  color: var(--sdds-grey-958);
  display: inline-flex;

  &--sidetext {
    .sdds-stepper__step {
      flex-direction: row;
      padding: 0 20px 0 16px;

      &_label {
        margin-top: -8px;
        margin-left: 8px;
      }

      &-icon {
        &::before {
          content: ' ';
          position: absolute;
          height: 1px;
          background-color: var(--sdds-blue-900);
          opacity: 0.16;
          right: auto;
          left: -12px;
          width: 20px;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  &--vertical {
    flex-direction: column;

    .sdds-stepper__step {
      flex-direction: row;
      padding: 0 20px 0 16px;

      &:not(:last-child) {
        margin-bottom: 52px;
      }

      &_label {
        margin-top: -8px;
        margin-left: 8px;
      }

      &-icon {
        &::after {
          content: ' ';
          position: absolute;
          height: 45px;
          background-color: var(--sdds-blue-900);
          opacity: 0.16;
          top: 39px;
          left: 31px;
          width: 1px;
          right: auto;
        }

        &::before {
          display: none;
        }
      }
    }

    &.sdds-stepper--small {
      .sdds-stepper__step {
        margin-bottom: 34px;
      }

      .sdds-stepper__step-icon {
        &::after {
          top: 32px;
          left: 28px;
          height: 27px;
        }
      }
    }
  }

  &__step {
    position: relative;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-icon {
      height: 32px;
      width: 32px;
      border-radius: 100px;
      border: 1px solid var(--sdds-grey-958);
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: ' ';
        position: absolute;
        height: 1px;
        background-color: var(--sdds-blue-900);
        opacity: 0.16;
        left: 0;
        right: calc(50% + 16px + 8px);
      }

      &::after {
        content: ' ';
        position: absolute;
        height: 1px;
        background-color: var(--sdds-blue-900);
        opacity: 0.16;
        left: calc(50% + 16px + 8px);
        right: 0;
      }

      &-warning {
        height: 18px;
        width: 18px;
        margin-top: -4px;
      }

      &-success {
        height: 20px;
        width: 20px;
      }
    }

    &:first-child {
      .sdds-stepper__step-icon {
        &::before {
          display: none;
        }
      }
    }

    &:last-child {
      .sdds-stepper__step-icon {
        &::after {
          display: none;
        }
      }
    }

    &--value {
      .sdds-stepper__step-icon-success {
        display: none;
      }

      .sdds-stepper__step-icon-warning {
        display: none;
      }
    }

    &--warning {
      .sdds-stepper__step-icon {
        border-color: var(--sdds-negative);
      }

      .sdds-stepper__step-icon-success {
        display: none;
      }

      .sdds-stepper__step-icon-value {
        display: none;
      }
    }

    &--inactive {
      .sdds-stepper__step-icon {
        border-color: rgb(0 21 51 / 16%);
      }

      .sdds-stepper__step-icon-value {
        opacity: 0.38;
      }

      .sdds-stepper__step_label {
        opacity: 0.38;
      }

      .sdds-stepper__step-icon-success {
        display: none;
      }

      .sdds-stepper__step-icon-warning {
        display: none;
      }
    }

    &--success {
      .sdds-stepper__step-icon {
        background-color: var(--sdds-positive);
        border-color: var(--sdds-positive);
      }

      .sdds-stepper__step-icon-warning {
        display: none;
      }

      .sdds-stepper__step-icon-value {
        display: none;
      }
    }
  }

  &--small {
    .sdds-stepper__step {
      &-icon {
        height: 24px;
        width: 24px;
        font-size: 12px;

        &-warning {
          height: 16px;
          width: 16px;
          margin-top: -2px;
        }

        &-success {
          height: 16px;
          width: 16px;
        }
      }

      &_label {
        font-size: 12px;
      }
    }
  }

  &--inverted {
    color: var(--sdds-white);

    .sdds-stepper__step-icon {
      border: 1px solid var(--sdds-white);

      &::before {
        background-color: var(--sdds-white);
      }

      &::after {
        background-color: var(--sdds-white);
      }
    }

    .sdds-stepper__step--warning {
      .sdds-stepper__step-icon {
        border: 1px solid var(--sdds-negative);
      }
    }

    .sdds-stepper__step--success {
      .sdds-stepper__step-icon {
        border: 1px solid var(--sdds-positive);
      }
    }

    .sdds-stepper__step--inactive {
      .sdds-stepper__step-value {
        color: rgb(255 255 255 / 16%);
      }

      .sdds-stepper__step_label {
        color: rgb(255 255 255 / 38%);
      }

      .sdds-stepper__step-icon {
        border-color: rgb(255 255 255 / 16%);
      }
    }
  }
}
