:root,
.sdds-theme-light {
  --sdds-stepper-icon-bg: var(--sdds-grey-958);
  --sdds-stepper-color: var(--sdds-grey-958);
  --sdds-stepper-icon-step-border-color-warning: var(--sdds-negative);
  --sdds-stepper-icon-step-border-color-success: var(--sdds-positive);
  --sdds-stepper-icon-step-bg-success: var(--sdds-positive);

  /* TODO --sdds-blue-900 is not defined */
  --sdds-stepper-icon-sidetext-bg-before: var(--sdds-blue-900);
  --sdds-stepper-icon-vertical-bg-before: var(--sdds-blue-900);
  --sdds-stepper-icon-step-bg-before: var(--sdds-blue-900);
  --sdds-stepper-icon-step-bg-after: var(--sdds-blue-900);

  /* INVERTED */
  --sdds-stepper-color--inverted: var(--sdds-white);
  --sdds-stepper-border-color--inverted: var(--sdds-white);
  --sdds-stepper-bg--inverted-before: var(--sdds-white);
  --sdds-stepper-bg--inverted-after: var(--sdds-white);
  --sdds-stepper-icon-border-color-waring--inverted: var(--sdds-negative);
  --sdds-stepper-icon-border-color-success-after--inverted: var(--sdds-positive);
}

.sdds-theme-dark {
  --sdds-stepper-icon-bg: var(--sdds-white);
  --sdds-stepper-color: var(--sdds-white);
  --sdds-stepper-icon-step-border-color-warning: var(--sdds-negative);
  --sdds-stepper-icon-step-border-color-success: var(--sdds-positive);
  --sdds-stepper-icon-step-bg-success: var(--sdds-positive);
  --sdds-stepper-icon-sidetext-bg-before: var(--sdds-white);
  --sdds-stepper-icon-vertical-bg-before: var(--sdds-white);
  --sdds-stepper-icon-step-bg-before: var(--sdds-white);
  --sdds-stepper-icon-step-bg-after: var(--sdds-white);

  /* INVERTED */
  --sdds-stepper-color--inverted: var(--sdds-grey-958);
  --sdds-stepper-border-color--inverted: var(--sdds-grey-958);
  --sdds-stepper-bg--inverted-before: var(--sdds-grey-958);
  --sdds-stepper-bg--inverted-after: var(--sdds-grey-958);
  --sdds-stepper-icon-border-color-waring--inverted: var(--sdds-negative);
  --sdds-stepper-icon-border-color-success-after--inverted: var(--sdds-positive);
}
